Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

.lintstagedrc.yml:

"*.{ts,js,mjs,html}": eslint --fix --cache
"*.{css,scss}": stylelint --fix --cache --allow-empty-input
"*.{ts,js,mjs,html,json,yml,md,css,scss}": prettier --write

feat(sandbox/material): use `ObDatepickerModule` instead of `MatDatepickerModule`
  projects/sandbox/src/app/material/datepicker/datepicker.component.ts
  projects/sandbox/src/app/material/material.module.ts
  projects/sandbox/src/app/samples/samples.module.ts
  projects/sandbox/src/app/samples/schema-validation/schema-validation-sample.component.spec.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/material): show `MatStepperIntl` labels in stepper example
  projects/sandbox/src/app/material/material.module.ts
  projects/sandbox/src/app/material/stepper-horizontal/stepper-horizontal.component.html
  projects/sandbox/src/app/material/stepper-vertical/stepper-vertical.component.html
Due: eslint --fix --cache, prettier --write

feat(sds/material): use `ObDatepickerModule` instead of `MatDatepickerModule`
  projects/sds/src/app/code-examples/code-examples/form/previews/other-options/datepicker-example-other-options-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/form/previews/sizes/form-example-sizes-preview.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/material): show `MatStepperIntl` labels in stepper example
  projects/sds/src/app/code-examples/code-examples/stepper/previews/default/stepper-example-default-preview.component.html
  projects/sds/src/app/code-examples/code-examples/stepper/previews/default/stepper-example-default-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/stepper/previews/error/stepper-example-error-preview.component.html
  projects/sds/src/app/code-examples/code-examples/stepper/previews/error/stepper-example-error-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/stepper/previews/other-options/stepper-example-other-options-preview.component.html
  projects/sds/src/app/code-examples/code-examples/stepper/previews/other-options/stepper-example-other-options-preview.component.ts
  projects/sds/src/main.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/master-layout): add `navigationChanged` output
  projects/oblique/jest.config.js
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.html
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.ts
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.html
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/material): add a sortable table example
  projects/sds/src/app/code-examples/code-examples/material-table/material-table-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/material-table/material-table-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/material-table/previews/sortable/material-table-example-sortable-preview.component.html
  projects/sds/src/app/code-examples/code-examples/material-table/previews/sortable/material-table-example-sortable-preview.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/material): `MatSort` arrow use `ob-default` color
  projects/oblique/src/styles/scss/material/_mat-sort.scss
  projects/oblique/src/styles/scss/oblique-material.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/file-upload): ensure `ObFileInfo` sorts entries by ascending order on name per default
  projects/oblique/src/lib/file-upload/file-info/file-info.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/material): `MatSort` arrow is shown at full opacity on hover
  projects/oblique/src/styles/scss/material/_mat-table.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/material): `MatSort` only use the Oblique arrow
  projects/oblique/src/styles/scss/material/_mat-table.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sandbox/material): ensure that material tables are sorted by ascending position per default
  projects/sandbox/src/app/material/table/table.component.html
Due: eslint --fix --cache, prettier --write

feat(oblique/master-layout): add `removable` option to `ObINavigationLink`
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.html
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/navigation-link.model.ts
  projects/oblique/src/lib/master-layout/master-layout.model.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(toolchain): add automatic deprecation of end of life versions
  scripts/shared/publish.ts
Due: eslint --fix --cache, prettier --write

feat(service-navigation/toolchain): all releases are published under the `stable` tag
  projects/service-navigation-web-component/scripts/publish.ts
Due: eslint --fix --cache, prettier --write

test(oblique/file-upload): move `delete` describe outside `customMapFunction`
  projects/oblique/src/lib/file-upload/file-info/file-info.component.spec.ts
Due: eslint --fix --cache, prettier --write

refactor(sandbox): add types to `ObINavigationLink`
  projects/sandbox/src/app/app-navigation.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/toolchain): remove unused `npm-deprecate.ts` script
  projects/oblique/scripts/npm-deprecate.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/master-layout): make dynamic navigation items removable
  projects/sandbox/src/app/app.component.html
  projects/sandbox/src/app/app.component.ts
  projects/sandbox/src/app/samples/master-layout/dynamic-navigation.service.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/file-upload): add `mapFilesToDeleteUrlFunction` function
  projects/oblique/src/lib/file-upload/file-info/file-info.component.spec.ts
  projects/oblique/src/lib/file-upload/file-info/file-info.component.ts
  projects/oblique/src/lib/file-upload/file-upload.service.spec.ts
  projects/oblique/src/lib/file-upload/file-upload.service.ts
Due: eslint --fix --cache, prettier --write

feat(sds/file-upload): add example with `mapFilesToDeleteUrlFunction`
  projects/sds/src/app/code-examples/code-examples/file-upload/file-upload-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/file-upload/file-upload-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/file-upload/file-upload-simulate-interceptor.ts
  projects/sds/src/app/code-examples/code-examples/file-upload/previews/fully-functioning-with-custom-delete/file-upload-fully-functioning-with-custom-delete-preview.component.html
  projects/sds/src/app/code-examples/code-examples/file-upload/previews/fully-functioning-with-custom-delete/file-upload-fully-functioning-with-custom-delete-preview.component.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/file-upload): add example with `mapFilesToDeleteUrlFunction`
  projects/sandbox/src/app/samples/file-upload-sample/file-upload-sample.component.html
  projects/sandbox/src/app/samples/file-upload-sample/file-upload-sample.component.ts
Due: eslint --fix --cache, prettier --write

feat(toolchain): the publish script can publish a release under a custom tag
  scripts/shared/publish.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/schema-validation): simplify `ObSchemaRequiredDirective`
  projects/oblique/src/lib/schema-validation/schema-required.directive.ts
Due: eslint --fix --cache, prettier --write

test(oblique/schema-validation): increase test coverage
  projects/oblique/jest.config.js
  projects/oblique/src/lib/schema-validation/draft07-converter.decorator.spec.ts
  projects/oblique/src/lib/schema-validation/schema-required.directive.spec.ts
  projects/oblique/src/lib/schema-validation/schema-validator.instance.spec.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/schema-validation): set `aria-required` instead of `required` for required fields
  projects/oblique/src/lib/schema-validation/schema-required.directive.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/schema-validation): add `formControlName` support for `ObSchemaRequiredDirective`
  projects/oblique/src/lib/schema-validation/schema-required.directive.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/schema-validation): use `ObSchemaRequiredDirective` only with `obSchemaValidate`
  projects/oblique/src/lib/schema-validation/schema-required.directive.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/schema-validation): add marker for required fields in template driven forms
  projects/oblique/src/lib/schema-validation/schema-required.directive.ts
Due: eslint --fix --cache, prettier --write

test(oblique/schema-validation): rename `schema-validation.spec` into `schema-validator.spec`
  projects/oblique/src/lib/schema-validation/schema-validator.spec.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/schema-validation): deprecate `name` input from `ObSchemaRequiredDirective`
  projects/oblique/src/lib/schema-validation/schema-required.directive.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/schema-validation): add reactive and template driven examples with `obSchemaValidate`
  projects/sandbox/src/app/samples/schema-validation/schema-validation-sample.component.html
  projects/sandbox/src/app/samples/schema-validation/schema-validation-sample.component.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/schema-validation): `ObSchemaRequiredDirective` get control's name from `NgModel`
  projects/oblique/src/lib/schema-validation/schema-required.directive.ts
Due: eslint --fix --cache, prettier --write

feat(sds/side-navigation): move the feedback button into a side-navigation footer
  projects/sds/src/app/app.component.html
  projects/sds/src/app/app.component.scss
  projects/sds/src/app/app.component.ts
  projects/sds/src/app/feedback/feedback-button/feedback-button.component.scss
  projects/sds/src/app/side-navigation/accordion-links/accordion-links.component.scss
  projects/sds/src/app/side-navigation/side-navigation.component.html
  projects/sds/src/app/side-navigation/side-navigation.component.scss
  projects/sds/src/app/side-navigation/side-navigation.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/feedback): redraw the feedback button
  projects/sds/src/app/feedback/feedback-button/feedback-button.component.html
  projects/sds/src/app/feedback/feedback-button/feedback-button.component.scss
  projects/sds/src/app/feedback/feedback-button/feedback-button.component.ts
  projects/sds/src/assets/images/mail.svg
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

refactor(sds/feedback): turn the component into a directive
  projects/sds/src/app/feedback/feedback-button/feedback-button.component.html
  projects/sds/src/app/feedback/feedback-button/feedback-button.component.scss
  projects/sds/src/app/feedback/feedback-button/feedback-button.component.spec.ts
  projects/sds/src/app/feedback/feedback-button/feedback-button.component.ts
  projects/sds/src/app/feedback/feedback-trigger.directive.spec.ts
  projects/sds/src/app/feedback/feedback-trigger.directive.ts
  projects/sds/src/app/side-navigation/side-navigation.component.html
  projects/sds/src/app/side-navigation/side-navigation.component.scss
  projects/sds/src/app/side-navigation/side-navigation.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(cli/utils): add check of installed node version
  projects/cli/src/new/ob-new.spec.ts
  projects/cli/src/utils/cli-utils.spec.ts
  projects/cli/src/utils/cli-utils.ts
Due: eslint --fix --cache, prettier --write

feat(sds/side-navigation): add links toward github and figma to the footer
  projects/sds/src/app/side-navigation/side-navigation.component.html
  projects/sds/src/assets/images/github_logo.svg
Due: eslint --fix --cache, prettier --write

feat(cli/toolchain): add `semver` dependency
  package-lock.json
  projects/cli/package.json
Due: prettier --write

fix(design-system/token): fix several component tokens and add "body.regular-link.hover"
  projects/design-system/src/lib/themes/semantics/typography-styles.json
Due: prettier --write

feat(oblique/master-layout): add dedicated `<title>` info on accessibility page
  projects/oblique/src/lib/master-layout/_mocks/mock-master-layout.config.ts
  projects/oblique/src/lib/master-layout/master-layout.config.ts
  projects/oblique/src/lib/master-layout/master-layout.service.spec.ts
  projects/oblique/src/lib/master-layout/master-layout.service.ts
Due: eslint --fix --cache, prettier --write
