Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

.lintstagedrc.yml:

"*.{ts,js,mjs,html}": eslint --fix --cache
"*.{css,scss}": stylelint --fix --cache --allow-empty-input
"*.{ts,js,mjs,html,json,yml,md,css,scss}": prettier --write

fix(oblique/service-navigation): fix race condition
  projects/oblique/src/lib/service-navigation/timeout/service-navigation-timeout-redirector.service.spec.ts
  projects/oblique/src/lib/service-navigation/timeout/service-navigation-timeout-redirector.service.ts
  projects/oblique/src/lib/service-navigation/timeout/service-navigation-timeout.service.spec.ts
  projects/oblique/src/lib/service-navigation/timeout/service-navigation-timeout.service.ts
Due: eslint --fix --cache, prettier --write

test(oblique/service-navigation): remove deprecated functions
  projects/oblique/src/lib/service-navigation/timeout/service-navigation-timeout-cookie-activity.service.spec.ts
  projects/oblique/src/lib/service-navigation/timeout/service-navigation-timeout-cookie.service.spec.ts
  projects/oblique/src/lib/service-navigation/timeout/service-navigation-timeout-redirector.service.spec.ts
  projects/oblique/src/lib/service-navigation/timeout/service-navigation-timeout.service.spec.ts
Due: eslint --fix --cache, prettier --write

fix(sandbox/master-layout): add tree items routes to the whitelist of focusable fragments
  projects/sandbox/src/app/app.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/toolchain): create the Oblique dockerfile
  projects/oblique/Dockerfile_Oblique
  projects/oblique/src/nginx/nginx.conf
Due: none

feat(cli/toolchain): create the CLI dockerfile
  projects/cli/Dockerfile_CLI
  projects/cli/src/nginx/nginx.conf
Due: none

feat(sandbox-ssr/toolchain): create the Sandbox SSR dockerfile
  projects/sandbox-ssr/Dockerfile_Sandbox_SSR
  projects/sandbox-ssr/src/nginx/nginx.conf
Due: none

feat(sandbox/toolchain): create the Sandbox dockerfile
  projects/sandbox/Dockerfile_Sandbox
  projects/sandbox/src/nginx/nginx.conf
Due: none

feat(sds/toolchain): create the SDS dockerfile
  projects/sds/Dockerfile_SDS
  projects/sds/src/nginx/conf/includes/custom_headers.conf
  projects/sds/src/nginx/conf/includes/security_headers.conf
  projects/sds/src/nginx/conf/nginx.conf
Due: none

feat(service-navigation/toolchain): create the Service Navigation dockerfile
  projects/service-navigation-web-component/Dockerfile_Service_Navigation_Web_Component
  projects/service-navigation-web-component/src/nginx/nginx.conf
Due: none

feat(design-system/toolchain): create the Design System dockerfile
  projects/design-system/Dockerfile_Design_System
  projects/design-system/src/nginx/nginx.conf
Due: none

feat(sds/component-page): redirect urls that are not valid to the `invalid` page
  projects/sds/src/app/component-page/component-pages.routes.ts
Due: eslint --fix --cache, prettier --write

feat(sds/side-navigation): redirect urls that are not valid to the `invalid` page
  projects/sds/src/app/side-navigation/side-navigation.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/tabbed-page): redirect urls that are not valid to the `invalid` page
  projects/sds/src/app/tabbed-page/tabbed-page.component.ts
  projects/sds/src/app/tabbed-page/tabbed-pages.routes.ts
Due: eslint --fix --cache, prettier --write

feat(sds/text-page): redirect urls that are not valid to the `invalid` page
  projects/sds/src/app/text-page/text-page.component.ts
  projects/sds/src/app/text-page/text-pages.routes.ts
Due: eslint --fix --cache, prettier --write

refactor(sds/side-navigation): use a dedicated function per version to compute the new slug
  projects/sds/src/app/side-navigation/side-navigation.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/invalid-page): add invalid page
  projects/sds/CONTRIBUTING.md
  projects/sds/src/app.routes.ts
  projects/sds/src/app/invalid/invalid.component.html
  projects/sds/src/app/invalid/invalid.component.scss
  projects/sds/src/app/invalid/invalid.component.spec.ts
  projects/sds/src/app/invalid/invalid.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(sds/side-navigation): ensure all special cases are covered for each version
  projects/sds/src/app/side-navigation/side-navigation.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/styles): deprecate `ob-inner-bottom-shadow` mixin
  projects/oblique/src/styles/scss/core/mixins/_shadow.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/styles): adapt shadows to match Figma
  projects/oblique/src/styles/scss/core/mixins/_shadow.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(oblique/master-layout): remove unused shadow
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/material): remove shadow on dialog
  projects/oblique/src/styles/scss/material/_mat-dialog.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique): properly format deprecation notices
  projects/oblique/src/lib/http-api-interceptor/http-api-interceptor.module.ts
  projects/oblique/src/lib/icon/icon.model.ts
  projects/oblique/src/lib/icon/icon.module.ts
  projects/oblique/src/lib/multi-translate-loader/multi-translate-loader.ts
  projects/oblique/src/lib/paginator/ob-paginator.module.ts
  projects/oblique/src/lib/utilities.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/master-layout): remove shadow on active main navigation item
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

chore(toolchain): release version 13.1.0
  package-lock.json
  package.json
  projects/cli/package.json
  projects/cli/sonar-project.properties
  projects/cli/src/new/ob-new.model.ts
  projects/design-system/package.json
  projects/design-system/sonar-project.properties
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/sonar-project.properties
  projects/oblique/src/lib/version.ts
  projects/sandbox-ssr/package.json
  projects/sandbox-ssr/sonar-project.properties
  projects/sandbox/CHANGELOG.md
  projects/sandbox/package.json
  projects/sandbox/sonar-project.properties
  projects/sds/CHANGELOG.md
  projects/sds/package.json
  projects/sds/sonar-project.properties
  projects/sds/src/obliqueVersion.ts
  projects/service-navigation-web-component/CHANGELOG.md
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/sonar-project.properties
  projects/service-navigation-web-component/src/app/version.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): update dependencies and refactor accordingly
  eslint.config.mjs
  package-lock.json
  package.json
  projects/design-system/package.json
  projects/oblique/eslint.project-config.mjs
  projects/oblique/package.json
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation-item.directive.spec.ts
  projects/oblique/src/styles/scss/oblique-font.scss
  projects/sandbox-ssr/package.json
  projects/sandbox/eslint.project-config.mjs
  projects/sds/eslint.project-config.mjs
  projects/service-navigation-web-component/package.json
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

refactor(sandbox/toolchain): activate `@angular-eslint/template/prefer-static-string-properties`
  projects/sandbox/eslint.project-config.mjs
  projects/sandbox/src/app/app.component.html
  projects/sandbox/src/app/samples/autocomplete/autocomplete.component.html
  projects/sandbox/src/app/samples/external-link/external-link.component.html
  projects/sandbox/src/app/samples/nav-tree/nav-tree-sample.component.html
  projects/sandbox/src/app/samples/service-navigation/service-navigation-sample.component.html
  projects/sandbox/src/app/samples/spinner-sample/spinner-sample.component.html
Due: eslint --fix --cache, prettier --write

refactor(oblique/toolchain): activate `@angular-eslint/template/prefer-static-string-properties`
  projects/oblique/eslint.project-config.mjs
  projects/oblique/src/lib/alert/alert.component.spec.ts
Due: eslint --fix --cache, prettier --write

refactor(sds/toolchain): activate `@angular-eslint/template/prefer-static-string-properties`
  projects/sds/eslint.project-config.mjs
  projects/sds/src/app/app.component.html
  projects/sds/src/app/code-examples/code-examples/autocomplete/previews/icon-position-start/autocomplete-example-icon-position-start.component.html
  projects/sds/src/app/code-examples/code-examples/collapse/previews/animation-duration/collapse-example-animation-duration-preview.component.html
  projects/sds/src/app/code-examples/code-examples/expansion-panel/previews/basic/expansion-panel-example-basic-preview.component.html
  projects/sds/src/app/code-examples/code-examples/expansion-panel/previews/other-options/expansion-panel-example-other-options-preview.component.html
  projects/sds/src/app/code-examples/code-examples/expansion-panel/previews/toggle/expansion-panel-example-toggle-preview.component.html
  projects/sds/src/app/code-examples/code-examples/icons/previews/default/icons-example-default-preview.component.html
  projects/sds/src/app/code-examples/code-examples/icons/previews/font-size/icons-example-font-size-preview.component.html
  projects/sds/src/app/code-examples/code-examples/icons/previews/icons-gallery/icons-example-icons-gallery-preview.component.html
  projects/sds/src/app/code-examples/code-examples/material-table/previews/selectable/material-table-example-selectable-preview.component.html
  projects/sds/src/app/code-examples/code-examples/notification/previews/other-options/notification-example-other-options-preview.component.html
  projects/sds/src/app/code-examples/code-examples/popover-12/previews/other-options/popover12-example-other-options-preview.component.html
  projects/sds/src/app/code-examples/code-examples/popover/previews/other-options/popover-example-other-options-preview.component.html
  projects/sds/src/app/code-examples/code-examples/stepper/previews/other-options/stepper-example-other-options-preview.component.html
  projects/sds/src/app/code-examples/code-examples/tabs/previews/variations/tabs-example-variations-preview.component.html
  projects/sds/src/app/code-examples/code-examples/tooltip/previews/basic/tooltip-example-basic-preview.component.html
Due: eslint --fix --cache, prettier --write

fix(sds/tabbed-page): make sure SCSS snippets show valid paths for projects
  projects/sds/src/app/code-examples/code-examples.model.ts
Due: eslint --fix --cache, prettier --write

refactor(sds/styles): shorten scss import
  projects/sds/src/styles/scss/core/_mobile-navigation.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(sds): remove unused scss imports
  projects/sds/src/app/app.component.scss
  projects/sds/src/app/side-navigation/accordion-links/accordion-links.component.scss
  projects/sds/src/app/side-navigation/side-navigation.component.scss
  projects/sds/src/app/side-navigation/version/version.component.scss
  projects/sds/src/app/tabbed-page/tabbed-page.component.scss
  projects/sds/src/app/text-page/text-page.component.scss
  projects/sds/src/styles/scss/core/_mobile-navigation.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(service-navigation/web-component): add `tooltip` input for custom-buttons
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.html
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.ts
  projects/service-navigation-web-component/src/app/service-navigation-web-component.model.ts
Due: eslint --fix --cache, prettier --write

feat(service-navigation/sample): add `tooltip` text
  projects/service-navigation-web-component/src/index.html
Due: eslint --fix --cache, prettier --write

feat(service-navigation/web-component): add `accessibilityText` input for custom-buttons
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.html
  projects/service-navigation-web-component/src/app/service-navigation-web-component.model.ts
Due: eslint --fix --cache, prettier --write

feat(service-navigation/sample): add `accessibilityText` text
  projects/service-navigation-web-component/src/index.html
Due: eslint --fix --cache, prettier --write

feat(oblique/master-layout): set fixed width for flyout
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
  projects/oblique/src/styles/scss/core/_variables.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/master-layout): ensure flyouts are aligned with the edge of their respective toggle
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/master-layout): reduce red flyout hover line width
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/master-layout): set min-height for flyout
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/master-layout): remove flyout padding
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write
