Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --config eslint.precommit.config.mjs, stylelint --fix --cache --allow-empty-input, prettier --write

test(toolchain): use vitest to test the schematics
  AGENTS.md
  projects/toolchain/__mocks__/magic-string.js
  projects/toolchain/__mocks__/ora.js
  projects/toolchain/jest.config.ci.js
  projects/toolchain/jest.config.js
  projects/toolchain/package.json
  projects/toolchain/src/logger/base-logger.spec.ts
  projects/toolchain/src/logger/factory.spec.ts
  projects/toolchain/src/logger/group-logger.spec.ts
  projects/toolchain/src/logger/logger.spec.ts
  projects/toolchain/src/logger/mock/mock-logger.ts
  projects/toolchain/src/logger/mock/types.ts
  projects/toolchain/src/schematics/add-oblique/index.spec.ts
  projects/toolchain/src/schematics/add-oblique/rules/add-favicon.spec.ts
  projects/toolchain/src/schematics/i18n/index.spec.ts
  projects/toolchain/src/schematics/i18n/rules/add-i18n.spec.ts
  projects/toolchain/src/schematics/linting/index.spec.ts
  projects/toolchain/src/schematics/linting/rules/adapt-linting-configuration.spec.ts
  projects/toolchain/src/schematics/linting/rules/install-angular-eslint.spec.ts
  projects/toolchain/src/schematics/linting/rules/remove-existing-linting.spec.ts
  projects/toolchain/src/schematics/ng-add/index.spec.ts
  projects/toolchain/src/schematics/ng-add/rules/add-browserslistrc.spec.ts
  projects/toolchain/src/schematics/ng-add/rules/add-npmrc.spec.ts
  projects/toolchain/src/schematics/ng-add/rules/add-proxy.spec.ts
  projects/toolchain/src/schematics/shared/external-schematics.spec.ts
  projects/toolchain/src/schematics/shared/logger-close.spec.ts
  projects/toolchain/src/schematics/shared/template/template.spec.ts
  projects/toolchain/src/schematics/test-utils.ts
  projects/toolchain/tsconfig.spec.json
  projects/toolchain/vitest.config.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build(scripts): exclude `AGENTS.md` from commit hook
  scripts/husky/hook.commit-rules.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(toolchain): remove `template.index.ts` and `template.json`
  projects/toolchain/src/schematics/shared/template/template.index.ts
  projects/toolchain/src/schematics/shared/template/template.json
  projects/toolchain/src/schematics/shared/template/template.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(toolchain/schematics): make sure generated files have the system EoL
  projects/toolchain/src/schematics/ng-add/rules/add-browserslistrc.spec.ts
  projects/toolchain/src/schematics/ng-add/rules/add-npmrc.spec.ts
  projects/toolchain/src/schematics/ng-add/rules/add-proxy.spec.ts
  projects/toolchain/src/schematics/test-utils.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(toolchain/schematics): create `ast` folder and move HTML helper into it
  projects/toolchain/src/schematics/add-oblique/rules/add-favicon.ts
  projects/toolchain/src/schematics/shared/ast/html.spec.ts
  projects/toolchain/src/schematics/shared/ast/html.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(design-system/tokens): give ob.s.shadow.none a zero transparent drop-shadow so figma can publish it
  projects/design-system/src/lib/css/layers/tokens.css
  projects/design-system/src/lib/themes/03_semantic/shadow.json
Due: stylelint --fix --cache --allow-empty-input, prettier --write

figmaVariableReferences updated in TS
  projects/design-system/src/lib/themes/$themes.json
Due: prettier --write

refactor(toolchain/schematics): add rewriteFiles helper
  projects/toolchain/src/schematics/add-oblique/rules/add-favicon.ts
  projects/toolchain/src/schematics/shared/rewrite-files.spec.ts
  projects/toolchain/src/schematics/shared/rewrite-files.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(toolchain/schematics): add use-unknown-in-catch-variables rule to linting schematic
  projects/toolchain/src/schematics/linting/index.spec.ts
  projects/toolchain/src/schematics/linting/index.ts
  projects/toolchain/src/schematics/linting/rules/use-unknown-in-catch-variables.spec.ts
  projects/toolchain/src/schematics/linting/rules/use-unknown-in-catch-variables.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(toolchain/schematics): add TypeScript ast helper
  projects/toolchain/src/schematics/shared/ast/ts.spec.ts
  projects/toolchain/src/schematics/shared/ast/ts.ts
  projects/toolchain/src/schematics/shared/ast/types.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(design-system/tokens): add interaction emphasis_none and visited branches (OUX-243)
  projects/design-system/src/lib/themes/03_semantic/color/compiled.json
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/dark.json
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/light.json
Due: prettier --write

fix(design-system/tokens): fix contrast levels that resolved to the same colour
  projects/design-system/src/lib/css/layers/tokens.css
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/dark.json
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/light.json
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(design-system/tokens): make the contrast level fix touch only the literal duplicate
  projects/design-system/src/lib/css/layers/tokens.css
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/dark.json
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/light.json
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(design-system/tokens): restore correct contrast order in the remaining 8 groups
  projects/design-system/src/lib/css/layers/tokens.css
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/dark.json
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/light.json
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(design-system/tokens): give navigation foreground a light value in dark mode
  projects/design-system/src/lib/css/layers/tokens.css
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/dark.json
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(design-system/tokens): point link at contrast_levels, drop standard_states
  projects/design-system/src/lib/css/layers/tokens.css
  projects/design-system/src/lib/themes/03_semantic/color/compiled.json
  projects/design-system/src/lib/themes/03_semantic/color/s2_emphasis/high.json
  projects/design-system/src/lib/themes/03_semantic/color/s2_emphasis/low.json
  projects/design-system/src/lib/themes/05_html/link/link.json
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(design-system/tokens): insert H3 font-size step, fix md line_height
  projects/design-system/src/lib/css/layers/tokens.css
  projects/design-system/src/lib/themes/02_primitive/typography.json
  projects/design-system/src/lib/themes/03_semantic/typography/grouped/lg.json
  projects/design-system/src/lib/themes/03_semantic/typography/grouped/md.json
  projects/design-system/src/lib/themes/03_semantic/typography/grouped/sm.json
  projects/design-system/src/lib/themes/03_semantic/typography/grouped/static.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/lg.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/md.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/sm.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/static.json
  projects/design-system/src/lib/themes/05_html/typography/context/interface.json
  projects/design-system/src/lib/themes/05_html/typography/context/prose.json
Due: stylelint --fix --cache --allow-empty-input, prettier --write

build(dependencies): opt-out automaitc dependencies installation via dedicated git config
  scripts/husky/install-dependencies.ts
  scripts/shared/git.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(oblique/external-link): handle subscription cleanup with `destroyRef`
  projects/oblique/src/lib/external-link/external-link.directive.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(oblique/external-link): use a links origin to determine if it's external
  projects/oblique/src/lib/external-link/external-link.directive.spec.ts
  projects/oblique/src/lib/external-link/external-link.directive.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(oblique): add missing `origin` property to the window provider
  projects/oblique/src/lib/window/window.provider.model.ts
  projects/oblique/src/lib/window/window.provider.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(sandbox/external-link): show more internal link cases
  projects/sandbox/src/app/samples/external-link/external-link.component.html
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(oblique/material): make upercase months and days by date-picker
  projects/oblique/src/styles/scss/material/_mat-datepicker.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/schematics): migrate `provideHttpClient` to use `withXhr()` in existing apps
  projects/oblique/schematics/index/ng-update/update-v15-to-v16.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(oblique/schematics): configure `provideHttpClient` with `withXhr()` for new apps
  projects/oblique/schematics/index/ng-add/rules/obliqueFeatures.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix: do not throw an error when Oblique git config is not defined
  scripts/husky/install-dependencies.ts
  scripts/shared/git.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

docs: add mandatory AI disclosure rules to AGENTS.md
  AGENTS.md
Due: prettier --write

feat(design-system/tokens): add 40px (4xl) step to typography_context spacing scale
  projects/design-system/src/lib/css/layers/tokens.css
  projects/design-system/src/lib/themes/03_semantic/dimension/typography_context/static.json
Due: stylelint --fix --cache --allow-empty-input, prettier --write

clean up $themes, upload variable relink script
  projects/design-system/scripts-custom/figma-utils/relink-variable-aliases.js
  projects/design-system/src/lib/themes/$themes.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(design-system/tokens): step emphasis_low fg_visited contrast_low off the duplicate cobalt value
  projects/design-system/src/lib/css/layers/tokens.css
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/dark.json
Due: stylelint --fix --cache --allow-empty-input, prettier --write

build(lint): register OpenCode plugin workspace
  .gitignore
  CONTRIBUTING.md
  eslint.config.mjs
  package-lock.json
  package.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(opencode-plugin): add Oblique OpenCode plugin
  projects/opencode-plugin/README.md
  projects/opencode-plugin/eslint.project-config.mjs
  projects/opencode-plugin/jest.config.cjs
  projects/opencode-plugin/package.json
  projects/opencode-plugin/src/agent.ts
  projects/opencode-plugin/src/index.ts
  projects/opencode-plugin/src/instructions.ts
  projects/opencode-plugin/src/mcp-config.ts
  projects/opencode-plugin/src/project-detector.ts
  projects/opencode-plugin/src/review.ts
  projects/opencode-plugin/src/status-command.ts
  projects/opencode-plugin/src/status.ts
  projects/opencode-plugin/src/types.ts
  projects/opencode-plugin/tests/agent.spec.ts
  projects/opencode-plugin/tests/instructions.spec.ts
  projects/opencode-plugin/tests/mcp-config.spec.ts
  projects/opencode-plugin/tests/plugin.spec.ts
  projects/opencode-plugin/tests/project-detector.spec.ts
  projects/opencode-plugin/tests/review.spec.ts
  projects/opencode-plugin/tests/status.spec.ts
  projects/opencode-plugin/tsconfig.eslint.json
  projects/opencode-plugin/tsconfig.json
  projects/opencode-plugin/tsconfig.spec.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(oblique/schematics): support both `app-module.ts` and `app.module.ts`
  projects/oblique/schematics/index/utils.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(oblique/material): remove unused styling
  projects/oblique/src/styles/scss/material/_mat-form-field.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/material): remove additional red border in required fields
  projects/oblique/src/styles/scss/material/mixins/_mat-form-field.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(sandbox): remove `languages` from `provideObliqueConfiguration`
  projects/sandbox/src/app/app.module.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(oblique/translation): remove `languages` from `ObIObliqueConfiguration.translate.locales`
  projects/oblique/schematics/index/ng-update/update-v15-to-v16.ts
  projects/oblique/src/lib/language/language.model.ts
  projects/oblique/src/lib/language/language.service.spec.ts
  projects/oblique/src/lib/router/ob-router.service.spec.ts
  projects/oblique/src/lib/utilities.spec.ts
  projects/oblique/src/lib/utilities.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(toolchain/schematics): `add-i18n` don't add `languages` property to locale configuration
  projects/toolchain/src/schematics/i18n/rules/add-i18n.spec.ts
  projects/toolchain/src/schematics/i18n/rules/add-i18n.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(sds): remove `languages` from `provideObliqueConfiguration`
  projects/sds/src/main.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(oblique/master-layout): remove locale from `ObMockMasterLayoutConfig`
  projects/oblique/src/lib/master-layout/_mocks/mock-master-layout.config.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

Path conditions:
  eslint --fix --cache --config eslint.precommit.config.mjs: any of: *.{ts,js,mjs,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,mjs,html,json,yml,md,css,scss}
