Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/material): preserve the width of the sorting arrow
  projects/oblique/src/styles/scss/material/_mat-table.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(design-system/token): fix secondary enabled button reference
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/components/molecules/button-modes/light-colored.json
Due: prettier --write

fix(design-system/token): fix missing spacing gap token in link component.
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/components/atoms/badge.json
  projects/design-system/src/lib/themes/components/atoms/link.json
Due: prettier --write

refactor(design-system/token): Remove references in componets of deprecated Critical semantic color token.
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/components/molecules/infobox.json
Due: prettier --write

refactor(design-system/token): Delete old semantic color tokens critical, rename critical-new into critical.
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/components/atoms/badge.json
  projects/design-system/src/lib/themes/components/molecules/infobox.json
  projects/design-system/src/lib/themes/components/molecules/pills.json
  projects/design-system/src/lib/themes/semantics/colors/modes/dark.json
  projects/design-system/src/lib/themes/semantics/colors/modes/light.json
Due: prettier --write

fix(oblique/nav-tree): remove hover effect on disabled items
  projects/oblique/src/lib/nav-tree/nav-tree.component.scss
  projects/oblique/src/styles/scss/core/mixins/_nav.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/nav-tree): change the disabled items color to be lighter
  projects/oblique/src/lib/nav-tree/nav-tree.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(design-system/token): backup before opening in another figma file
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/components/atoms/badge.json
Due: prettier --write

fix(oblique/utilities): exclude files containing ".test." from the test coverage
  projects/oblique/schematics/index/ng-add/templates/default-jest.config
Due: none

test(toolchain): fix coverage folder
  projects/toolchain/jest.config.ci.js
Due: eslint --fix --cache, prettier --write

build(scripts): allow commits to have neither a package nor a scope
  scripts/husky/hook.commit-rules.ts
Due: eslint --fix --cache, prettier --write

test(cli): add a dedicated test coverage
  projects/cli/jest.config.js
Due: eslint --fix --cache, prettier --write

test: change every test report color to cyan
  projects/cli/jest.config.js
  projects/design-system/jest.config.js
  projects/sandbox-ssr/jest.config.js
  projects/sandbox/jest.config.js
  projects/sds/jest.config.js
  projects/service-navigation-web-component/jest.config.js
  projects/toolchain/jest.config.js
Due: eslint --fix --cache, prettier --write

test: centralize the test coverage threshold setting
  projects/cli/jest.config.js
  projects/design-system/jest.config.js
  projects/oblique/jest.config.js
  projects/sandbox-ssr/jest.config.js
  projects/sandbox/jest.config.js
  projects/sds/jest.config.js
  projects/service-navigation-web-component/jest.config.js
  projects/toolchain/jest.config.js
  tests/jest.config.coverage.js
  tests/jest.config.js
Due: eslint --fix --cache, prettier --write

test: refactor test configuration for all projects
  projects/cli/jest.config.ci.js
  projects/design-system/jest.config.ci.js
  projects/design-system/jest.config.js
  projects/oblique/jest.config.ci.js
  projects/oblique/jest.config.js
  projects/sandbox-ssr/jest.config.ci.js
  projects/sandbox-ssr/jest.config.js
  projects/sandbox/jest.config.ci.js
  projects/sandbox/jest.config.js
  projects/sds/jest.config.ci.js
  projects/sds/jest.config.js
  projects/service-navigation-web-component/jest.config.ci.js
  projects/service-navigation-web-component/jest.config.js
  projects/toolchain/jest.config.ci.js
Due: eslint --fix --cache, prettier --write

refactor(design-system/token): rename fg.a and prepare structure for fg low emphasis tokens.
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/components/atoms/close-button.json
  projects/design-system/src/lib/themes/semantics/colors/modes/dark.json
  projects/design-system/src/lib/themes/semantics/colors/modes/light.json
Due: prettier --write

refactor(design-system/token): create default & low emphasis tokens.
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/components/atoms/close-button.json
  projects/design-system/src/lib/themes/semantics/colors/modes/dark.json
  projects/design-system/src/lib/themes/semantics/colors/modes/light.json
Due: prettier --write

feat(oblique/translation): ensure that tested i18n strings come from the real translation files
  projects/oblique/src/lib/datepicker/ob-datepicker.service.spec.ts
  projects/oblique/src/lib/paginator/ob-paginator.service.spec.ts
  projects/oblique/src/lib/stepper/ob-stepper.service.spec.ts
  projects/oblique/tsconfig.spec.json
Due: eslint --fix --cache, prettier --write

refactor(design-system/token): refactor semantic color tokens. introdzce new modes: cta-default and cta-low.
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/components/atoms/close-button.json
  projects/design-system/src/lib/themes/semantics/colors/modes/cta-default.json
  projects/design-system/src/lib/themes/semantics/colors/modes/cta-low.json
  projects/design-system/src/lib/themes/semantics/colors/modes/dark.json
  projects/design-system/src/lib/themes/semantics/colors/modes/light.json
Due: prettier --write

refactor(design-system/token): organize semantic colors intro 3 main categories.
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/components/atoms/badge.json
  projects/design-system/src/lib/themes/components/atoms/close-button.json
  projects/design-system/src/lib/themes/components/atoms/hr.json
  projects/design-system/src/lib/themes/components/atoms/tooltip.json
  projects/design-system/src/lib/themes/components/molecules/button-modes/dark-monochrome.json
  projects/design-system/src/lib/themes/components/molecules/infobox.json
  projects/design-system/src/lib/themes/components/molecules/pills.json
  projects/design-system/src/lib/themes/components/molecules/popover.json
  projects/design-system/src/lib/themes/components/molecules/tags-modes/dark.json
  projects/design-system/src/lib/themes/components/molecules/tags-modes/light.json
  projects/design-system/src/lib/themes/primitives/colors.json
  projects/design-system/src/lib/themes/semantics/borders.json
  projects/design-system/src/lib/themes/semantics/colors/modes/dark.json
  projects/design-system/src/lib/themes/semantics/colors/modes/emphasis-default.json
  projects/design-system/src/lib/themes/semantics/colors/modes/emphasis-low.json
  projects/design-system/src/lib/themes/semantics/colors/modes/light.json
  projects/design-system/src/lib/themes/semantics/colors/static.json
  projects/design-system/src/lib/themes/semantics/shadows.json
Due: prettier --write

refactor(design-system/token): added emphasis modes default and low to semantic colors.
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/components/atoms/close-button.json
  projects/design-system/src/lib/themes/semantics/colors/modes/emphasis-default.json
  projects/design-system/src/lib/themes/semantics/colors/modes/emphasis-low.json
Due: prettier --write

refactor(design-system/token): organize semantic colors intro 3 main categories. setup all tokens. values not validated.
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/components/atoms/close-button.json
  projects/design-system/src/lib/themes/components/molecules/button-modes/dark.json
  projects/design-system/src/lib/themes/components/molecules/button-modes/emph-low-temp.json
  projects/design-system/src/lib/themes/components/molecules/button-modes/light.json
  projects/design-system/src/lib/themes/semantics/colors/modes/dark.json
  projects/design-system/src/lib/themes/semantics/colors/modes/emphasis-default.json
  projects/design-system/src/lib/themes/semantics/colors/modes/emphasis-low.json
  projects/design-system/src/lib/themes/semantics/colors/modes/interaction-default.json
  projects/design-system/src/lib/themes/semantics/colors/modes/interaction-muted.json
  projects/design-system/src/lib/themes/semantics/colors/modes/light.json
  projects/design-system/src/lib/themes/semantics/colors/static.json
  projects/design-system/src/lib/themes/semantics/shadows.json
Due: prettier --write

fix(design-system/token): remove redundant sources Dark & Light from emphasis mode. Assign semantic contrast-ratio-tokens to Interaction tokens.
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/semantics/colors/modes/interaction-default.json
  projects/design-system/src/lib/themes/semantics/colors/modes/interaction-muted.json
Due: prettier --write

refactor(design-system/token): Add visited to semantic level.
  projects/design-system/src/lib/themes/semantics/colors/modes/dark.json
  projects/design-system/src/lib/themes/semantics/colors/modes/interaction-default.json
  projects/design-system/src/lib/themes/semantics/colors/modes/light.json
Due: prettier --write

refactor(design-system/token): Semantic interaction tokens: Clean up referencing between contrast-ratio-based and state-based. Add description to all interaction tokens for context.
  projects/design-system/src/lib/themes/semantics/colors/modes/dark.json
  projects/design-system/src/lib/themes/semantics/colors/modes/interaction-default.json
  projects/design-system/src/lib/themes/semantics/colors/modes/light.json
Due: prettier --write

feat(oblique/material): support material design for the timepicker component
  projects/oblique/src/styles/scss/oblique-material.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sandbox/material): add timepicker example
  projects/sandbox/src/app/material/datepicker/datepicker.component.html
  projects/sandbox/src/app/material/datepicker/datepicker.component.ts
Due: eslint --fix --cache, prettier --write

refactor(design-system/token): Semantic interaction tokens: Clean up, delete depr. Warning (replaced by Attention) and fix references in component tokens.
  projects/design-system/src/lib/themes/components/molecules/infobox.json
Due: prettier --write

refactor(design-system/token): delete depr. Warning OUI-3825
  projects/design-system/src/lib/themes/semantics/colors/modes/light.json
Due: prettier --write

refactor(design-system/token): Delete Warning in Dark Mode
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/components/atoms/badge.json
  projects/design-system/src/lib/themes/semantics/colors/modes/dark.json
  projects/design-system/src/lib/themes/semantics/colors/modes/interaction-default.json
  projects/design-system/src/lib/themes/semantics/colors/modes/interaction-muted.json
  projects/design-system/src/lib/themes/semantics/colors/modes/light.json
Due: prettier --write

fix (design-system/token): Fix referencing of semantic colors in Badge. Delete deprecated severity-low.
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/components/atoms/badge.json
Due: prettier --write

fix (design-system/token): replaced steelblue by blue in semantic info color
  projects/design-system/src/lib/themes/components/atoms/badge.json
  projects/design-system/src/lib/themes/semantics/colors/modes/dark.json
Due: prettier --write

refactor(design-system/token): Delete focus from Neutral Semantics. Focus now live in Interaction Semantics. OUI-3825
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/semantics/colors/modes/dark.json
  projects/design-system/src/lib/themes/semantics/colors/modes/light.json
Due: prettier --write

feat(oblique/service-navigation): add description in info panel
  projects/oblique/src/lib/service-navigation/info/service-navigation-info.component.html
  projects/oblique/src/lib/service-navigation/info/service-navigation-info.component.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.html
  projects/oblique/src/lib/service-navigation/service-navigation.component.ts
Due: eslint --fix --cache, prettier --write

feat(service-navigation/web-component): add inputs in info panel
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.html
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.ts
  projects/service-navigation-web-component/src/index.html
Due: eslint --fix --cache, prettier --write

feat(oblique/service-navigation): add h4 for popover-section
  projects/oblique/src/lib/service-navigation/shared/popover-section/service-navigation-popover-section.component.html
Due: eslint --fix --cache, prettier --write

feat(sandbox/master-layout): add new description in info panel
  projects/sandbox/src/app/app.module.ts
  projects/sandbox/src/app/samples/master-layout/master-layout-sample.component.html
  projects/sandbox/src/app/samples/master-layout/master-layout-sample.component.ts
  projects/sandbox/src/app/service-navigation.config.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/service-navigation): add help text in info panel
  projects/oblique/src/lib/service-navigation/info/service-navigation-info.component.html
  projects/oblique/src/lib/service-navigation/info/service-navigation-info.component.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.html
  projects/oblique/src/lib/service-navigation/service-navigation.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/master-layout): sync master-layout with info panel new descriptions
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.html
  projects/oblique/src/lib/master-layout/master-layout.model.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/service-navigation): add contact form possibility in info panel
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/service-navigation/info/contact-to-links.pipe.spec.ts
  projects/oblique/src/lib/service-navigation/info/contact-to-links.pipe.ts
  projects/oblique/src/lib/service-navigation/info/service-navigation-info.component.html
  projects/oblique/src/lib/service-navigation/info/service-navigation-info.component.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.model.ts
Due: eslint --fix --cache, prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{ts,js,mjs,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,mjs,html,json,yml,md,css,scss}
