Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(design-system/token): reorder themes OUI-3865
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/semantics/colors/inversity/flipped.json
  projects/design-system/src/lib/themes/semantics/colors/inversity/normal.json
Due: prettier --write

feat(design-system): rename inversity tokens for better readability
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/_ignore-in-ds/typography-styles-R13.json
  projects/design-system/src/lib/themes/components/atoms/badge.json
  projects/design-system/src/lib/themes/components/atoms/spinner.json
  projects/design-system/src/lib/themes/components/atoms/tooltip.json
  projects/design-system/src/lib/themes/components/molecules/infobox/lightness/dark.json
  projects/design-system/src/lib/themes/components/molecules/infobox/lightness/light.json
  projects/design-system/src/lib/themes/components/molecules/pill.json
  projects/design-system/src/lib/themes/components/molecules/popover.json
  projects/design-system/src/lib/themes/components/molecules/tag.json
  projects/design-system/src/lib/themes/html/button/color-static.json
  projects/design-system/src/lib/themes/html/button/inversity/default.json
  projects/design-system/src/lib/themes/html/button/inversity/inverse.json
  projects/design-system/src/lib/themes/html/link.json
  projects/design-system/src/lib/themes/semantics/colors/emphasis/low.json
  projects/design-system/src/lib/themes/semantics/colors/emphasis/medium.json
  projects/design-system/src/lib/themes/semantics/colors/inversity/flipped.json
  projects/design-system/src/lib/themes/semantics/colors/inversity/normal.json
  projects/design-system/src/lib/themes/semantics/colors/lightness/dark.json
  projects/design-system/src/lib/themes/semantics/colors/lightness/light.json
Due: prettier --write

feat(design-system): separate inversity compound units for better structure
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/_ignore-in-ds/typography-styles-R13.json
  projects/design-system/src/lib/themes/components/atoms/badge.json
  projects/design-system/src/lib/themes/components/atoms/spinner.json
  projects/design-system/src/lib/themes/components/atoms/tooltip.json
  projects/design-system/src/lib/themes/components/molecules/infobox/lightness/dark.json
  projects/design-system/src/lib/themes/components/molecules/infobox/lightness/light.json
  projects/design-system/src/lib/themes/components/molecules/pill.json
  projects/design-system/src/lib/themes/components/molecules/popover.json
  projects/design-system/src/lib/themes/components/molecules/tag.json
  projects/design-system/src/lib/themes/html/button/color-static.json
  projects/design-system/src/lib/themes/html/button/inversity/default.json
  projects/design-system/src/lib/themes/html/button/inversity/inverse.json
  projects/design-system/src/lib/themes/html/link.json
  projects/design-system/src/lib/themes/semantics/colors/emphasis/low.json
  projects/design-system/src/lib/themes/semantics/colors/emphasis/medium.json
  projects/design-system/src/lib/themes/semantics/colors/inversity/flipped.json
  projects/design-system/src/lib/themes/semantics/colors/inversity/normal.json
  projects/design-system/src/lib/themes/semantics/colors/lightness/dark.json
  projects/design-system/src/lib/themes/semantics/colors/lightness/light.json
Due: prettier --write

fix: establish correct emphasis layer reference chain
  projects/design-system/src/lib/themes/semantics/colors/emphasis/low.json
  projects/design-system/src/lib/themes/semantics/colors/emphasis/medium.json
Due: prettier --write

fix(tokens): refactor inversity layer to reference lightness layer
  projects/design-system/src/lib/themes/semantics/colors/lightness/dark.json
  projects/design-system/src/lib/themes/semantics/colors/lightness/light.json
Due: prettier --write

fix(tokens): correct emphasis layer to reference inversity layer properly
  projects/design-system/src/lib/themes/semantics/colors/emphasis/low.json
  projects/design-system/src/lib/themes/semantics/colors/emphasis/medium.json
Due: prettier --write

refactor(tokens): clean emphasis layer architecture - remove inversity modifiers
  projects/design-system/src/lib/themes/semantics/colors/emphasis/low.json
  projects/design-system/src/lib/themes/semantics/colors/emphasis/medium.json
Due: prettier --write

refactor (design-system/token): renamed inversity names: default to normal, inverse to flipped.
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/_ignore-in-ds/typography-styles-R13.json
  projects/design-system/src/lib/themes/semantics/colors/lightness/dark.json
  projects/design-system/src/lib/themes/semantics/colors/lightness/light.json
Due: prettier --write

refactor(design-system/token): remapped button component to emphasis
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/html/button/color-static.json
Due: prettier --write

refactor(design-system/token): Recreating button in a new file DesignSystem@Tokens V9 not infected by variable modes
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/html/button/static.json
Due: prettier --write

fix(design-system/token): create responsive ob.s.spacing subfolders
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/global/themes-user/viewport/mobile.json
  projects/design-system/src/lib/themes/primitives/spacing.json
  projects/design-system/src/lib/themes/semantics/spacing/desktop.json
  projects/design-system/src/lib/themes/semantics/spacing/mobile.json
Due: prettier --write

fix(design-system/token): invert fatal values so inverse can be applied as variable mode in figma
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/primitives/colors.json
  projects/design-system/src/lib/themes/semantics/colors/lightness/light.json
Due: prettier --write

fix(design-system/token): fixed theming chain in figma lightness->inversity->emphasis
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/semantics/colors/lightness/dark.json
  projects/design-system/src/lib/themes/semantics/colors/static.json
Due: prettier --write

fix(design-system/token): delete test fatal tokens in emphasis color theme layer
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/semantics/colors/static.json
Due: prettier --write

fix(design-system/token): Deleted outdated inversty folders on component level
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/html/button/inversity/default.json
  projects/design-system/src/lib/themes/html/button/inversity/inverse.json
Due: prettier --write

fix(oblique/accessibility-statement): fix the url to the eCH-0059 standards
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
Due: prettier --write

feat(sds/notification): add a `send with HTML button`
  projects/sds/jest.config.js
  projects/sds/src/app/code-examples/code-examples/notification/previews/other-options/notification-example-other-options-preview.component.html
  projects/sds/src/app/code-examples/code-examples/notification/previews/other-options/notification-example-other-options-preview.component.ts
Due: eslint --fix --cache, prettier --write

build(release): release version 13.3.1
  package-lock.json
  package.json
  projects/cli/CHANGELOG.md
  projects/cli/package.json
  projects/cli/sonar-project.properties
  projects/cli/src/utils/cli-utils.ts
  projects/design-system/package.json
  projects/design-system/sonar-project.properties
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/sonar-project.properties
  projects/oblique/src/lib/version.ts
  projects/sandbox-ssr/package.json
  projects/sandbox-ssr/sonar-project.properties
  projects/sandbox/package.json
  projects/sandbox/sonar-project.properties
  projects/sds/CHANGELOG.md
  projects/sds/package.json
  projects/sds/sonar-project.properties
  projects/sds/src/obliqueVersion.ts
  projects/service-navigation-web-component/CHANGELOG.md
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/sonar-project.properties
  projects/service-navigation-web-component/src/app/version.ts
  projects/toolchain/package.json
  projects/toolchain/sonar-project.properties
Due: eslint --fix --cache, prettier --write

refactor(oblique/schematics): use type guard for `createSafeRule` error handling
  projects/oblique/schematics/index/utils.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/schematics): add questions for accessibility statement
  projects/oblique/schematics/index/ng-add/ng-add.model.ts
  projects/oblique/schematics/index/ng-add/rules/obliqueFeatures.ts
  projects/oblique/schematics/index/ng-add/schema.json
Due: eslint --fix --cache, prettier --write

fix(oblique/schematics): fix typos in prompts for ng-add
  projects/oblique/schematics/index/ng-add/schema.json
Due: prettier --write

feat(sandbox/master-layout): ensure that the version number in dynamically updated
  projects/sandbox/src/app/app.component.html
  projects/sandbox/src/app/app.component.ts
Due: eslint --fix --cache, prettier --write

build(dependencies): force a minimum node version of 22.12
  package.json
Due: prettier --write

ci(jenkins): use node 22
  Jenkinsfile
Due: none

build(service-navigation/scripts): add extension to post-build script
  projects/service-navigation-web-component/package.json
Due: prettier --write

ci(github): replace node 18 with node 24
  .github/workflows/main.yml
Due: prettier --write

refactor(oblique/master-layout): migrate clip to clip-path
  projects/oblique/src/lib/master-layout/master-layout/master-layout-accessibility.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(oblique/styles): migrate clip to clip-path
  projects/oblique/src/styles/scss/core/_print.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(service-navigation/web-component): migrate clip to clip-path
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/master-layout): activate `showAccessibilityTitle` per default
  projects/oblique/src/lib/master-layout/_mocks/mock-master-layout.config.ts
  projects/oblique/src/lib/master-layout/master-layout.config.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/master-layout): remove `showAccessibilityTitle` setting
  projects/sandbox/src/app/app.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/master-layout): improve master layout header accessibility
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.html
Due: eslint --fix --cache, prettier --write

feat(oblique/master-layout): improve master layout footer accessibility
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/master-layout/master-layout-footer/master-layout-footer.component.html
  projects/oblique/src/lib/master-layout/master-layout-footer/master-layout-footer.component.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/master-layout): improve master layout menu buttons accessibility
  projects/oblique/src/lib/master-layout/aria-menu-button.directive.spec.ts
  projects/oblique/src/lib/master-layout/aria-menu-button.directive.ts
Due: eslint --fix --cache, prettier --write

ci(jenkins): remove sonar files
  projects/cli/sonar-project.properties
  projects/design-system/sonar-project.properties
  projects/oblique/sonar-project.properties
  projects/sandbox-ssr/sonar-project.properties
  projects/sandbox/sonar-project.properties
  projects/sds/sonar-project.properties
  projects/service-navigation-web-component/sonar-project.properties
  projects/toolchain/sonar-project.properties
Due: none

feat(oblique/schematics): remove sonar step
  projects/oblique/schematics/index/ng-add/ng-add.model.ts
  projects/oblique/schematics/index/ng-add/rules/toolchain.ts
  projects/oblique/schematics/index/ng-add/schema.json
  projects/oblique/schematics/index/ng-add/templates/default-sonar-project.properties.config
Due: eslint --fix --cache, prettier --write

build(scripts): remove updateSonarPropertiesVersion()
  projects/cli/scripts/release.ts
  projects/design-system/scripts/release.ts
  projects/oblique/scripts/release.ts
  projects/sandbox-ssr/scripts/release.ts
  projects/sandbox/scripts/release.ts
  projects/sds/scripts/release.ts
  projects/service-navigation-web-component/scripts/release.ts
  projects/toolchain/scripts/release.ts
  scripts/shared/utils.ts
Due: eslint --fix --cache, prettier --write

feat(cli/new): remove sonar step
  projects/cli/src/new/ob-new.model.ts
  projects/cli/src/new/schema.json
Due: eslint --fix --cache, prettier --write

ci(jenkins): remove sonar step
  Jenkinsfile
Due: none

feat(sds/side-navigation): use aria-current for better accessibility
  projects/sds/src/app/side-navigation/accordion-links/accordion-links.component.html
  projects/sds/src/app/side-navigation/accordion-links/accordion-links.component.scss
  projects/sds/src/app/side-navigation/accordion-links/accordion-links.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{ts,js,mjs,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,mjs,html,json,yml,md,css,scss}
