Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(sds/component-page): make sure component pages are treated the same as text and tabbed ones
  projects/sds/src/app/component-page/component-page.component.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): release version 13.0.2
  package-lock.json
  package.json
  projects/cli/package.json
  projects/cli/sonar-project.properties
  projects/cli/src/new/ob-new.model.ts
  projects/design-system/package.json
  projects/design-system/sonar-project.properties
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/sonar-project.properties
  projects/oblique/src/lib/version.ts
  projects/sandbox-ssr/package.json
  projects/sandbox-ssr/sonar-project.properties
  projects/sandbox/CHANGELOG.md
  projects/sandbox/package.json
  projects/sandbox/sonar-project.properties
  projects/sds/CHANGELOG.md
  projects/sds/package.json
  projects/sds/sonar-project.properties
  projects/sds/src/obliqueVersion.ts
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/sonar-project.properties
  projects/service-navigation-web-component/src/app/version.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/material): use button for `matChipRemove` in chips autocomplete
  projects/sandbox/src/app/material/chips/chips.component.html
Due: eslint --fix --cache, prettier --write

feat(oblique/service-navigation): rename my-push-notifications to my-email-sms-notifications
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/service-navigation/service-navigation.service.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/input-clear): only show input-clear if the field has a value
  projects/oblique/src/lib/input-clear/input-clear.directive.spec.ts
  projects/oblique/src/lib/input-clear/input-clear.directive.ts
  projects/oblique/src/styles/scss/core/components/_text-control.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/material): use button for `matChipRemove` in chips autocomplete
  projects/sds/src/app/code-examples/code-examples/chips/previews/autocomplete/chips-example-autocomplete-preview.component.html
Due: eslint --fix --cache, prettier --write

fix(oblique/input-clear): remove memory leak
  projects/oblique/src/lib/input-clear/input-clear.directive.ts
Due: eslint --fix --cache, prettier --write

feat(sds/material): add a reset button to the editiable table dialog
  projects/sds/src/app/code-examples/code-examples/material-table/previews/editable/material-table-editable-dialog.component.html
  projects/sds/src/app/code-examples/code-examples/material-table/previews/editable/material-table-editable-dialog.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/toolchain): create the SDS dockerfile
  projects/sds/Dockerfile_SDS
  projects/sds/src/nginx/conf/includes/custom_headers.conf
  projects/sds/src/nginx/conf/includes/security_headers.conf
  projects/sds/src/nginx/conf/nginx.conf
Due: none

feat(sandbox/toolchain): create the Sandbox dockerfile
  projects/sandbox/Dockerfile_Sandbox
  projects/sandbox/src/nginx/nginx.conf
Due: none

feat(oblique/toolchain): create the Oblique dockerfile
  projects/oblique/Dockerfile_Oblique
  projects/oblique/src/nginx/nginx.conf
Due: none

feat(cli/toolchain): create the CLI dockerfile
  projects/cli/Dockerfile_CLI
  projects/cli/src/nginx/nginx.conf
Due: none

feat(design-system/toolchain): create the Design System dockerfile
  projects/design-system/Dockerfile_Design_System
  projects/design-system/src/nginx/nginx.conf
Due: none

feat(sandbox-ssr/toolchain): create the Sandbox SSR dockerfile
  projects/sandbox-ssr/Dockerfile_Sandbox_SSR
  projects/sandbox-ssr/src/nginx/nginx.conf
Due: none

feat(service-navigation/toolchain): create the Service Navigation dockerfile
  projects/service-navigation-web-component/Dockerfile_Service_Navigation_Web_Component
  projects/service-navigation-web-component/src/nginx/nginx.conf
Due: none

fix(oblique/master-layout): accept `null` and `undefined` as value for `navigation`
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.ts
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.html
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/toolchain): test only one include
  projects/sds/src/nginx/conf/nginx.conf
Due: none

fix(oblique/master-layout): also handle breakpoint logic on initialization
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/master-layout): extract breakpoint logic into a dedicated function
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.ts
Due: eslint --fix --cache, prettier --write

test(oblique/master-layout): add test case fo matching media query
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.spec.ts
Due: eslint --fix --cache, prettier --write

fix(sds): ensure proper viewport height on mobile view
  projects/sds/src/app/app.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/material): make sure form elements are properly vertically aligned
  projects/oblique/src/styles/scss/material/_mat-checkbox-radio.scss
  projects/oblique/src/styles/scss/material/_mat-form-field.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(sds/tabbed-page): make sure the page is a scrolling container
  projects/sds/src/app/tabbed-page/tabbed-page.component.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): release version 13.0.3
  package-lock.json
  package.json
  projects/cli/package.json
  projects/cli/sonar-project.properties
  projects/cli/src/new/ob-new.model.ts
  projects/design-system/package.json
  projects/design-system/sonar-project.properties
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/sonar-project.properties
  projects/oblique/src/lib/version.ts
  projects/sandbox-ssr/package.json
  projects/sandbox-ssr/sonar-project.properties
  projects/sandbox/package.json
  projects/sandbox/sonar-project.properties
  projects/sds/CHANGELOG.md
  projects/sds/package.json
  projects/sds/sonar-project.properties
  projects/sds/src/obliqueVersion.ts
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/sonar-project.properties
  projects/service-navigation-web-component/src/app/version.ts
Due: eslint --fix --cache, prettier --write

feat(sds/nav-tree): change default example to stackblitz link
  projects/sds/src/app/code-examples/code-examples/nav-tree/nav-tree-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/nav-tree/nav-tree-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/nav-tree/previews/default/nav-tree-example-default-preview.component.html
  projects/sds/src/app/code-examples/code-examples/nav-tree/previews/default/nav-tree-example-default-preview.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/nav-tree): change disabled example to stackblitz link
  projects/sds/src/app/code-examples/code-examples/nav-tree/nav-tree-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/nav-tree/previews/disabled/nav-tree-example-disabled-preview.component.html
  projects/sds/src/app/code-examples/code-examples/nav-tree/previews/disabled/nav-tree-example-disabled-preview.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/nav-tree): change service example to stackblitz link
  projects/sds/src/app/code-examples/code-examples/nav-tree/nav-tree-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/nav-tree/previews/data-from-service/nav-tree-data.service.ts
  projects/sds/src/app/code-examples/code-examples/nav-tree/previews/data-from-service/nav-tree-example-data-from-service-preview.component.html
  projects/sds/src/app/code-examples/code-examples/nav-tree/previews/data-from-service/nav-tree-example-data-from-service-preview.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/nav-tree): change expand/collapse example to stackblitz link
  projects/sds/src/app/code-examples/code-examples/nav-tree/nav-tree-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/nav-tree/previews/expand-collapse/nav-tree-example-expand-collapse-preview.component.html
  projects/sds/src/app/code-examples/code-examples/nav-tree/previews/expand-collapse/nav-tree-example-expand-collapse-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/nav-tree/previews/expand-collapse/nav-tree-example-expand-collapse-preview.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/cms): get all ui-ux data
  projects/sds/src/app/cms/cms-data.service.ts
  projects/sds/src/app/cms/models/tabbed-page.model.ts
Due: eslint --fix --cache, prettier --write

feat(sds/nav-tree): change filter example to stackblitz link
  projects/sds/src/app/code-examples/code-examples/nav-tree/nav-tree-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/nav-tree/previews/filter/nav-tree-example-filter-preview.component.html
  projects/sds/src/app/code-examples/code-examples/nav-tree/previews/filter/nav-tree-example-filter-preview.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/tabbed-page): create a custom component for UI/UX page
  projects/sds/src/app/cms/models/tabbed-page.model.ts
  projects/sds/src/app/tabbed-page/tabbed-page.component.html
  projects/sds/src/app/tabbed-page/tabbed-page.component.ts
  projects/sds/src/app/ui-ux/related-link.pipe.spec.ts
  projects/sds/src/app/ui-ux/related-link.pipe.ts
  projects/sds/src/app/ui-ux/ui-ux.component.html
  projects/sds/src/app/ui-ux/ui-ux.component.scss
  projects/sds/src/app/ui-ux/ui-ux.component.ts
  projects/sds/src/assets/images/CheckmarkCircle.svg
  projects/sds/src/assets/images/Stop.svg
  projects/sds/src/assets/images/figma_logo.svg
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(sandbox/nav-tree): add elements meant to be focused by the nav-tree links
  projects/sandbox/src/app/samples/nav-tree/nav-tree-sample.component.html
  projects/sandbox/src/app/samples/nav-tree/nav-tree-sample.component.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/breakpoints): add documentation for breakpoints
  projects/sds/CONTRIBUTING.md
  projects/sds/src/app/code-examples/code-examples.mapper.ts
  projects/sds/src/app/code-examples/code-examples/breakpoints/breakpoints-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/breakpoints/breakpoints-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/breakpoints/previews/breakpoints/breakpoints-example.component.scss
  projects/sds/src/app/code-examples/code-examples/breakpoints/previews/breakpoints/down/breakpoints-example-down-preview.component.html
  projects/sds/src/app/code-examples/code-examples/breakpoints/previews/breakpoints/down/breakpoints-example-down-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/breakpoints/previews/breakpoints/down/breakpoints-example-down-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/breakpoints/previews/breakpoints/up/breakpoints-example-up-preview.component.html
  projects/sds/src/app/code-examples/code-examples/breakpoints/previews/breakpoints/up/breakpoints-example-up-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/breakpoints/previews/breakpoints/up/breakpoints-example-up-preview.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/nav-tree): deprecate `focusableFragments`
  projects/oblique/src/lib/master-layout/master-layout.config.ts
Due: eslint --fix --cache, prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{ts,js,mjs,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,mjs,html,json,yml,md,css,scss}
