Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --config eslint.precommit.config.mjs, stylelint --fix --cache --allow-empty-input, prettier --write

.lintstagedrc.yml:

"*.{ts,js,mjs,html}": eslint --fix --cache --config eslint.precommit.config.mjs
"*.{css,scss}": stylelint --fix --cache --allow-empty-input
"*.{ts,js,mjs,html,json,yml,md,css,scss}": prettier --write

trim
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/01_global/multipliers/viewport/desktop.json
  projects/design-system/src/lib/themes/01_global/multipliers/viewport/mobile.json
  projects/design-system/src/lib/themes/01_global/themes_scoped/static.json
  projects/design-system/src/lib/themes/01_global/viewport/desktop.json
  projects/design-system/src/lib/themes/01_global/viewport/mobile.json
  projects/design-system/src/lib/themes/02_primitive/position.json
  projects/design-system/src/lib/themes/02_primitive/z_index.json
  projects/design-system/src/lib/themes/03_semantic/asset/theme/lightness/dark.json
  projects/design-system/src/lib/themes/03_semantic/asset/theme/lightness/light.json
  projects/design-system/src/lib/themes/03_semantic/color/compiled.json
  projects/design-system/src/lib/themes/03_semantic/effect.json
  projects/design-system/src/lib/themes/03_semantic/elevation.json
  projects/design-system/src/lib/themes/03_semantic/z_index.json
  projects/design-system/src/lib/themes/04_component/atom/badge.json
  projects/design-system/src/lib/themes/04_component/atom/spinner.json
  projects/design-system/src/lib/themes/04_component/atom/tooltip.json
  projects/design-system/src/lib/themes/04_component/molecule/infobox/01_color.json
  projects/design-system/src/lib/themes/04_component/molecule/infobox/02_layout.json
  projects/design-system/src/lib/themes/04_component/molecule/infobox/03_viewport/desktop.json
  projects/design-system/src/lib/themes/04_component/molecule/infobox/03_viewport/mobile.json
  projects/design-system/src/lib/themes/04_component/molecule/pill/01_layout.json.json
  projects/design-system/src/lib/themes/04_component/molecule/pill/02_typography.json.json
  projects/design-system/src/lib/themes/04_component/molecule/pill/07_reference_only.json
  projects/design-system/src/lib/themes/04_component/molecule/popover.json
  projects/design-system/src/lib/themes/04_component/molecule/tag/01_layout.json.json
  projects/design-system/src/lib/themes/04_component/molecule/tag/02_typography.json.json
  projects/design-system/src/lib/themes/04_component/molecule/tag/07_reference_only.json.json
  projects/design-system/src/lib/themes/05_html/hr.json
  projects/design-system/src/lib/themes/05_html/list.json
  projects/design-system/src/lib/themes/NO_DS/OB_LEGACY/typography_styles_R14.json
Due: prettier --write

feat: Remove outdated documentation and templates for tag component
  projects/design-system/.gitignore
  projects/design-system/documentation/01-introduction/current-release.md
  projects/design-system/documentation/01-introduction/current-releases.md
  projects/design-system/documentation/01-introduction/installation.md
  projects/design-system/documentation/01-introduction/readme.md
  projects/design-system/documentation/01-introduction/system-overview.md
  projects/design-system/documentation/01-introduction/what-is-oblique-design-system.md
  projects/design-system/documentation/02-foundation/_research/README.md
  projects/design-system/documentation/02-foundation/_research/carbon-sizing-strategy-v11.md
  projects/design-system/documentation/02-foundation/_research/design-system-competitive-analysis-summary.md
  projects/design-system/documentation/04-components/01-overview.md
  projects/design-system/documentation/04-components/02-tag/01-overview.md
  projects/design-system/documentation/04-components/02-tag/02-architecture.md
  projects/design-system/documentation/04-components/02-tag/03-implementation.md
  projects/design-system/documentation/04-components/02-tag/04-guidelines.md
  projects/design-system/documentation/04-components/02-tag/04-input-field-integration.md
  projects/design-system/documentation/04-components/02-tag/README.md
  projects/design-system/documentation/04-components/02-tag/_reports/README.md
  projects/design-system/documentation/04-components/02-tag/_research/README.md
  projects/design-system/documentation/04-components/_templates/01-overview-template.md
  projects/design-system/documentation/04-components/_templates/02-architecture-template.md
  projects/design-system/documentation/04-components/_templates/03-implementation-template.md
  projects/design-system/documentation/04-components/_templates/04-guidelines-template.md
  projects/design-system/documentation/04-components/_templates/README-template.md
  projects/design-system/documentation/04-components/_templates/README.md
  projects/design-system/documentation/04-components/_templates/_reports-template/README.md
  projects/design-system/documentation/04-components/_templates/_research-template/README.md
  projects/design-system/documentation/04-components/_templates/create-component.sh
  projects/design-system/documentation/04-components/chip-family.md
Due: prettier --write

docs(design-system/tokens): remove Babushka Principle and update variable modes in glossary
  projects/design-system/documentation/01-introduction/glossary.md
Due: prettier --write

Update token assignment guidelines and component documentation
  projects/design-system/documentation/02-foundation/03-accessibility.md
  projects/design-system/documentation/02-foundation/03-design-tokens/03-types/01-global-tokens.md
  projects/design-system/documentation/02-foundation/03-design-tokens/03-types/06-component-tokens.md
  projects/design-system/documentation/02-foundation/03-design-tokens/05-modes/00-modes-overview.md
  projects/design-system/documentation/02-foundation/03-design-tokens/05-modes/06-responsiveness.md
  projects/design-system/documentation/02-foundation/03-design-tokens/05-modes/06-responsiveness.md.backup
  projects/design-system/documentation/02-foundation/03-design-tokens/99-workflows/button-aug-slot-implementation.md
  projects/design-system/documentation/02-foundation/03-design-tokens/99-workflows/figma-and-tokens-for-developers.md
  projects/design-system/documentation/02-foundation/03-design-tokens/99-workflows/figma-mcp-inspection-guide.md
  projects/design-system/documentation/02-foundation/03-design-tokens/99-workflows/figma-slot-component-architecture.md
  projects/design-system/documentation/02-foundation/03-design-tokens/99-workflows/figma-variable-based-component-sizing.md
  projects/design-system/documentation/02-foundation/03-design-tokens/99-workflows/prompts/figma-mcp-01-inspect-layer-structure_detailed.md.backup
  projects/design-system/documentation/02-foundation/03-design-tokens/99-workflows/prompts/figma-mcp-03-analyze-semantic-tokens.md
  projects/design-system/documentation/02-foundation/03-design-tokens/99-workflows/token-assignment-guidelines.md
  projects/design-system/documentation/02-foundation/03-design-tokens/99-workflows/token-assignment-guidelines.md.backup
  projects/design-system/documentation/02-foundation/03-design-tokens/99-workflows/tokens-studio-context.md
  projects/design-system/documentation/04-components/01-button/dev-handoff/ai-generated-code-preview/ButtonLabelIcon-generated-code.md
  projects/design-system/documentation/04-components/01-button/dev-handoff/ai-generated-code-preview/button-figma-extracted.md
  projects/design-system/documentation/04-components/01-button/reports/20250925_1630-button-complete-validation-report.md
  projects/design-system/documentation/04-components/01-button/reports/20250925_1635-button_remove-complete-validation-report.md
  projects/design-system/documentation/04-components/01-button/reports/20250925_1640-button_icon_only-complete-validation-report.md
  projects/design-system/documentation/04-components/01-button/reports/20250925_1715-button_label_icon-enhanced-mcp-analysis.md
  projects/design-system/documentation/04-components/01-button/reports/20250925_1720-button_remove-enhanced-mcp-analysis.md
  projects/design-system/documentation/04-components/01-button/reports/20250925_1725-button_icon_only-enhanced-mcp-analysis.md
  projects/design-system/documentation/04-components/01-button/reports/_archive/20250906_1344-button-mcp-figma-report.md
  projects/design-system/documentation/04-components/01-button/reports/_archive/20250906_1357-button-mcp-figma-report.md
  projects/design-system/documentation/04-components/container-component-concept.md
Due: prettier --write

Add new documentation for UI Scale, Typography Context, Density, and Responsiveness modes
  projects/design-system/documentation/02-foundation/03-design-tokens/00-index.md
  projects/design-system/documentation/02-foundation/03-design-tokens/01-types/01-global-tokens.md
  projects/design-system/documentation/02-foundation/03-design-tokens/01-types/02-primitive-tokens.md
  projects/design-system/documentation/02-foundation/03-design-tokens/01-types/03-semantic-tokens.md
  projects/design-system/documentation/02-foundation/03-design-tokens/01-types/04-semantic-typography-tokens.md
  projects/design-system/documentation/02-foundation/03-design-tokens/01-types/05-typography-foundation.md
  projects/design-system/documentation/02-foundation/03-design-tokens/01-types/06-component-tokens.md
  projects/design-system/documentation/02-foundation/03-design-tokens/01-types/07-color-tokens/00-colors-overview.md
  projects/design-system/documentation/02-foundation/03-design-tokens/01-types/07-color-tokens/01-colors-primitive.md
  projects/design-system/documentation/02-foundation/03-design-tokens/01-types/07-color-tokens/02-colors-primitive-consumption.md
  projects/design-system/documentation/02-foundation/03-design-tokens/01-types/07-color-tokens/03-colors-semantic.md
  projects/design-system/documentation/02-foundation/03-design-tokens/01-types/07-color-tokens/04-colors-semantic-neutral.md
  projects/design-system/documentation/02-foundation/03-design-tokens/01-types/07-color-tokens/05-colors-semantic-brand.md
  projects/design-system/documentation/02-foundation/03-design-tokens/01-types/07-color-tokens/06-colors-semantic-interaction.md
  projects/design-system/documentation/02-foundation/03-design-tokens/01-types/07-color-tokens/07-colors-semantic-status.md
  projects/design-system/documentation/02-foundation/03-design-tokens/01-types/07-color-tokens/08-colors-semantic-free.md
  projects/design-system/documentation/02-foundation/03-design-tokens/02-modes/00-modes-overview.md
  projects/design-system/documentation/02-foundation/03-design-tokens/02-modes/01-lightness.md
  projects/design-system/documentation/02-foundation/03-design-tokens/02-modes/02-emphasis.md
  projects/design-system/documentation/02-foundation/03-design-tokens/02-modes/03-ui-scale.md
  projects/design-system/documentation/02-foundation/03-design-tokens/02-modes/04-typography-context.md
  projects/design-system/documentation/02-foundation/03-design-tokens/02-modes/05-density.md
  projects/design-system/documentation/02-foundation/03-design-tokens/02-modes/06-responsiveness.md
  projects/design-system/documentation/02-foundation/03-design-tokens/02-modes/06-responsiveness.md.backup
  projects/design-system/documentation/02-foundation/03-design-tokens/02-modes/99-modes-interplay.md
  projects/design-system/documentation/02-foundation/03-design-tokens/02-modes/density-plan.md
  projects/design-system/documentation/02-foundation/03-design-tokens/99-workflows/designer-developer-handoff.md
  projects/design-system/documentation/02-foundation/03-design-tokens/99-workflows/tokenization-workflow-complete.md
Due: prettier --write

fix(design-system/tokens): add missing white on s.color.brand.2 for the cross in the federal coat of arms to prevent it becoming dark in darkmode.
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/03_semantic/color/compiled.json
  projects/design-system/src/lib/themes/03_semantic/typography/grouped/lg.json
  projects/design-system/src/lib/themes/03_semantic/typography/grouped/md.json
  projects/design-system/src/lib/themes/03_semantic/typography/grouped/sm.json
  projects/design-system/src/lib/themes/03_semantic/typography/grouped/static.json
  projects/design-system/src/lib/themes/05_html/typography/style.json
  projects/design-system/src/lib/themes/NO_DS/FIGMA_ONLY/colors_static.json
  projects/design-system/src/lib/themes/NO_DS/FIGMA_ONLY/off.json
  projects/design-system/src/lib/themes/NO_DS/FIGMA_ONLY/on.json
  projects/design-system/src/lib/themes/NO_DS/FIGMA_ONLY/typography.json
Due: prettier --write

ci: fix false negative cleanup github actions
  .github/workflows/cleanup.yml
Due: prettier --write

refactor(service-navigation/web-component): remove dead fallback code
  projects/service-navigation-web-component/src/app/translations-service.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(service-navigation/web-component): adhere to file-naming conventions
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.spec.ts
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.ts
  projects/service-navigation-web-component/src/app/translations.service.spec.ts
  projects/service-navigation-web-component/src/app/translations.service.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(service-navigation): remove coverage thresholds and default to 100%
  projects/service-navigation-web-component/jest.config.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(service-navigation/web-component): extend coverage for translation-service
  projects/service-navigation-web-component/src/app/translations-service.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(service-navigation/web-component): extend coverage for service-navigation-web-component
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(documentation): add Token Usage Guide for selecting appropriate design tokens
  projects/design-system/documentation/02-foundation/03-design-tokens/00-index.md
  projects/design-system/documentation/02-foundation/03-design-tokens/05-token-usage-guide.md
Due: prettier --write

fix(design-system/tokens): Restore pre-existing interaction color token values to pre-OUI-4418 state
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/dark.json
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/light.json
  projects/design-system/src/lib/themes/03_semantic/color/s2_emphasis/high.json
  projects/design-system/src/lib/themes/03_semantic/color/s2_emphasis/low.json
Due: prettier --write

visual fix button
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/light.json
  projects/design-system/src/lib/themes/04_component/atom/icon/02_layout.json
  projects/design-system/src/lib/themes/05_html/button/01_color.json
Due: prettier --write

button gap px instead of rem: fixed some button disabled color values
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/light.json
  projects/design-system/src/lib/themes/05_html/button/04_layout.json
Due: prettier --write

fix(design-system/tokens): update disabled foreground and opacity colors in dark theme
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/dark.json
Due: prettier --write

fix(design-system/tokens): update steelblue color values for emphasis-high interactive elements
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/dark.json
Due: prettier --write

fix(design-system/tokens): update contrast values for emphasis-high interactive elements
  projects/design-system/src/lib/themes/03_semantic/color/s2_emphasis/high.json
Due: prettier --write

fix(design-system/tokens): update emphasis-high interactive elements colors for better contrast
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/dark.json
Due: prettier --write

feat(button): split layout tokens into dynamic and static UI scale variants
  projects/design-system/src/lib/themes/05_html/button/04_layout.json
Due: prettier --write

Revert "feat(button): split layout tokens into dynamic and static UI scale variants"
  projects/design-system/src/lib/themes/05_html/button/04_layout.json
Due: prettier --write

button label_icon new static and dynic
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/05_html/button/04_layout.json
  projects/design-system/src/lib/themes/05_html/button/07_reference_only.json
Due: prettier --write

fix(button): update static layout token references to use static ui_scale
  projects/design-system/src/lib/themes/05_html/button/04_layout.json
Due: prettier --write

create button min-height dyn & static groups
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/05_html/button/04_layout.json
Due: prettier --write

fix(button): static min_height reference to use static ui_scale
  projects/design-system/src/lib/themes/05_html/button/04_layout.json
Due: prettier --write

set static button min-height reference to static
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/05_html/button/04_layout.json
Due: prettier --write

fix(design-system/tokens): fix visual design for button interaction color
  projects/design-system/src/lib/themes/03_semantic/color/s2_emphasis/low.json
  projects/design-system/src/lib/themes/05_html/button/01_color.json
Due: prettier --write

fix(design-system/tokens): fix visual design for button intraction colors
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/light.json
  projects/design-system/src/lib/themes/03_semantic/color/s2_emphasis/high.json
  projects/design-system/src/lib/themes/03_semantic/color/s2_emphasis/low.json
Due: prettier --write

test(oblique/button): increase coverage to 100%
  projects/oblique/jest.config.js
  projects/oblique/src/lib/button/icon-button.directive.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(sandbox): add form elements variants
  projects/sandbox/src/app/app-navigation.ts
  projects/sandbox/src/app/samples/form-combinations/form-sample-combinations.component.html
  projects/sandbox/src/app/samples/form-combinations/form-sample-combinations.component.scss
  projects/sandbox/src/app/samples/form-combinations/form-sample-combinations.component.ts
  projects/sandbox/src/app/samples/samples-routing.module.ts
  projects/sandbox/src/app/samples/samples.module.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/master-layout): back-to-top works with sticky layout when no h1 is present
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(oblique/master-layout): clarify info message when `focusElement` targets a non-focusable element
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(oblique/master-layout): ensure `focusElement` adds `tabindex` as needed in prod mode
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build(release): make sure the logo url in `publiccode.yml` end with `.svg`
  publiccode.yml
Due: prettier --write

build(release): ensure `publiccode.yml` is updated
  scripts/release.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build(release): release version 15.2.2
  package-lock.json
  package.json
  projects/cli/package.json
  projects/cli/src/utils/cli-utils.ts
  projects/design-system/package.json
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/src/lib/version.ts
  projects/sandbox-ssr/package.json
  projects/sandbox/CHANGELOG.md
  projects/sandbox/package.json
  projects/sds/package.json
  projects/sds/src/obliqueVersion.ts
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/src/app/version.ts
  projects/toolchain/package.json
  publiccode.yml
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(design-system/tokens): fix visual design for button intraction colors
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/03_semantic/color/s2_emphasis/high.json
  projects/design-system/src/lib/themes/03_semantic/color/s2_emphasis/low.json
Due: prettier --write
