Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

.lintstagedrc.yml:

"*.{ts,js,mjs,html}": eslint --fix --cache
"*.{css,scss}": stylelint --fix --cache --allow-empty-input
"*.{ts,js,mjs,html,json,yml,md,css,scss}": prettier --write

chore(toolchain): remove publish instructions for version 13.0.0-rc.5
  Jenkinsfile
Due: none

chore(toolchain): remove publish instructions for version 13.0.0-rc.6
  Jenkinsfile
Due: none

fix(cli/update): make sure `@schematics/angular` is present and updated
  projects/cli/src/update/ob-update.ts
  projects/cli/src/utils/cli-utils.spec.ts
  projects/cli/src/utils/cli-utils.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): release version 13.0.0-rc.7
  Jenkinsfile
  package-lock.json
  package.json
  projects/cli/CHANGELOG.md
  projects/cli/package.json
  projects/cli/sonar-project.properties
  projects/cli/src/new/ob-new.model.ts
  projects/design-system/package.json
  projects/design-system/sonar-project.properties
  projects/oblique/package.json
  projects/oblique/sonar-project.properties
  projects/oblique/src/lib/version.ts
  projects/sandbox-ssr/package.json
  projects/sandbox-ssr/sonar-project.properties
  projects/sandbox/package.json
  projects/sandbox/sonar-project.properties
  projects/sds/package.json
  projects/sds/sonar-project.properties
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/sonar-project.properties
  projects/service-navigation-web-component/src/app/version.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): remove publish instructions for version 13.0.0-rc.7
  Jenkinsfile
Due: none

fix(oblique/schematics): create valid accessibility contact information
  projects/oblique/schematics/index/ng-update/update-v12-to-v13.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/schematics): deactivate `@angular-eslint/prefer-signals` for new projects
  projects/oblique/schematics/index/ng-add/templates/default-eslint.config.mjs.config
Due: none

fix(oblique/schematics): deactivate `@angular-eslint/prefer-standalone` for new projects
  projects/oblique/schematics/index/ng-add/templates/default-eslint.config.mjs.config
Due: none

fix(oblique/schematics): `migrateMasterLayoutProperties` actually removes targeted properties
  projects/oblique/schematics/index/ng-update/update-v12-to-v13.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): don't release the Web Component
  Jenkinsfile
Due: none

feat(cli/utils): update the oblique version to 13
  projects/cli/src/utils/cli-utils.ts
Due: eslint --fix --cache, prettier --write

fix(toolchain): make sure the release scripts logs intermediate steps
  scripts/release.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): release version 13.0.0
  package-lock.json
  package.json
  projects/cli/CHANGELOG.md
  projects/cli/package.json
  projects/cli/sonar-project.properties
  projects/cli/src/new/ob-new.model.ts
  projects/design-system/package.json
  projects/design-system/sonar-project.properties
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/sonar-project.properties
  projects/oblique/src/lib/version.ts
  projects/sandbox-ssr/package.json
  projects/sandbox-ssr/sonar-project.properties
  projects/sandbox/CHANGELOG.md
  projects/sandbox/package.json
  projects/sandbox/sonar-project.properties
  projects/sds/CHANGELOG.md
  projects/sds/package.json
  projects/sds/sonar-project.properties
  projects/sds/src/obliqueVersion.ts
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/sonar-project.properties
  projects/service-navigation-web-component/src/app/version.ts
Due: eslint --fix --cache, prettier --write

feat(toolchain): set no registry
  .npmrc
Due: none

feat(sds/toolchain): create the SDS dockerfile
  projects/sds/Dockerfile_SDS
  projects/sds/src/nginx/conf/includes/custom_headers.conf
  projects/sds/src/nginx/conf/includes/security_headers.conf
  projects/sds/src/nginx/conf/nginx.conf
Due: none

feat(sandbox/toolchain): create the Sandbox dockerfile
  projects/sandbox/Dockerfile_Sandbox
  projects/sandbox/src/nginx/nginx.conf
Due: none

feat(toolchain): add .trivyignore file
  .trivyignore
Due: none

fix(oblique/external-link): improve external link accessibility
  projects/oblique/src/lib/external-link/external-link.directive.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/external-link): align the icon vertically
  projects/oblique/src/styles/scss/core/components/_external-link.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(sds/side-navigation): don't use SVG for hamburger menu
  projects/sds/src/app/side-navigation/side-navigation.component.html
  projects/sds/src/styles/scss/core/_mobile-navigation.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(sds/side-navigation): make side-navigation mobile navigation close when clicked
  projects/sds/src/app/side-navigation/accordion-links/accordion-links.component.html
  projects/sds/src/app/side-navigation/accordion-links/accordion-links.component.ts
  projects/sds/src/app/side-navigation/side-navigation.component.html
Due: eslint --fix --cache, prettier --write

fix(oblique/accessibility-statement): use `time` element for dates
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/accessibility-statement/accessibility-statement.component.html
Due: eslint --fix --cache, prettier --write

chore(toolchain): release version 13.0.1
  package-lock.json
  package.json
  projects/cli/package.json
  projects/cli/sonar-project.properties
  projects/cli/src/new/ob-new.model.ts
  projects/design-system/package.json
  projects/design-system/sonar-project.properties
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/sonar-project.properties
  projects/oblique/src/lib/version.ts
  projects/sandbox-ssr/package.json
  projects/sandbox-ssr/sonar-project.properties
  projects/sandbox/package.json
  projects/sandbox/sonar-project.properties
  projects/sds/CHANGELOG.md
  projects/sds/package.json
  projects/sds/sonar-project.properties
  projects/sds/src/obliqueVersion.ts
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/sonar-project.properties
  projects/service-navigation-web-component/src/app/version.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/schematics): remove `ObPaginatorDirective` with schematics
  projects/oblique/schematics/index/ng-update/update-v12-to-v13.ts
Due: eslint --fix --cache, prettier --write

fix(sds/component-page): make sure `param` is always defined
  projects/sds/src/app.routes.ts
Due: eslint --fix --cache, prettier --write

refactor(sds/component-page): only consume the first segment in the root routes matcher
  projects/sds/src/app.routes.ts
  projects/sds/src/app/component-page/component-pages.routes.ts
Due: eslint --fix --cache, prettier --write

fix(sandbox/toolchain): add `moment` to `allowedCommonJsDependencies`
  angular.json
Due: prettier --write

fix(sds/toolchain): add `moment` to `allowedCommonJsDependencies`
  angular.json
Due: prettier --write

fix(sds/code-examples): correct html element names
  projects/sds/src/app/code-examples/code-examples/typography/previews/inline-elements/typography-example-inline-elements-preview.component.html
Due: eslint --fix --cache, prettier --write

refactor(sds/side-navigation): centralize `margin-top` handling of pages in one place
  projects/sds/src/app/tabbed-page/tabbed-page.component.scss
  projects/sds/src/app/text-page/text-page.component.scss
  projects/sds/src/styles/scss/core/_mobile-navigation.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(sds/side-navigation): reduce logo to the coat of arms below SM viewport
  projects/sds/src/styles/scss/core/_mobile-navigation.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(sds/side-navigation): remove blur effect when side navigation is opened
  projects/sds/src/styles/scss/core/_mobile-navigation.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(sds/side-navigation): make side-navigation use full width on mobile view
  projects/sds/src/app/app.component.scss
  projects/sds/src/styles/scss/core/_mobile-navigation.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/master-layout): replace screen reader text on go to children button with a tooltip
  projects/oblique/src/lib/master-layout/master-layout-navigation/go-to-children/master-layout-navigation-go-to-children.component.html
  projects/oblique/src/lib/master-layout/master-layout-navigation/go-to-children/master-layout-navigation-go-to-children.component.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/master-layout): add tooltip to scroll left / right buttons
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.html
Due: eslint --fix --cache, prettier --write

fix(oblique/material): ensure matTooltips are rendered above the off-canvas panel
  projects/oblique/src/styles/scss/core/_variables.scss
  projects/oblique/src/styles/scss/material/_mat-tooltip.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(sds): add tooltip to buttons that have no text
  projects/sds/src/app/code-examples/code-examples/button/previews/other-options/button-example-other-options.component.html
  projects/sds/src/app/code-examples/code-examples/button/previews/other-options/button-example-other-options.component.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/off-canvas): replace `ob-screen-reader-only` text on close button with a tooltip
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.html
Due: eslint --fix --cache, prettier --write

fix(sandbox): add tooltip to buttons that have no text
  projects/sandbox/src/app/material/button/button.component.html
  projects/sandbox/src/app/samples/button/button.component.html
  projects/sandbox/src/app/samples/external-link/external-link.component.html
  projects/sandbox/src/app/samples/service-navigation/service-navigation-sample.component.html
Due: eslint --fix --cache, prettier --write

refactor(sds): use `content-page` class instead of selector to target text and tabbed pages
  projects/sds/src/app/tabbed-page/tabbed-page.component.ts
  projects/sds/src/app/text-page/text-page.component.ts
  projects/sds/src/styles/scss/core/_mobile-navigation.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write
