Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sandbox/master-layout): activate `showAccessibilityTitle`
  projects/sandbox/src/app/app.module.ts
Due: eslint --fix --cache, prettier --write

fix(design-system/token): reorder component tokens
  projects/design-system/src/lib/themes/semantics/typography-styles.json
Due: prettier --write

fix(design-system/token): fix values in semantics/typography-scale
  projects/design-system/src/lib/themes/semantics/typography-scale.json
Due: prettier --write

fix(design-system/token): fix semantic typography names
  projects/design-system/src/lib/themes/components/molecules/infobox.json
  projects/design-system/src/lib/themes/semantics/typography-styles.json
Due: prettier --write

fix(design-system/token): fix primitive and semantic typography naming
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/primitives/typography.json
  projects/design-system/src/lib/themes/semantics/typography-base.json
  projects/design-system/src/lib/themes/semantics/typography-scale.json
  projects/design-system/src/lib/themes/semantics/typography-styles.json
Due: prettier --write

fix(design-system/token): reorder typography token sets
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/components/typography-styles.json
  projects/design-system/src/lib/themes/semantics/typography-styles.json
Due: prettier --write

fix(design-system/token): fix prefix in components-only styles
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/components/typography-styles.json
Due: prettier --write

fix(design-system/token): recover semantic typography link token
  projects/design-system/src/lib/themes/semantics/typography-styles.json
Due: prettier --write

fix(design-system/token): fix value for list-group text
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/components/typography-styles.json
Due: prettier --write

fix(design-system/token): Fix type-scale semantics for a lighter appearance.
  projects/design-system/src/lib/themes/semantics/typography-scale.json
Due: prettier --write

feat(design-system/token): added Lead token
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/components/typography-styles.json
  projects/design-system/src/lib/themes/semantics/typography-styles.json
Due: prettier --write

feat(oblique/service-navigation): move alignement to the right in mobile view
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header-controls.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(design-system/token): Add description to semantic typography tokens
  projects/design-system/src/lib/themes/components/typography-styles.json
  projects/design-system/src/lib/themes/semantics/typography-scale.json
  projects/design-system/src/lib/themes/semantics/typography-styles.json
Due: prettier --write

fix(design-system/token): typography tokens only.
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/components/atoms/tooltip.json
  projects/design-system/src/lib/themes/components/molecules/infobox.json
  projects/design-system/src/lib/themes/components/molecules/pills.json
  projects/design-system/src/lib/themes/components/molecules/popover.json
  projects/design-system/src/lib/themes/components/molecules/tag.json
  projects/design-system/src/lib/themes/components/typography-styles.json
  projects/design-system/src/lib/themes/primitives/typography.json
  projects/design-system/src/lib/themes/semantics/typography-base.json
  projects/design-system/src/lib/themes/semantics/typography-scale.json
  projects/design-system/src/lib/themes/semantics/typography-styles.json
Due: prettier --write

fix(design-system/token): fix prose H3 letterspacing token
  projects/design-system/src/lib/themes/semantics/typography-styles.json
Due: prettier --write

feat(oblique/service-navigation): unify tooltips and translations
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.html
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.spec.ts
  projects/oblique/src/lib/service-navigation/authentication/service-navigation-authentication.component.html
  projects/oblique/src/lib/service-navigation/authentication/service-navigation-authentication.component.spec.ts
  projects/oblique/src/lib/service-navigation/authentication/service-navigation-authentication.harness.ts
  projects/oblique/src/lib/service-navigation/info/service-navigation-info.component.html
  projects/oblique/src/lib/service-navigation/info/service-navigation-info.component.spec.ts
  projects/oblique/src/lib/service-navigation/message/service-navigation-message.component.html
  projects/oblique/src/lib/service-navigation/message/service-navigation-message.component.spec.ts
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.component.html
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.component.spec.ts
Due: eslint --fix --cache, prettier --write

feat(design-system/token): Add remaining descriptions to component typography tokens
  projects/design-system/src/lib/themes/components/typography-styles.json
  projects/design-system/src/lib/themes/semantics/typography-styles.json
Due: prettier --write

fix(design-system/token): align lineHeight to V5 decisions
  projects/design-system/src/lib/themes/semantics/typography-modes/1440-lg.json
Due: prettier --write

fix(design-system/token): align heading fontWeight to V5 decisions
  projects/design-system/src/lib/themes/semantics/typography-styles.json
Due: prettier --write

feat(sds): improve CSP
  projects/sds/scripts/post-build.ts
  projects/sds/scripts/scriptLoaderTemplate.html
Due: eslint --fix --cache, prettier --write

feat(sds): improve CSP
  projects/sds/scripts/post-build.ts
Due: eslint --fix --cache, prettier --write

feat(sds): adapt dockerfile
  projects/sds/Dockerfile_SDS
  projects/sds/src/nginx/conf/includes/custom_headers.conf
  projects/sds/src/nginx/conf/includes/security_headers.conf
Due: none

feat(cli/toolchain): add `angular-oauth2-oidc`
  projects/cli/src/utils/cli-utils.ts
Due: eslint --fix --cache, prettier --write

fix(sandbox/language): add missing i18n error key for the datepicker
  projects/sandbox/src/assets/i18n/fr.json
Due: prettier --write

feat(cli/toolchain): update `@commander-js/extra-typings` to V13.1
  package-lock.json
  projects/cli/package.json
  projects/cli/src/utils/ob-configure-command.spec.ts
  projects/cli/src/utils/ob-configure-command.ts
Due: eslint --fix --cache, prettier --write

feat(toolchain): ignore vscode config
  .gitignore
Due: none

fix(oblique/material): ensure that mat-error and mat-hint appears on a single line
  projects/oblique/src/styles/scss/material/_mat-form-field.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/paginator): add a reminder that aria-label is mandatory
  projects/sds/src/app/code-examples/code-examples/paginator/previews/common-options/paginator-example-common-options-preview.component.html
  projects/sds/src/app/code-examples/code-examples/paginator/previews/common-options/paginator-example-common-options-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/paginator/previews/other-options/paginator-example-other-options-preview.component.html
  projects/sds/src/app/code-examples/code-examples/paginator/previews/other-options/paginator-example-other-options-preview.component.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/paginator): add an `aria-label` attribute to the paginator
  projects/sandbox/src/app/material/table/table.component.html
Due: eslint --fix --cache, prettier --write

feat(sds/paginator): add an `aria-label` attribute to each paginator
  projects/sds/src/app/code-examples/code-examples/paginator/paginator-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/paginator/previews/common-options/paginator-example-common-options-preview.component.html
  projects/sds/src/app/code-examples/code-examples/paginator/previews/other-options/paginator-example-other-options-preview.component.html
Due: eslint --fix --cache, prettier --write

feat(toolchain): deactivate CF deployments and gitPush for Jenkins
  Jenkinsfile
Due: none

chore(toolchain): update dependencies and refactor accordingly
  eslint.config.mjs
  package-lock.json
  package.json
  projects/design-system/package.json
  projects/oblique/package.json
  projects/sandbox-ssr/package.json
  projects/service-navigation-web-component/package.json
Due: eslint --fix --cache, prettier --write

chore(toolchain): release version 13.2.0
  package-lock.json
  package.json
  projects/cli/CHANGELOG.md
  projects/cli/package.json
  projects/cli/sonar-project.properties
  projects/cli/src/new/ob-new.model.ts
  projects/design-system/package.json
  projects/design-system/sonar-project.properties
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/sonar-project.properties
  projects/oblique/src/lib/version.ts
  projects/sandbox-ssr/package.json
  projects/sandbox-ssr/sonar-project.properties
  projects/sandbox/CHANGELOG.md
  projects/sandbox/package.json
  projects/sandbox/sonar-project.properties
  projects/sds/CHANGELOG.md
  projects/sds/package.json
  projects/sds/sonar-project.properties
  projects/sds/src/obliqueVersion.ts
  projects/service-navigation-web-component/CHANGELOG.md
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/sonar-project.properties
  projects/service-navigation-web-component/src/app/version.ts
Due: eslint --fix --cache, prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{ts,js,mjs,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,mjs,html,json,yml,md,css,scss}
