Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

.lintstagedrc.yml:

"*.{ts,js,mjs,html}": eslint --fix --cache
"*.{css,scss}": stylelint --fix --cache --allow-empty-input
"*.{ts,js,mjs,html,json,yml,md,css,scss}": prettier --write

refactor(design-system): fix token references in grouped typography tokens
  projects/design-system/src/lib/themes/semantic/typography/grouped/lg.json
  projects/design-system/src/lib/themes/semantic/typography/grouped/md.json
  projects/design-system/src/lib/themes/semantic/typography/grouped/sm.json
  projects/design-system/src/lib/themes/semantic/typography/grouped/static.json
Due: prettier --write

refactor(design-system): assigned subtokens to button fg_label for maintenance performance
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/html/button_aug/06_composite.json
Due: prettier --write

docs(design-system): add semantic typography tokens documentation
  projects/design-system/documentation/03-design-tokens/semantic-typography-tokens.md
Due: prettier --write

feat(design-system): add semantic text alignment tokens for button components
  projects/design-system/documentation/02-foundation/06-density-size-concept.md
  projects/design-system/documentation/04-components/button/button-overview.md
  projects/design-system/src/lib/themes/html/button_aug/02_typography.json
  projects/design-system/src/lib/themes/semantic/typography/single/static.json
Due: prettier --write

fix(design-system): broken spacing references in typography
  projects/design-system/src/lib/themes/semantic/typography/single/lg.json
  projects/design-system/src/lib/themes/semantic/typography/single/md.json
  projects/design-system/src/lib/themes/semantic/typography/single/sm.json
  projects/design-system/src/lib/themes/semantic/typography/single/static.json
Due: prettier --write

fix(design-system): broken paragraph spacing references in typography
  projects/design-system/src/lib/themes/semantic/typography/single/lg.json
  projects/design-system/src/lib/themes/semantic/typography/single/md.json
  projects/design-system/src/lib/themes/semantic/typography/single/sm.json
  projects/design-system/src/lib/themes/semantic/typography/single/static.json
Due: prettier --write

fix(design-system): remove dynamic font_family tokens and fix button references
  projects/design-system/_temp_doc/06-density-concept.docx
  projects/design-system/_temp_doc/07-size-concept.docx
  projects/design-system/_temp_doc/component-size-categorization-matrix.docx
  projects/design-system/_temp_doc/density-dimension-analysis.docx
  projects/design-system/_temp_doc/design-system-concept-validation-framework.docx
  projects/design-system/_temp_doc/global-sizing-concept-proposal.docx
  projects/design-system/_temp_doc/global-sizing-concept-research-questions.docx
  projects/design-system/_temp_doc/nested-sizes-concept-validation-report.docx
  projects/design-system/_temp_doc/universal-component-sizes-collection.docx
  projects/design-system/_temp_doc/worst-case-nesting-scenarios.docx
  projects/design-system/documentation/02-foundation/06-density-concept.md
  projects/design-system/documentation/02-foundation/06-density-size-concept.md
  projects/design-system/documentation/02-foundation/07-size-concept.md
  projects/design-system/documentation/03-design-tokens/theming.md
  projects/design-system/scripts-custom/collect-valid-tokens.js
  projects/design-system/src/lib/themes/html/button_aug/02_typography.json
  projects/design-system/src/lib/themes/html/button_aug/06_composite.json
  projects/design-system/src/lib/themes/semantic/typography/grouped/lg.json
  projects/design-system/src/lib/themes/semantic/typography/grouped/md.json
  projects/design-system/src/lib/themes/semantic/typography/grouped/sm.json
  projects/design-system/src/lib/themes/semantic/typography/single/lg.json
  projects/design-system/src/lib/themes/semantic/typography/single/md.json
  projects/design-system/src/lib/themes/semantic/typography/single/sm.json
  projects/design-system/src/lib/themes/semantic/typography/single/static.json
Due: eslint --fix --cache, prettier --write

fix(design-system): button composite references component typography tokens
  projects/design-system/src/lib/themes/html/button_aug/06_composite.json
Due: prettier --write

Revert "fix(design-system): button composite references component typography tokens"
  projects/design-system/src/lib/themes/html/button_aug/06_composite.json
Due: prettier --write

fix(design-system): clean up button tokens, delete redundant.
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/html/button_aug/03_layout.json
  projects/design-system/src/lib/themes/html/button_aug/04_viewport/desktop.json
  projects/design-system/src/lib/themes/html/button_aug/04_viewport/mobile.json
  projects/design-system/src/lib/themes/html/button_aug/06_composite.json
Due: prettier --write

fix(design-system): remove corners tokens and update border_width references
  projects/design-system/src/lib/themes/primitive/dimension-merged.json
  projects/design-system/src/lib/themes/primitive/dimension-units.json
  projects/design-system/src/lib/themes/primitive/sizing.json
  projects/design-system/src/lib/themes/semantic/border.json
Due: prettier --write

fix(design-system): fix sementic border for focus_ring
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/semantic/border.json
Due: prettier --write

refactored(design-system): refactor border tokens, delete primitives, ramap, so button can consume clean borders.
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/html/button_aug/03_layout.json
  projects/design-system/src/lib/themes/primitive/border.json
  projects/design-system/src/lib/themes/primitive/dimension.json
  projects/design-system/src/lib/themes/semantic/border.json
Due: prettier --write

fix(design-system): clean up button tokens
  projects/design-system/src/lib/themes/html/button_aug/04_viewport/mobile.json
  projects/design-system/src/lib/themes/html/button_aug/05_flex-direction/column.json
  projects/design-system/src/lib/themes/html/button_aug/05_flex-direction/row.json
Due: prettier --write

fix(design-system): button cleanup, delete depr button, renamed temp _aug to button, delete unused direction tokens.
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/html/button/01_color.json
  projects/design-system/src/lib/themes/html/button/02_typography.json
  projects/design-system/src/lib/themes/html/button/03_layout.json
  projects/design-system/src/lib/themes/html/button/04_viewport/desktop.json
  projects/design-system/src/lib/themes/html/button/04_viewport/mobile.json
  projects/design-system/src/lib/themes/html/button/05_flex-direction/column.json
  projects/design-system/src/lib/themes/html/button/05_flex-direction/row.json
  projects/design-system/src/lib/themes/html/button/06_composite.json
  projects/design-system/src/lib/themes/html/button/color-static.json
  projects/design-system/src/lib/themes/html/button/composite.json
  projects/design-system/src/lib/themes/html/button/container.json
  projects/design-system/src/lib/themes/html/button/responsive/desktop.json
  projects/design-system/src/lib/themes/html/button/responsive/mobile.json
  projects/design-system/src/lib/themes/html/button/static.json
  projects/design-system/src/lib/themes/html/button_aug/06_composite.json
Due: prettier --write

refactor (design-system): refactor button $themes tokens studio
  projects/design-system/src/lib/themes/$themes.json
Due: prettier --write

fix(design-system): button colors mapping update
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/html/button/01_color.json
Due: prettier --write

fix(design-system): update tag tokens to use dynamic dimensions OUI-3966
  projects/design-system/src/lib/themes/component/molecule/tag.json
Due: prettier --write

fix(design-system): fix tag, button stack and infobox tokens
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/_ignore-in-ds/figma-doc/typography.json
  projects/design-system/src/lib/themes/component/molecule/infobox/static.json
  projects/design-system/src/lib/themes/component/molecule/tag.json
  projects/design-system/src/lib/themes/component/molecule/tag/tag.json
  projects/design-system/src/lib/themes/component/molecule/tag/typography.json
  projects/design-system/src/lib/themes/primitive/typography.json
  projects/design-system/src/lib/themes/semantic/color/s1-lightness/light.json
  projects/design-system/src/lib/themes/semantic/typography/single/lg.json
  projects/design-system/src/lib/themes/semantic/typography/single/md.json
  projects/design-system/src/lib/themes/semantic/typography/single/sm.json
  projects/design-system/src/lib/themes/semantic/typography/single/static.json
Due: prettier --write

fix(sandbox): fix navigation with search
  projects/sandbox/jest.config.js
  projects/sandbox/src/app/app.component.ts
Due: eslint --fix --cache, prettier --write

fix(oblique): add missing component styles
  projects/stylesBuilder/oblique-components.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/schematics): add rule to remove `ObIconModule.forRoot()`
  projects/oblique/schematics/index/ng-update/update-v13-to-v14.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/schematics): remove quotes and brackets for column layout migration
  projects/oblique/schematics/index/ng-update/update-v13-to-v14.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/schematics): change import of `MatPaginatorModule` to `@angular/material/paginator`
  projects/oblique/schematics/index/ng-update/update-v13-to-v14.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/schematics): add rule to migrate `scrollTarget.scrollTo({top: 0})` to `scrollTop()`
  projects/oblique/schematics/index/ng-update/update-v13-to-v14.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/schematics): correctly migrate accessibility statement contact info
  projects/oblique/schematics/index/ng-update/update-v13-to-v14.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/authentication): remove `getAllResourceAccessRoles` and `getIdentityClaims` functions
  projects/oblique/package.json
  projects/oblique/schematics/index/ng-add/index.ts
  projects/oblique/schematics/index/ng-add/ng-add-utils.ts
  projects/oblique/src/lib/authentication/authentication.service.spec.ts
  projects/oblique/src/lib/authentication/authentication.service.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox): remove deprecated `ObHttpApiInterceptorModule`
  projects/sandbox/src/app/app.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique): remove unused `jwt-decode` dependency
  DEPENDENCIES.md
  package-lock.json
  package.json
Due: prettier --write

feat(oblique/http-interceptor): remove deprecated `ObHttpApiInterceptorModule`
  projects/oblique/schematics/index/ng-update/update-v13-to-v14.ts
  projects/oblique/src/lib/http-api-interceptor/_mocks/mock-http-api-interceptor.module.ts
  projects/oblique/src/lib/http-api-interceptor/index.ts
  projects/oblique/src/lib/oblique.module.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, prettier --write

fix(design-system): update badge tokens to use minimal dynamic dimensions
  projects/design-system/src/lib/themes/component/atom/badge.json
Due: prettier --write

fix: correct badge component token paths to use valid dimension tokens
  projects/design-system/src/lib/themes/component/atom/badge.json
Due: prettier --write

fix(design-system): correct badge sizing tokens
  projects/design-system/src/lib/themes/component/atom/badge.json
Due: prettier --write

fix(design-system): correct badge border radius and typography tokens
  projects/design-system/src/lib/themes/component/atom/badge.json
Due: prettier --write

fix(design-system): correct badge typography token path
  projects/design-system/src/lib/themes/component/atom/badge.json
Due: prettier --write

fix(design-system): start infobox token modernization
  projects/design-system/src/lib/themes/component/molecule/infobox/responsive/desktop.json
  projects/design-system/src/lib/themes/component/molecule/infobox/static.json
Due: prettier --write

fix(design-system): fix broken infobox token references
  projects/design-system/src/lib/themes/component/molecule/infobox/responsive/desktop.json
  projects/design-system/src/lib/themes/component/molecule/infobox/responsive/mobile.json
Due: prettier --write

fix(design-system): fix broken typography scale references
  projects/design-system/src/lib/themes/component/atom/tooltip.json
  projects/design-system/src/lib/themes/component/molecule/pill.json
  projects/design-system/src/lib/themes/component/molecule/popover.json
Due: prettier --write

fix(design-system): fix broken typography scale reference in infobox
  projects/design-system/src/lib/themes/component/molecule/infobox/static.json
Due: prettier --write

fix(design-system): fix missing static segments in typography tokens
  projects/design-system/src/lib/themes/semantic/typography/style.json
Due: prettier --write
