Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

.lintstagedrc.yml:

"*.{ts,js,mjs,html}": eslint --fix --cache
"*.{css,scss}": stylelint --fix --cache --allow-empty-input
"*.{ts,js,mjs,html,json,yml,md,css,scss}": prettier --write

fix(design-system): fix broken spacing and border radius token references in tooltip
  projects/design-system/src/lib/themes/component/atom/tooltip.json
Due: prettier --write

build(release): release version 14.0.0-rc.3
  Jenkinsfile
  package-lock.json
  package.json
  projects/cli/package.json
  projects/cli/src/utils/cli-utils.ts
  projects/design-system/package.json
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/src/lib/version.ts
  projects/sandbox-ssr/package.json
  projects/sandbox/CHANGELOG.md
  projects/sandbox/package.json
  projects/sds/package.json
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/src/app/version.ts
  projects/toolchain/package.json
  projects/toolchain/src/schematics/version.ts
Due: eslint --fix --cache, prettier --write

fix(design-system): restructure dimension tokens and upgrade component references
  projects/design-system/documentation/04-components/button/reports/_archive/20250906_1416-button-mcp-figma-report.md
  projects/design-system/documentation/04-components/button/reports/_archive/20250917_1147-button-complete-validation-report.md
  projects/design-system/src/lib/themes/component/atom/badge.json
  projects/design-system/src/lib/themes/component/atom/icon_holder/size.json
  projects/design-system/src/lib/themes/component/atom/tooltip.json
  projects/design-system/src/lib/themes/component/molecule/infobox/responsive/desktop.json
  projects/design-system/src/lib/themes/component/molecule/infobox/responsive/mobile.json
  projects/design-system/src/lib/themes/component/molecule/infobox/static.json
  projects/design-system/src/lib/themes/component/molecule/pill.json
  projects/design-system/src/lib/themes/component/molecule/tag/tag.json
  projects/design-system/src/lib/themes/primitive/dimension.json
  projects/design-system/src/lib/themes/semantic/dimension/md.json
  projects/design-system/src/lib/themes/semantic/dimension/static.json
Due: prettier --write

fix(design-system): fix broken spinner token references
  projects/design-system/src/lib/themes/component/atom/spinner.json
Due: prettier --write

ci(jenkins): remove publish instructions for version 14.0.0-rc.3
  Jenkinsfile
Due: none

fix(design-system): fix broken popover token references
  projects/design-system/src/lib/themes/component/molecule/popover.json
Due: prettier --write

fix(design-system): fix popover layout token reference
  projects/design-system/src/lib/themes/component/molecule/popover.json
Due: prettier --write

fix(design-system): enable semantic/typography/grouped/static.json in semantic/semantic team
  projects/design-system/src/lib/themes/$themes.json
Due: prettier --write

fix(design-system): fix HTML link text decoration token references
  projects/design-system/src/lib/themes/html/link.json
Due: prettier --write

fix(design-system): fix HTML link spacing token reference
  projects/design-system/src/lib/themes/html/link.json
Due: prettier --write

fix(design-system): fix h6 font dimension token reference
  projects/design-system/src/lib/themes/semantic/dimension/static.json
Due: prettier --write

migrate spacing tokens to dimension tokens with static/dynamic guidelines
  projects/design-system/check_tooltip_token.js
  projects/design-system/migrate-spacing-to-dimension.js
  projects/design-system/src/lib/themes/semantic/shadow.json
  projects/design-system/src/lib/themes/semantic/sizing.json
  projects/design-system/src/lib/themes/semantic/spacing.json
  projects/design-system/src/lib/themes/semantic/typography/single/lg.json
  projects/design-system/src/lib/themes/semantic/typography/single/md.json
  projects/design-system/src/lib/themes/semantic/typography/single/sm.json
  projects/design-system/src/lib/themes/semantic/typography/single/static.json
  projects/design-system/validate_sub_tokens.js
Due: eslint --fix --cache, prettier --write

standardize fontSize to font_size naming. Updated 39 token references
  projects/design-system/scripts-custom/migrate-fontsize-to-font-size.js
  projects/design-system/src/lib/themes/component/molecule/tag/typography.json
  projects/design-system/src/lib/themes/html/button/02_typography.json
  projects/design-system/src/lib/themes/primitive/typography.json
  projects/design-system/src/lib/themes/semantic/typography/single/lg.json
  projects/design-system/src/lib/themes/semantic/typography/single/md.json
  projects/design-system/src/lib/themes/semantic/typography/single/sm.json
  projects/design-system/src/lib/themes/semantic/typography/single/static.json
Due: eslint --fix --cache, prettier --write

add tooling restriction tags and rename folder. Added [FIGMA-ONLY]/[NO-FIGMA] tags to 63 tokens, renamed _ignore-in-ds to _FIGMA-ONLY, updated $themes/$metadata references
  projects/design-system/documentation/03-design-tokens/token-descrption.md
  projects/design-system/scripts-custom/check-broken-token-chains.js
  projects/design-system/scripts-custom/migrate-fontsize-to-font-size.js
  projects/design-system/scripts-custom/scan-tooling-restrictions.js
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/_FIGMA-ONLY/figma-doc/colors-static.json
  projects/design-system/src/lib/themes/_FIGMA-ONLY/figma-doc/theme/lightness/dark.json
  projects/design-system/src/lib/themes/_FIGMA-ONLY/figma-doc/theme/lightness/light.json
  projects/design-system/src/lib/themes/_FIGMA-ONLY/figma-doc/typography.json
  projects/design-system/src/lib/themes/_FIGMA-ONLY/typography-styles-R13.json
  projects/design-system/src/lib/themes/_ignore-in-ds/figma-doc/colors-static.json
  projects/design-system/src/lib/themes/_ignore-in-ds/figma-doc/theme/lightness/dark.json
  projects/design-system/src/lib/themes/_ignore-in-ds/figma-doc/theme/lightness/light.json
Due: eslint --fix --cache, prettier --write

migrate typography scale to grouped naming. Renamed 4 token keys and updated 9 references across component files
  projects/design-system/scripts-custom/migrate-scale-to-grouped.js
  projects/design-system/src/lib/themes/component/atom/badge.json
  projects/design-system/src/lib/themes/component/atom/tooltip.json
  projects/design-system/src/lib/themes/component/molecule/infobox/static.json
  projects/design-system/src/lib/themes/component/molecule/pill.json
  projects/design-system/src/lib/themes/component/molecule/popover.json
  projects/design-system/src/lib/themes/semantic/typography/grouped/lg.json
  projects/design-system/src/lib/themes/semantic/typography/grouped/md.json
  projects/design-system/src/lib/themes/semantic/typography/grouped/sm.json
  projects/design-system/src/lib/themes/semantic/typography/grouped/static.json
Due: eslint --fix --cache, prettier --write

fix JSON syntax errors in _FIGMA-ONLY files. Removed literal \n characters breaking JSON parsing
  projects/design-system/src/lib/themes/_FIGMA-ONLY/figma-doc/colors-static.json
  projects/design-system/src/lib/themes/_FIGMA-ONLY/figma-doc/theme/lightness/dark.json
  projects/design-system/src/lib/themes/_FIGMA-ONLY/figma-doc/theme/lightness/light.json
  projects/design-system/src/lib/themes/_FIGMA-ONLY/figma-doc/typography.json
  projects/design-system/src/lib/themes/_FIGMA-ONLY/typography-styles-R13.json
Due: prettier --write

retag R13 typography tokens as [OB-LEGACY]. Updated 49 tokens from [FIGMA-ONLY] to correctly categorize content for developers working on ongoing releases
  projects/design-system/src/lib/themes/_FIGMA-ONLY/figma-doc/typography.json
  projects/design-system/src/lib/themes/_FIGMA-ONLY/typography-styles-R13.json
Due: prettier --write

refactor(design-system): reorder and rename no-ds folders
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/NO-DS/FIGMA-ONLY/colors-static.json
  projects/design-system/src/lib/themes/NO-DS/FIGMA-ONLY/theme/lightness/dark.json
  projects/design-system/src/lib/themes/NO-DS/FIGMA-ONLY/theme/lightness/light.json
  projects/design-system/src/lib/themes/NO-DS/FIGMA-ONLY/typography.json
  projects/design-system/src/lib/themes/NO-DS/OB-LEGACY/typography-styles-R13.json
Due: prettier --write

docs(design-system): add developer token usage guide for folder and tag organization
  projects/design-system/documentation/07-workflow/developer-token-usage-guide.md
Due: prettier --write

refactor(design-system): remove 24 empty placeholder files from token system
  projects/design-system/documentation/03-design-tokens/token-description.md
  projects/design-system/scripts-custom/analyze-unused-tokens.js
  projects/design-system/scripts-custom/create-cleanup-plan.js
  projects/design-system/scripts-custom/enhanced-token-tagging.js
  projects/design-system/scripts-custom/folder-reorganization-analysis.js
  projects/design-system/scripts-custom/locate-broken-references.js
  projects/design-system/scripts-custom/refined-token-analysis.js
  projects/design-system/src/lib/themes/NO-DS/OB-LEGACY/typography-styles-R14.json
  projects/design-system/src/lib/themes/component/atom/icon_holder/lg.json
  projects/design-system/src/lib/themes/component/atom/icon_holder/md.json
  projects/design-system/src/lib/themes/component/molecules/breadcrumb.json
  projects/design-system/src/lib/themes/component/molecules/card.json
  projects/design-system/src/lib/themes/component/molecules/column-layout.json
  projects/design-system/src/lib/themes/component/molecules/datepicker.json
  projects/design-system/src/lib/themes/component/molecules/dialog.json
  projects/design-system/src/lib/themes/component/molecules/expansion-panel.json
  projects/design-system/src/lib/themes/component/molecules/file-upload.json
  projects/design-system/src/lib/themes/component/molecules/list-group.json
  projects/design-system/src/lib/themes/component/molecules/nav-tree.json
  projects/design-system/src/lib/themes/component/molecules/paginator.json
  projects/design-system/src/lib/themes/component/molecules/progress-bar.json
  projects/design-system/src/lib/themes/component/molecules/slider.json
  projects/design-system/src/lib/themes/component/molecules/stepper.json
  projects/design-system/src/lib/themes/component/molecules/tab.json
  projects/design-system/src/lib/themes/global/multipliers/dimension/lg.json
  projects/design-system/src/lib/themes/global/multipliers/dimension/md.json
  projects/design-system/src/lib/themes/global/multipliers/dimension/sm.json
  projects/design-system/src/lib/themes/global/multipliers/typography/2xl.json
  projects/design-system/src/lib/themes/global/multipliers/typography/xl.json
  projects/design-system/src/lib/themes/global/multipliers/typography/xs.json
  projects/design-system/src/lib/themes/semantic/spacing/desktop.json
  projects/design-system/src/lib/themes/semantic/spacing/mobile.json
Due: eslint --fix --cache, prettier --write

refactor(design-system): remove $description tokens
  projects/design-system/scripts-custom/remove-auto-descriptions.js
  projects/design-system/scripts-custom/remove-copilot-descriptions.js
  projects/design-system/src/lib/themes/html/button/04_layout.json
  projects/design-system/src/lib/themes/html/button/06_flex-direction/column.json
  projects/design-system/src/lib/themes/html/button/06_flex-direction/row.json
Due: eslint --fix --cache, prettier --write

fix(design-system): remove conflicting dimension.json file that appeared as selectable in Token Studio
  projects/design-system/src/lib/themes/semantic/dimension.json
  projects/design-system/src/lib/themes/semantic/dimension/static.json
Due: prettier --write

fix(design-system): remove duplicate empty folders
  projects/design-system/src/lib/themes/html/button/color-static.json.backup
Due: none

cleanup: remove temp documentation files
  projects/design-system/_temp_doc/06-density-concept.docx
  projects/design-system/_temp_doc/07-size-concept.docx
  projects/design-system/_temp_doc/component-size-categorization-matrix.docx
  projects/design-system/_temp_doc/density-dimension-analysis.docx
  projects/design-system/_temp_doc/design-system-concept-validation-framework.docx
  projects/design-system/_temp_doc/global-sizing-concept-proposal.docx
  projects/design-system/_temp_doc/global-sizing-concept-research-questions.docx
  projects/design-system/_temp_doc/modes-architecture-roadmap-dark.html
  projects/design-system/_temp_doc/modes-architecture-roadmap-dark.pdf
  projects/design-system/_temp_doc/modes-architecture-roadmap.html
  projects/design-system/_temp_doc/modes-architecture-roadmap.pdf
  projects/design-system/_temp_doc/nested-sizes-concept-validation-report.docx
  projects/design-system/_temp_doc/universal-component-sizes-collection.docx
  projects/design-system/_temp_doc/worst-case-nesting-scenarios.docx
Due: eslint --fix --cache, prettier --write

docs(design-system): standardize NO-FIGMA-SUPPORT tag across all token descriptions
  projects/design-system/documentation/07-workflow/developer-token-usage-guide.md
  projects/design-system/src/lib/themes/02_primitive/typography.json
  projects/design-system/src/lib/themes/05_html/button/02_typography.json
  projects/design-system/src/lib/themes/05_html/button/06_flex-direction/column.json
  projects/design-system/src/lib/themes/05_html/button/06_flex-direction/row.json
Due: prettier --write

refactor (design-system): fix button font size reference. delete unused multipliers.
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/01_global/multipliers/spacing/lg.json
  projects/design-system/src/lib/themes/01_global/multipliers/spacing/md.json
  projects/design-system/src/lib/themes/01_global/multipliers/spacing/sm.json
  projects/design-system/src/lib/themes/01_global/multipliers/typography-mobile.json
  projects/design-system/src/lib/themes/01_global/multipliers/typography/lg.json
  projects/design-system/src/lib/themes/01_global/multipliers/typography/md.json
  projects/design-system/src/lib/themes/01_global/multipliers/typography/sm.json
  projects/design-system/src/lib/themes/05_html/button/02_typography.json
Due: prettier --write

refactor (design-system): delete one more unused multiplier.
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/01_global/multiplier.json
Due: prettier --write

feat(sds/styles): add styling for `mat-divider` inside a `mat-select`
  projects/sds/src/styles/scss/core/_select.scss
  projects/sds/src/styles/styles.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(sds/icon): add type information to iconMetadata
  projects/sds/src/app/code-examples/code-examples/icons/previews/icons-gallery/icons.model.ts
  projects/sds/src/app/code-examples/code-examples/icons/previews/icons-gallery/icons.ts
Due: eslint --fix --cache, prettier --write

fix(sds/icon): fix data in iconMetadata
  projects/sds/src/app/code-examples/code-examples/icons/previews/icons-gallery/icons.ts
Due: eslint --fix --cache, prettier --write

test(sds/icon): ensure that only gallery icons are counted
  projects/sds/src/app/code-examples/code-examples/icons/icons-code-examples.component.spec.ts
Due: eslint --fix --cache, prettier --write

feat(sds/icon): add dropdown filter to icon gallery
  projects/sds/src/app/code-examples/code-examples/icons/icons-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/icons/previews/icons-gallery/icons-example-icons-gallery-preview.component.html
  projects/sds/src/app/code-examples/code-examples/icons/previews/icons-gallery/icons-example-icons-gallery-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/icons/previews/icons-gallery/icons-example-icons-gallery-preview.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

refactor(sds/icon): add ObECategory type
  projects/sds/src/app/code-examples/code-examples/icons/previews/icons-gallery/categories.model.ts
Due: eslint --fix --cache, prettier --write

feat(design-system/token): icon_slot size, focus_ring for button
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/03_semantic/border.json
  projects/design-system/src/lib/themes/03_semantic/color/s1-lightness/dark.json
  projects/design-system/src/lib/themes/03_semantic/color/s1-lightness/light.json
  projects/design-system/src/lib/themes/04_component/atom/badge.json
  projects/design-system/src/lib/themes/04_component/atom/icon_slot/size.json
  projects/design-system/src/lib/themes/04_component/atom/icon_slot/static.json
  projects/design-system/src/lib/themes/04_component/atom/spinner.json
  projects/design-system/src/lib/themes/04_component/atom/tooltip.json
  projects/design-system/src/lib/themes/04_component/molecule/infobox/responsive/mobile.json
  projects/design-system/src/lib/themes/04_component/molecule/infobox/static.json
  projects/design-system/src/lib/themes/04_component/molecule/pill.json
  projects/design-system/src/lib/themes/04_component/molecule/popover.json
  projects/design-system/src/lib/themes/04_component/molecule/tag/tag.json
  projects/design-system/src/lib/themes/05_html/button/03_shadows.json
  projects/design-system/src/lib/themes/05_html/button/04_layout.json
  projects/design-system/src/lib/themes/05_html/button/07_reference_only.json
Due: prettier --write

refactor(design-system/token): increase contrast for ob.s2.color.interaction.state.fg.hover.inversity_normal and delete deprecated button focus tokens
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/03_semantic/color/s2-emphasis/high.json
  projects/design-system/src/lib/themes/05_html/button/01_color.json
  projects/design-system/src/lib/themes/05_html/button/07_reference_only.json
Due: prettier --write

refactor(design-system/token): refactor semantic typography scale for shifting compatibility
  projects/design-system/documentation/04-components/button/reports/20250906_1416-button-mcp-figma-report.md
  projects/design-system/documentation/04-components/button/reports/20250919_1406-button-complete-validation-report-corrected.md
  projects/design-system/documentation/04-components/button/reports/_archive/20250919_1355-button-complete-validation-report.md
  projects/design-system/documentation/07-workflow/maintainers/prompts/figma-mcp-tokenization-validation.md
  projects/design-system/src/lib/themes/03_semantic/typography/single/lg.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/md.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/sm.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/static.json
  projects/design-system/src/lib/themes/03_semantic/typography/style.json
Due: prettier --write

refactor(design-system/token): migrate typography context groups to theme modes
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/03_semantic/typography/context/compact.json
  projects/design-system/src/lib/themes/03_semantic/typography/context/prose.json
  projects/design-system/src/lib/themes/03_semantic/typography/style.json
Due: prettier --write
