Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/button): apply `disabled` button style to `disabledInteractive`
  projects/oblique/src/styles/scss/material/_mat-button.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sandbox/button): demo `disabledInteractive`
  projects/sandbox/src/app/samples/button/button.component.html
Due: eslint --fix --cache, prettier --write

refactor(oblique/utilities): ensure consistent property order in OB_TRANSLATION_CONFIGURATION
  projects/oblique/src/lib/utilities.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/button): show not-allowed cursor on disabled buttons
  projects/oblique/src/styles/scss/material/_mat-button.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(cli): display meaningful error when trying to execute unknown command
  projects/cli/src/index.spec.ts
  projects/cli/src/index.ts
  projects/cli/src/utils/cli-utils.spec.ts
  projects/cli/src/utils/cli-utils.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/utilities): ensure that the loader property is overridable
  projects/oblique/src/lib/utilities.spec.ts
  projects/oblique/src/lib/utilities.ts
Due: eslint --fix --cache, prettier --write

feat(sds/cms): add accessibility tab
  projects/sds/src/app/cms/models/tabbed-page.model.ts
  projects/sds/src/app/tabbed-page/tabbed-page.component.html
  projects/sds/src/app/tabbed-page/tabbed-page.component.ts
Due: eslint --fix --cache, prettier --write

feat(toolchain/linting): update ruleset to match latest eslint version
  projects/toolchain/src/linting/eslint-config-oblique.mjs
Due: eslint --fix --cache, prettier --write

test(oblique/service-navigation): ensure that tests run properly
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.spec.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/service-navigation): timeout service do not regularly trigger change detection anymore
  projects/oblique/src/lib/service-navigation/timeout/service-navigation-timeout.service.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/service-navigation): more consistent locators
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.harness.ts
Due: eslint --fix --cache, prettier --write

refactor(service-navigation): apply new linting rules
  projects/service-navigation-web-component/eslint.project-config.mjs
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.ts
Due: eslint --fix --cache, prettier --write

build(toolchain/scripts): add a script to validate the linting configuration
  projects/toolchain/scripts/check-lint-rules.ts
  projects/toolchain/scripts/pre-build.ts
Due: eslint --fix --cache, prettier --write

feat(ob-tour/utils): create ob-tour library
  angular.json
  package-lock.json
  projects/ob-tour/.prettierignore
  projects/ob-tour/.stylelintignore
  projects/ob-tour/.stylelintrc.yml
  projects/ob-tour/CHANGELOG.md
  projects/ob-tour/CONTRIBUTING.md
  projects/ob-tour/README.md
  projects/ob-tour/eslint.project-config.mjs
  projects/ob-tour/jest.config.ci.js
  projects/ob-tour/jest.config.js
  projects/ob-tour/ng-package.json
  projects/ob-tour/package-lock.json
  projects/ob-tour/package.json
  projects/ob-tour/scripts/lint.ts
  projects/ob-tour/scripts/post-build.ts
  projects/ob-tour/scripts/pre-build.ts
  projects/ob-tour/scripts/publish.ts
  projects/ob-tour/scripts/release.ts
  projects/ob-tour/scripts/tarball.ts
  projects/ob-tour/src/lib/ob-tour.component.spec.ts
  projects/ob-tour/src/lib/ob-tour.component.ts
  projects/ob-tour/src/public-api.ts
  projects/ob-tour/tsconfig.lib.json
  projects/ob-tour/tsconfig.lib.prod.json
  projects/ob-tour/tsconfig.spec.json
Due: eslint --fix --cache, prettier --write

feat(ob-tour/utils): make tour configurable
  projects/ob-tour/package.json
  projects/ob-tour/src/lib/models/tour-config.model.ts
  projects/ob-tour/src/lib/models/tour-step.model.ts
  projects/ob-tour/src/lib/services/tour.service.spec.ts
  projects/ob-tour/src/lib/services/tour.service.ts
  projects/ob-tour/src/public-api.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/ob-tour): add ob-tour sample
  projects/sandbox/CONTRIBUTING.md
  projects/sandbox/src/app/samples/ob-tour/ob-tour-sample.component.html
  projects/sandbox/src/app/samples/ob-tour/ob-tour-sample.component.scss
  projects/sandbox/src/app/samples/ob-tour/ob-tour-sample.component.ts
  projects/sandbox/src/app/samples/samples-routing.module.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(ob-tour/utils): add tour-overview
  angular.json
  package-lock.json
  projects/ob-tour/eslint.project-config.mjs
  projects/ob-tour/jest.config.js
  projects/ob-tour/ng-package.json
  projects/ob-tour/package-lock.json
  projects/ob-tour/package.json
  projects/ob-tour/src/assets/i18n/ob-tour-de.json
  projects/ob-tour/src/assets/i18n/ob-tour-en.json
  projects/ob-tour/src/assets/i18n/ob-tour-fr.json
  projects/ob-tour/src/assets/i18n/ob-tour-it.json
  projects/ob-tour/src/integration-tests/_harness/menu-list.harness.ts
  projects/ob-tour/src/integration-tests/_harness/tour-menu.harness.ts
  projects/ob-tour/src/integration-tests/menu-list.component.integration.spec.ts
  projects/ob-tour/src/integration-tests/tour-menu.component.integration.spec.ts
  projects/ob-tour/src/integration-tests/tour-popover.component.integration.spec.ts
  projects/ob-tour/src/lib/models/tour-config.model.ts
  projects/ob-tour/src/lib/ob-tour.component.spec.ts
  projects/ob-tour/src/lib/ob-tour.component.ts
  projects/ob-tour/src/lib/services/_mock/tour-mock.service.ts
  projects/ob-tour/src/lib/services/tour.service.spec.ts
  projects/ob-tour/src/lib/services/tour.service.ts
  projects/ob-tour/src/lib/tour-menu/menu-list/menu-list.component.html
  projects/ob-tour/src/lib/tour-menu/menu-list/menu-list.component.scss
  projects/ob-tour/src/lib/tour-menu/menu-list/menu-list.component.spec.ts
  projects/ob-tour/src/lib/tour-menu/menu-list/menu-list.component.ts
  projects/ob-tour/src/lib/tour-menu/tour-menu.component.html
  projects/ob-tour/src/lib/tour-menu/tour-menu.component.scss
  projects/ob-tour/src/lib/tour-menu/tour-menu.component.spec.ts
  projects/ob-tour/src/lib/tour-menu/tour-menu.component.ts
  projects/ob-tour/src/lib/tour-menu/tour-popover/tour-popover.component.html
  projects/ob-tour/src/lib/tour-menu/tour-popover/tour-popover.component.scss
  projects/ob-tour/src/lib/tour-menu/tour-popover/tour-popover.component.spec.ts
  projects/ob-tour/src/lib/tour-menu/tour-popover/tour-popover.component.ts
  projects/ob-tour/src/public-api.ts
  projects/ob-tour/tsconfig.lib.json
  projects/ob-tour/tsconfig.spec.json
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(sandbox/ob-tour): add tour control example
  projects/sandbox/src/app/samples/ob-tour/ob-tour-sample.component.html
  projects/sandbox/src/app/samples/ob-tour/ob-tour-sample.component.ts
  projects/sandbox/src/app/samples/samples.module.ts
  projects/sandbox/src/assets/i18n/de.json
  projects/sandbox/src/assets/i18n/en.json
  projects/sandbox/src/assets/i18n/fr.json
  projects/sandbox/src/assets/i18n/it.json
Due: eslint --fix --cache, prettier --write

feat(ob-tour/utils): add translation
  projects/ob-tour/src/lib/services/tour-translationion-factory.service.spec.ts
  projects/ob-tour/src/lib/services/tour-translationion-factory.service.ts
Due: eslint --fix --cache, prettier --write

feat: add axe-testing
  eslint.config.mjs
  package-lock.json
  package.json
  tests/setupJest.ts
Due: eslint --fix --cache, prettier --write

feat(ob-tour/utils): add axe-testing
  package-lock.json
  package.json
  projects/ob-tour/package.json
  projects/ob-tour/src/global-axe.d.ts
  projects/ob-tour/src/lib/tour-overlay/tour-overlay.component.spec.ts
  projects/ob-tour/tsconfig.spec.json
Due: eslint --fix --cache, prettier --write

fix(sandbox/ob-tour): add overview example
  projects/sandbox/src/app/app-navigation.ts
  projects/sandbox/src/app/app.module.ts
  projects/sandbox/src/app/samples/ob-tour/ob-tour-sample.component.html
  projects/sandbox/src/app/samples/ob-tour/ob-tour-sample.component.ts
  projects/sandbox/src/app/samples/samples.module.ts
  projects/sandbox/src/assets/i18n/de.json
  projects/sandbox/src/assets/i18n/en.json
  projects/sandbox/src/assets/i18n/fr.json
  projects/sandbox/src/assets/i18n/it.json
Due: eslint --fix --cache, prettier --write

fix (design-system/tokens): fix broken typography references
  projects/design-system/src/lib/themes/03_semantic/typography/single/lg.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/md.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/sm.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/static.json
Due: prettier --write

refactor {design-system/tokens): pill min-height: replace calc by a semantic dimension token
  projects/design-system/src/lib/themes/04_component/molecule/pill/pill.json
Due: prettier --write

refactor(oblique/service-navigation): use new angular controlflow in application flyout
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.html
Due: eslint --fix --cache, prettier --write

feat(oblique/service-navigation): add message when favorites applications are empty
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.html
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.spec.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/service-navigation): add message when last used applications are empty
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.html
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.spec.ts
Due: eslint --fix --cache, prettier --write

fix(documentation): update glossary and density concept documents for clarity and accuracy
  projects/design-system/documentation/01-introduction/glossary.md
  projects/design-system/documentation/02-foundation/06-density-concept.md
  projects/design-system/documentation/07-workflow/maintainers/density-dimension-analysis.md
  projects/design-system/documentation/07-workflow/modes-architecture-implementation-roadmap.md
Due: prettier --write

fix(documentation): clarify density control description in density concept document
  projects/design-system/documentation/02-foundation/06-density-concept.md
Due: prettier --write

fix(documentation): standardize mode terminology and clarify density concept distinctions
  projects/design-system/documentation/02-foundation/06-density-concept.md
Due: prettier --write

fix(documentation): add clarification on grid independence in density modes
  projects/design-system/documentation/02-foundation/06-density-concept.md
Due: prettier --write

fix(documentation): update links to product designer references for consistency
  projects/design-system/documentation/02-foundation/06-density-concept.md
Due: prettier --write

fix(documentation): update terminology for text components in density concept document
  projects/design-system/documentation/02-foundation/06-density-concept.md
Due: prettier --write

fix(documentation): clarify mobile density requirements and address touch target conflicts
  projects/design-system/documentation/02-foundation/06-density-concept.md
Due: prettier --write

fix(documentation): clarify density mode impact on organisms for better understanding
  projects/design-system/documentation/02-foundation/06-density-concept.md
Due: prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{ts,js,mjs,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,mjs,html,json,yml,md,css,scss}
