Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

.lintstagedrc.yml:

"*.{ts,js,mjs,html}": eslint --fix --cache
"*.{css,scss}": stylelint --fix --cache --allow-empty-input
"*.{ts,js,mjs,html,json,yml,md,css,scss}": prettier --write

fix(oblique/schematics): correct test configuration
  projects/oblique/schematics/index/ng-add/rules/tests.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/schematics): don't remove the production configuration
  projects/oblique/schematics/index/ng-add/rules/toolchain.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/schematics): use `browser-esbuild` angular builder to avoid style import errors
  projects/oblique/schematics/index/ng-add/rules/toolchain.ts
Due: eslint --fix --cache, prettier --write

fix(sandbox/master-layout): ensure that additional navigation items are focusable
  projects/sandbox/src/app/samples/master-layout/master-layout-sample.component.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/master-layout): remove elements not matching the new footer design
  projects/sandbox/src/app/app.component.html
Due: eslint --fix --cache, prettier --write

fix(oblique/master-layout): adapt footer with respect to the new design
  projects/oblique/src/lib/master-layout/master-layout-footer/master-layout-footer.component.html
  projects/oblique/src/lib/master-layout/master-layout-footer/master-layout-footer.component.scss
  projects/oblique/src/lib/master-layout/master-layout-footer/master-layout-footer.component.ts
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.html
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sandbox/master-layout): add version to new master layout footer design
  projects/sandbox/src/app/app.component.html
Due: eslint --fix --cache, prettier --write

fix(sds/autocomplete): remove 2 way binding
  projects/sds/src/app/code-examples/code-examples/autocomplete/previews/default/autocomplete-example-default.component.html
  projects/sds/src/app/code-examples/code-examples/autocomplete/previews/default/autocomplete-example-default.component.ts
  projects/sds/src/app/code-examples/code-examples/autocomplete/previews/icon-position-start/autocomplete-example-icon-position-start.component.html
  projects/sds/src/app/code-examples/code-examples/autocomplete/previews/icon-position-start/autocomplete-example-icon-position-start.component.ts
  projects/sds/src/app/code-examples/code-examples/autocomplete/previews/options-group/autocomplete-example-options-group.component.html
  projects/sds/src/app/code-examples/code-examples/autocomplete/previews/options-group/autocomplete-example-options-group.component.ts
Due: eslint --fix --cache, prettier --write

fix(sds/autocomplete): use json pipe to show the result of a selection
  projects/sds/src/app/code-examples/code-examples/autocomplete/previews/default/autocomplete-example-default.component.html
  projects/sds/src/app/code-examples/code-examples/autocomplete/previews/default/autocomplete-example-default.component.ts
  projects/sds/src/app/code-examples/code-examples/autocomplete/previews/icon-position-start/autocomplete-example-icon-position-start.component.html
  projects/sds/src/app/code-examples/code-examples/autocomplete/previews/icon-position-start/autocomplete-example-icon-position-start.component.ts
  projects/sds/src/app/code-examples/code-examples/autocomplete/previews/options-group/autocomplete-example-options-group.component.html
  projects/sds/src/app/code-examples/code-examples/autocomplete/previews/options-group/autocomplete-example-options-group.component.ts
Due: eslint --fix --cache, prettier --write

feat(service-navigation/web-component): replace Frutiger font with Noto Sans
  angular.json
  projects/service-navigation-web-component/src/assets/fonts/FrutigerNeueW02-Bd.woff2
  projects/service-navigation-web-component/src/assets/fonts/FrutigerNeueW02-It.woff2
  projects/service-navigation-web-component/src/assets/fonts/FrutigerNeueW02-Light.woff2
  projects/service-navigation-web-component/src/assets/fonts/FrutigerNeueW02-Regular.woff2
Due: prettier --write

fix(oblique/material): use `caption` typography for signature line in cards
  projects/oblique/src/styles/scss/material/_mat-card.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sandbox/styles): replace Roboto font with Noto Sans
  angular.json
Due: prettier --write

chore(toolchain): remove Roboto reference
  .stylelintrc.yml
Due: prettier --write

chore(toolchain): define woff2 files as binary
  .gitattributes
Due: none

feat(oblique/styles): replace Roboto and Frutiger fonts with Noto Sans
  projects/oblique/schematics/index/ng-add/rules/oblique.ts
  projects/oblique/schematics/index/ng-update/update-v12-to-v13.ts
  projects/oblique/src/styles/css/frutiger.css
  projects/oblique/src/styles/css/roboto.css
  projects/oblique/src/styles/fonts/noto-sans-latin-italic.woff2
  projects/oblique/src/styles/fonts/noto-sans-latin-regular.woff2
  projects/oblique/src/styles/fonts/roboto-v20-latin-100.woff2
  projects/oblique/src/styles/fonts/roboto-v20-latin-100italic.woff2
  projects/oblique/src/styles/fonts/roboto-v20-latin-300.woff2
  projects/oblique/src/styles/fonts/roboto-v20-latin-300italic.woff2
  projects/oblique/src/styles/fonts/roboto-v20-latin-500.woff2
  projects/oblique/src/styles/fonts/roboto-v20-latin-500italic.woff2
  projects/oblique/src/styles/fonts/roboto-v20-latin-700.woff2
  projects/oblique/src/styles/fonts/roboto-v20-latin-700italic.woff2
  projects/oblique/src/styles/fonts/roboto-v20-latin-900.woff2
  projects/oblique/src/styles/fonts/roboto-v20-latin-900italic.woff2
  projects/oblique/src/styles/fonts/roboto-v20-latin-italic.woff2
  projects/oblique/src/styles/fonts/roboto-v20-latin-regular.woff2
  projects/oblique/src/styles/scss/core/_variables.scss
  projects/oblique/src/styles/scss/core/mixins/_typography.scss
  projects/oblique/src/styles/scss/oblique-core.scss
  projects/oblique/src/styles/scss/oblique-font.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/toolchain): make sure the distributed artifact has correct links to the font files
  projects/oblique/scripts/post-build.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/schematics): increase initial budget to 1.7mb for ng-add
  projects/oblique/schematics/index/ng-add/rules/oblique.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox): add an example of a disabled nav tree item
  projects/sandbox/src/app/samples/nav-tree/nav-tree-sample.component.html
  projects/sandbox/src/app/samples/nav-tree/nav-tree-sample.component.scss
  projects/sandbox/src/app/samples/nav-tree/nav-tree-sample.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/nav-tree): add an example of a disabled nav tree item
  projects/sds/src/app/code-examples/code-examples/nav-tree/nav-tree-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/nav-tree/nav-tree-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/nav-tree/previews/disabled/nav-tree-example-disabled-preview.component.html
  projects/sds/src/app/code-examples/code-examples/nav-tree/previews/disabled/nav-tree-example-disabled-preview.component.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/nav-tree): make disabled links non reactive
  projects/oblique/src/lib/nav-tree/nav-tree.component.html
Due: eslint --fix --cache, prettier --write

feat(oblique/utilities): add accessibility config in `provideObliqueConfiguration`
  projects/oblique/src/lib/utilities.model.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox): add accessibility statement info
  projects/sandbox/src/app/app.module.ts
  projects/sandbox/src/assets/i18n/de.json
  projects/sandbox/src/assets/i18n/en.json
  projects/sandbox/src/assets/i18n/fr.json
  projects/sandbox/src/assets/i18n/it.json
Due: eslint --fix --cache, prettier --write

test(oblique/paginator): import `provideTranslateService` instead of `provideObliqueConfiguration`
  projects/oblique/src/lib/paginator/ob-paginator.service.spec.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/utilities): make accessibility config mandatory for `provideObliqueConfiguration`
  projects/oblique/schematics/index/ng-add/rules/obliqueFeatures.ts
  projects/oblique/schematics/index/ng-update/update-v12-to-v13.ts
  projects/oblique/src/lib/utilities.spec.ts
  projects/oblique/src/lib/utilities.ts
Due: eslint --fix --cache, prettier --write

refactor(service-navigation): explicitly provide Oblique & Material tokens
  projects/service-navigation-web-component/src/main.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/master-layout): add accessibility statement route
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/master-layout/master-layout-footer/master-layout-footer.component.html
  projects/oblique/src/lib/master-layout/master-layout.service.spec.ts
  projects/oblique/src/lib/master-layout/master-layout.service.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/accessibility-statement): add accessibility statement component
  projects/oblique/CONTRIBUTING.md
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/accessibility-statement/accessibility-statement.component.html
  projects/oblique/src/lib/accessibility-statement/accessibility-statement.component.scss
  projects/oblique/src/lib/accessibility-statement/accessibility-statement.component.spec.ts
  projects/oblique/src/lib/accessibility-statement/accessibility-statement.component.ts
  projects/oblique/src/lib/accessibility-statement/accessibility-statement.module.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

refactor(sds): explicitly provide Oblique & Material tokens
  projects/sds/src/main.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/toolchain): simplify `update-icon` script
  projects/oblique/scripts/update-icons.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/toolchain): adapt `update-icon` script to the new icons
  projects/oblique/scripts/update-icons.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/alert): embed new alert icons
  projects/oblique/src/lib/alert/alert-icons.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/autocomplete): adapt tests for new icons set
  projects/oblique/src/lib/autocomplete/option-label-icon/option-label-icon.directive.spec.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/toolchain): adapt `update-icon` script to remove unnecessary info
  projects/oblique/scripts/update-icons.ts
Due: eslint --fix --cache, prettier --write

feat(sds/icon): adapt tests for new icons set
  projects/sds/src/app/code-examples/code-examples/icons/icons-code-examples.component.spec.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/toolchain): fix format errors in `CHANGELOG.md`
  projects/oblique/CHANGELOG.md
Due: prettier --write

fix(oblique/toolchain): fix typos in `CHANGELOG.md`
  projects/oblique/CHANGELOG.md
Due: prettier --write

feat(oblique/master-layout): always show external link icons in the footer
  projects/oblique/schematics/index/ng-update/update-v12-to-v13.ts
  projects/oblique/src/lib/master-layout/master-layout-footer/master-layout-footer.component.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(sandbox/master-layout): remove unwanted attributes on the footer links
  projects/sandbox/src/app/app.component.html
Due: eslint --fix --cache, prettier --write

feat(oblique/schematics): use `@angular-devkit/build-angular:browser` builder again
  projects/oblique/schematics/index/ng-add/rules/toolchain.ts
Due: eslint --fix --cache, prettier --write
