Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

.lintstagedrc.yml:

"*.{ts,js,mjs,html}": eslint --fix --cache
"*.{css,scss}": stylelint --fix --cache --allow-empty-input
"*.{ts,js,mjs,html,json,yml,md,css,scss}": prettier --write

fix(design-system/token): Add missing shadow inversity_flipped tokens to dark.json
  projects/design-system/scripts-custom/compare-theme-symmetry.js
  projects/design-system/scripts-custom/fix-theme-symmetry.js
  projects/design-system/src/lib/themes/03_semantic/color/s1-lightness/dark.json
Due: eslint --fix --cache, prettier --write

fix(design-system/tokens): Replace dynamic dimension tokens with static equivalents in infobox responsive files.
  projects/design-system/scripts-custom/compare-s2-emphasis-symmetry.js
  projects/design-system/scripts-custom/replace-infobox-dynamic-tokens.js
  projects/design-system/src/lib/themes/04_component/molecule/infobox/responsive/desktop.json
  projects/design-system/src/lib/themes/04_component/molecule/infobox/responsive/mobile.json
Due: eslint --fix --cache, prettier --write

feat(design-system/tokens): Add semantic outline_offset tokens and focus_ring utility component
  projects/design-system/documentation/04-components/00-utilities/01-icon_slot/01-overview.md
  projects/design-system/documentation/04-components/00-utilities/01-icon_slot/02-architecture.md
  projects/design-system/documentation/04-components/00-utilities/01-icon_slot/03-implementation.md
  projects/design-system/documentation/04-components/00-utilities/01-icon_slot/04-guidelines.md
  projects/design-system/documentation/04-components/00-utilities/01-icon_slot/README.md
  projects/design-system/documentation/04-components/00-utilities/01-icon_slot/_reports/01-technical/icon-holder-validation-report.md
  projects/design-system/documentation/04-components/00-utilities/01-icon_slot/_reports/README.md
  projects/design-system/documentation/04-components/00-utilities/01-icon_slot/_research/README.md
  projects/design-system/documentation/04-components/00-utilities/01-icon_slot/_research/competitive-analysis/icon-container-analysis.md
  projects/design-system/documentation/04-components/00-utilities/01-icon_slot/_research/technical-research/implementation-feasibility.md
  projects/design-system/documentation/04-components/00-utilities/02-focus_ring/01-overview.md
  projects/design-system/documentation/04-components/00-utilities/02-focus_ring/02-architecture.md
  projects/design-system/documentation/04-components/00-utilities/02-focus_ring/03-implementation.md
  projects/design-system/documentation/04-components/00-utilities/02-focus_ring/04-guidelines.md
  projects/design-system/documentation/04-components/00-utilities/02-focus_ring/README.md
  projects/design-system/documentation/04-components/00-utilities/02-focus_ring/_reports/README.md
  projects/design-system/documentation/04-components/00-utilities/02-focus_ring/_research/README.md
  projects/design-system/src/lib/themes/03_semantic/border.json
  projects/design-system/src/lib/themes/05_html/button/07_reference_only.json
Due: prettier --write

docs(design-system/tokens): focus-ring: update implementation and guidelines for Figma offset workaround
  projects/design-system/documentation/04-components/00-utilities/02-focus_ring/02-architecture.md
  projects/design-system/documentation/04-components/00-utilities/02-focus_ring/03-implementation.md
  projects/design-system/documentation/04-components/00-utilities/02-focus_ring/04-guidelines.md
Due: prettier --write

refactor(design-system/tokens): focus_ring: update documentation and deprecate shadow tokens
  projects/design-system/documentation/03-design-tokens/semantic-typography-tokens.md
  projects/design-system/documentation/04-components/00-utilities/02-focus_ring/01-overview.md
  projects/design-system/documentation/04-components/00-utilities/02-focus_ring/02-architecture.md
  projects/design-system/documentation/04-components/00-utilities/02-focus_ring/04-guidelines.md
  projects/design-system/documentation/04-components/00-utilities/02-focus_ring/README.md
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/03_semantic/elevation.json
Due: prettier --write

fix(design-system/tokens): correct $type from font_sizes to fontSize for W3C DTCG compliance
  projects/design-system/src/lib/themes/02_primitive/typography.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/lg.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/md.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/sm.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/static.json
  projects/design-system/src/lib/themes/04_component/molecule/pill/typography.json
  projects/design-system/src/lib/themes/04_component/molecule/tag/typography.json
  projects/design-system/src/lib/themes/05_html/button/02_typography.json
Due: prettier --write

fix(design-system/tokens): change token paths from fontSize to font_size for compound unit naming convention compliance
  projects/design-system/documentation/02-foundation/05-typography.md
  projects/design-system/documentation/03-design-tokens/semantic-typography-tokens.md
  projects/design-system/documentation/07-workflow/maintainers/design-to-development-handoff-workflow.md
  projects/design-system/documentation/07-workflow/maintainers/templates/component-handoff-template.md
  projects/design-system/src/lib/themes/03_semantic/typography/context/interface.json
  projects/design-system/src/lib/themes/03_semantic/typography/context/prose.json
  projects/design-system/src/lib/themes/03_semantic/typography/grouped/lg.json
  projects/design-system/src/lib/themes/03_semantic/typography/grouped/md.json
  projects/design-system/src/lib/themes/03_semantic/typography/grouped/sm.json
  projects/design-system/src/lib/themes/03_semantic/typography/grouped/static.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/lg.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/md.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/sm.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/static.json
  projects/design-system/src/lib/themes/04_component/molecule/pill/07_reference_ony.json
  projects/design-system/src/lib/themes/04_component/molecule/pill/typography.json
  projects/design-system/src/lib/themes/04_component/molecule/tag/typography.json
  projects/design-system/src/lib/themes/05_html/button/02_typography.json
  projects/design-system/src/lib/themes/05_html/button/07_reference_only.json
Due: prettier --write

refactor(tokens/typography): optimize font_size token references
  projects/design-system/src/lib/themes/02_primitive/typography.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/lg.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/md.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/sm.json
Due: prettier --write

fix(tokens/typography): change $type from "fontSize" to "fontSizes"
  projects/design-system/src/lib/themes/02_primitive/typography.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/lg.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/md.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/sm.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/static.json
  projects/design-system/src/lib/themes/04_component/molecule/pill/typography.json
  projects/design-system/src/lib/themes/04_component/molecule/tag/typography.json
  projects/design-system/src/lib/themes/05_html/button/02_typography.json
Due: prettier --write

fix(design-system/tokens): fix tooltip spacing references
  projects/design-system/src/lib/themes/04_component/atom/tooltip.json
Due: prettier --write

fix(design-system/tokens): remove double multiplication in grouped typography
  projects/design-system/src/lib/themes/03_semantic/typography/grouped/lg.json
  projects/design-system/src/lib/themes/03_semantic/typography/grouped/md.json
  projects/design-system/src/lib/themes/03_semantic/typography/grouped/sm.json
Due: prettier --write

refactor(design-system/tokens): migrate Spinner and remap tokens.
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/04_component/atom/spinner.json
Due: prettier --write

refactor(design-system/tokens): renamed link.active to link.pressed according to team agreement.
  projects/design-system/src/lib/themes/05_html/link.json
Due: prettier --write

fix(oblique/master-layout): make items in collapsed header not tabbable
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header-controls.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(design-system/tokens): remove NO-FIGMA-SUPPORT tokens causing design/development friction.
  projects/design-system/.gitmessage
  projects/design-system/documentation/03-design-tokens/w3c-dtcg-compliance-summary.md
  projects/design-system/documentation/07-workflow/modes-architecture-implementation-roadmap.md
  projects/design-system/src/lib/themes/02_primitive/typography.json
  projects/design-system/src/lib/themes/03_semantic/layout.json
  projects/design-system/src/lib/themes/04_component/molecule/pill/typography.json
  projects/design-system/src/lib/themes/05_html/button/02_typography.json
  projects/design-system/src/lib/themes/05_html/button/06_flex-direction/column.json
  projects/design-system/src/lib/themes/05_html/button/06_flex-direction/row.json
Due: prettier --write

refactor(design-system/token): moved files as 1st step.
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/05_html/typography/context/interface.json
  projects/design-system/src/lib/themes/05_html/typography/context/prose.json
  projects/design-system/src/lib/themes/05_html/typography/style.json
Due: prettier --write

refactor(design-system/token): renamed typography heading files from ob.s. to ob.h, 2nd step.
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/04_component/molecule/infobox/static.json
  projects/design-system/src/lib/themes/05_html/typography/context/interface.json
  projects/design-system/src/lib/themes/05_html/typography/context/prose.json
  projects/design-system/src/lib/themes/05_html/typography/style.json
  projects/design-system/src/lib/themes/NO-DS/OB-LEGACY/typography-styles-R14.json
Due: prettier --write

refactor(design-system/tokens): config created for lightness mode in footer
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/01_global/themes-scoped/static.json
  projects/design-system/src/lib/themes/01_global/themes-user/lightness/dynamic/dark.json
  projects/design-system/src/lib/themes/01_global/themes-user/lightness/dynamic/light.json
Due: prettier --write

refactor(design-system/tokens): rename styles in context and content in style)
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/01_global/themes-user/lightness/static.json
  projects/design-system/src/lib/themes/04_component/molecule/infobox/static.json
  projects/design-system/src/lib/themes/05_html/typography/context/interface.json
  projects/design-system/src/lib/themes/05_html/typography/context/prose.json
  projects/design-system/src/lib/themes/05_html/typography/style.json
  projects/design-system/src/lib/themes/NO-DS/OB-LEGACY/typography-styles-R14.json
Due: prettier --write

refactor(design-system/tokens): typography: added replacement definition for font-family primitives.
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/02_primitive/typography.json
Due: prettier --write

refactor(design-system/tokens): update font size keys to use consistent naming convention
  projects/design-system/src/lib/themes/03_semantic/typography/single/static.json
Due: prettier --write

refactor(design-system/tokens): delete camelcase redunancy in ob.p.fontSizeRem in 03_semantic/typography/single/static.json
  projects/design-system/src/lib/themes/02_primitive/typography.json
Due: prettier --write

refactor(design-system/tokens): update font size values to include 'rem' units for consistency
  projects/design-system/src/lib/themes/02_primitive/typography.json
Due: prettier --write

fix(oblique/schematics): replace "scrollTop" with "focusElement('content')" in master layout files
  projects/oblique/schematics/index/ng-update/update-v13-to-v14.ts
Due: eslint --fix --cache, prettier --write

feat(design-system/tokens): add script to clean up orphaned theme references in $themes.json and update the $themes.json
  projects/design-system/scripts-custom/cleanup-orphaned-theme-references.js
  projects/design-system/src/lib/themes/$themes.json
Due: eslint --fix --cache, prettier --write

fix(oblique/material): ensure `cursor: not-allowed` on disabled mat-select label
  projects/oblique/src/styles/scss/material/_mat-form-field.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

ci(github): add `fail-fast: false` strategy
  .github/workflows/main.yml
Due: prettier --write

ci(github): fix workflow using incompatible node 20 version
  .github/workflows/main.yml
Due: prettier --write

refactor(oblique/spinner): use css transitions instead of angular animations
  projects/oblique/src/lib/spinner/spinner-animations.scss
  projects/oblique/src/lib/spinner/spinner.component.html
  projects/oblique/src/lib/spinner/spinner.component.ts
  projects/stylesBuilder/oblique-components.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

test(oblique): remove `NoopAnimationsModule`
  projects/oblique/src/lib/autocomplete/autocomplete.component.spec.ts
  projects/oblique/src/lib/button/button.directive.spec.ts
  projects/oblique/src/lib/datepicker/ob-datepicker.service.spec.ts
  projects/oblique/src/lib/file-upload/file-info/file-info.component.spec.ts
  projects/oblique/src/lib/focus-invalid/focus-invalid.directive.spec.ts
  projects/oblique/src/lib/input-clear/input-clear.directive.spec.ts
  projects/oblique/src/lib/notification/notification.component.spec.ts
  projects/oblique/src/lib/paginator/ob-paginator.service.spec.ts
  projects/oblique/src/lib/schema-validation/schema-required.directive.spec.ts
  projects/oblique/src/lib/service-navigation/languages/service-navigation-languages.component.spec.ts
  projects/oblique/src/lib/service-navigation/shared/disable-link/disable-link.directive.spec.ts
  projects/oblique/src/lib/stepper/ob-stepper.service.spec.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/notification): use css keyframes instead of angular animations
  projects/oblique/src/lib/notification/notification-animations.scss
  projects/oblique/src/lib/notification/notification.component.animations.ts
  projects/oblique/src/lib/notification/notification.component.html
  projects/oblique/src/lib/notification/notification.component.scss
  projects/oblique/src/lib/notification/notification.component.ts
  projects/stylesBuilder/oblique-components.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

test(sandbox): remove `NoopAnimationsModule`
  projects/sandbox/src/app/samples/error-messages-sample/error-messages-sample.component.spec.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/notification): use new control flow syntax
  projects/oblique/src/lib/notification/notification.component.html
Due: eslint --fix --cache, prettier --write

test(sds): remove `NoopAnimationsModule`
  projects/sds/src/app/code-examples/code-examples/autocomplete/autocomplete-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/chips/chips-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/error-messages/error-messages-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/expansion-panel/expansion-panel-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/file-upload/file-upload-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/focus-invalid/focus-invalid-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/focus-with-outline/focus-with-outline-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/form/form-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/icons/icons-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/material-table/material-table-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/nav-tree/nav-tree-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/nested-form/nested-form-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/number-format/number-format-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/paginator/paginator-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/schema-validation/schema-validation-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/spinner/spinner-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/stepper/stepper-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/tabs/tabs-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/unsaved-changes/unsaved-changes-code-examples.component.spec.ts
  projects/sds/src/app/feedback/feedback-form/feedback-form.component.spec.ts
  projects/sds/src/app/side-navigation/side-navigation.component.spec.ts
  projects/sds/src/app/side-navigation/version/version.component.spec.ts
Due: eslint --fix --cache, prettier --write

refactor(design-system/tokens): added typography segment to ob.c.tag
  projects/design-system/src/lib/themes/04_component/molecule/tag/typography.json
Due: prettier --write

refactor(design-system/tokens): added typography segment to ob.c.tag (font_family)
  projects/design-system/src/lib/themes/04_component/molecule/tag/typography.json
Due: prettier --write

refactor(design-system/tokens): elevation: simplify 'none' shadow value to a string
  projects/design-system/src/lib/themes/03_semantic/elevation.json
Due: prettier --write

refactor(design-system/tokens): enhance font family definitions with additional system fallbacks
  projects/design-system/src/lib/themes/02_primitive/typography.json
Due: prettier --write

refactor(design-system/tokens): update primitive transparent color value
  projects/design-system/src/lib/themes/02_primitive/color.json
Due: prettier --write
