Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --config eslint.precommit.config.mjs, stylelint --fix --cache --allow-empty-input, prettier --write

refactor(design-system/tokens): move heading/body composites from bare ob.html to ob.h
  projects/design-system/src/lib/css/layers/tokens.css
  projects/design-system/src/lib/themes/05_html/typography/style.json
Due: stylelint --fix --cache --allow-empty-input, prettier --write

docs(design-system/figma-utils): drop obsolete html heading/body rules from rename-text-styles
  projects/design-system/scripts-custom/figma-utils/rename-text-styles.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(design-system/tokens): move heading/body to bare ob root, no tier letter
  projects/design-system/src/lib/css/layers/tokens.css
  projects/design-system/src/lib/themes/05_html/typography/style.json
Due: stylelint --fix --cache --allow-empty-input, prettier --write

Revert "refactor(design-system/tokens): move heading/body to bare ob root, no tier letter"
  projects/design-system/src/lib/css/layers/tokens.css
  projects/design-system/src/lib/themes/05_html/typography/style.json
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(design-system/figma-utils): strengthen rename-text-styles with collision auto-resolution
  projects/design-system/scripts-custom/figma-utils/_readme.md
  projects/design-system/scripts-custom/figma-utils/rename-text-styles.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

chore(design-system/figma-utils): point relink-text-style-usage at the heading/body transition
  projects/design-system/scripts-custom/figma-utils/relink-text-style-usage.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(design-system/figma-utils): authoring rename target keeps the leading underscore
  projects/design-system/scripts-custom/figma-utils/rename-text-styles.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(design-system/figma-utils): authoring rename target sorts to the bottom with a tilde, not underscore
  projects/design-system/scripts-custom/figma-utils/rename-text-styles.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(design-system/figma-doc-builders): sync typography registry with the final style names
  projects/design-system/scripts-custom/figma-doc-builders/typography/registry.json
Due: prettier --write

fix(design-system/figma-doc-builders): reconstruct real token path for typography docs
  projects/design-system/scripts-custom/figma-doc-builders/typography/build-typography.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(design-system/figma-doc-builders): specimen preview shows the figma style name, not the token path
  projects/design-system/scripts-custom/figma-doc-builders/typography/build-typography.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(design-system/figma-doc-builders): drop the arrow symbol from typography copy
  projects/design-system/scripts-custom/figma-doc-builders/typography/registry.json
Due: prettier --write

fix(design-system/figma-doc-builders): double the typography tables wrapper gap
  projects/design-system/scripts-custom/figma-doc-builders/typography/build-typography.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

docs(design-system/figma-doc-builders): record the authoring section title
  projects/design-system/scripts-custom/figma-doc-builders/typography/registry.json
Due: prettier --write

docs(design-system/figma-doc-builders): record the latest authoring section wording
  projects/design-system/scripts-custom/figma-doc-builders/typography/registry.json
Due: prettier --write

refactor(design-system/tokens): insert typography segment into the authoring composite path
  projects/design-system/src/lib/css/layers/tokens.css
  projects/design-system/src/lib/themes/03_semantic/typography/grouped/lg.json
  projects/design-system/src/lib/themes/03_semantic/typography/grouped/md.json
  projects/design-system/src/lib/themes/03_semantic/typography/grouped/sm.json
  projects/design-system/src/lib/themes/03_semantic/typography/grouped/static.json
Due: stylelint --fix --cache --allow-empty-input, prettier --write

chore(design-system): update tooling config for the authoring typography segment
  projects/design-system/scripts-custom/figma-doc-builders/typography/registry.json
  projects/design-system/scripts-custom/figma-utils/relink-text-style-usage.js
  projects/design-system/scripts-custom/figma-utils/rename-text-styles.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(oblique/off-canvas): center icon in the close button
  projects/oblique/src/lib/master-layout/master-layout/master-layout-offcanvas.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/off-canvas): align close button size with oblique buttons
  projects/oblique/src/lib/master-layout/master-layout/master-layout-offcanvas.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/alert): migrate to signals and `OnPush` change detection strategy
  projects/oblique/src/lib/alert/_mocks/mock-alert.component.ts
  projects/oblique/src/lib/alert/alert.component.html
  projects/oblique/src/lib/alert/alert.component.spec.ts
  projects/oblique/src/lib/alert/alert.component.ts
  projects/oblique/src/lib/notification/notification.component.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(oblique/alert): improve test labels wording
  projects/oblique/src/lib/alert/alert.component.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(oblique/alert): preserve alert icon key types
  projects/oblique/src/lib/alert/alert.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(cli): pass title and applicationOperator to add-oblique schematic
  projects/cli/src/new/ob-new.model.ts
  projects/cli/src/new/ob-new.spec.ts
  projects/cli/src/new/ob-new.ts
  projects/cli/src/new/schema.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(cli/update): remove redundant allowDirty workaround
  projects/cli/src/update/ob-update.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(cli/new): bridge applicationOperator and title to add-oblique schematic
  projects/cli/src/new/ob-new.spec.ts
  projects/cli/src/new/ob-new.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(cli/utils): dasherize option names for Angular CLI commands
  projects/cli/src/new/ob-new.spec.ts
  projects/cli/src/utils/cli-utils.spec.ts
  projects/cli/src/utils/cli-utils.ts
  projects/cli/src/utils/strings.spec.ts
  projects/cli/src/utils/strings.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(oblique/schematics): remove master layout from ng-add schematic
  projects/oblique/schematics/index/ng-add/index.ts
  projects/oblique/schematics/index/ng-add/ng-add-utils.ts
  projects/oblique/schematics/index/ng-add/rules/oblique.ts
  projects/oblique/schematics/index/ng-add/rules/obliqueFeatures.ts
  projects/oblique/schematics/index/ng-add/templates/default-master-layout.html
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(toolchain/schematics): embed master layout in add-oblique schematic
  projects/toolchain/scripts/pipelines/post-build.ts
  projects/toolchain/src/schematics/add-oblique/index.spec.ts
  projects/toolchain/src/schematics/add-oblique/index.ts
  projects/toolchain/src/schematics/add-oblique/rules/root-layout.spec.ts
  projects/toolchain/src/schematics/add-oblique/rules/root-layout.ts
  projects/toolchain/src/schematics/add-oblique/schema.json
  projects/toolchain/src/schematics/add-oblique/templates/root-layout/master-layout.html
  projects/toolchain/src/schematics/add-oblique/types.ts
  projects/toolchain/src/schematics/shared/ast/ts.spec.ts
  projects/toolchain/src/schematics/shared/ast/ts.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(cli): fix tests failing on windows
  projects/cli/src/new/ob-new.spec.ts
  projects/cli/src/utils/cli-utils.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(cli/new): add missing quotes around arguments for windows
  projects/cli/jest.config.js
  projects/cli/src/new/ob-new.spec.ts
  projects/cli/src/utils/cli-utils.spec.ts
  projects/cli/src/utils/cli-utils.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(design-system/figma-utils): add rename-variables script for the missing variable trim step
  projects/design-system/scripts-custom/figma-utils/_readme.md
  projects/design-system/scripts-custom/figma-utils/rename-variables.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(design-system/tokens): exclude 05_html/link/link from the static theme export
  projects/design-system/src/lib/themes/$themes.json
Due: prettier --write

feat(design-system/figma-utils): add rename-effect-styles for the shadow tier trim
  projects/design-system/scripts-custom/figma-utils/_readme.md
  projects/design-system/scripts-custom/figma-utils/rename-effect-styles.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

docs(design-system/figma-utils): document relink-text-style-usage.js
  projects/design-system/scripts-custom/figma-utils/_readme.md
Due: prettier --write

feat(design-system/figma-utils): add run-cosmetics.js, one post-export step for all cosmetic scripts
  projects/design-system/scripts-custom/FIGMA-WORKFLOW.md
  projects/design-system/scripts-custom/figma-utils/_readme.md
  projects/design-system/scripts-custom/figma-utils/run-cosmetics.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(oblique/service-navigation): migrate languages widget to signals and `OnPush`
  projects/oblique/src/lib/service-navigation/languages/service-navigation-languages.component.html
  projects/oblique/src/lib/service-navigation/languages/service-navigation-languages.component.spec.ts
  projects/oblique/src/lib/service-navigation/languages/service-navigation-languages.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(oblique/service-navigation): migrate applications widget to signals and `OnPush`
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.html
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.spec.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(oblique/service-navigation): use a computed signal for the effective info backend
  projects/oblique/src/lib/service-navigation/service-navigation.component.html
  projects/oblique/src/lib/service-navigation/service-navigation.component.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(oblique/service-navigation): remove dead `pamsAppId` check from `addAppId`
  projects/oblique/src/lib/service-navigation/service-navigation.service.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(oblique/service-navigation): migrate info widget to signals and `OnPush`
  projects/oblique/src/lib/service-navigation/info/service-navigation-info.component.html
  projects/oblique/src/lib/service-navigation/info/service-navigation-info.component.spec.ts
  projects/oblique/src/lib/service-navigation/info/service-navigation-info.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

Path conditions:
  eslint --fix --cache --config eslint.precommit.config.mjs: any of: *.{ts,js,mjs,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,mjs,html,json,yml,md,css,scss}
