Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

OUI-4001: Fix JSON syntax error in infobox/color.json
  projects/design-system/src/lib/themes/component/molecules/infobox/color.json
Due: prettier --write

feat(design-system): Complete S3 status token structure to fully mirror S1
  projects/design-system/src/lib/themes/semantic/color/s3-semantic/semantic.json
Due: prettier --write

feat(design-system): achieve 100% S1↔S3 mirroring and fix token architecture
  projects/design-system/src/lib/themes/semantic/color/s3-semantic/semantic.json
  projects/design-system/validate-s1-s3-mirroring-clean.js
Due: eslint --fix --cache, prettier --write

feat(design-system): add S2↔S3 mirroring validation
  projects/design-system/validate-semantic-mirroring.js
Due: eslint --fix --cache, prettier --write

feat(design-system): fix validation script and remove more obsolete tokens
  projects/design-system/cleanup-obsolete-tokens.js
  projects/design-system/src/lib/themes/semantic/color/s3-semantic/semantic.json
  projects/design-system/validate-s1-s3-mirroring-clean.js
  projects/design-system/validate-semantic-mirroring.js
Due: eslint --fix --cache, prettier --write

feat(design-system): add S0 exceptions to mirroring validation
  projects/design-system/validate-semantic-mirroring.js
Due: eslint --fix --cache, prettier --write

feat(design-system): Remove orphaned tokens from S3 semantic layer
  projects/design-system/cleanup-violations.js
  projects/design-system/src/lib/themes/semantic/color/s3-semantic/semantic.json
Due: eslint --fix --cache, prettier --write

feat(design-system): complete s1→s3 architectural mirroring
  projects/design-system/src/lib/themes/semantic/color/s3-semantic/semantic.json
  projects/design-system/validate-semantic-mirroring.js
Due: eslint --fix --cache, prettier --write

feat(design-system): enforce s2 routing for interaction emphasis tokens
  projects/design-system/src/lib/themes/semantic/color/s3-semantic/semantic.json
  projects/design-system/validate-semantic-mirroring.js
Due: eslint --fix --cache, prettier --write

fix(design-system): component token references to S3 semantic layer
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/component/atoms/spinner.json
  projects/design-system/src/lib/themes/component/molecules/infobox/color.json
  projects/design-system/src/lib/themes/component/molecules/pill.json
  projects/design-system/src/lib/themes/component/molecules/popover.json
  projects/design-system/src/lib/themes/component/molecules/tag.json
  projects/design-system/src/lib/themes/html/button/color-static.json
  projects/design-system/src/lib/themes/html/hr.json
  projects/design-system/validate-all-components.js
  projects/design-system/validate-spinner.js
Due: eslint --fix --cache, prettier --write

refactor(design-system): move essential validation scripts to scripts-custom
  projects/design-system/scripts-custom/README.md
  projects/design-system/scripts-custom/validate-all-components.js
  projects/design-system/scripts-custom/validate-semantic-mirroring.js
  projects/design-system/scripts-custom/validate-spinner.js
Due: eslint --fix --cache, prettier --write

docs(design-system): add vampire scripts definition to glossary
  projects/design-system/documentation/design-tokens/glossary.md
Due: prettier --write

feat(oblique/master-layout): remove `ObMasterLayoutConfig.focusableFragments`
  projects/oblique/schematics/index/ng-update/update-v13-to-v14.ts
  projects/oblique/src/lib/master-layout/_mocks/mock-master-layout.config.ts
  projects/oblique/src/lib/master-layout/master-layout.config.ts
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.ts
  projects/oblique/src/lib/router/ob-router.service.spec.ts
Due: eslint --fix --cache, prettier --write

feat(sds/sticky): remove deprecated `ObStickyComponent` documentation
  projects/sds/src/app/code-examples/code-examples.mapper.ts
  projects/sds/src/app/code-examples/code-examples/sticky/previews/default/sticky-example-default-preview.component.html
  projects/sds/src/app/code-examples/code-examples/sticky/previews/default/sticky-example-default-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/sticky/previews/sizes/sticky-example-sizes-preview.component.html
  projects/sds/src/app/code-examples/code-examples/sticky/previews/sizes/sticky-example-sizes-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/sticky/previews/sticky-example.scss
  projects/sds/src/app/code-examples/code-examples/sticky/sticky-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/sticky/sticky-code-examples.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

build(oblique/contributing): remove `sticky` scope
  projects/oblique/CONTRIBUTING.md
Due: prettier --write

refactor(sandbox/material): use `MatPaginatorModule` instead of `ObPaginatorModule`
  projects/sandbox/src/app/material/material.module.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/sticky): remove deprecated `ObStickyComponent` documentation
  projects/sandbox/src/app/app-navigation.ts
  projects/sandbox/src/app/samples/samples-routing.module.ts
  projects/sandbox/src/app/samples/samples.module.ts
  projects/sandbox/src/app/samples/sticky/sticky-sample.component.html
  projects/sandbox/src/app/samples/sticky/sticky-sample.component.spec.ts
  projects/sandbox/src/app/samples/sticky/sticky-sample.component.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/master-layout): remove `ObMasterLayoutConfig.focusableFragments`
  projects/sandbox/src/app/app.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/scrolling): remove `scrollTarget` property from `ObTopControlComponent`
  projects/oblique/src/lib/scrolling/top-control.component.spec.ts
  projects/oblique/src/lib/scrolling/top-control.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/paginator): remove `ObPaginatorModule`
  projects/oblique/schematics/index/ng-update/update-v13-to-v14.ts
  projects/oblique/src/lib/paginator/ob-paginator.module.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/schema-validation): remove deprecated input `name`
  projects/oblique/src/lib/schema-validation/schema-required.directive.ts
Due: eslint --fix --cache, prettier --write

build(sandbox/contributing): remove `sticky` scope
  projects/sandbox/CONTRIBUTING.md
Due: prettier --write

feat(sandbox): remove demo skip links for focusable fragment
  projects/sandbox/src/app/app.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/sticky): remove deprecated sticky feature
  projects/oblique/jest.config.js
  projects/oblique/src/lib/oblique-testing.module.ts
  projects/oblique/src/lib/oblique.module.ts
  projects/oblique/src/lib/sticky/_mocks/mock-sticky.component.ts
  projects/oblique/src/lib/sticky/_mocks/mock-sticky.module.ts
  projects/oblique/src/lib/sticky/sticky.component.html
  projects/oblique/src/lib/sticky/sticky.component.scss
  projects/oblique/src/lib/sticky/sticky.component.spec.ts
  projects/oblique/src/lib/sticky/sticky.component.ts
  projects/oblique/src/lib/sticky/sticky.module.ts
  projects/oblique/src/public_api.ts
  projects/stylesBuilder/oblique-components.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/master-layout): remove `scrollTarget` property
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/scrolling): remove deprecated `ObScrollingEvents`
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.ts
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.ts
  projects/oblique/src/lib/oblique-testing.module.ts
  projects/oblique/src/lib/scrolling/_mocks/mock-scrolling-events.service.ts
  projects/oblique/src/lib/scrolling/_mocks/mock-scrolling.module.ts
  projects/oblique/src/lib/scrolling/scrolling-events.ts
  projects/oblique/src/lib/scrolling/scrolling.module.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, prettier --write

refactor(sds/material): remove import of `ObPaginatorModule`
  projects/sds/src/app/code-examples/code-examples/paginator/paginator-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/paginator/previews/common-options/paginator-example-common-options-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/paginator/previews/other-options/paginator-example-other-options-preview.component.ts
Due: eslint --fix --cache, prettier --write

build(sds/contributing): remove `sticky` scope
  projects/sds/CONTRIBUTING.md
Due: prettier --write

refactor(design-system): clean up root directory organization
  projects/design-system/documentation/reports/EMAIL-TO-DEVELOPER.md
Due: prettier --write

refactor(design-system): complete vampire script cleanup
  projects/design-system/EMAIL-TO-DEVELOPER.md
  projects/design-system/cleanup-obsolete-tokens.js
  projects/design-system/cleanup-violations.js
  projects/design-system/validate-all-components.js
  projects/design-system/validate-s1-s3-mirroring-clean.js
  projects/design-system/validate-semantic-mirroring.js
  projects/design-system/validate-spinner.js
Due: eslint --fix --cache, prettier --write

refactor(design-system): organize documentation into proper subfolders
  projects/design-system/documentation/design-tokens/style-dictionary-underscore-setup.md
  projects/design-system/documentation/design-tokens/underscore-migration-plan.md
  projects/design-system/documentation/workflow/EASY-RECOMMENDATIONS.md
Due: prettier --write

docs(design-system): add documentation structure requirements to protected files
  projects/design-system/documentation/workflow/PROTECTED_FILES.md
Due: prettier --write

refactor(design-system): enhance documentation structure validation
  projects/design-system/documentation/workflow/PROTECTED_FILES.md
  projects/design-system/scripts-custom/validate-documentation-structure.js
Due: eslint --fix --cache, prettier --write

refactor(design-system): archive outdated scripts from pre-OUI-4001
  projects/design-system/scripts-custom/README.md
  projects/design-system/scripts-custom/analyze-emphasis-structure.js
  projects/design-system/scripts-custom/extract-compound-units.js
  projects/design-system/scripts-custom/migrate-compound-units-to-underscores.js
  projects/design-system/scripts-custom/validate-l1-l2-redundancy.js
Due: eslint --fix --cache, prettier --write

refactor(design-system): archive redundant spinner validation script
  projects/design-system/scripts-custom/README.md
  projects/design-system/scripts-custom/validate-spinner.js
Due: eslint --fix --cache, prettier --write

refactor(design-system): archive scripts with outdated inversity references
  projects/design-system/scripts-custom/README.md
  projects/design-system/scripts-custom/analyze-s1-s2-redundancy.js
  projects/design-system/scripts-custom/find-missing-s1-tokens.js
  projects/design-system/scripts-custom/show-exact-missing-tokens.js
  projects/design-system/scripts-custom/validate-token-chain-resolution.js
  projects/design-system/scripts-custom/validate-token-syntax.js
Due: eslint --fix --cache, prettier --write

feat(design-system): normalize markdown file cases
  projects/design-system/scripts-custom/validate-documentation-structure.js
Due: eslint --fix --cache, prettier --write

feat(design-system): complete script ecosystem cleanup and automation
  projects/design-system/plural-references-report.txt
  projects/design-system/scripts-custom/README.md
  projects/design-system/scripts-custom/analyze-token-structure.js
  projects/design-system/scripts-custom/check-markdown-names.js
  projects/design-system/scripts-custom/detect-circular-token-references.js
  projects/design-system/scripts-custom/detect-plural-references.js
  projects/design-system/scripts-custom/markdown_naming_prevention.md
  projects/design-system/scripts-custom/rename-file.js
  projects/design-system/scripts-custom/script-cleanup-action-plan.md
  projects/design-system/scripts-custom/script-maintenance-guidelines.md
  projects/design-system/scripts-custom/script_template_guidelines.md
  projects/design-system/scripts-custom/setup-style-dictionary.js
  projects/design-system/scripts-custom/setup-token-tracking.js
  projects/design-system/scripts-custom/style-dictionary-underscore-setup.md
  projects/design-system/scripts-custom/trace-token-chain.js
  projects/design-system/scripts-custom/trace-token-references.js
  projects/design-system/scripts-custom/track-token-changes.js
  projects/design-system/scripts-custom/validate-all-components.js
  projects/design-system/scripts-custom/validate-all.js
  projects/design-system/scripts-custom/validate-consumption-hierarchy.js
  projects/design-system/scripts-custom/validate-doc-tokens.js
  projects/design-system/scripts-custom/validate-documentation-references.js
  projects/design-system/scripts-custom/validate-documentation-structure.js
  projects/design-system/scripts-custom/validate-protected-files.js
  projects/design-system/scripts-custom/validate-scripts.js
  projects/design-system/scripts-custom/validate-semantic-mirroring.js
Due: eslint --fix --cache, prettier --write

docs(design-system): update documentation to reflect S1/S2/S3 architecture
  projects/design-system/documentation/design-tokens/_index.md
  projects/design-system/documentation/design-tokens/architecture.md
  projects/design-system/documentation/design-tokens/compound-units.md
  projects/design-system/documentation/design-tokens/glossary.md
  projects/design-system/documentation/design-tokens/guidelines-token-consumption.md
  projects/design-system/documentation/design-tokens/theming.md
  projects/design-system/documentation/workflow/EASY-RECOMMENDATIONS.md
  projects/design-system/documentation/workflow/PROTECTED_FILES.md
  projects/design-system/documentation/workflow/SETUP_PROTECTION.md
  projects/design-system/documentation/workflow/tokens-studio-context.md
  projects/design-system/package.json
  projects/design-system/scripts-custom/README.md
Due: prettier --write

docs(design-system): complete glossary and theming updates
  projects/design-system/documentation/design-tokens/glossary.md
  projects/design-system/documentation/design-tokens/theming.md
Due: prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{ts,js,mjs,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,mjs,html,json,yml,md,css,scss}
