Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --config eslint.precommit.config.mjs, stylelint --fix --cache --allow-empty-input, prettier --write

feat(cli/update): add support for angular parameters
  projects/cli/scripts/pre-build.ts
  projects/cli/src/update/ob-update.model.ts
  projects/cli/src/update/ob-update.spec.ts
  projects/cli/src/update/ob-update.ts
  projects/cli/src/update/schema.json
  projects/cli/src/utils/cli-utils.spec.ts
  projects/cli/src/utils/cli-utils.ts
  projects/cli/src/utils/ob-configure-command.spec.ts
  projects/cli/src/utils/ob-configure-command.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(cli/update): fix path
  projects/cli/scripts/pre-build.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(documentation): add overview of state categories
  projects/design-system/documentation/02-foundation/04-states.md
Due: prettier --write

docs(design-system): mark states concept as provisional
  projects/design-system/documentation/02-foundation/04-states.md
Due: prettier --write

refactor(design-system/tokens): rename mode collections to COR_/STS_/CMP_ prefix scheme (OUI-4436)
  projects/design-system/documentation/02-foundation/03-design-tokens/02-modes/00-overview.md
  projects/design-system/documentation/02-foundation/03-design-tokens/02-modes/01-lightness.md
  projects/design-system/documentation/02-foundation/03-design-tokens/02-modes/02-emphasis.md
  projects/design-system/documentation/02-foundation/03-design-tokens/02-modes/03-ui-scale.md
  projects/design-system/documentation/02-foundation/03-design-tokens/02-modes/04-typography-context.md
  projects/design-system/documentation/02-foundation/03-design-tokens/02-modes/05-density.md
  projects/design-system/documentation/02-foundation/03-design-tokens/02-modes/06-responsiveness.md
  projects/design-system/documentation/02-foundation/03-design-tokens/02-modes/98-collections-and-resolution-chain.md
  projects/design-system/documentation/02-foundation/04-states.md
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/03_semantic/motion/mode/off.json
  projects/design-system/src/lib/themes/03_semantic/motion/mode/on.json
  projects/design-system/src/lib/themes/05_html/button_vd1/CMP_button/primary.json
  projects/design-system/src/lib/themes/05_html/button_vd1/CMP_button/secondary.json
  projects/design-system/src/lib/themes/05_html/button_vd1/CMP_button/tertiary.json
  projects/design-system/src/lib/themes/05_html/button_vd1/STS_availability/disabled.json
  projects/design-system/src/lib/themes/05_html/button_vd1/STS_availability/enabled.json
  projects/design-system/src/lib/themes/05_html/button_vd1/STS_focus/focused.json
  projects/design-system/src/lib/themes/05_html/button_vd1/STS_focus/unfocused.json
  projects/design-system/src/lib/themes/05_html/button_vd1/STS_interaction/active.json
  projects/design-system/src/lib/themes/05_html/button_vd1/STS_interaction/hover.json
  projects/design-system/src/lib/themes/05_html/button_vd1/STS_interaction/rest.json
  projects/design-system/src/lib/themes/05_html/button_vd1/STS_process/empty.json
  projects/design-system/src/lib/themes/05_html/button_vd1/STS_process/failed.json
  projects/design-system/src/lib/themes/05_html/button_vd1/STS_process/loaded.json
  projects/design-system/src/lib/themes/05_html/button_vd1/STS_process/loading.json
  projects/design-system/src/lib/themes/05_html/button_vd1/language/de.json
  projects/design-system/src/lib/themes/05_html/button_vd1/language/en.json
  projects/design-system/src/lib/themes/05_html/button_vd1/language/fr.json
  projects/design-system/src/lib/themes/05_html/button_vd1/language/it.json
  projects/design-system/src/lib/themes/05_html/button_vd1/language/rm.json
  projects/design-system/src/lib/themes/05_html/button_vd1/system/loaded.json
  projects/design-system/src/lib/themes/05_html/button_vd1/system/loading.json
Due: prettier --write

feat(documentation): add FigJam Audit Card specification for states concept
  projects/design-system/documentation/_templates/figjam/audit-card.md
Due: prettier --write

feat(design-system/tokens): complete mode collection taxonomy (OUI-4436)
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/05_html/button_vd1/COR_viewport/2xl.json
  projects/design-system/src/lib/themes/05_html/button_vd1/COR_viewport/lg.json
  projects/design-system/src/lib/themes/05_html/button_vd1/COR_viewport/md.json
  projects/design-system/src/lib/themes/05_html/button_vd1/COR_viewport/sm.json
  projects/design-system/src/lib/themes/05_html/button_vd1/COR_viewport/xl.json
  projects/design-system/src/lib/themes/05_html/button_vd1/COR_viewport/xs.json
  projects/design-system/src/lib/themes/05_html/button_vd1/STS_availability/read_only.json
  projects/design-system/src/lib/themes/05_html/button_vd1/STS_feedback/attention.json
  projects/design-system/src/lib/themes/05_html/button_vd1/STS_feedback/critical.json
  projects/design-system/src/lib/themes/05_html/button_vd1/STS_feedback/fatal.json
  projects/design-system/src/lib/themes/05_html/button_vd1/STS_feedback/info.json
  projects/design-system/src/lib/themes/05_html/button_vd1/STS_feedback/resolved.json
  projects/design-system/src/lib/themes/05_html/button_vd1/STS_interaction/drag.json
  projects/design-system/src/lib/themes/05_html/button_vd1/STS_selection/indeterminate.json
  projects/design-system/src/lib/themes/05_html/button_vd1/STS_selection/selected.json
  projects/design-system/src/lib/themes/05_html/button_vd1/STS_selection/unselected.json
  projects/design-system/src/lib/themes/05_html/input/CMP_input/aifilled.json
  projects/design-system/src/lib/themes/05_html/input/CMP_input/autofilled.json
  projects/design-system/src/lib/themes/05_html/input/CMP_input/required.json
  projects/design-system/src/lib/themes/05_html/link/CMP_link/standard.json
  projects/design-system/src/lib/themes/05_html/link/CMP_link/visited.json
Due: prettier --write

docs(design-system/tokens): add COR_canton to mode collection reference (OUI-4436)
  projects/design-system/documentation/02-foundation/03-design-tokens/02-modes/98-collections-and-resolution-chain.md
Due: prettier --write

feat(design-system/tokens): add COR_surface to mode collection taxonomy (OUI-4436)
  projects/design-system/documentation/02-foundation/03-design-tokens/02-modes/98-collections-and-resolution-chain.md
  projects/design-system/src/lib/themes/01_global/modes.json
Due: prettier --write

refactor(design-system/tokens): promote vd1_surface to COR_surface, add raised and overlay modes (OUI-4436) (OUI-4509)
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/05_html/button_vd1/surface/overlay.json
  projects/design-system/src/lib/themes/05_html/button_vd1/surface/raised.json
Due: prettier --write

feat(design-system/tokens): expand COR_canton to all 26 Swiss canton abbreviations (OUI-4509)
  projects/design-system/documentation/02-foundation/03-design-tokens/02-modes/98-collections-and-resolution-chain.md
  projects/design-system/src/lib/themes/01_global/modes.json
Due: prettier --write

feat(design-system/tokens): add all 26 Swiss canton modes to COR_canton, rename zurich to ZH (OUI-4509)
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/02_primitive/canton/AG.json
  projects/design-system/src/lib/themes/02_primitive/canton/AI.json
  projects/design-system/src/lib/themes/02_primitive/canton/AR.json
  projects/design-system/src/lib/themes/02_primitive/canton/BE.json
  projects/design-system/src/lib/themes/02_primitive/canton/BL.json
  projects/design-system/src/lib/themes/02_primitive/canton/BS.json
  projects/design-system/src/lib/themes/02_primitive/canton/FR.json
  projects/design-system/src/lib/themes/02_primitive/canton/GE.json
  projects/design-system/src/lib/themes/02_primitive/canton/GL.json
  projects/design-system/src/lib/themes/02_primitive/canton/GR.json
  projects/design-system/src/lib/themes/02_primitive/canton/JU.json
  projects/design-system/src/lib/themes/02_primitive/canton/LU.json
  projects/design-system/src/lib/themes/02_primitive/canton/NE.json
  projects/design-system/src/lib/themes/02_primitive/canton/NW.json
  projects/design-system/src/lib/themes/02_primitive/canton/OW.json
  projects/design-system/src/lib/themes/02_primitive/canton/SG.json
  projects/design-system/src/lib/themes/02_primitive/canton/SH.json
  projects/design-system/src/lib/themes/02_primitive/canton/SO.json
  projects/design-system/src/lib/themes/02_primitive/canton/SZ.json
  projects/design-system/src/lib/themes/02_primitive/canton/TG.json
  projects/design-system/src/lib/themes/02_primitive/canton/TI.json
  projects/design-system/src/lib/themes/02_primitive/canton/UR.json
  projects/design-system/src/lib/themes/02_primitive/canton/VD.json
  projects/design-system/src/lib/themes/02_primitive/canton/VS.json
  projects/design-system/src/lib/themes/02_primitive/canton/ZG.json
  projects/design-system/src/lib/themes/02_primitive/canton/ZH.json
Due: prettier --write

feat(design-system/tokens): add COR_contrast and COR_language mode collections (OUI-4509)
  projects/design-system/documentation/02-foundation/03-design-tokens/02-modes/98-collections-and-resolution-chain.md
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/01_global/contrast/high.json
  projects/design-system/src/lib/themes/01_global/contrast/standard.json
  projects/design-system/src/lib/themes/01_global/language/DE.json
  projects/design-system/src/lib/themes/01_global/language/EN.json
  projects/design-system/src/lib/themes/01_global/language/FR.json
  projects/design-system/src/lib/themes/01_global/language/IT.json
  projects/design-system/src/lib/themes/01_global/language/RM.json
  projects/design-system/src/lib/themes/01_global/modes.json
Due: prettier --write

refactor(design-system/tokens): reorder $themes.json groups to match resolution chain (OUI-4509)
  projects/design-system/src/lib/themes/$themes.json
Due: prettier --write

refactor(design-system/tokens): merge semantic group into static (OUI-4509)
  projects/design-system/src/lib/themes/$themes.json
Due: prettier --write

refactor(design-system/tokens): move vd1_base single-mode theme into static group (OUI-4509)
  projects/design-system/src/lib/themes/$themes.json
Due: prettier --write

refactor(design-system/tokens): merge static/semantic/vd1_base into single static theme entry (OUI-4509)
  projects/design-system/src/lib/themes/$themes.json
Due: prettier --write

fix(design-system/tokens): restore demoted token sets and clear ext-lib variable refs (OUI-4509)
  projects/design-system/src/lib/themes/$themes.json
Due: prettier --write

feat(documentation): add List component specification and overview
  projects/design-system/documentation/04-components/02-list/list-overview.md
Due: prettier --write

temp: strip figma ref fields from themes.json for clean empty-file export (revert after)
  projects/design-system/src/lib/themes/$themes.json
Due: prettier --write

refactor(figjam/audit-card): update format spec and enhance template structure for naming-audit cards
  projects/design-system/documentation/02-foundation/03-design-tokens/02-modes/98-collections-and-resolution-chain.md
  projects/design-system/documentation/_templates/figjam/audit-card.md
Due: prettier --write

ci(jenkins): use node 24
  Jenkinsfile
Due: none

refactor(figjam/audit-card): remove category prefixes from example cards and update terminology
  projects/design-system/documentation/02-foundation/03-design-tokens/02-modes/98-collections-and-resolution-chain.md
  projects/design-system/documentation/_templates/figjam/audit-card.md
Due: prettier --write

refactor(documentation): update mode collections taxonomy and clarify naming conventions
  projects/design-system/documentation/02-foundation/03-design-tokens/02-modes/98-collections-and-resolution-chain.md
Due: prettier --write

chore: move validation scripts into scripts-custom/validation subfolder
  projects/design-system/scripts-custom/validation/detect-circular-token-references.js
  projects/design-system/scripts-custom/validation/validate-all-components.js
  projects/design-system/scripts-custom/validation/validate-all.js
  projects/design-system/scripts-custom/validation/validate-consumption-hierarchy.js
  projects/design-system/scripts-custom/validation/validate-semantic-mirroring.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

restore missing validation dependency scripts for validate-all.js orchestrator
  projects/design-system/scripts-custom/detect-circular-token-references.js
  projects/design-system/scripts-custom/validate-consumption-hierarchy.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

restore validation orchestration scripts: validate-all.js and validate-semantic-mirroring.js
  projects/design-system/scripts-custom/validate-all.js
  projects/design-system/scripts-custom/validate-semantic-mirroring.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

chore: restore projects/design-system/scripts-custom/validate-all-components.js from history (af7d1590)
  projects/design-system/scripts-custom/validate-all-components.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(design-system/tokens): revert all validation scripts
  projects/design-system/documentation/02-foundation/03-design-tokens/00-index.md
  projects/design-system/documentation/02-foundation/03-design-tokens/01-types/07-component-tokens.md
  projects/design-system/documentation/02-foundation/03-design-tokens/02-modes/00-overview.md
  projects/design-system/documentation/02-foundation/03-design-tokens/02-modes/97-ghost-variables.md
  projects/design-system/documentation/02-foundation/03-design-tokens/99-workflows/token-description-guidelines.md
  projects/design-system/scripts-custom/detect-circular-token-references.js
  projects/design-system/scripts-custom/figma-utils/create-button-vd1-hex.js
  projects/design-system/scripts-custom/figma-utils/themes.clean-for-empty-export.json
  projects/design-system/scripts-custom/figma-utils/themes.real-backup.json
  projects/design-system/scripts-custom/figma-utils/unbind-variables.js
  projects/design-system/scripts-custom/validate-all-components.js
  projects/design-system/scripts-custom/validate-all.js
  projects/design-system/scripts-custom/validate-consumption-hierarchy.js
  projects/design-system/scripts-custom/validate-semantic-mirroring.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

ci(jenkins): correct gitPush config
  Jenkinsfile
Due: none

build(dependencies): update dependencies and refactor accordingly
  package-lock.json
  package.json
  projects/design-system/package.json
  projects/oblique/package.json
  projects/sandbox-ssr/package.json
  projects/service-navigation-web-component/package.json
Due: prettier --write

build(scripts): correct project name
  projects/service-navigation-web-component/scripts/release.ts
  scripts/shared/changelog.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build(release): release version 15.4.0
  package-lock.json
  package.json
  projects/cli/CHANGELOG.md
  projects/cli/package.json
  projects/cli/src/utils/cli-utils.ts
  projects/design-system/package.json
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/src/lib/version.ts
  projects/sandbox-ssr/package.json
  projects/sandbox/CHANGELOG.md
  projects/sandbox/package.json
  projects/sds/package.json
  projects/sds/src/obliqueVersion.ts
  projects/service-navigation-web-component/CHANGELOG.md
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/src/app/version.ts
  projects/toolchain/package.json
  publiccode.yml
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(design-system/tokens): state layers colors OUX-224
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/02_primitive/color.json
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/light.json
Due: prettier --write

feat(design-system/tokens): state layer colors OUX-224
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/dark.json
Due: prettier --write

feat(design-system/tokens): state layer colors OUX-224
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/light.json
Due: prettier --write

feat(design-system/tokens): state layer colors OUX-224
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/dark.json
Due: prettier --write

feat(design-system/tokens): state layer colors OUX-224
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/light.json
Due: prettier --write

fix(design-system/tokens): state layer colors OUX-224
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/dark.json
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/light.json
Due: prettier --write

Path conditions:
  eslint --fix --cache --config eslint.precommit.config.mjs: any of: *.{ts,js,mjs,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,mjs,html,json,yml,md,css,scss}
