Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --config eslint.precommit.config.mjs, stylelint --fix --cache --allow-empty-input, prettier --write

.lintstagedrc.yml:

"*.{ts,js,mjs,html}": eslint --fix --cache --config eslint.precommit.config.mjs
"*.{css,scss}": stylelint --fix --cache --allow-empty-input
"*.{ts,js,mjs,html,json,yml,md,css,scss}": prettier --write

fix(toolchain/linting): actually deactivate `@angular-eslint/component-class-suffix`
  projects/toolchain/src/linting/eslint-config-oblique.mjs
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build(toolchain/scripts): support arrays for rule definition in `check-lint-rules`
  projects/toolchain/scripts/check-lint-rules.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(cli): resolve obvious EsLint exceptions
  projects/cli/eslint.project-config.mjs
  projects/cli/src/new/ob-new.spec.ts
  projects/cli/src/update/ob-update.spec.ts
  projects/cli/src/update/ob-update.ts
  projects/cli/src/utils/cli-utils.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build(toolchain/scripts): improve type safety of `check-lint-rules`
  projects/toolchain/eslint.project-config.mjs
  projects/toolchain/scripts/check-lint-rules.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(sandbox): resolve obvious EsLint exceptions
  projects/sandbox/src/app/samples/autocomplete/autocomplete.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(toolchain/linting): deactivate `default-case` and `@typescript-eslint/consistent-return`
  projects/toolchain/src/linting/eslint-config-oblique.mjs
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(sds): resolve obvious EsLint exceptions
  projects/sds/src/app/shared/http-api-interceptor/http-api-interceptor.spec.ts
  projects/sds/src/app/shared/http-api-interceptor/http-api-interceptor.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(oblique): resolve obvious EsLint exceptions
  projects/oblique/src/lib/_mocks/mock-mat-element.ts
  projects/oblique/src/lib/accessibility-statement/accessibility-statement.component.ts
  projects/oblique/src/lib/nav-tree/nav-tree-item.model.ts
  projects/oblique/src/lib/notification/notification.component.ts
  projects/oblique/src/lib/popover/popover.directive.ts
  projects/oblique/src/lib/schema-validation/draft07-converter.decorator.ts
  projects/oblique/src/lib/selectable/selectable-group.directive.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(design-system/tokens): expand token set with additional documentation references
  projects/design-system/src/lib/themes/$metadata.json
Due: prettier --write

refactor(design-system/tokens): migrate default icon asset for button.remove
  projects/design-system/src/lib/themes/04_component/atom/icon_slot/static.json
  projects/design-system/src/lib/themes/05_html/button/04_layout.json
Due: prettier --write

refactor(design-system/tokens): refactor icon slot size configuration to introduce static and dynamic sizing options
  projects/design-system/scripts-custom/figma-builders/contrast-pairings/extracted-json/status.json
  projects/design-system/src/lib/themes/04_component/atom/icon_slot/size.json
Due: prettier --write

fix(sds/tabbed-page): show gallery tab with valid slug ids
  projects/sds/jest.config.js
  projects/sds/src/app/tabbed-page/tabbed-page.component.spec.ts
  projects/sds/src/app/tabbed-page/tabbed-page.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(design-system/tokens): update icon slot size names and descriptions for clarity and consistency
  projects/design-system/documentation/03-design-tokens/03-naming.md
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/04_component/atom/icon_slot/size.json
Due: prettier --write

feat(design-system/tokens): add default color configuration for icon slots and update metadata
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/04_component/atom/icon_slot/color.json
Due: prettier --write

feat(design-system/tokens): rename icon_slot → icon; update size and add spacing.vertical.offset
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/04_component/atom/icon/color.json
  projects/design-system/src/lib/themes/04_component/atom/icon/size.json
  projects/design-system/src/lib/themes/04_component/atom/icon/static.json
  projects/design-system/src/lib/themes/doc/04_component/atom/icon/size.json
  projects/design-system/src/lib/themes/doc/04_component/atom/icon/static.json
Due: prettier --write

refactor(design-system/tokens): remove unused static.json files for icon and documentation
  projects/design-system/src/lib/themes/04_component/atom/icon/static.json
  projects/design-system/src/lib/themes/doc/04_component/atom/icon/static.json
Due: prettier --write

refactor(design-system/tokens): rename json files for color and layout configurations for icon component
  projects/design-system/src/lib/themes/04_component/atom/icon/01_color.json
  projects/design-system/src/lib/themes/04_component/atom/icon/02_layout.json
  projects/design-system/src/lib/themes/doc/04_component/atom/icon/02_layout.json
Due: prettier --write

refactor(design-system/tokens): update icon component paths for layout and color configurations
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
Due: prettier --write

refactor(design-system/tokens): reorder icon component paths in metadata.json
  projects/design-system/src/lib/themes/$metadata.json
Due: prettier --write

refactor(design-system/tokens): add body into token path of ob.c.icon.inline_text.body.spacing.vertical.offset
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/04_component/atom/icon/02_layout.json
Due: prettier --write

docs(design-system/icon): shorten token $descriptions
  projects/design-system/src/lib/themes/04_component/atom/icon/02_layout.json
Due: prettier --write

refactor(design-system/tokens): enhance descriptions for icon foreground color and default size
  projects/design-system/src/lib/themes/04_component/atom/icon/01_color.json
  projects/design-system/src/lib/themes/04_component/atom/icon/02_layout.json
Due: prettier --write

refactor(design-system/tokens): update description for default icon foreground color
  projects/design-system/src/lib/themes/04_component/atom/icon/01_color.json
Due: prettier --write

refactor(design-system/tokens): enhance description for inline icon baseline offset
  projects/design-system/src/lib/themes/04_component/atom/icon/02_layout.json
Due: prettier --write

build(release): release version 15.2.0
  package-lock.json
  package.json
  projects/cli/package.json
  projects/cli/src/utils/cli-utils.ts
  projects/design-system/CHANGELOG.md
  projects/design-system/package.json
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/src/lib/version.ts
  projects/sandbox-ssr/CHANGELOG.md
  projects/sandbox-ssr/package.json
  projects/sandbox/CHANGELOG.md
  projects/sandbox/package.json
  projects/sds/CHANGELOG.md
  projects/sds/package.json
  projects/sds/src/obliqueVersion.ts
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/src/app/version.ts
  projects/toolchain/CHANGELOG.md
  projects/toolchain/package.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(oblique/material): allow multi-line labels in vertical stepper
  projects/oblique/src/lib/column-layout/column-layout.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

build(dependencies): update dependencies and refactor accordingly
  package-lock.json
  package.json
  projects/design-system/package.json
  projects/oblique/package.json
  projects/sandbox-ssr/package.json
  projects/service-navigation-web-component/package.json
Due: prettier --write

build(dependencies): remove root `type` from the package (initiated by ng-packagr bump)
  projects/oblique/scripts/post-build.ts
  scripts/shared/package-json.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(sds/translations): rename component for distinction between examples
  projects/sds/src/app/code-examples/code-examples/translations/previews/stackblitz-link/translations-example-static-stackblitz-link-preview.component.html
  projects/sds/src/app/code-examples/code-examples/translations/previews/stackblitz-link/translations-example-static-stackblitz-link-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/translations/translations-code-examples.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

docs(sds/translations): add stackblitz example for dynamic language loading
  projects/sds/CONTRIBUTING.md
  projects/sds/src/app/code-examples/code-examples/translations/previews/stackblitz-link/translations-example-dynamic-stackblitz-link-preview.component.html
  projects/sds/src/app/code-examples/code-examples/translations/previews/stackblitz-link/translations-example-dynamic-stackblitz-link-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/translations/translations-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/translations/translations-code-examples.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(oblique/master-layout): show focus ring over active menu items
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

build(changelog): don't list the body text inside issues
  scripts/shared/changelog.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build(release): avoid deprecating non-existent version
  scripts/shared/publish.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

docs(design-system/tokens): update token naming patterns and add token types documentation
  projects/design-system/documentation/03-design-tokens/03-naming.md
  projects/design-system/documentation/03-design-tokens/04-token-types.md
Due: prettier --write

docs(design-system/tokens): clarify naming rules and exceptions for Tokens Studio $type
  projects/design-system/documentation/03-design-tokens/03-naming.md
  projects/design-system/documentation/03-design-tokens/04-token-types.md
Due: prettier --write

refactor(design-system/tokens): rename the type segments for consistancy
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/01_global/modes.json
  projects/design-system/src/lib/themes/02_primitive/number.json
  projects/design-system/src/lib/themes/02_primitive/typography.json
  projects/design-system/src/lib/themes/02_primitive/z-index.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/lg.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/md.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/sm.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/static.json
  projects/design-system/src/lib/themes/03_semantic/z-index.json
  projects/design-system/src/lib/themes/04_component/atom/badge.json
  projects/design-system/src/lib/themes/04_component/atom/spinner.json
  projects/design-system/src/lib/themes/04_component/molecule/infobox/03_viewport/desktop.json
  projects/design-system/src/lib/themes/04_component/molecule/infobox/03_viewport/mobile.json
  projects/design-system/src/lib/themes/04_component/molecule/popover.json
  projects/design-system/src/lib/themes/05_html/button/03_shadows.json
  projects/design-system/src/lib/themes/05_html/button/07_reference_only.json
  projects/design-system/src/lib/themes/05_html/hr.json
Due: prettier --write

refactor(design-system/tokens): rename the type segments for consistancy, part 2
  projects/design-system/src/lib/themes/03_semantic/typography/grouped/lg.json
  projects/design-system/src/lib/themes/03_semantic/typography/grouped/md.json
  projects/design-system/src/lib/themes/03_semantic/typography/grouped/sm.json
  projects/design-system/src/lib/themes/03_semantic/typography/grouped/static.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/lg.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/md.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/sm.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/static.json
  projects/design-system/src/lib/themes/04_component/molecule/pill/07_reference_ony.json
  projects/design-system/src/lib/themes/04_component/molecule/pill/typography.json
  projects/design-system/src/lib/themes/05_html/button/02_typography.json
  projects/design-system/src/lib/themes/05_html/button/07_reference_only.json
  projects/design-system/src/lib/themes/05_html/typography/context/interface.json
  projects/design-system/src/lib/themes/05_html/typography/context/prose.json
  projects/design-system/src/lib/themes/05_html/typography/style.json
Due: prettier --write

refactor(design-system/tokens): rename the type segments for consistancy, kebap-case to snake_case, part 3
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/01_global/modes.json
  projects/design-system/src/lib/themes/01_global/themes_scoped/static.json
  projects/design-system/src/lib/themes/01_global/themes_user/lightness/dynamic/dark.json
  projects/design-system/src/lib/themes/01_global/themes_user/lightness/dynamic/light.json
  projects/design-system/src/lib/themes/01_global/themes_user/lightness/static.json
  projects/design-system/src/lib/themes/02_primitive/number.json
  projects/design-system/src/lib/themes/02_primitive/z_index.json
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/dark.json
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/light.json
  projects/design-system/src/lib/themes/03_semantic/color/s2_emphasis/high.json
  projects/design-system/src/lib/themes/03_semantic/color/s2_emphasis/low.json
  projects/design-system/src/lib/themes/03_semantic/color/s3_semantic/semantic.json
  projects/design-system/src/lib/themes/03_semantic/z_index.json
  projects/design-system/src/lib/themes/04_component/molecule/infobox/03_viewport/desktop.json
  projects/design-system/src/lib/themes/04_component/molecule/infobox/03_viewport/mobile.json
  projects/design-system/src/lib/themes/04_component/molecule/pill/pill.json
  projects/design-system/src/lib/themes/NO_DS/FIGMA_ONLY/colors_static.json
  projects/design-system/src/lib/themes/NO_DS/FIGMA_ONLY/off.json
  projects/design-system/src/lib/themes/NO_DS/FIGMA_ONLY/on.json
  projects/design-system/src/lib/themes/NO_DS/FIGMA_ONLY/typography.json
  projects/design-system/src/lib/themes/NO_DS/OB_LEGACY/typography_styles_R14.json
  projects/design-system/src/lib/themes/doc/02_primitive/z_index.json
  projects/design-system/src/lib/themes/doc/03_semantic/color/contrast_pairings.json
  projects/design-system/src/lib/themes/doc/03_semantic/color/s1_lightness/dark.json
  projects/design-system/src/lib/themes/doc/03_semantic/color/s1_lightness/light.json
  projects/design-system/src/lib/themes/doc/03_semantic/color/s2_emphasis/high.json
  projects/design-system/src/lib/themes/doc/03_semantic/color/s2_emphasis/low.json
  projects/design-system/src/lib/themes/doc/03_semantic/color/s3_semantic/semantic.json
  projects/design-system/src/lib/themes/doc/03_semantic/z_index.json
Due: prettier --write
