Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

.lintstagedrc.yml:

"*.{ts,js,mjs,html}": eslint --fix --cache
"*.{css,scss}": stylelint --fix --cache --allow-empty-input
"*.{ts,js,mjs,html,json,yml,md,css,scss}": prettier --write

feat(toolchain): add automatic deprecation of end of life versions
  scripts/shared/publish.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/file-upload): add example with `mapFilesToDeleteUrlFunction`
  projects/sandbox/src/app/samples/file-upload-sample/file-upload-sample.component.html
  projects/sandbox/src/app/samples/file-upload-sample/file-upload-sample.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/file-upload): add example with `mapFilesToDeleteUrlFunction`
  projects/sds/src/app/code-examples/code-examples/file-upload/file-upload-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/file-upload/file-upload-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/file-upload/file-upload-simulate-interceptor.ts
  projects/sds/src/app/code-examples/code-examples/file-upload/previews/fully-functioning-with-custom-delete/file-upload-fully-functioning-with-custom-delete-preview.component.html
  projects/sds/src/app/code-examples/code-examples/file-upload/previews/fully-functioning-with-custom-delete/file-upload-fully-functioning-with-custom-delete-preview.component.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/toolchain): remove unused `npm-deprecate.ts` script
  projects/oblique/scripts/npm-deprecate.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/file-upload): add `mapFilesToDeleteUrlFunction` function
  projects/oblique/src/lib/file-upload/file-info/file-info.component.spec.ts
  projects/oblique/src/lib/file-upload/file-info/file-info.component.ts
  projects/oblique/src/lib/file-upload/file-upload.service.spec.ts
  projects/oblique/src/lib/file-upload/file-upload.service.ts
Due: eslint --fix --cache, prettier --write

feat(service-navigation/toolchain): all releases are published under the `stable` tag
  projects/service-navigation-web-component/scripts/publish.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/external-link): ensure top-margin to be applied only to link that are not styled buttons
  projects/oblique/src/styles/scss/core/components/_external-link.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/accessibility-statement): update broken accessibility urls
  projects/oblique/src/assets/i18n/oblique-fr.json
Due: prettier --write

fix(oblique/paginator): ensure that the disabled button state is displayed
  projects/oblique/src/styles/scss/material/_mat-paginator.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(design-system/token): add all tokens OUI-3743
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/components/atoms/tooltip.json
  projects/design-system/src/lib/themes/components/molecules/infobox.json
  projects/design-system/src/lib/themes/components/molecules/pills.json
  projects/design-system/src/lib/themes/components/molecules/popover.json
  projects/design-system/src/lib/themes/components/molecules/tag.json
  projects/design-system/src/lib/themes/semantics/typography-base.json
  projects/design-system/src/lib/themes/semantics/typography-modes/1440-lg.json
  projects/design-system/src/lib/themes/semantics/typography-modes/360-xs.json
  projects/design-system/src/lib/themes/semantics/typography-styles.json
Due: prettier --write

fix(design-system/token): fix card typography token values
  projects/design-system/src/lib/themes/semantics/typography-styles.json
Due: prettier --write

fix(oblique/accessibility-statement): move other languages text outside of link
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/accessibility-statement/accessibility-statement.component.html
  projects/oblique/src/lib/accessibility-statement/accessibility-statement.component.ts
  projects/oblique/src/lib/accessibility-statement/available-in/available-in.component.html
  projects/oblique/src/lib/accessibility-statement/available-in/available-in.component.spec.ts
  projects/oblique/src/lib/accessibility-statement/available-in/available-in.component.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/translation): fix spaces and single quotes
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
Due: prettier --write

fix(oblique/accessibility-statement): improve German translations
  projects/oblique/src/assets/i18n/oblique-de.json
Due: prettier --write

fix(design-system/token): fix header typography token values
  projects/design-system/src/lib/themes/semantics/typography-styles.json
Due: prettier --write

refactor(sds/side-navigation): extract slug methods to a dedicated service
  projects/sds/src/app/shared/slug/slug.service.spec.ts
  projects/sds/src/app/shared/slug/slug.service.ts
  projects/sds/src/app/side-navigation/side-navigation.component.ts
Due: eslint --fix --cache, prettier --write

test(sds): add tests to the slug service
  projects/sds/src/app/shared/slug/slug.service.spec.ts
Due: eslint --fix --cache, prettier --write

fix(sds/side-navigation): remove typo in url parsing
  projects/sds/src/app/side-navigation/side-navigation.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/side-navigation): ensure that the side navigation is only toggled in mobile mode
  projects/sds/src/app/app.component.spec.ts
  projects/sds/src/app/side-navigation/side-navigation.component.spec.ts
  projects/sds/src/app/side-navigation/side-navigation.component.ts
Due: eslint --fix --cache, prettier --write

fix(design-system/token): fix token structure
  projects/design-system/src/lib/themes/semantics/typography-styles.json
Due: prettier --write

fix(design-system/token): separate token-set typography-styles
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/semantics/typography-scale.json
  projects/design-system/src/lib/themes/semantics/typography-styles.json
Due: prettier --write

feat(design-system/token): add tokens ~documentation-only
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/semantics/typography-styles.json
Due: prettier --write

fix(design-system/token): reorder and rename token set: "heading.compact-default" first
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/semantics/typography-styles.json
Due: prettier --write

chore(toolchain): release version 13.1.2
  package-lock.json
  package.json
  projects/cli/package.json
  projects/cli/sonar-project.properties
  projects/cli/src/new/ob-new.model.ts
  projects/design-system/package.json
  projects/design-system/sonar-project.properties
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/sonar-project.properties
  projects/oblique/src/lib/version.ts
  projects/sandbox-ssr/package.json
  projects/sandbox-ssr/sonar-project.properties
  projects/sandbox/package.json
  projects/sandbox/sonar-project.properties
  projects/sds/CHANGELOG.md
  projects/sds/package.json
  projects/sds/sonar-project.properties
  projects/sds/src/obliqueVersion.ts
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/sonar-project.properties
  projects/service-navigation-web-component/src/app/version.ts
Due: eslint --fix --cache, prettier --write

fix(design-system/token): rename token set: "heading.prose"
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/semantics/typography-styles.json
Due: prettier --write

feat(service-navigation/sample): add `tooltip` text
  projects/service-navigation-web-component/src/index.html
Due: eslint --fix --cache, prettier --write

feat(oblique/master-layout): remove flyout padding
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(service-navigation/web-component): add `tooltip` input for custom-buttons
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.html
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.ts
  projects/service-navigation-web-component/src/app/service-navigation-web-component.model.ts
Due: eslint --fix --cache, prettier --write

feat(service-navigation/web-component): add `accessibilityText` input for custom-buttons
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.html
  projects/service-navigation-web-component/src/app/service-navigation-web-component.model.ts
Due: eslint --fix --cache, prettier --write

feat(service-navigation/sample): add `accessibilityText` text
  projects/service-navigation-web-component/src/index.html
Due: eslint --fix --cache, prettier --write

feat(oblique/master-layout): set fixed width for flyout
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
  projects/oblique/src/styles/scss/core/_variables.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/master-layout): set min-height for flyout
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/master-layout): reduce top and bottom margin on flyout button
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/master-layout): reduce red flyout hover line width
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/master-layout): ensure flyouts are aligned with the edge of their respective toggle
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/material): provide `MatStepperIntl` translations
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/stepper/ob-stepper.service.spec.ts
  projects/oblique/src/lib/stepper/ob-stepper.service.ts
  projects/oblique/src/lib/utilities.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/material): provide `MatDatepickerIntl` translations
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/datepicker/ob-datepicker.module.ts
  projects/oblique/src/lib/datepicker/ob-datepicker.service.spec.ts
  projects/oblique/src/lib/datepicker/ob-datepicker.service.ts
  projects/oblique/src/lib/utilities.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, prettier --write
