Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

.lintstagedrc.yml:

"*.{ts,js,mjs,html}": eslint --fix --cache
"*.{css,scss}": stylelint --fix --cache --allow-empty-input
"*.{ts,js,mjs,html,json,yml,md,css,scss}": prettier --write

refactor(sandbox): use `provideObliqueConfiguration` instead of directly providing injection tokens
  projects/sandbox/src/app/app.module.ts
Due: eslint --fix --cache, prettier --write

refactor(service-navigation): directly provide material configuration and `WINDOW` injection token
  projects/service-navigation-web-component/src/main.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/utilities): provide a `provideObliqueConfiguration` function to configure Oblique
  projects/oblique/schematics/index/ng-add/rules/obliqueFeatures.ts
  projects/oblique/schematics/index/ng-update/update-v12-to-v13.ts
  projects/oblique/src/lib/utilities.model.ts
  projects/oblique/src/lib/utilities.spec.ts
  projects/oblique/src/lib/utilities.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, prettier --write

feat(oblique): modules don't provide Material's configuration anymore
  projects/oblique/src/lib/alert/alert.module.ts
  projects/oblique/src/lib/autocomplete/autocomplete.component.spec.ts
  projects/oblique/src/lib/autocomplete/autocomplete.module.ts
  projects/oblique/src/lib/autocomplete/option-label-icon/option-label-icon.module.ts
  projects/oblique/src/lib/breadcrumb/breadcrumb.module.ts
  projects/oblique/src/lib/button/button.module.ts
  projects/oblique/src/lib/collapse/collapse.module.ts
  projects/oblique/src/lib/column-layout/column-layout.module.ts
  projects/oblique/src/lib/document-meta/document-meta.module.ts
  projects/oblique/src/lib/error-messages/error-messages.module.ts
  projects/oblique/src/lib/external-link/external-link.module.ts
  projects/oblique/src/lib/file-upload/file-upload.module.ts
  projects/oblique/src/lib/focus-invalid/focus-invalid.module.ts
  projects/oblique/src/lib/http-api-interceptor/http-api-interceptor.module.ts
  projects/oblique/src/lib/icon/icon.module.ts
  projects/oblique/src/lib/input-clear/input-clear.module.ts
  projects/oblique/src/lib/master-layout/master-layout.module.ts
  projects/oblique/src/lib/nav-tree/nav-tree.module.ts
  projects/oblique/src/lib/nested-form/nested-form.module.ts
  projects/oblique/src/lib/notification/notification.module.ts
  projects/oblique/src/lib/number-format/number-format.module.ts
  projects/oblique/src/lib/oblique.module.ts
  projects/oblique/src/lib/off-canvas/off-canvas.module.ts
  projects/oblique/src/lib/paginator/ob-paginator.module.ts
  projects/oblique/src/lib/popover/popover.module.ts
  projects/oblique/src/lib/schema-validation/schema-validation.module.ts
  projects/oblique/src/lib/scrolling/scrolling.module.ts
  projects/oblique/src/lib/selectable/selectable.module.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.spec.ts
  projects/oblique/src/lib/service-navigation/info/service-navigation-info.component.spec.ts
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.component.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.module.ts
  projects/oblique/src/lib/spinner/spinner.module.ts
  projects/oblique/src/lib/sticky/sticky.module.ts
  projects/oblique/src/lib/translate-params/translate-params.module.ts
  projects/oblique/src/lib/unknown-route/unknown-route.module.ts
  projects/oblique/src/lib/unsaved-changes/unsaved-changes.module.ts
  projects/oblique/src/lib/utilities.spec.ts
  projects/oblique/src/lib/utilities.ts
Due: eslint --fix --cache, prettier --write

refactor(sds): use `provideObliqueConfiguration` instead of directly providing injection tokens
  projects/sds/src/main.ts
Due: eslint --fix --cache, prettier --write

feat(oblique): deprecate `OB_MATERIAL_CONFIG`
  projects/oblique/src/lib/utilities.ts
Due: eslint --fix --cache, prettier --write

refactor(sds): directly provide material configuration and `WINDOW` injection token
  projects/sds/src/main.ts
Due: eslint --fix --cache, prettier --write

refactor(sandbox): directly provide material configuration and `WINDOW` injection token
  projects/sandbox/src/app/app.module.ts
Due: eslint --fix --cache, prettier --write

test(service-navigation/web-component): provide `WINDOW`
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.spec.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/material): use red for invalid form filed
  projects/oblique/src/styles/scss/material/_mat-form-field.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/notification): use `innerHTML` instead of interpolation for messages
  projects/oblique/src/lib/notification/notification.component.html
Due: eslint --fix --cache, prettier --write

feat(toolchain): ignore `angular.json` when the validating package on the commit check
  scripts/husky/hook.commit-rules.ts
Due: eslint --fix --cache, prettier --write

fix(sds/material): prevent fields to overlap their container
  projects/sds/src/app/code-examples/code-examples/form/previews/states/form-example-states-preview.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/paginator): `ObPaginatorModule` don't provide `ObPaginatorService` anymore
  projects/oblique/src/lib/paginator/ob-paginator.module.ts
  projects/oblique/src/lib/paginator/ob-paginator.service.spec.ts
Due: eslint --fix --cache, prettier --write

test(oblique/utilities): add a `describe` around `provideObliqueConfiguration` Material tests
  projects/oblique/src/lib/utilities.spec.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/utilities): let `provideObliqueConfiguration` provide `ObPaginatorService`
  projects/oblique/src/lib/utilities.spec.ts
  projects/oblique/src/lib/utilities.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/notification): remove unnecessary Eslint exception
  projects/oblique/src/lib/notification/notification.config.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/schematics): remove import of `ObIconModule.forRoot()`
  projects/oblique/schematics/index/ng-add/rules/oblique.ts
  projects/oblique/schematics/index/ng-update/update-v12-to-v13.ts
Due: eslint --fix --cache, prettier --write

refactor(service-navigation): remove unnecessary providers
  projects/service-navigation-web-component/src/main.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/utilities): let `provideObliqueConfiguration` provide translate configuration
  projects/oblique/src/lib/utilities.model.ts
  projects/oblique/src/lib/utilities.spec.ts
  projects/oblique/src/lib/utilities.ts
Due: eslint --fix --cache, prettier --write

refactor(sds): remove unnecessary providers
  projects/sds/src/main.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/paginator): deprecate `ObPaginatorModule`
  projects/oblique/src/lib/paginator/ob-paginator.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/multi-translate-loader): deprecate `TRANSLATION_FILES` and `ObMultiTranslateLoader`
  projects/oblique/src/lib/multi-translate-loader/multi-translate-loader.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/icon): deprecate `ObTIconConfig` and `ObIconModule`
  projects/oblique/src/lib/icon/icon.model.ts
  projects/oblique/src/lib/icon/icon.module.ts
Due: eslint --fix --cache, prettier --write

refactor(sandbox): remove unnecessary modules and providers
  projects/sandbox/src/app/app.module.ts
  projects/sandbox/src/app/material/material.module.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/schematics): let `addImport` recognize imports on multiple lines
  projects/oblique/schematics/index/utils.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/schematics): let `removeImport` ensure there is no lingering comma
  projects/oblique/schematics/index/utils.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/schematics): remove import of `TranslateModule.forRoot(multiTranslateLoader())`
  projects/oblique/schematics/index/ng-add/rules/locales.ts
  projects/oblique/schematics/index/ng-update/update-v12-to-v13.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/schematics): correctly migrate Material configuration
  projects/oblique/schematics/index/ng-update/update-v12-to-v13.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/schematics): create a function for ng-update to migrate custom configurations
  projects/oblique/schematics/index/ng-update/update-v12-to-v13.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/utilities): let `provideObliqueConfiguration` provide icon configuration
  projects/oblique/src/lib/utilities.model.ts
  projects/oblique/src/lib/utilities.spec.ts
  projects/oblique/src/lib/utilities.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/utilities): extract Material providers in a dedicated array
  projects/oblique/src/lib/utilities.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/utilities): deprecate `multiTranslateLoader` and `getTranslateLoader`
  projects/oblique/src/lib/utilities.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/master-layout): reduce padding top & bottom of main nav elements
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/master-layout): reduce margin & padding to the divider between logo and title
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(oblique/material): conform to sass new mixed declarations rule
  projects/oblique/src/styles/scss/material/_mat-chip.scss
  projects/oblique/src/styles/scss/material/mixins/_mat-chip.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/styles): prevent main nav to spill over
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/service-navigation): adapt profile avatar height
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/schematics): warn when standalone application is detected during update
  projects/oblique/schematics/index/ng-update/update-v12-to-v13.ts
  projects/oblique/schematics/index/utils.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/schematics): ng-add don't add `no-host-metadata-property` Eslint rule anymore
  projects/oblique/schematics/index/ng-add/templates/default-eslint.config.mjs.config
Due: none
