Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(documentation): add initial design token system requirements and compatibility priorities
  projects/design-system/documentation/03-design-tokens/system-requirements.md
Due: prettier --write

fix(documentation): refine design token system requirements for clarity and consistency
  projects/design-system/documentation/03-design-tokens/system-requirements.md
Due: prettier --write

feat(oblique/master-layout): deprecate `ObILocale.display`
  projects/oblique/src/lib/master-layout/master-layout.model.ts
Due: eslint --fix --cache, prettier --write

Refactor dimension multipliers and density settings
  projects/design-system/documentation/03-design-tokens/05-modes/density-plan.md
  projects/design-system/src/lib/themes/01_global/multipliers/dimension.json
  projects/design-system/src/lib/themes/03_semantic/dimension/lg.json
  projects/design-system/src/lib/themes/03_semantic/dimension/md.json
  projects/design-system/src/lib/themes/03_semantic/dimension/sm.json
Due: prettier --write

created density groups
  projects/design-system/src/lib/themes/$themes.json
Due: prettier --write

Refactor theme dimensions and token sets
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/03_semantic/dimension/lg.json
  projects/design-system/src/lib/themes/03_semantic/dimension/md.json
  projects/design-system/src/lib/themes/03_semantic/dimension/sm.json
Due: prettier --write

refactor(dimensions): update dimension references to use component_size for consistency across theme files
  projects/design-system/src/lib/themes/03_semantic/dimension/lg.json
  projects/design-system/src/lib/themes/03_semantic/dimension/md.json
  projects/design-system/src/lib/themes/03_semantic/dimension/sm.json
  projects/design-system/src/lib/themes/04_component/atom/icon_slot/size.json
  projects/design-system/src/lib/themes/04_component/atom/spinner.json
  projects/design-system/src/lib/themes/04_component/molecule/pill/pill.json
  projects/design-system/src/lib/themes/04_component/molecule/popover.json
  projects/design-system/src/lib/themes/04_component/molecule/tag/tag.json
  projects/design-system/src/lib/themes/05_html/button/04_layout.json
  projects/design-system/src/lib/themes/05_html/button/05_viewport/desktop.json
  projects/design-system/src/lib/themes/05_html/button/05_viewport/mobile.json
Due: prettier --write

fix(documentation): update density document date and approval status
  projects/design-system/documentation/03-design-tokens/05-modes/05-density.md
Due: prettier --write

fix(documentation): update stakeholder approval status and clarify implementation tasks
  projects/design-system/documentation/03-design-tokens/05-modes/05-density.md
Due: prettier --write

fix(sandbox): adjust column-layouts to valid values
  projects/sandbox/src/app/material/badge/badge.component.html
  projects/sandbox/src/app/material/card/card.component.html
  projects/sandbox/src/app/material/chips/chips.component.html
  projects/sandbox/src/app/material/dialog/dialog.component.html
  projects/sandbox/src/app/material/expansion-panel/expansion-panel.component.html
  projects/sandbox/src/app/material/form/form.component.html
  projects/sandbox/src/app/material/icon/icon.sample.component.html
  projects/sandbox/src/app/material/list/list.component.html
  projects/sandbox/src/app/material/progress-bar/progress-bar.component.html
  projects/sandbox/src/app/material/slider/slider.component.html
  projects/sandbox/src/app/material/spinner/spinner.component.html
  projects/sandbox/src/app/material/stepper-horizontal/stepper-horizontal.component.html
  projects/sandbox/src/app/material/stepper-vertical/stepper-vertical.component.html
  projects/sandbox/src/app/material/table/table.component.html
  projects/sandbox/src/app/material/tooltip/tooltip.component.html
  projects/sandbox/src/app/samples/alert/alert.component.html
  projects/sandbox/src/app/samples/autocomplete/autocomplete.component.html
  projects/sandbox/src/app/samples/collapse/collapse-sample.component.html
  projects/sandbox/src/app/samples/column-layout-full-height/column-layout-full-height-sample.component.ts
  projects/sandbox/src/app/samples/external-link/external-link.component.html
  projects/sandbox/src/app/samples/file-upload-sample/file-upload-sample.component.html
  projects/sandbox/src/app/samples/focus-invalid/focus-invalid-sample.component.html
  projects/sandbox/src/app/samples/http-interceptor/http-interceptor-sample.component.html
  projects/sandbox/src/app/samples/language/language-sample.component.html
  projects/sandbox/src/app/samples/nav-tree/nav-tree-sample.component.html
  projects/sandbox/src/app/samples/popover/popover.component.html
  projects/sandbox/src/app/samples/selectable-form/selectable-form-sample.component.html
  projects/sandbox/src/app/samples/selectable/selectable-sample.component.html
  projects/sandbox/src/app/samples/service-navigation/service-navigation-sample.component.html
  projects/sandbox/src/app/styles/table/table.component.html
Due: eslint --fix --cache, prettier --write

fix(oblique/service-navigation): the use `pollingInterval` from the backend
  projects/oblique/src/lib/service-navigation/service-navigation.service.ts
Due: eslint --fix --cache, prettier --write

feat(density): Add new density theme entries for compact, standard, and spacious dimensions
  projects/design-system/src/lib/themes/$themes.json
Due: prettier --write

fix(density): Update Figma collection and mode IDs for density themes
  projects/design-system/src/lib/themes/$themes.json
Due: prettier --write

refactor(oblique): activate `no-floating-promises` and refactor accordingly
  projects/oblique/eslint.project-config.mjs
  projects/oblique/src/lib/breadcrumb/breadcrumb.component.spec.ts
  projects/oblique/src/lib/collapse/collapse.component.spec.ts
  projects/oblique/src/lib/column-layout/column-layout.component.spec.ts
  projects/oblique/src/lib/focus-invalid/focus-invalid.directive.spec.ts
  projects/oblique/src/lib/input-clear/input-clear.directive.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-footer/master-layout-footer.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.spec.ts
  projects/oblique/src/lib/master-layout/outline.directive.spec.ts
  projects/oblique/src/lib/nav-tree/nav-tree.component.spec.ts
  projects/oblique/src/lib/nested-form/nested-form.component.spec.ts
  projects/oblique/src/lib/notification/notification.component.spec.ts
  projects/oblique/src/lib/number-format/number-format.directive.spec.ts
  projects/oblique/src/lib/schema-validation/schema-required.directive.spec.ts
  projects/oblique/src/lib/schema-validation/schema-validator.spec.ts
  projects/oblique/src/lib/scrolling/top-control.component.spec.ts
  projects/oblique/src/lib/service-navigation/authentication/service-navigation-authentication.component.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.spec.ts
  projects/oblique/src/lib/spinner/spinner.component.spec.ts
  projects/oblique/src/lib/unknown-route/unknown-route.component.spec.ts
  projects/oblique/src/lib/unsaved-changes/unsaved-changes.directive.spec.ts
Due: eslint --fix --cache, prettier --write

refactor(service-navigation): activate `no-floating-promises` and refactor accordingly
  projects/service-navigation-web-component/eslint.project-config.mjs
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.spec.ts
  projects/service-navigation-web-component/src/app/translations-service.spec.ts
Due: eslint --fix --cache, prettier --write

refactor(sds/cms): remove inline Eslint disable comment
  projects/sds/src/app/shared/slug/slug.service.spec.ts
Due: eslint --fix --cache, prettier --write

refactor(sds): activate `no-floating-promises` and refactor accordingly
  projects/sds/eslint.project-config.mjs
  projects/sds/src/app/code-examples/code-example/code-example.component.spec.ts
  projects/sds/src/app/shared/slug/slug.service.spec.ts
Due: eslint --fix --cache, prettier --write

refactor(sandbox): activate `no-floating-promises` and refactor accordingly
  projects/sandbox/eslint.project-config.mjs
  projects/sandbox/src/app/app.component.spec.ts
  projects/sandbox/src/app/home/home.page.spec.ts
  projects/sandbox/src/app/samples/collapse/collapse-sample.component.spec.ts
  projects/sandbox/src/app/samples/error-messages-sample/error-messages-sample.component.spec.ts
  projects/sandbox/src/app/samples/nav-tree/nav-tree-sample.component.spec.ts
  projects/sandbox/src/app/samples/number-format/number-format-sample.component.spec.ts
  projects/sandbox/src/app/samples/schema-validation/schema-validation-sample.component.spec.ts
Due: eslint --fix --cache, prettier --write

test(sandbox): improve code consistency
  projects/sandbox/src/app/app.component.spec.ts
Due: eslint --fix --cache, prettier --write

test(oblique/router): improve code consistency
  projects/oblique/src/lib/router/ob-localize.pipe.spec.ts
Due: eslint --fix --cache, prettier --write

test(oblique/schema-validation): use `async/await` instead of `then()`
  projects/oblique/src/lib/schema-validation/schema-validator.spec.ts
Due: eslint --fix --cache, prettier --write

test(sds/cms): don't use `then()` together with `async/await`
  projects/sds/src/app/code-examples/code-example/code-example.component.spec.ts
Due: eslint --fix --cache, prettier --write

fix(sds): harmonize title paddings
  projects/sds/src/app/component-page/component-page.component.scss
  projects/sds/src/app/component-page/component-pages/newsletter/newsletter.component.scss
  projects/sds/src/app/text-page/text-page.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(dimension): Simplify dimension token references and remove density entries
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
Due: prettier --write

Add density theme files for compact, spacious, and standard dimensions
  projects/design-system/src/lib/themes/03_semantic/dimension/component_size/lg.json
  projects/design-system/src/lib/themes/03_semantic/dimension/component_size/md.json
  projects/design-system/src/lib/themes/03_semantic/dimension/component_size/sm.json
  projects/design-system/src/lib/themes/03_semantic/dimension/density/compact.json
  projects/design-system/src/lib/themes/03_semantic/dimension/density/spacious.json
  projects/design-system/src/lib/themes/03_semantic/dimension/density/standard.json
Due: prettier --write

tlkens studio config updates
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
Due: prettier --write

Remove large, medium, and small dimension theme files for cleanup
  projects/design-system/src/lib/themes/03_semantic/dimension/lg.json
  projects/design-system/src/lib/themes/03_semantic/dimension/md.json
  projects/design-system/src/lib/themes/03_semantic/dimension/sm.json
Due: prettier --write

refactor(dimension): rename component_size to density for consistency in theme files
  projects/design-system/src/lib/themes/03_semantic/dimension/density/compact.json
Due: prettier --write

fix(design-system/tokens): Add "density" in the density token path instead of component_size
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/01_global/multipliers/viewport/desktop.json
  projects/design-system/src/lib/themes/01_global/multipliers/viewport/mobile.json
  projects/design-system/src/lib/themes/03_semantic/dimension/density/spacious.json
  projects/design-system/src/lib/themes/03_semantic/dimension/density/standard.json
  projects/design-system/src/lib/themes/04_component/atom/icon_slot/size.json
  projects/design-system/src/lib/themes/04_component/atom/spinner.json
  projects/design-system/src/lib/themes/04_component/molecule/pill/pill.json
  projects/design-system/src/lib/themes/04_component/molecule/popover.json
  projects/design-system/src/lib/themes/04_component/molecule/tag/tag.json
  projects/design-system/src/lib/themes/05_html/button/04_layout.json
  projects/design-system/src/lib/themes/05_html/button/05_viewport/desktop.json
  projects/design-system/src/lib/themes/05_html/button/05_viewport/mobile.json
Due: prettier --write

fix(design-system/tokens): update density multipliers for compact and spacious to align better with 4px grid.
  projects/design-system/src/lib/themes/01_global/multipliers/dimension.json
Due: prettier --write

fix(design-system/tokens): fix order modes to force defaults for density and component_size
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
Due: prettier --write

build(lint): make sure toolchain's eslint configuration is included
  eslint.config.mjs
Due: eslint --fix --cache, prettier --write

build(lint): add eslint precommit config to avoid strict mode errors
  .lintstagedrc.yml
  eslint.precommit.config.mjs
Due: eslint --fix --cache, prettier --write

build(release): release version 14.1.0
  package-lock.json
  package.json
  projects/cli/CHANGELOG.md
  projects/cli/package.json
  projects/cli/src/utils/cli-utils.ts
  projects/design-system/package.json
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/src/lib/version.ts
  projects/sandbox-ssr/package.json
  projects/sandbox/CHANGELOG.md
  projects/sandbox/package.json
  projects/sds/CHANGELOG.md
  projects/sds/package.json
  projects/sds/src/obliqueVersion.ts
  projects/service-navigation-web-component/CHANGELOG.md
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/src/app/version.ts
  projects/toolchain/CHANGELOG.md
  projects/toolchain/package.json
  projects/toolchain/src/schematics/version.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/master-layout): mark main nav as active if sub nav is active
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.ts
Due: eslint --fix --cache, prettier --write

refactor(design-system/tokens): Refactor density modes with mathematical correctors and flat naming structure.
  projects/design-system/documentation/03-design-tokens/05-modes/05-density.md
  projects/design-system/src/lib/themes/03_semantic/dimension/density/compact.json
  projects/design-system/src/lib/themes/03_semantic/dimension/density/spacious.json
  projects/design-system/src/lib/themes/03_semantic/dimension/density/standard.json
Due: prettier --write

fix(tokens/density): add missing corrector to prevent decimal px values
  projects/design-system/documentation/03-design-tokens/05-modes/05-density.md
  projects/design-system/src/lib/themes/03_semantic/dimension/density/compact.json
Due: prettier --write

fix(design-system/tokens): update mathematical expressions in density for Tokens Studio compatibility OUI-4166
  projects/design-system/documentation/03-design-tokens/05-modes/05-density.md
  projects/design-system/src/lib/themes/03_semantic/dimension/density/compact.json
  projects/design-system/src/lib/themes/03_semantic/dimension/density/spacious.json
  projects/design-system/src/lib/themes/03_semantic/dimension/density/standard.json
Due: prettier --write

fix(design-system/tokens): add px and rem units to corrector values to fix resolving density.
  projects/design-system/documentation/03-design-tokens/05-modes/05-density.md
  projects/design-system/src/lib/themes/03_semantic/dimension/density/compact.json
  projects/design-system/src/lib/themes/03_semantic/dimension/density/spacious.json
Due: prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{ts,js,mjs,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,mjs,html,json,yml,md,css,scss}
