Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --config eslint.precommit.config.mjs, stylelint --fix --cache --allow-empty-input, prettier --write

.lintstagedrc.yml:

"*.{ts,js,mjs,html}": eslint --fix --cache --config eslint.precommit.config.mjs
"*.{css,scss}": stylelint --fix --cache --allow-empty-input
"*.{ts,js,mjs,html,json,yml,md,css,scss}": prettier --write

feat(toolchain/logger): add `obCreateLogger` and `obCreateSchematicsLogger` factory functions
  projects/toolchain/jest.config.js
  projects/toolchain/package.json
  projects/toolchain/src/logger/base-logger.spec.ts
  projects/toolchain/src/logger/base-logger.ts
  projects/toolchain/src/logger/factory.spec.ts
  projects/toolchain/src/logger/factory.ts
  projects/toolchain/src/logger/index.ts
  projects/toolchain/src/logger/logger.spec.ts
  projects/toolchain/src/logger/logger.ts
  projects/toolchain/src/logger/logger.types.ts
  projects/toolchain/src/logger/types.ts
  projects/toolchain/tsconfig.lib.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(toolchain): exclude all `index.js` and mocks from coverage
  projects/toolchain/jest.config.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(design-system/styles): add `text` layer to `oblique.css`
  projects/design-system/src/lib/css/layers/text.css
  projects/design-system/src/lib/css/layers/text/heading.css
  projects/design-system/src/lib/css/layers/text/link.css
  projects/design-system/src/lib/css/layers/text/paragraph.css
  projects/design-system/src/lib/css/oblique.css
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(design-system/styles): add `fonts` layer with `.woff2` files to `oblique.css`
  projects/design-system/src/lib/css/assets/fonts/noto-sans-latin-italic.woff2
  projects/design-system/src/lib/css/assets/fonts/noto-sans-latin-regular.woff2
  projects/design-system/src/lib/css/assets/fonts/noto-sans-mono.woff2
  projects/design-system/src/lib/css/layers/fonts.css
  projects/design-system/src/lib/css/oblique.css
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(design-system/styles): rename `styles` into `css`
  projects/design-system/scripts/tokens/style-dictionary.mjs
  projects/design-system/src/lib/css/oblique-tokens.css
Due: eslint --fix --cache --config eslint.precommit.config.mjs, stylelint --fix --cache --allow-empty-input, prettier --write

refactor(toolchain/logger): add a mock for usage in tests
  projects/toolchain/jest.config.js
  projects/toolchain/package.json
  projects/toolchain/src/logger/mock/index.ts
  projects/toolchain/src/logger/mock/mock-logger.ts
  projects/toolchain/src/logger/mock/types.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(toolchain/schematics): log each step
  projects/toolchain/src/schematics/ng-add/index.spec.ts
  projects/toolchain/src/schematics/ng-add/index.ts
  projects/toolchain/src/schematics/ng-add/rules/add-browserslistrc.rule.ts
  projects/toolchain/src/schematics/ng-add/rules/add-browserslistrc.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build(toolchain/contributing): add `exec` scope
  projects/toolchain/CONTRIBUTING.md
Due: prettier --write

feat(design-system/styles): add `reset` layer to `oblique.css`
  projects/design-system/src/lib/css/layers/reset.css
  projects/design-system/src/lib/css/oblique.css
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(design-system/styles): add move `oblique-tokens` into `layers` and rename to `tokens`
  projects/design-system/scripts/tokens/style-dictionary.mjs
  projects/design-system/src/lib/css/layers/tokens.css
  projects/design-system/src/lib/css/oblique.css
Due: eslint --fix --cache --config eslint.precommit.config.mjs, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sandbox-ssr/app): include `oblique.css`
  projects/sandbox-ssr/src/styles.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(design-system/styles): add `oblique.css` file with token layer
  projects/design-system/src/lib/css/oblique.css
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(toolchain/exec): add `obExecWithLogging` and `obExecWithLoggingOrExit` functions
  projects/toolchain/jest.config.js
  projects/toolchain/package.json
  projects/toolchain/src/exec/exec-with-logging.spec.ts
  projects/toolchain/src/exec/exec-with-logging.ts
  projects/toolchain/src/exec/index.ts
  projects/toolchain/src/exec/types.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(toolchain/schematics): add a helper to close a logger group
  projects/toolchain/src/schematics/shared/logger-close.spec.ts
  projects/toolchain/src/schematics/shared/logger-close.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(toolchain/schematics): return explicit function instead of calling chain directly
  projects/toolchain/eslint.project-config.mjs
  projects/toolchain/src/schematics/ng-add/index.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build(scripts): add `minifyCss` script
  package-lock.json
  package.json
  scripts/shared/minifyCss.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build(design-system/scripts): add a minified CSS file to the distributed artifact
  projects/design-system/package.json
  projects/design-system/scripts/post-build.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build(design-system/scripts): add CSS files to the distributed artifact
  projects/design-system/package.json
  projects/design-system/scripts/post-build.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(sandbox-ssr/text): add `text` page
  projects/sandbox-ssr/CONTRIBUTING.md
  projects/sandbox-ssr/src/app/app.component.html
  projects/sandbox-ssr/src/app/app.routes.ts
  projects/sandbox-ssr/src/app/text/text.html
  projects/sandbox-ssr/src/app/text/text.spec.ts
  projects/sandbox-ssr/src/app/text/text.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(design-system/tokens): cleanup referencing of no_color
  projects/design-system/src/lib/themes/03_semantic/color/s1-lightness/dark.json
  projects/design-system/src/lib/themes/03_semantic/color/s3-semantic/semantic.json
Due: prettier --write

feat(design-system/tokens): enhance semantic color documentation and streamline token references
  projects/design-system/documentation/03-design-tokens/03-types/03-semantic-tokens.md
  projects/design-system/documentation/03-design-tokens/03-types/07-color-tokens/03-colors-semantic.md
  projects/design-system/documentation/03-design-tokens/03-types/07-color-tokens/07-colors-semantic-status.md
  projects/design-system/src/lib/themes/03_semantic/color/s1-lightness/light.json
  projects/design-system/src/lib/themes/03_semantic/color/s2-emphasis/high.json
  projects/design-system/src/lib/themes/03_semantic/color/s2-emphasis/low.json
Due: prettier --write

refactor(design-system/tokens): delete disabled status color since redundant
  projects/design-system/src/lib/themes/03_semantic/color/s1-lightness/dark.json
  projects/design-system/src/lib/themes/03_semantic/color/s1-lightness/light.json
  projects/design-system/src/lib/themes/03_semantic/color/s3-semantic/semantic.json
Due: prettier --write

refactor(design-system/tokens): delete waiting status color since it references the purple primitives reserved for focus ring
  projects/design-system/src/lib/themes/03_semantic/color/s1-lightness/dark.json
  projects/design-system/src/lib/themes/03_semantic/color/s1-lightness/light.json
  projects/design-system/src/lib/themes/03_semantic/color/s3-semantic/semantic.json
Due: prettier --write

refactor(design-system/tokens): rename bundesrot to federal_red for English clarity
  projects/design-system/src/lib/themes/02_primitive/color.json
  projects/design-system/src/lib/themes/03_semantic/color/s3-semantic/semantic.json
Due: prettier --write

refactor(design-system/tokens): remove segment state from the interaction tokens
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/03_semantic/color/s2-emphasis/high.json
  projects/design-system/src/lib/themes/03_semantic/color/s2-emphasis/low.json
  projects/design-system/src/lib/themes/03_semantic/color/s3-semantic/semantic.json
  projects/design-system/src/lib/themes/04_component/molecule/tag/tag.json
  projects/design-system/src/lib/themes/05_html/button/01_color.json
  projects/design-system/src/lib/themes/05_html/link/link.json
Due: prettier --write

feat(design-system/tokens): add selected state border color for interactive elements
  projects/design-system/documentation/03-design-tokens/03-types/03-semantic-tokens.md
  projects/design-system/src/lib/themes/03_semantic/color/s3-semantic/semantic.json
Due: prettier --write

feat(design-system/tokens): move 5 flexible status colors out of status into a new free group
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/03_semantic/color/s3-semantic/semantic.json
  projects/design-system/src/lib/themes/04_component/atom/spinner.json
  projects/design-system/src/lib/themes/04_component/molecule/pill/pill.json
Due: prettier --write

feat(design-system/tokens): update semantic free color token descriptions and set semanticAssigned: false
  projects/design-system/documentation/03-design-tokens/03-types/07-color-tokens/07-colors-semantic-status.md
  projects/design-system/src/lib/themes/03_semantic/color/s3-semantic/semantic.json
Due: prettier --write

feat(design-system/tokens): add free color tables; trim status flexible groups
  projects/design-system/scripts-custom/figma-builders/color-tokens/extracted-json/_compact-s1-free-left.json
  projects/design-system/scripts-custom/figma-builders/color-tokens/extracted-json/_compact-s1-free-right.json
  projects/design-system/scripts-custom/figma-builders/color-tokens/extracted-json/_compact-s1-status-left.json
  projects/design-system/scripts-custom/figma-builders/color-tokens/extracted-json/_compact-s1-status-right.json
  projects/design-system/scripts-custom/figma-builders/color-tokens/extracted-json/_compact-s3-free-left.json
  projects/design-system/scripts-custom/figma-builders/color-tokens/extracted-json/_compact-s3-free-right.json
  projects/design-system/scripts-custom/figma-builders/color-tokens/extracted-json/_compact-s3-status-left.json
  projects/design-system/scripts-custom/figma-builders/color-tokens/extracted-json/_compact-s3-status-right.json
  projects/design-system/scripts-custom/figma-builders/color-tokens/generate-table-data.js
  projects/design-system/scripts-custom/figma-builders/color-tokens/per-table-scripts/split-data-s1-free-left.js
  projects/design-system/scripts-custom/figma-builders/color-tokens/per-table-scripts/split-data-s1-free-right.js
  projects/design-system/scripts-custom/figma-builders/color-tokens/per-table-scripts/split-data-s1-status-left.js
  projects/design-system/scripts-custom/figma-builders/color-tokens/per-table-scripts/split-data-s1-status-right.js
  projects/design-system/scripts-custom/figma-builders/color-tokens/per-table-scripts/split-data-s3-free-left.js
  projects/design-system/scripts-custom/figma-builders/color-tokens/per-table-scripts/split-data-s3-free-right.js
  projects/design-system/scripts-custom/figma-builders/color-tokens/per-table-scripts/split-data-s3-status-left.js
  projects/design-system/scripts-custom/figma-builders/color-tokens/per-table-scripts/split-data-s3-status-right.js
  projects/design-system/scripts-custom/figma-builders/color-tokens/split-setup.js
  projects/design-system/src/lib/themes/03_semantic/color/s3-semantic/semantic.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(design-system/tokens): correct role column to show semantic role value
  projects/design-system/scripts-custom/figma-builders/color-tokens/split-setup.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

docs(design-system/tokens): update status color descriptions to emphasize contrast usage for small surfaces
  projects/design-system/documentation/03-design-tokens/03-types/07-color-tokens/07-colors-semantic-status.md
  projects/design-system/src/lib/themes/03_semantic/color/s3-semantic/semantic.json
Due: prettier --write

feat(oblique/icon): mark ´ObIconModule´ as deprecated
  projects/oblique/src/lib/icon/icon.module.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(design-system/tokens): update semanticAssigned property to false for inversity colors in light and dark themes
  projects/design-system/src/lib/themes/02_primitive/color.json
  projects/design-system/src/lib/themes/03_semantic/color/s1-lightness/dark.json
  projects/design-system/src/lib/themes/03_semantic/color/s1-lightness/light.json
Due: prettier --write

refactor(sds/tabbed-page): `onclick` correctly receive `PointerEvent` instead of `MouseEvent`
  projects/sds/src/app/tabbed-page/tabbed-page.component.spec.ts
  projects/sds/src/app/tabbed-page/tabbed-page.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(sds): delegate url redirection to `UrlOrchestrator`
  projects/sds/src/app/shared/cms-route-redirector/cms-route-redirector.spec.ts
  projects/sds/src/app/shared/cms-route-redirector/cms-route-redirector.ts
  projects/sds/src/app/shared/slug/slug.service.spec.ts
  projects/sds/src/app/shared/slug/slug.service.ts
  projects/sds/src/app/side-navigation/side-navigation.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(sds): add `humanizeList` to print a list in a human-readable way
  projects/sds/src/app/shared/humanize/humanize.spec.ts
  projects/sds/src/app/shared/humanize/humanize.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(sds/tabbed-page): make sure CMS links are properly versioned
  projects/sds/src/app/tabbed-page/tabbed-page.component.spec.ts
  projects/sds/src/app/tabbed-page/tabbed-page.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(sds/cms): add `navigate` function to `UrlOrchestrator`
  projects/sds/src/app/shared/cms-route-redirector/cms-route-redirector.spec.ts
  projects/sds/src/app/shared/cms-route-redirector/cms-route-redirector.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(sds/text-page): make sure CMS links are properly versioned
  projects/sds/src/app/text-page/text-page.component.spec.ts
  projects/sds/src/app/text-page/text-page.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(sds/text-page): `onclick` correctly receive `PointerEvent` instead of `MouseEvent`
  projects/sds/src/app/text-page/text-page.component.spec.ts
  projects/sds/src/app/text-page/text-page.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write
