Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

.lintstagedrc.yml:

"*.{ts,js,mjs,html}": eslint --fix --cache
"*.{css,scss}": stylelint --fix --cache --allow-empty-input
"*.{ts,js,mjs,html,json,yml,md,css,scss}": prettier --write

refactor(sandbox): use `phone` property instead of `tel`
  projects/sandbox/src/app/samples/master-layout/master-layout-sample.component.ts
  projects/sandbox/src/app/samples/service-navigation/service-navigation-sample.component.ts
  projects/sandbox/src/app/service-navigation.config.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/schematics): remove `component` from home component name generated by `ng-add`
  projects/oblique/schematics/index/ng-add/index.ts
  projects/oblique/schematics/index/ng-add/rules/obliqueFeatures.ts
  projects/oblique/schematics/index/ng-add/templates/home.html
  projects/oblique/schematics/index/ng-add/templates/home.scss.config
  projects/oblique/schematics/index/ng-add/templates/home.ts.config
Due: eslint --fix --cache, prettier --write

fix(sds/icon): fix faulty icon metadata entries
  projects/sds/src/app/code-examples/code-examples/icons/previews/icons-gallery/icons.ts
Due: eslint --fix --cache, prettier --write

test(service-navigation/web-component): use `phone` property instead of `tel`
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.spec.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/schematics): adapt ng-add to new Angular naming convention
  projects/oblique/schematics/index/utils.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/schematics): `ng-add` adds missing Angular.json options
  projects/oblique/schematics/index/ng-add/rules/toolchain.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/accessibility-statement): split contact parsing into multiple functions
  projects/oblique/src/lib/accessibility-statement/accessibility-statement.component.ts
  projects/oblique/src/lib/accessibility-statement/accessibility-statement.model.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/schematics): remove failing default test about presence of title
  projects/oblique/schematics/index/ng-add/ng-add-utils.ts
  projects/oblique/schematics/index/ng-add/rules/obliqueFeatures.ts
Due: eslint --fix --cache, prettier --write

feat(sds/icon): redesign icon gallery search
  projects/sds/src/app/code-examples/code-examples/icons/previews/icons-gallery/icons-example-icons-gallery-preview.component.html
  projects/sds/src/app/code-examples/code-examples/icons/previews/icons-gallery/icons-example-icons-gallery-preview.component.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/schematics): use global variable to store file names instead of repeating literals
  projects/oblique/schematics/index/ng-add/ng-add-utils.ts
  projects/oblique/schematics/index/ng-add/rules/locales.ts
  projects/oblique/schematics/index/ng-add/rules/oblique.ts
  projects/oblique/schematics/index/ng-add/rules/toolchain.ts
  projects/oblique/schematics/index/utils.ts
Due: eslint --fix --cache, prettier --write

feat(sds/icon): redesign icon gallery cards
  projects/sds/jest.config.js
  projects/sds/src/app/code-examples/code-examples/icons/icons-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/icons/previews/icons-gallery/icons-example-icons-gallery-preview.component.html
  projects/sds/src/app/code-examples/code-examples/icons/previews/icons-gallery/icons-example-icons-gallery-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/icons/previews/icons-gallery/icons-example-icons-gallery-preview.component.ts
  projects/sds/src/assets/i18n/en.json
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/icon): add icon gallery info card
  projects/sds/src/app/code-examples/code-examples/icons/previews/icons-gallery/icons-example-icons-gallery-preview.component.html
  projects/sds/src/app/code-examples/code-examples/icons/previews/icons-gallery/icons-example-icons-gallery-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/icons/previews/icons-gallery/icons-example-icons-gallery-preview.component.ts
  projects/sds/src/assets/i18n/en.json
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

refactor(oblique/schematics): improve ng-update function name
  projects/oblique/schematics/index/ng-update/update-v13-to-v14.ts
Due: eslint --fix --cache, prettier --write

refactor(service-navigation/sample): use `phone` property instead of `tel`
  projects/service-navigation-web-component/src/index.html
Due: eslint --fix --cache, prettier --write

feat(sandbox): add urls to the accessibility statement contact information
  projects/sandbox/src/app/app.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/accessibility-statement): add possibility to pass a url as contact information
  projects/oblique/src/lib/accessibility-statement/accessibility-statement.component.html
  projects/oblique/src/lib/accessibility-statement/accessibility-statement.component.spec.ts
  projects/oblique/src/lib/accessibility-statement/accessibility-statement.component.ts
  projects/oblique/src/lib/utilities.model.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/service-navigation): rename property `tel` to `phone` on `ObIServiceNavigationContact`
  projects/oblique/schematics/index/ng-update/update-v13-to-v14.ts
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/service-navigation/api/service-navigation-info-api.service.spec.ts
  projects/oblique/src/lib/service-navigation/api/service-navigation-info-api.service.ts
  projects/oblique/src/lib/service-navigation/info/contact-to-links.pipe.spec.ts
  projects/oblique/src/lib/service-navigation/info/contact-to-links.pipe.ts
  projects/oblique/src/lib/service-navigation/info/service-navigation-info.component.html
  projects/oblique/src/lib/service-navigation/info/service-navigation-info.component.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.model.ts
Due: eslint --fix --cache, prettier --write

fix(sds/icon): ensure notification is shown within viewport
  projects/sds/src/app/code-examples/code-examples/icons/previews/icons-gallery/icons-example-icons-gallery-preview.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(cli/new): run lint format to avoid formatting issues
  projects/cli/jest.config.js
  projects/cli/src/new/ob-new.spec.ts
  projects/cli/src/new/ob-new.ts
  projects/cli/src/utils/cli-utils.ts
  projects/cli/src/utils/ob-cli.model.ts
Due: eslint --fix --cache, prettier --write

feat: implement S0 → S3 token migration
  projects/design-system/src/lib/themes/html/button/color-static.json
  projects/design-system/src/lib/themes/semantic/color/s3-emphasis/high.json
  projects/design-system/src/lib/themes/semantic/color/s3-emphasis/low.json
  projects/design-system/src/lib/themes/semantic/color/s3-semantic/semantic.json
  projects/design-system/src/lib/themes/semantic/shadow.json
Due: prettier --write

feat: complete S2 → S3 semantic migration
  projects/design-system/src/lib/themes/html/hr.json
  projects/design-system/src/lib/themes/semantic/color/s3-semantic/semantic.json
Due: prettier --write

feat(design-system): refactor S0/S1/S2 to clean semantic architecture
  projects/design-system/src/lib/themes/component/atoms/badge.json
  projects/design-system/src/lib/themes/component/atoms/spinner.json
  projects/design-system/src/lib/themes/component/atoms/tooltip.json
  projects/design-system/src/lib/themes/component/molecules/infobox/color.json
  projects/design-system/src/lib/themes/component/molecules/pill.json
  projects/design-system/src/lib/themes/component/molecules/popover.json
  projects/design-system/src/lib/themes/component/molecules/tag.json
  projects/design-system/src/lib/themes/semantic/color/emphasis/high.json
  projects/design-system/src/lib/themes/semantic/color/emphasis/low.json
  projects/design-system/src/lib/themes/semantic/color/lightness/dark.json
  projects/design-system/src/lib/themes/semantic/color/lightness/light.json
  projects/design-system/src/lib/themes/semantic/color/s0-static.json
  projects/design-system/src/lib/themes/semantic/color/s2-inversity/flipped.json
  projects/design-system/src/lib/themes/semantic/color/s2-inversity/normal.json
  projects/design-system/src/lib/themes/semantic/color/s3-semantic/semantic.json
  projects/design-system/src/lib/themes/semantic/color/semantic/semantic.json
Due: prettier --write

fix(design-system): establish complete S1/S2/S3 semantic token architecture
  projects/design-system/src/lib/themes/semantic/color/s1-lightness/dark.json
  projects/design-system/src/lib/themes/semantic/color/s1-lightness/light.json
  projects/design-system/src/lib/themes/semantic/color/s2-emphasis/high.json
  projects/design-system/src/lib/themes/semantic/color/s2-emphasis/low.json
  projects/design-system/src/lib/themes/semantic/color/s3-semantic/semantic.json
Due: prettier --write

fix(design-system): correct S2 emphasis token references to S1
  projects/design-system/src/lib/themes/semantic/color/s2-emphasis/high.json
  projects/design-system/src/lib/themes/semantic/color/s2-emphasis/low.json
Due: prettier --write

fix(design-system): update component namespace references from ob.s3-semantic to ob.s3
  projects/design-system/src/lib/themes/component/atoms/tooltip.json
  projects/design-system/src/lib/themes/component/molecules/popover.json
  projects/design-system/src/lib/themes/component/molecules/tag.json
Due: prettier --write

fix(design-system/token): tokens studio themes
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
Due: prettier --write

fix(design-system/token): fix tokens studio theme config
  projects/design-system/src/lib/themes/$themes.json
Due: prettier --write

fix(design-system): correct HTML button primary tokens to use emphasis layer
  projects/design-system/src/lib/themes/html/button/color-static.json
Due: prettier --write

fix(design-system): correct S3 interaction token references to follow proper S1→S2→S3 chain
  projects/design-system/src/lib/themes/semantic/color/s3-semantic/semantic.json
Due: prettier --write

feat(design-system): refactor S3 status colors to mirror S1 structure
  projects/design-system/src/lib/themes/semantic/color/s3-semantic/semantic.json
Due: prettier --write

feat(design-system): fix S3 architectural hierarchy - move shadow/border under neutral
  projects/design-system/src/lib/themes/semantic/color/s3-semantic/semantic.json
Due: prettier --write

feat(design-system): fix infobox broken token chains after S3 refactoring
  projects/design-system/src/lib/themes/component/molecules/infobox/color.json
Due: prettier --write

feat(design-system): fix fatal icon token - use fg instead of bg
  projects/design-system/src/lib/themes/component/molecules/infobox/color.json
Due: prettier --write

feat(design-system): complete fatal status refactoring to S1-mirrored structure
  projects/design-system/src/lib/themes/semantic/color/s3-semantic/semantic.json
Due: prettier --write

fix(design-system): fix all broken token chains in component directory after S3 refactoring
  projects/design-system/src/lib/themes/component/atoms/badge.json
Due: prettier --write

fix(design-system): fix all broken token chains in component directory after S3 refactoring
  projects/design-system/src/lib/themes/component/atoms/spinner.json
  projects/design-system/src/lib/themes/component/atoms/tooltip.json
  projects/design-system/src/lib/themes/component/molecules/infobox/color.json
  projects/design-system/src/lib/themes/component/molecules/pill.json
  projects/design-system/src/lib/themes/component/molecules/popover.json
  projects/design-system/src/lib/themes/component/molecules/tag.json
Due: prettier --write

fix(design-system): complete neutral token fixes and S3 structure improvements
  projects/design-system/src/lib/themes/component/molecules/pill.json
  projects/design-system/src/lib/themes/component/molecules/popover.json
  projects/design-system/src/lib/themes/semantic/color/s3-semantic/semantic.json
Due: prettier --write

fix(OUI-4001): Fix all status tokens in pill component
  projects/design-system/src/lib/themes/component/molecules/pill.json
Due: prettier --write

fix(OUI-4001): Fix HTML button border focus tokens
  projects/design-system/src/lib/themes/html/button/color-static.json
Due: prettier --write

OUI-4001: Fix all broken S3 token references in components and HTML
  projects/design-system/src/lib/themes/component/atoms/spinner.json
  projects/design-system/src/lib/themes/component/atoms/tooltip.json
  projects/design-system/src/lib/themes/component/molecules/infobox/color.json
  projects/design-system/src/lib/themes/component/molecules/pill.json
  projects/design-system/src/lib/themes/component/molecules/popover.json
  projects/design-system/src/lib/themes/component/molecules/tag.json
  projects/design-system/src/lib/themes/html/hr.json
Due: prettier --write
