Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --config eslint.precommit.config.mjs, stylelint --fix --cache --allow-empty-input, prettier --write

build: do not publish to npm via Jenkins
  Jenkinsfile
Due: none

build(release): release version 16.0.0-alpha.1
  Jenkinsfile
  package-lock.json
  package.json
  projects/cli/package.json
  projects/cli/src/utils/cli-utils.ts
  projects/design-system/CHANGELOG.md
  projects/design-system/package.json
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/src/lib/version.ts
  projects/sandbox-ssr/CHANGELOG.md
  projects/sandbox-ssr/package.json
  projects/sandbox/CHANGELOG.md
  projects/sandbox/package.json
  projects/sds/CHANGELOG.md
  projects/sds/package.json
  projects/service-navigation-web-component/CHANGELOG.md
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/src/app/version.ts
  projects/toolchain/package.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build: push to github from specific branch
  Jenkinsfile
Due: none

build: publish to npm via Github actions
  .github/workflows/main.yml
  projects/oblique/package.json
  projects/service-navigation-web-component/package.json
  projects/toolchain/package.json
Due: prettier --write

fix: fix absolute path script problem
  projects/sds/scripts/oblique-version.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix: match alpha version format
  projects/oblique/src/public_api.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(oblique/master-layout): prevent layout shifts when content updates on wide screens
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

npm publish tag
  .github/workflows/main.yml
Due: prettier --write

build(release): release version 16.0.0-alpha.2
  Jenkinsfile
  package-lock.json
  package.json
  projects/cli/package.json
  projects/cli/src/utils/cli-utils.ts
  projects/design-system/package.json
  projects/oblique/package.json
  projects/oblique/src/lib/version.ts
  projects/sandbox-ssr/package.json
  projects/sandbox/package.json
  projects/sds/package.json
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/src/app/version.ts
  projects/toolchain/package.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(oblique/unsaved-changes): raise coverage to 100%
  projects/oblique/jest.config.js
  projects/oblique/src/lib/unsaved-changes/unsaved-changes.directive.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(oblique/autocomplete): stabilize panel opening harness
  projects/oblique/src/lib/autocomplete/_harness/autocomplete.harness.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(oblique/service-navigation): raise timeout coverage to 100%
  projects/oblique/jest.config.js
  projects/oblique/src/lib/service-navigation/timeout/service-navigation-timeout.service.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(oblique/scrolling): raise coverage threshold to 100%
  projects/oblique/jest.config.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

docs(sds): replace placeholder text with instruction for spinner custom channel activation
  projects/sds/src/app/code-examples/code-examples/spinner/previews/custom-channel/custom-channel-preview.component.html
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(design-system/tokens): interaction feedback hybrid method (alpha, mix) OUX-224
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/02_primitive/number.json
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/light.json
  projects/design-system/src/lib/themes/03_semantic/opacity.json
Due: prettier --write

feat(design-system/tokens): interaction feedback hybrid, dark theme OUX-224
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/dark.json
Due: prettier --write

fix(design-system/tokens): interaction feedback hybrid, dark theme OUX-224
  projects/design-system/src/lib/themes/$themes.json
Due: prettier --write

fix(design-system/tokens): interaction feedback hybrid, dark theme OUX-224
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/dark.json
Due: prettier --write

fix(design-system/tokens): interaction feedback hybrid, fix colors OUX-224
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/dark.json
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/light.json
Due: prettier --write

fix(design-system/tokens): interaction feedback hybrid, fix colors OUX-224
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/light.json
  projects/design-system/src/lib/themes/03_semantic/opacity.json
Due: prettier --write

fix(design-system/tokens): interaction feedback hybrid, fix naming OUX-224
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/dark.json
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/light.json
Due: prettier --write

test(oblique/autocomplete): cover option label icon fallback
  projects/oblique/jest.config.js
  projects/oblique/src/lib/autocomplete/option-label-icon/option-label-icon.directive.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(oblique/breadcrumb): cover route fallbacks
  projects/oblique/jest.config.js
  projects/oblique/src/lib/breadcrumb/breadcrumb.component.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(oblique/column-layout): cover early destroy
  projects/oblique/jest.config.js
  projects/oblique/src/lib/column-layout/column-layout.component.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(oblique/document-meta): cover route metadata
  projects/oblique/jest.config.js
  projects/oblique/src/lib/document-meta/document-meta.service.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(oblique/file-upload): cover progress cancel fallback
  projects/oblique/jest.config.js
  projects/oblique/src/lib/file-upload/progress/progress.component.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(oblique/icon): cover app init icon config
  projects/oblique/jest.config.js
  projects/oblique/src/lib/icon/icon.service.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(oblique/input-clear): cover html input clearing
  projects/oblique/jest.config.js
  projects/oblique/src/lib/input-clear/input-clear.directive.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(oblique/master-layout): cover layout fallbacks
  projects/oblique/jest.config.js
  projects/oblique/src/lib/master-layout/aria-menu-button.directive.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation-sub-menu-filter.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.service.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/sub-menu-item/master-layout-navigation-sub-menu-item.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout.service.spec.ts
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(oblique/nav-tree): cover filtering branches
  projects/oblique/jest.config.js
  projects/oblique/src/lib/nav-tree/nav-tree.component.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(oblique/nested-form): cover form callbacks
  projects/oblique/jest.config.js
  projects/oblique/src/lib/nested-form/nested-form.component.spec.ts
  projects/oblique/src/lib/nested-form/parent-form.directive.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(oblique/notification): cover notification fallbacks
  projects/oblique/jest.config.js
  projects/oblique/src/lib/notification/notification.component.spec.ts
  projects/oblique/src/lib/notification/notification.service.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(oblique/number-format): cover focus and blur branches
  projects/oblique/jest.config.js
  projects/oblique/src/lib/number-format/number-format.directive.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(oblique/off-canvas): cover service state
  projects/oblique/jest.config.js
  projects/oblique/src/lib/off-canvas/off-canvas.service.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(oblique/popover): cover keyboard button toggle
  projects/oblique/jest.config.js
  projects/oblique/src/lib/popover/popover.directive.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(oblique): enforce 100% coverage thresholds
  projects/oblique/jest.config.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(oblique/schema-validation): cover schema fallbacks
  projects/oblique/jest.config.js
  projects/oblique/src/lib/schema-validation/draft07-converter.decorator.spec.ts
  projects/oblique/src/lib/schema-validation/schema-required.directive.spec.ts
  projects/oblique/src/lib/schema-validation/schema-validator.instance.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(oblique/selectable): cover selection boundaries
  projects/oblique/jest.config.js
  projects/oblique/src/lib/selectable/selectable-group.directive.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(design-system/tokens): interaction feedback, alpha to mix OUX-224
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/dark.json
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/light.json
Due: prettier --write

Path conditions:
  eslint --fix --cache --config eslint.precommit.config.mjs: any of: *.{ts,js,mjs,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,mjs,html,json,yml,md,css,scss}
