Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

.lintstagedrc.yml:

"*.{ts,js,mjs,html}": eslint --fix --cache
"*.{css,scss}": stylelint --fix --cache --allow-empty-input
"*.{ts,js,mjs,html,json,yml,md,css,scss}": prettier --write

feat: add flipped variants for button tokens OUI-3971
  projects/design-system/src/lib/themes/html/button/color-static.json
Due: prettier --write

fix: update documentation paths OUI-3971
  projects/design-system/scripts-custom/TOKEN_TRACKING_README.md
Due: prettier --write

refactor(design-system/token): infobox.fatal update for theming test
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/component/molecules/infobox/color.json
  projects/design-system/src/lib/themes/html/button/color-static.json
Due: prettier --write

feat(design-system): remove redundant color documentation
  projects/design-system/documentation/design-tokens/colors/colors-backup.md
  projects/design-system/documentation/design-tokens/colors/colors-semantic-brand.md
  projects/design-system/documentation/design-tokens/colors/colors-semantic-neutral.md
  projects/design-system/documentation/design-tokens/colors/colors.md
  projects/design-system/documentation/design-tokens/global-tokens.md
  projects/design-system/documentation/design-tokens/guidelines-for-designers.md
  projects/design-system/documentation/reports/style-dictionary-integration/README.md
  projects/design-system/documentation/reports/token-changes/README.md
  projects/design-system/documentation/workflow/stable-versions.md
Due: prettier --write

fix(oblique/master-layout): replace `100vh` with `100dvh`
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.scss
  projects/oblique/src/lib/master-layout/master-layout/master-layout-offcanvas.component.scss
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

build(scripts): make sure `script-loader.ts` only add hashes
  projects/sandbox/src/nginx/includes/security_headers.conf
  projects/sds/src/nginx/security_headers.conf
  scripts/shared/script-loader.ts
Due: eslint --fix --cache, prettier --write

build(scripts): simplify `script-loader.ts`
  scripts/shared/script-loader.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/accessibility-statement): fix typo in de, fr and it
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
Due: prettier --write

fix(oblique/service-navigation): sanitize url redirection
  projects/oblique/src/lib/service-navigation/timeout/service-navigation-timeout-redirector.service.spec.ts
  projects/oblique/src/lib/service-navigation/timeout/service-navigation-timeout-redirector.service.ts
  projects/oblique/src/lib/service-navigation/timeout/service-navigation-timeout.service.spec.ts
  projects/oblique/src/lib/service-navigation/timeout/service-navigation-timeout.service.ts
Due: eslint --fix --cache, prettier --write

build(release): release version 13.3.3
  package-lock.json
  package.json
  projects/cli/package.json
  projects/cli/sonar-project.properties
  projects/design-system/package.json
  projects/design-system/sonar-project.properties
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/sonar-project.properties
  projects/oblique/src/lib/version.ts
  projects/sandbox-ssr/package.json
  projects/sandbox-ssr/sonar-project.properties
  projects/sandbox/package.json
  projects/sandbox/sonar-project.properties
  projects/sds/CHANGELOG.md
  projects/sds/package.json
  projects/sds/sonar-project.properties
  projects/sds/src/obliqueVersion.ts
  projects/service-navigation-web-component/CHANGELOG.md
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/sonar-project.properties
  projects/service-navigation-web-component/src/app/version.ts
  projects/toolchain/package.json
  projects/toolchain/sonar-project.properties
Due: eslint --fix --cache, prettier --write

build(release): release version 13.3.3
  projects/cli/src/utils/cli-utils.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/schematics): use type guard for `createSafeRule` error handling
  projects/oblique/schematics/index/utils.ts
Due: eslint --fix --cache, prettier --write

ci(jenkins): use node 22
  Jenkinsfile
Due: none

refactor(oblique/styles): migrate clip to clip-path
  projects/oblique/src/styles/scss/core/_print.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

build(service-navigation/scripts): add extension to post-build script
  projects/service-navigation-web-component/package.json
Due: prettier --write

fix(oblique/schematics): fix typos in prompts for ng-add
  projects/oblique/schematics/index/ng-add/schema.json
Due: prettier --write

refactor(oblique/master-layout): migrate clip to clip-path
  projects/oblique/src/lib/master-layout/master-layout/master-layout-accessibility.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sandbox/master-layout): ensure that the version number in dynamically updated
  projects/sandbox/src/app/app.component.html
  projects/sandbox/src/app/app.component.ts
Due: eslint --fix --cache, prettier --write

ci(github): replace node 18 with node 24
  .github/workflows/main.yml
Due: prettier --write

feat(oblique/schematics): add questions for accessibility statement
  projects/oblique/schematics/index/ng-add/ng-add.model.ts
  projects/oblique/schematics/index/ng-add/rules/obliqueFeatures.ts
  projects/oblique/schematics/index/ng-add/schema.json
Due: eslint --fix --cache, prettier --write

build(dependencies): force a minimum node version of 22.12
  package.json
Due: prettier --write

feat(oblique/master-layout): improve master layout footer accessibility
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/master-layout/master-layout-footer/master-layout-footer.component.html
  projects/oblique/src/lib/master-layout/master-layout-footer/master-layout-footer.component.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/master-layout): improve master layout menu buttons accessibility
  projects/oblique/src/lib/master-layout/aria-menu-button.directive.spec.ts
  projects/oblique/src/lib/master-layout/aria-menu-button.directive.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/master-layout): remove `showAccessibilityTitle` setting
  projects/sandbox/src/app/app.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/master-layout): activate `showAccessibilityTitle` per default
  projects/oblique/src/lib/master-layout/_mocks/mock-master-layout.config.ts
  projects/oblique/src/lib/master-layout/master-layout.config.ts
Due: eslint --fix --cache, prettier --write

refactor(service-navigation/web-component): migrate clip to clip-path
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/master-layout): improve master layout header accessibility
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.html
Due: eslint --fix --cache, prettier --write

ci(jenkins): remove sonar files
  projects/cli/sonar-project.properties
  projects/design-system/sonar-project.properties
  projects/oblique/sonar-project.properties
  projects/sandbox-ssr/sonar-project.properties
  projects/sandbox/sonar-project.properties
  projects/sds/sonar-project.properties
  projects/service-navigation-web-component/sonar-project.properties
  projects/toolchain/sonar-project.properties
Due: none

feat(sds/side-navigation): use aria-current for better accessibility
  projects/sds/src/app/side-navigation/accordion-links/accordion-links.component.html
  projects/sds/src/app/side-navigation/accordion-links/accordion-links.component.scss
  projects/sds/src/app/side-navigation/accordion-links/accordion-links.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(cli/new): remove sonar step
  projects/cli/src/new/ob-new.model.ts
  projects/cli/src/new/schema.json
Due: eslint --fix --cache, prettier --write

feat(oblique/accessibility-statement): make the `createdOn` field mandatory
  projects/oblique/src/lib/accessibility-statement/accessibility-statement.component.html
  projects/oblique/src/lib/accessibility-statement/accessibility-statement.component.spec.ts
  projects/oblique/src/lib/accessibility-statement/available-in/available-in.component.spec.ts
  projects/oblique/src/lib/utilities.model.ts
  projects/oblique/src/lib/utilities.spec.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/accessibility-statement): make the conformity property mandatory
  projects/oblique/src/lib/accessibility-statement/accessibility-statement.component.spec.ts
  projects/oblique/src/lib/accessibility-statement/accessibility-statement.component.ts
  projects/oblique/src/lib/utilities.model.ts
Due: eslint --fix --cache, prettier --write

test(oblique/material): add createdOn to the datepicker accessibility-statement configuration
  projects/oblique/src/lib/datepicker/ob-datepicker.service.spec.ts
Due: eslint --fix --cache, prettier --write

test(oblique/paginator): add createdOn to the accessibility-statement configuration
  projects/oblique/src/lib/paginator/ob-paginator.service.spec.ts
Due: eslint --fix --cache, prettier --write

ci(jenkins): remove sonar step
  Jenkinsfile
Due: none

feat(oblique/schematics): remove sonar step
  projects/oblique/schematics/index/ng-add/ng-add.model.ts
  projects/oblique/schematics/index/ng-add/rules/toolchain.ts
  projects/oblique/schematics/index/ng-add/schema.json
  projects/oblique/schematics/index/ng-add/templates/default-sonar-project.properties.config
Due: eslint --fix --cache, prettier --write

feat(sds/side-navigation): wrap navigation items into lists and a navigation landmark
  projects/sds/src/app/side-navigation/accordion-links/accordion-links.component.html
  projects/sds/src/app/side-navigation/accordion-links/accordion-links.component.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/service-navigation): remove avatar images
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.component.html
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.component.spec.ts
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.component.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.html
  projects/oblique/src/lib/service-navigation/service-navigation.component.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/multi-translate-loader): add option to avoid flattening files
  projects/oblique/src/lib/multi-translate-loader/multi-translate-loader.ts
  projects/oblique/src/lib/utilities.model.ts
  projects/oblique/src/lib/utilities.spec.ts
  projects/oblique/src/lib/utilities.ts
Due: eslint --fix --cache, prettier --write

build(scripts): remove updateSonarPropertiesVersion()
  projects/cli/scripts/release.ts
  projects/design-system/scripts/release.ts
  projects/oblique/scripts/release.ts
  projects/sandbox-ssr/scripts/release.ts
  projects/sandbox/scripts/release.ts
  projects/sds/scripts/release.ts
  projects/service-navigation-web-component/scripts/release.ts
  projects/toolchain/scripts/release.ts
  scripts/shared/utils.ts
Due: eslint --fix --cache, prettier --write
