Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

.lintstagedrc.yml:

"*.{ts,js,mjs,html}": eslint --fix --cache
"*.{css,scss}": stylelint --fix --cache --allow-empty-input
"*.{ts,js,mjs,html,json,yml,md,css,scss}": prettier --write

feat(design-system): reorganize documentation structure
  projects/design-system/documentation/workflow/PROTECTED_FILES.md
  projects/design-system/documentation/workflow/SETUP_PROTECTION.md
Due: prettier --write

fix(cli/new): remove sonar option from tests
  projects/cli/src/new/ob-new.model.ts
  projects/cli/src/new/ob-new.spec.ts
Due: eslint --fix --cache, prettier --write

feat(sds/cms): cover redirections for version 14
  projects/sds/jest.config.js
  projects/sds/src/app/shared/slug/slug.service.spec.ts
  projects/sds/src/app/shared/slug/slug.service.ts
Due: eslint --fix --cache, prettier --write

test(sds/cms): refactor `slug.service.spec.ts` for completeness and better readability
  projects/sds/jest.config.js
  projects/sds/src/app/shared/slug/slug.service.spec.ts
Due: eslint --fix --cache, prettier --write

test(toolchain/schematics): add utility functions
  projects/toolchain/jest.config.js
  projects/toolchain/src/schematics/test-utils.ts
Due: eslint --fix --cache, prettier --write

build(toolchain/scripts): add a `version` file that always contains the current version number
  projects/toolchain/scripts/release.ts
  projects/toolchain/src/schematics/version.ts
Due: eslint --fix --cache, prettier --write

feat(toolchain/ng-add): create `ng-add` Schematics to add `@oblique/toolchain` to a project
  projects/toolchain/CONTRIBUTING.md
  projects/toolchain/README.md
  projects/toolchain/package.json
  projects/toolchain/scripts/post-build.ts
  projects/toolchain/src/schematics/collection.json
  projects/toolchain/src/schematics/ng-add/index.spec.ts
  projects/toolchain/src/schematics/ng-add/index.ts
  projects/toolchain/src/schematics/ng-add/rules/add-toolchain-dependency.rule.ts
  projects/toolchain/src/schematics/ng-add/rules/add-toolchain-dependency.spec.ts
  projects/toolchain/src/schematics/ng-add/schema.json
Due: eslint --fix --cache, prettier --write

refactor(toolchain/schematics): remove hello-world schematics
  projects/toolchain/CONTRIBUTING.md
  projects/toolchain/README.md
  projects/toolchain/scripts/post-build.ts
  projects/toolchain/src/schematics/collection.json
  projects/toolchain/src/schematics/hello-world/index.spec.ts
  projects/toolchain/src/schematics/hello-world/index.ts
  projects/toolchain/src/schematics/hello-world/schema.json
Due: eslint --fix --cache, prettier --write

feat(toolchain/ng-add): add a `.browserslistrc` file to the project
  projects/toolchain/src/schematics/ng-add/index.spec.ts
  projects/toolchain/src/schematics/ng-add/index.ts
  projects/toolchain/src/schematics/ng-add/rules/add-browserslistrc.rule.ts
  projects/toolchain/src/schematics/ng-add/rules/add-browserslistrc.spec.ts
  projects/toolchain/src/schematics/ng-add/templates/.browserslistrc
  projects/toolchain/src/schematics/ng-add/utils.spec.ts
  projects/toolchain/src/schematics/ng-add/utils.ts
Due: eslint --fix --cache, prettier --write

feat(cli/new): add `@oblique/toolchain` dependency
  projects/cli/src/new/ob-new.spec.ts
  projects/cli/src/new/ob-new.ts
  projects/cli/src/utils/cli-utils.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/schematics): don't add `.browserslistrc` to the project
  projects/oblique/schematics/index/ng-add/rules/oblique.ts
  projects/oblique/schematics/index/ng-add/templates/default-browserslistrc.config
Due: eslint --fix --cache, prettier --write

fix(oblique/schematics): update MasterLayout footer with current year and operator
  projects/oblique/schematics/index/ng-add/rules/oblique.ts
  projects/oblique/schematics/index/ng-add/templates/default-master-layout.html
Due: eslint --fix --cache, prettier --write

fix(oblique/translation): remove `i18n.footer.title` translation key
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/master-layout/master-layout-footer/master-layout-footer.component.html
Due: eslint --fix --cache, prettier --write

fix(sandbox/language): pass a valid format to `ob-date`
  projects/sandbox/src/app/samples/language/language-sample.component.html
Due: eslint --fix --cache, prettier --write

build(dependencies): update Angular and refactor accordingly
  angular.json
  package-lock.json
  package.json
  projects/cli/src/utils/cli-utils.spec.ts
  projects/cli/src/utils/cli-utils.ts
  projects/design-system/package.json
  projects/oblique/jest.config.js
  projects/oblique/package.json
  projects/oblique/schematics/index/ng-add/ng-add-utils.ts
  projects/oblique/src/lib/button/button.directive.spec.ts
  projects/oblique/src/lib/document-meta/document-meta.service.ts
  projects/oblique/src/lib/global-events/global-events.service.ts
  projects/oblique/src/lib/language/language.service.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/sub-menu-item/master-layout-navigation-sub-menu-item.component.scss
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.ts
  projects/oblique/src/lib/master-layout/outline.directive.ts
  projects/oblique/src/lib/popover/popover.directive.ts
  projects/oblique/src/lib/utilities.ts
  projects/oblique/src/styles/scss/material/_mat-chip.scss
  projects/sandbox-ssr/package.json
  projects/sandbox/eslint.project-config.mjs
  projects/sandbox/src/app/material/badge/badge.component.html
  projects/sandbox/src/app/samples/column-layout-full-height/column-layout-full-height-sample.component.ts
  projects/sandbox/src/app/samples/focus/focus-sample.component.scss
  projects/sandbox/src/app/samples/focus/focus-sample.component.ts
  projects/sds/eslint.project-config.mjs
  projects/sds/jest.config.js
  projects/sds/package.json
  projects/sds/src/app/code-examples/code-examples/focus-with-outline/previews/default/focus-with-outline-example-default-preview.component.ts
  projects/sds/src/app/shared/collector/collector.service.ts
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.ts
  projects/service-navigation-web-component/src/main.ts
  tests/jest.config.js
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/service-navigation): add vertical space between autocomplete and button in mobile view
  projects/oblique/src/lib/service-navigation/service-navigation.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(service-navigation/web-component): add configuration option for `useInfoBackend`
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.html
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/service-navigation): allow `ObContactToLinksPipe` to handle empty string values
  projects/oblique/src/lib/service-navigation/info/contact-to-links.pipe.spec.ts
  projects/oblique/src/lib/service-navigation/info/contact-to-links.pipe.ts
Due: eslint --fix --cache, prettier --write

docs(service-navigation/sample): add configuration option for `useInfoBackend`
  projects/service-navigation-web-component/src/index.html
Due: eslint --fix --cache, prettier --write

feat(sandbox/service-navigation): add configuration option for `useInfoBackend`
  projects/sandbox/src/app/samples/service-navigation/service-navigation-sample.component.html
  projects/sandbox/src/app/samples/service-navigation/service-navigation-sample.component.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/service-navigation): add `errorCode`, `message` to `ObIServiceNavigationResponse`
  projects/oblique/src/lib/service-navigation/api/service-navigation.api.model.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/service-navigation): change `pamsAppId` to 48 like ePortal
  projects/sandbox/src/app/samples/service-navigation/service-navigation-sample.component.html
  projects/sandbox/src/app/samples/service-navigation/service-navigation-sample.component.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/master-layout): add configuration option for `useInfoBackend`
  projects/sandbox/src/app/samples/master-layout/master-layout-sample.component.html
  projects/sandbox/src/app/samples/master-layout/master-layout-sample.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/master-layout): add configuration option for `useInfoBackend`
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.html
  projects/oblique/src/lib/master-layout/master-layout.model.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/service-navigation): allow info widget to fetch its data from the backend
  projects/oblique/src/lib/service-navigation/api/service-navigation-info-api.service.spec.ts
  projects/oblique/src/lib/service-navigation/api/service-navigation-info-api.service.ts
  projects/oblique/src/lib/service-navigation/api/service-navigation.api.model.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.html
  projects/oblique/src/lib/service-navigation/service-navigation.component.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.ts
  projects/oblique/src/lib/service-navigation/service-navigation.harness.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/service-navigation): add `service-navigation-appliations-name-status` pipe
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/service-navigation/applications/service-navigation-application-name-status.pipe.spec.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-application-name-status.pipe.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.html
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/service-navigation): add `MatTooltip` on applications icon
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.html
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.spec.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.harness.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/service-navigation): replace application image description with a descriptive name
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/service-navigation/applications/service-navigation-application-image-alt.pipe.spec.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-application-image-alt.pipe.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.html
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.module.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/service-navigation): correct french last-used translation
  projects/oblique/src/assets/i18n/oblique-fr.json
Due: prettier --write

refactor(oblique/service-navigation): remove unnecessary `aria-hidden`
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.html
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.spec.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/service-navigation): allow popover section to have multiple projected content
  projects/oblique/src/lib/service-navigation/shared/popover-section/service-navigation-popover-section.component.html
  projects/oblique/src/lib/service-navigation/shared/popover-section/service-navigation-popover-section.component.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/service-navigation): use 1 "all services" button per application section
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.html
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.scss
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.spec.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.harness.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sandbox/service-navigation): remove `maxFavoriteApplications` settings
  projects/sandbox/src/app/samples/service-navigation/service-navigation-sample.component.html
Due: eslint --fix --cache, prettier --write

feat(sandbox/service-navigation): change default value `maxFavoriteApplications` to 8
  projects/sandbox/src/app/samples/service-navigation/service-navigation-sample.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/master-layout): change default value `maxFavoriteApplications` to 8
  projects/oblique/src/lib/master-layout/master-layout.config.ts
Due: eslint --fix --cache, prettier --write

feat(service-navigation/web-component): change default value `maxFavoriteApplications` to 8
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/service-navigation): change application disabled look
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications-images.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.html
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.scss
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.spec.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/service-navigation): update UI to allow 4 applications on the same row
  projects/oblique/src/styles/scss/core/_variables.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sandbox/master-layout): remove `maxFavoriteApplications` settings
  projects/sandbox/src/app/samples/master-layout/master-layout-sample.component.html
  projects/sandbox/src/app/samples/master-layout/master-layout-sample.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/service-navigation): add `cdkTrapFocus` on applications popover
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.html
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.spec.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.harness.ts
Due: eslint --fix --cache, prettier --write
