Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --config eslint.precommit.config.mjs, stylelint --fix --cache --allow-empty-input, prettier --write

fix(design-system/tokens): fix visual design for button interaction colors OUX-185
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/dark.json
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/light.json
  projects/design-system/src/lib/themes/03_semantic/color/s2_emphasis/high.json
  projects/design-system/src/lib/themes/03_semantic/color/s2_emphasis/low.json
Due: prettier --write

fix(design-system/tokens): fix visual design for button interaction colors OUX-185
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/03_semantic/color/s2_emphasis/high.json
Due: prettier --write

fix(design-system/tokens): fix visual design for button intraction colors OUX-185
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/dark.json
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/light.json
  projects/design-system/src/lib/themes/03_semantic/color/s2_emphasis/high.json
  projects/design-system/src/lib/themes/03_semantic/color/s2_emphasis/low.json
Due: prettier --write

refactor(sds): migrate `ngClass` to `class`
  projects/sds/src/app/code-examples/code-examples/chips/previews/stack/chips-example-stack-preview.component.html
  projects/sds/src/app/code-examples/code-examples/icons/previews/icons-gallery/icons-example-icons-gallery-preview.component.html
  projects/sds/src/app/side-navigation/accordion-links/accordion-links.component.html
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(sandbox): migrate `ngClass` to `class`
  projects/sandbox/src/app/material/chips/chips.component.html
  projects/sandbox/src/app/material/form/form.component.html
  projects/sandbox/src/app/material/table/table.component.html
  projects/sandbox/src/app/samples/popover/popover.component.html
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(sandbox): replace `RouterTestingModule` with `RouterModule`
  projects/sandbox/src/app/app.component.spec.ts
  projects/sandbox/src/app/samples/breadcrumb/breadcrumb.component.spec.ts
  projects/sandbox/src/app/samples/nav-tree/nav-tree-sample.component.spec.ts
  projects/sandbox/src/app/samples/schema-validation/schema-validation-sample.component.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(oblique): replace `RouterTestingModule with `RouterModule`
  projects/oblique/src/lib/breadcrumb/breadcrumb.component.spec.ts
  projects/oblique/src/lib/document-meta/document-meta.service.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-footer/master-layout-footer.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout.service.spec.ts
  projects/oblique/src/lib/nav-tree/nav-tree.component.spec.ts
  projects/oblique/src/lib/notification/notification.component.spec.ts
  projects/oblique/src/lib/notification/notification.service.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.spec.ts
  projects/oblique/src/lib/unknown-route/unknown-route.component.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(sds/component-page): add `minVersion` in test
  projects/sds/src/app/side-navigation/accordion-links/accordion-links.component.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(sandbox): migrate `ngStyle` to `style`
  projects/sandbox/src/app/styles/palette/palette.component.html
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(sds): improve coverage in `TooltipCodeExamplesComponent`
  projects/sds/src/app/code-examples/code-examples/tooltip/tooltip-code-examples.component.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(sds): replace `RouterTestingModule` with `RouterModule`
  projects/sds/src/app/app.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/card/card-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/nav-tree/nav-tree-code-examples.component.spec.ts
  projects/sds/src/app/component-page/component-page.component.spec.ts
  projects/sds/src/app/component-page/component-pages/newsletter/newsletter.component.spec.ts
  projects/sds/src/app/side-navigation/accordion-links/accordion-links.component.spec.ts
  projects/sds/src/app/side-navigation/side-navigation.component.spec.ts
  projects/sds/src/app/tabbed-page/tabbed-page.component.spec.ts
  projects/sds/src/app/text-page/text-page.component.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

ci(jenkins): add push to github config
  Jenkinsfile
Due: none

ci(jenkins): add push to github config
  projects/oblique/src/lib/error-messages/mat-error.directive.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(oblique/master-layout): use correct padding on main navigation
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.ts
  projects/oblique/src/styles/scss/core/_variables.scss
Due: eslint --fix --cache --config eslint.precommit.config.mjs, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sandbox/master-layout): use ObTBanner type in Sandbox
  projects/sandbox/src/app/app.component.model.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(oblique/master-layout): scroll active main navigation item into view
  projects/oblique/jest.config.js
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.html
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/scroll-delta.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/scroll-delta.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(oblique/master-layout): add string support to `OB_BANNER` injection token
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.ts
  projects/oblique/src/lib/utilities.model.ts
  projects/oblique/src/lib/utilities.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(oblique/master-layout): animate main navigation scroll
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/http-interceptor): add an optional channel for the spinner to ObliqueHttpInterceptor
  projects/oblique/src/lib/http-api-interceptor/_mocks/mock-http-api-interceptor.config.ts
  projects/oblique/src/lib/http-api-interceptor/http-api-interceptor.config.ts
  projects/oblique/src/lib/http-api-interceptor/http-api-interceptor.model.ts
  projects/oblique/src/lib/http-api-interceptor/http-api-interceptor.spec.ts
  projects/oblique/src/lib/http-api-interceptor/http-api-interceptor.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(oblique/master-layout): separate focusin/focusout for main navigation items
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.html
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor: fix formatting issues
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(oblique/accessibility-statement): clarify page content
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/accessibility-statement/accessibility-statement.component.html
  projects/oblique/src/lib/accessibility-statement/accessibility-statement.component.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(oblique/http-interceptor): add jsdoc for request spinner handling
  projects/oblique/src/lib/http-api-interceptor/http-api-interceptor.model.ts
  projects/oblique/src/lib/http-api-interceptor/http-api-interceptor.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(oblique/utilities): move utility types to model file
  projects/oblique/src/lib/utilities.model.ts
  projects/oblique/src/lib/utilities.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(sds): rely on inference for `WINDOW` injection token
  projects/sds/src/app/code-examples/code-examples/icons/previews/icons-gallery/icons-example-icons-gallery-preview.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(sandbox-ssr): avoid warning for `esModuleInterop` while running tests
  projects/sandbox-ssr/tsconfig.spec.json
Due: prettier --write

test(oblique/http-interceptor): adding unit tests for ObHttpApiInterceptor
  projects/oblique/jest.config.js
  projects/oblique/src/lib/http-api-interceptor/http-api-interceptor.events.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(oblique/http-interceptor): ensure immutability of config
  projects/oblique/src/lib/http-api-interceptor/http-api-interceptor.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(oblique/utilities): simplify utilities assertions
  projects/oblique/src/lib/utilities.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(oblique): access `window` APIs through `WINDOW` injection token
  projects/oblique/src/lib/accessibility-statement/accessibility-statement.component.spec.ts
  projects/oblique/src/lib/language/language.service.spec.ts
  projects/oblique/src/lib/language/language.service.ts
  projects/oblique/src/lib/popover/popover.directive.ts
  projects/oblique/src/lib/service-navigation/timeout/service-navigation-timeout.service.spec.ts
  projects/oblique/src/lib/service-navigation/timeout/service-navigation-timeout.service.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(oblique/utilities): fix utilities.spec.ts to adhere to type signature
  projects/oblique/src/lib/utilities.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(oblique): provide mock `window` for SSR compatibility
  projects/oblique/src/lib/accessibility-statement/accessibility-statement.component.ts
  projects/oblique/src/lib/column-layout/column-layout.component.ts
  projects/oblique/src/lib/external-link/external-link.directive.ts
  projects/oblique/src/lib/file-upload/file-info/file-info.component.ts
  projects/oblique/src/lib/file-upload/progress/progress.component.ts
  projects/oblique/src/lib/global-events/global-events.service.ts
  projects/oblique/src/lib/http-api-interceptor/http-api-interceptor.ts
  projects/oblique/src/lib/input-clear/input-clear.directive.ts
  projects/oblique/src/lib/language/language.service.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.service.ts
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.ts
  projects/oblique/src/lib/notification/notification.component.ts
  projects/oblique/src/lib/off-canvas/off-canvas-toggle.directive.ts
  projects/oblique/src/lib/popover/popover.directive.ts
  projects/oblique/src/lib/schema-validation/schema-validator.ts
  projects/oblique/src/lib/selectable/selectable-group.directive.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications-store.service.ts
  projects/oblique/src/lib/service-navigation/shared/popover-section/is-current-url.pipe.ts
  projects/oblique/src/lib/service-navigation/timeout/service-navigation-timeout-cookie.service.ts
  projects/oblique/src/lib/service-navigation/timeout/service-navigation-timeout-redirector.service.ts
  projects/oblique/src/lib/service-navigation/timeout/service-navigation-timeout-return-url.service.ts
  projects/oblique/src/lib/service-navigation/timeout/service-navigation-timeout.service.ts
  projects/oblique/src/lib/unsaved-changes/unsaved-changes.service.ts
  projects/oblique/src/lib/utilities.model.ts
  projects/oblique/src/lib/utilities.spec.ts
  projects/oblique/src/lib/utilities.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(sandbox/http-interceptor): demonstrate configurable spinner channel
  projects/sandbox/src/app/samples/http-interceptor/http-interceptor-sample.component.html
  projects/sandbox/src/app/samples/http-interceptor/http-interceptor-sample.component.scss
  projects/sandbox/src/app/samples/http-interceptor/http-interceptor-sample.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/utilities): allow partial configs with default values
  projects/oblique/src/lib/utilities.model.ts
  projects/oblique/src/lib/utilities.spec.ts
  projects/oblique/src/lib/utilities.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(sds/autocomplete): add error to hint example
  projects/sds/src/app/code-examples/code-examples/autocomplete/previews/hints/autocomplete-example-hints.component.html
  projects/sds/src/app/code-examples/code-examples/autocomplete/previews/hints/autocomplete-example-hints.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(oblique/autocomplete): add `withErrorMessages` input to show error messages
  projects/oblique/src/lib/autocomplete/autocomplete.component.html
  projects/oblique/src/lib/autocomplete/autocomplete.component.spec.ts
  projects/oblique/src/lib/autocomplete/autocomplete.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(sandbox/autocomplete): add `required` validator
  projects/sandbox/src/app/samples/autocomplete/autocomplete.component.html
  projects/sandbox/src/app/samples/autocomplete/autocomplete.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(sds/autocomplete): rename hints example into form
  projects/sds/src/app/code-examples/code-examples/autocomplete/autocomplete-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/autocomplete/previews/form/autocomplete-example-form.component.html
  projects/sds/src/app/code-examples/code-examples/autocomplete/previews/form/autocomplete-example-form.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

Path conditions:
  eslint --fix --cache --config eslint.precommit.config.mjs: any of: *.{ts,js,mjs,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,mjs,html,json,yml,md,css,scss}
