Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --config eslint.precommit.config.mjs, stylelint --fix --cache --allow-empty-input, prettier --write

.lintstagedrc.yml:

"*.{ts,js,mjs,html}": eslint --fix --cache --config eslint.precommit.config.mjs
"*.{css,scss}": stylelint --fix --cache --allow-empty-input
"*.{ts,js,mjs,html,json,yml,md,css,scss}": prettier --write

test: reference project's `tsconfig` from the root one
  eslint.config.mjs
  projects/oblique/eslint.project-config.mjs
  projects/sandbox-ssr/eslint.project-config.mjs
  projects/sandbox/eslint.project-config.mjs
  projects/sds/eslint.project-config.mjs
  projects/service-navigation-web-component/eslint.project-config.mjs
  tsconfig.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(service-navigation): migrate from jest to vitest
  AGENTS.md
  angular.json
  projects/service-navigation-web-component/jest.config.ci.js
  projects/service-navigation-web-component/jest.config.js
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.spec.ts
  projects/service-navigation-web-component/src/app/translations.service.spec.ts
  projects/service-navigation-web-component/tsconfig.spec.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test: add global vitest setup file
  tests/setupVitest.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(sandbox-ssr): migrate from jest to vitest
  AGENTS.md
  angular.json
  projects/sandbox-ssr/jest.config.ci.js
  projects/sandbox-ssr/jest.config.js
  projects/sandbox-ssr/package.json
  projects/sandbox-ssr/src/app/app.component.spec.ts
  projects/sandbox-ssr/src/app/mode-selectors/mode-selectors.component.spec.ts
  projects/sandbox-ssr/tsconfig.spec.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(sandbox): pass correct `hasLanguageInUrl` option to breadcrumb
  projects/sandbox/src/app/samples/breadcrumb/breadcrumb.component.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build(lint): prettier ignore `vitecache`
  .prettierignore
  projects/cli/.prettierignore
  projects/design-system/.prettierignore
  projects/toolchain/.prettierignore
Due: none

test(sds): reactivate tests failing because of the dangling underscore prefixing class names
  projects/sds/src/app/code-examples/code-examples.mapper.spec.ts
  projects/sds/src/app/feedback/feedback-trigger.directive.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(sds/code-examples): reconcile component type for `createComponent`
  projects/sds/src/app/code-examples/code-example.directive.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(toolchain): load vitest global mocks
  AGENTS.md
  projects/toolchain/package.json
  projects/toolchain/src/logger/mock/types.ts
  projects/toolchain/tsconfig.spec.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(sandbox): migrate from jest to vitest
  AGENTS.md
  angular.json
  projects/sandbox/jest.config.ci.js
  projects/sandbox/jest.config.js
  projects/sandbox/package.json
  projects/sandbox/src/app/app.component.spec.ts
  projects/sandbox/src/app/samples/master-layout/dynamic-navigation.service.spec.ts
  projects/sandbox/src/app/samples/number-format/number-format-sample.component.spec.ts
  projects/sandbox/src/app/samples/schema-validation/schema-validation-sample.component.spec.ts
  projects/sandbox/tsconfig.spec.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(sds): reactivate test failing because of the url's non-empty default value
  projects/sds/src/app/feedback/feedback-form/feedback-form.component.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build(scripts): allow digits in package names in commit messages
  scripts/husky/hook.commit-rules.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(sandbox-e2e/setup): add Playwright e2e testing setup
  .gitignore
  CONTRIBUTING.md
  eslint.config.mjs
  package-lock.json
  projects/sandbox-e2e/AGENTS.md
  projects/sandbox-e2e/CONTRIBUTING.md
  projects/sandbox-e2e/README.md
  projects/sandbox-e2e/docs/e2e-testing.md
  projects/sandbox-e2e/eslint.project-config.mjs
  projects/sandbox-e2e/package.json
  projects/sandbox-e2e/playwright.config.ts
  projects/sandbox-e2e/scripts/lint.ts
  projects/sandbox-e2e/tsconfig.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat: register sandbox-e2e as a monorepo workspace
  package.json
Due: prettier --write

fix(sandbox/notification): add missing sample title translation key
  projects/sandbox/src/assets/i18n/en.json
  projects/sandbox/src/assets/i18n/fr.json
Due: prettier --write

docs: add sandbox-e2e testing guidance to AGENTS.md
  AGENTS.md
Due: prettier --write

test(sandbox-e2e/specs): add notification e2e tests
  projects/sandbox-e2e/e2e/sandbox/notification.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(oblique/file-upload): use accurate names for test cases
  projects/oblique/src/lib/file-upload/drop-zone/ob-drop-zone.component.spec.ts
  projects/oblique/src/lib/file-upload/file-upload.component.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(oblique/file-upload): use accurate variable names
  projects/oblique/src/lib/file-upload/file-upload.component.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(oblique/file-upload): migrate to signals and `OnPush` change detection
  projects/oblique/src/lib/file-upload/_mocks/mock-drop-zone.component.ts
  projects/oblique/src/lib/file-upload/_mocks/mock-file-info.component.ts
  projects/oblique/src/lib/file-upload/_mocks/mock-file-upload.component.ts
  projects/oblique/src/lib/file-upload/drop-zone/drag-and-drop.directive.ts
  projects/oblique/src/lib/file-upload/drop-zone/ob-drop-zone.component.html
  projects/oblique/src/lib/file-upload/drop-zone/ob-drop-zone.component.spec.ts
  projects/oblique/src/lib/file-upload/drop-zone/ob-drop-zone.component.ts
  projects/oblique/src/lib/file-upload/file-info/file-info.component.html
  projects/oblique/src/lib/file-upload/file-info/file-info.component.spec.ts
  projects/oblique/src/lib/file-upload/file-info/file-info.component.ts
  projects/oblique/src/lib/file-upload/file-upload.component.html
  projects/oblique/src/lib/file-upload/file-upload.component.spec.ts
  projects/oblique/src/lib/file-upload/file-upload.component.ts
  projects/oblique/src/lib/file-upload/progress/progress.component.spec.ts
  projects/oblique/src/lib/file-upload/progress/progress.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(oblique/file-upload): match mocks to their actual implementation
  projects/oblique/src/lib/file-upload/_mocks/mock-file-info.component.ts
  projects/oblique/src/lib/file-upload/_mocks/mock-file-upload.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(oblique/file-upload): share setup for chosen and errored events
  projects/oblique/src/lib/file-upload/drop-zone/ob-drop-zone.component.spec.ts
  projects/oblique/src/lib/file-upload/progress/progress.component.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(oblique/file-upload): migrate output events to `firstValueFrom`
  projects/oblique/src/lib/file-upload/drop-zone/ob-drop-zone.component.spec.ts
  projects/oblique/src/lib/file-upload/file-info/file-info.component.spec.ts
  projects/oblique/src/lib/file-upload/file-upload.component.spec.ts
  projects/oblique/src/lib/file-upload/file-upload.service.spec.ts
  projects/oblique/src/lib/file-upload/progress/progress.component.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build(sandbox-e2e/release): add the release script together with CHANGELOG.md
  projects/sandbox-e2e/CHANGELOG.md
  projects/sandbox-e2e/package.json
  projects/sandbox-e2e/scripts/release.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build(release): release version 16.0.0-rc.2
  .github/workflows/main.yml
  Jenkinsfile
  package-lock.json
  package.json
  projects/cli/CHANGELOG.md
  projects/cli/package.json
  projects/cli/src/utils/cli-utils.ts
  projects/design-system/package.json
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/src/lib/version.ts
  projects/sandbox-e2e/CHANGELOG.md
  projects/sandbox-e2e/package.json
  projects/sandbox-ssr/package.json
  projects/sandbox/CHANGELOG.md
  projects/sandbox/package.json
  projects/sds/package.json
  projects/service-navigation-web-component/CHANGELOG.md
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/src/app/version.ts
  projects/toolchain/CHANGELOG.md
  projects/toolchain/package.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build(release): remove publish instructions for version 16.0.0-rc.2
  .github/workflows/main.yml
  Jenkinsfile
Due: prettier --write

fix(design-system/tokens): free pink references its own s1 tokens, not status critical
  projects/design-system/src/lib/css/layers/tokens.css
  projects/design-system/src/lib/themes/03_semantic/color/compiled.json
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(design-system/tokens): body paragraph spacing follows typography context, not static scale
  projects/design-system/src/lib/css/layers/tokens.css
  projects/design-system/src/lib/themes/05_html/typography/style.json
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(design-system/tokens): cobalt primitive no longer claims status usage
  projects/design-system/src/lib/themes/02_primitive/color.json
Due: prettier --write

fix(oblique/column-layout): fix overflow behavior in column-layout columns
  projects/oblique/src/lib/column-layout/column-layout.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(design-system/figma-utils): add prune-orphan-variables.js, fix color-variables registry matches
  projects/design-system/scripts-custom/FIGMA-WORKFLOW.md
  projects/design-system/scripts-custom/figma-doc-builders/color-variables/registry.json
  projects/design-system/scripts-custom/figma-utils/_readme.md
  projects/design-system/scripts-custom/figma-utils/prune-orphan-variables.js
  projects/design-system/scripts-custom/figma-utils/run-cosmetics.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(design-system/figma-doc-builders): fix S3 color table group titles and token lookup
  projects/design-system/scripts-custom/figma-doc-builders/color-variables/build-color-variables.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

docs(design-system): OUI-4661 clarify release scope and add doc links
  projects/design-system/documentation/index.md
Due: prettier --write

docs(design-system): OUI-4661 refine index wording and heading structure
  projects/design-system/documentation/index.md
Due: prettier --write

build(release): release version 16.0.0
  package-lock.json
  package.json
  projects/cli/CHANGELOG.md
  projects/cli/package.json
  projects/cli/src/utils/cli-utils.ts
  projects/design-system/CHANGELOG.md
  projects/design-system/package.json
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/src/lib/version.ts
  projects/sandbox-e2e/CHANGELOG.md
  projects/sandbox-e2e/package.json
  projects/sandbox-ssr/CHANGELOG.md
  projects/sandbox-ssr/package.json
  projects/sandbox/CHANGELOG.md
  projects/sandbox/package.json
  projects/sds/CHANGELOG.md
  projects/sds/package.json
  projects/sds/src/obliqueVersion.ts
  projects/service-navigation-web-component/CHANGELOG.md
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/src/app/version.ts
  projects/toolchain/CHANGELOG.md
  projects/toolchain/package.json
  publiccode.yml
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build(scripts): support commit hook in linked worktrees
  scripts/husky/hook.commit-rules.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

docs(design-system/tokens): rewrite the shadow descriptions, drop the PLACEHOLDER note
  projects/design-system/src/lib/themes/03_semantic/shadow.json
Due: prettier --write

feat(design-system/tokens): add interaction emphasis_none and visited branches (OUX-243)
  projects/design-system/src/lib/themes/03_semantic/color/compiled.json
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/dark.json
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/light.json
Due: prettier --write
