Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sandbox/service-navigation): remove `maxLastUsedApplications`
  projects/sandbox/src/app/samples/service-navigation/service-navigation-sample.component.html
  projects/sandbox/src/app/samples/service-navigation/service-navigation-sample.component.ts
Due: eslint --fix --cache, prettier --write

feat(service-navigation/web-component): deprecate `maxLastUsedApplications`
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.html
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/service-navigation): change default value `maxFavoriteApplications` to 8
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.spec.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/service-navigation): link `maxFavoriteApplications` with backend endpoint
  projects/oblique/src/lib/service-navigation/api/service-navigation-polling.service.spec.ts
  projects/oblique/src/lib/service-navigation/api/service-navigation-polling.service.ts
  projects/oblique/src/lib/service-navigation/api/service-navigation-state-api.service.spec.ts
  projects/oblique/src/lib/service-navigation/api/service-navigation-state-api.service.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.html
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.spec.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.html
  projects/oblique/src/lib/service-navigation/service-navigation.component.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.ts
  projects/oblique/src/lib/service-navigation/service-navigation.module.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.ts
  projects/oblique/src/lib/service-navigation/shared/limit-array-size.pipe.spec.ts
  projects/oblique/src/lib/service-navigation/shared/limit-array-size.pipe.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/master-layout): deprecate `maxLastUsedApplications`
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.html
  projects/oblique/src/lib/master-layout/master-layout.config.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/service-navigation): deprecate input `maxLastUsedApplications`
  projects/oblique/src/lib/service-navigation/api/service-navigation-state-api.service.spec.ts
  projects/oblique/src/lib/service-navigation/api/service-navigation-state-api.service.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.html
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.spec.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.html
  projects/oblique/src/lib/service-navigation/service-navigation.component.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/master-layout): remove `maxLastUsedApplications`
  projects/sandbox/src/app/samples/master-layout/master-layout-sample.component.html
  projects/sandbox/src/app/samples/master-layout/master-layout-sample.component.ts
Due: eslint --fix --cache, prettier --write

build(scripts): add `toolchain` project to pre-version release
  scripts/release.ts
Due: eslint --fix --cache, prettier --write

build(release): release version 14.0.0-alpha.1
  Jenkinsfile
  package-lock.json
  package.json
  projects/cli/CHANGELOG.md
  projects/cli/package.json
  projects/cli/src/utils/cli-utils.ts
  projects/design-system/package.json
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/src/lib/version.ts
  projects/sandbox-ssr/package.json
  projects/sandbox/CHANGELOG.md
  projects/sandbox/package.json
  projects/sds/CHANGELOG.md
  projects/sds/package.json
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/src/app/version.ts
  projects/toolchain/CHANGELOG.md
  projects/toolchain/package.json
  projects/toolchain/src/schematics/version.ts
Due: eslint --fix --cache, prettier --write

build(release): release version 13.3.2
  package-lock.json
  package.json
  projects/cli/package.json
  projects/cli/sonar-project.properties
  projects/cli/src/utils/cli-utils.ts
  projects/design-system/package.json
  projects/design-system/sonar-project.properties
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/sonar-project.properties
  projects/oblique/src/lib/version.ts
  projects/sandbox-ssr/package.json
  projects/sandbox-ssr/sonar-project.properties
  projects/sandbox/CHANGELOG.md
  projects/sandbox/package.json
  projects/sandbox/sonar-project.properties
  projects/sds/package.json
  projects/sds/sonar-project.properties
  projects/sds/src/obliqueVersion.ts
  projects/service-navigation-web-component/CHANGELOG.md
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/sonar-project.properties
  projects/service-navigation-web-component/src/app/version.ts
  projects/toolchain/package.json
  projects/toolchain/sonar-project.properties
Due: eslint --fix --cache, prettier --write

feat: add comprehensive script redundancy analyzer
  projects/design-system/scripts-custom/analyze-script-redundancy.py
Due: none

feat: implement comprehensive empty file prevention system
  projects/design-system/package.json.backup
  projects/design-system/scripts-custom/README.md
  projects/design-system/scripts-custom/auto-cleanup-empty-files.sh
  projects/design-system/scripts-custom/prevent-empty-files.py
  projects/design-system/scripts-custom/setup-empty-file-prevention.sh
Due: prettier --write

feat: add Word document merger script
  projects/design-system/scripts-custom/merge-word-docs.py
Due: none

feat: add comprehensive script automation suite
  projects/design-system/PROTECTED_FILES.md
  projects/design-system/SETUP_PROTECTION.md
  projects/design-system/scripts-custom/EASY-RECOMMENDATIONS.md
  projects/design-system/scripts-custom/REDUNDANCY-ANALYSIS-REPORT.md
  projects/design-system/scripts-custom/cleanup-scripts.py
  projects/design-system/scripts-custom/consolidate-scripts.py
  projects/design-system/scripts-custom/detect-plural-references.py
  projects/design-system/scripts-custom/generate-word-docs.py
  projects/design-system/scripts-custom/quick-validate.py
  projects/design-system/scripts-custom/recommend-scripts.py
  projects/design-system/scripts-custom/setup-token-tracking.py
  projects/design-system/scripts-custom/track-token-changes.py
  projects/design-system/scripts-custom/tracked-tokens-config.json
  projects/design-system/scripts-custom/validate-documentation-references.sh
  projects/design-system/scripts-custom/validate-token-syntax.py
Due: prettier --write

chore: ignore generated Word documents
  projects/design-system/.gitignore
Due: none

feat(design-system): add comprehensive glossary for design token terminology
  projects/design-system/documentation/design-tokens/glossary.md
Due: prettier --write

feat(design-system): enhance glossary and add research memo
  projects/design-system/documentation/design-tokens/RESEARCH_MEMO_TOKEN_DOCUMENTATION_STRUCTURE.md
  projects/design-system/documentation/design-tokens/glossary.md
  projects/design-system/documentation/design-tokens/theming.md
Due: prettier --write

feat(design-tokens): recreate Guidelines for Designers with verified token examples
  projects/design-system/documentation/design-tokens/guidelines-for-designers.md
Due: prettier --write

docs(design-tokens): import Component Identification Guidelines from Confluence
  projects/design-system/documentation/design-tokens/component-identification.md
Due: prettier --write

docs(design-system): import Component Identification Guidelines from Confluence
  projects/design-system/documentation/design-tokens/component-identification.md
Due: prettier --write

docs(design-system): update token hierarchy and clean up automation scripts
  projects/design-system/documentation/design-tokens/RESEARCH_MEMO_TOKEN_DOCUMENTATION_STRUCTURE.md
  projects/design-system/documentation/design-tokens/guidelines-for-designers.md
  projects/design-system/scripts-custom/auto-cleanup-empty-files.sh
  projects/design-system/scripts-custom/prevent-empty-files.py
  projects/design-system/scripts-custom/setup-empty-file-prevention.sh
Due: prettier --write

OUI-3865: Add token analysis tooling
  projects/design-system/package.json
  projects/design-system/scripts-custom/README.md
  projects/design-system/scripts-custom/reference-chain-of.sh
  projects/design-system/scripts-custom/trace-token-chain.js
Due: eslint --fix --cache, prettier --write

OUI-3865: Update token creation guidelines
  projects/design-system/documentation/design-tokens/guidelines-for-designers.md
Due: prettier --write

feat(design-system): resolve Unicode character encoding issues in documentation
  projects/design-system/.gitmessage
  projects/design-system/documentation/design-tokens/glossary.md
  projects/design-system/documentation/design-tokens/responsiveness.md
  projects/design-system/documentation/design-tokens/theming.md
  projects/design-system/documentation/reports/style-dictionary-integration/README.md
  projects/design-system/documentation/reports/token-changes/README.md
Due: prettier --write

Fix legacy naming in documentation
  projects/design-system/documentation/design-tokens/colors/colors.md
  projects/design-system/documentation/design-tokens/theming.md
Due: prettier --write

fix(design-system): align theme dimension naming with file structure
  projects/design-system/documentation/design-tokens/theming.md
Due: prettier --write

fix(design-system): remove redundant responsive tokens reference
  projects/design-system/documentation/design-tokens/theming.md
Due: prettier --write

fix(design-system): replace ASCII arrows with standard arrows for Confluence compatibility
  projects/design-system/documentation/design-tokens/architecture.md
  projects/design-system/documentation/design-tokens/colors/colors.md
  projects/design-system/documentation/design-tokens/compound-units.md
  projects/design-system/documentation/design-tokens/global-tokens.md
  projects/design-system/documentation/design-tokens/glossary.md
  projects/design-system/documentation/design-tokens/guidelines-for-designers.md
  projects/design-system/documentation/design-tokens/guidelines-token-consumption.md
  projects/design-system/documentation/design-tokens/theming.md
Due: prettier --write

refactor(design-system/token): move no-color to neutral and create a group brand on top level, so we have final brand, neutral, interaction and status color groups.
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/html/button/color-static.json
  projects/design-system/src/lib/themes/semantic/color/s0-static.json
  projects/design-system/src/lib/themes/semantic/color/s3-emphasis/high.json
  projects/design-system/src/lib/themes/semantic/color/s3-emphasis/low.json
  projects/design-system/src/lib/themes/semantic/shadow.json
Due: prettier --write

feat(design-system): update token tracking and semantic color documentation
  projects/design-system/documentation/design-tokens/colors/colors-semantic.md
  projects/design-system/documentation/design-tokens/glossary.md
  projects/design-system/documentation/design-tokens/guidelines-token-consumption.md
  projects/design-system/documentation/reports/style-dictionary-integration/README.md
  projects/design-system/documentation/reports/style-dictionary-integration/tracked-tokens-config.json
  projects/design-system/documentation/reports/token-changes/README.md
  projects/design-system/documentation/reports/token-changes/tracked-tokens-config.json
  projects/design-system/documentation/workflow/tokens-studio-context.md
  projects/design-system/scripts-custom/TOKEN_TRACKING_README.md
  projects/design-system/scripts-custom/analyze-token-structure.js
  projects/design-system/scripts-custom/setup-token-tracking.py
  projects/design-system/scripts-custom/tracked-tokens-config.json
  projects/design-system/scripts-custom/validate-consumption-hierarchy.py
  projects/design-system/src/lib/themes/$themes.json
Due: eslint --fix --cache, prettier --write

fix (design-system): Fix primary button border references to neutral.no-color
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/html/button/color-static.json
Due: prettier --write

feat(design-system): consolidate redundant transparent color tokens
  projects/design-system/documentation/design-tokens/architecture.md
  projects/design-system/plural-references-report.txt
  projects/design-system/src/lib/themes/primitive/color.json
Due: prettier --write

fix (design-system): delete test infobox test tokens, fix fatal variant's references - normal instead of flipped because flipping happens on theming level.
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/component/molecules/infobox/lightness/dark.json
  projects/design-system/src/lib/themes/component/molecules/infobox/lightness/light.json
  projects/design-system/src/lib/themes/html/button/color-static.json
Due: prettier --write

fix(design-system): infobox colors sets removed lightness files on component level so the lightness theming functions properly on semantic level.
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/component/molecules/infobox/color.json
  projects/design-system/src/lib/themes/component/molecules/infobox/lightness/dark.json
Due: prettier --write

feat(tokens): add contrast-highest to status colors
  projects/design-system/documentation/design-tokens/architecture.md
  projects/design-system/documentation/design-tokens/glossary.md
  projects/design-system/src/lib/themes/semantic/color/s1-lightness/dark.json
  projects/design-system/src/lib/themes/semantic/color/s1-lightness/light.json
  projects/design-system/src/lib/themes/semantic/color/s2-inversity/flipped.json
  projects/design-system/src/lib/themes/semantic/color/s2-inversity/normal.json
Due: prettier --write

test: luxon and date-fns date adapter example
  projects/sandbox/src/app/samples/datepickeradapter/date-fns.component.ts
  projects/sandbox/src/app/samples/datepickeradapter/luxon.component.ts
  projects/sandbox/src/app/samples/samples-routing.module.ts
  projects/sandbox/src/app/samples/samples.module.ts
Due: eslint --fix --cache, prettier --write

fix(sds/tabbed-page): fix typo in "Getting started as a designer" link on Ui/Ux tab
  projects/sds/src/app/ui-ux/ui-ux.component.html
Due: eslint --fix --cache, prettier --write

fix(sds/tabbed-page): fix "Getting started as a designer" link on Ui/Ux tab
  projects/sds/src/app/ui-ux/ui-ux.component.html
Due: eslint --fix --cache, prettier --write

feat(design-system): s3 tokens skip s2 layer POC
  projects/design-system/scripts-custom/validate-protected-files.js
  projects/design-system/src/lib/themes/semantic/color/s3-emphasis/high.json
  projects/design-system/src/lib/themes/semantic/color/s3-emphasis/low.json
Due: eslint --fix --cache, prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{ts,js,mjs,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,mjs,html,json,yml,md,css,scss}
