Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --config eslint.precommit.config.mjs, stylelint --fix --cache --allow-empty-input, prettier --write

.lintstagedrc.yml:

"*.{ts,js,mjs,html}": eslint --fix --cache --config eslint.precommit.config.mjs
"*.{css,scss}": stylelint --fix --cache --allow-empty-input
"*.{ts,js,mjs,html,json,yml,md,css,scss}": prettier --write

build(release): add EOL date for version 14
  scripts/shared/publish.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build(release): postpone EOL date for version 13
  scripts/shared/publish.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build(release): make sure all deprecated versions are marked as such
  scripts/shared/publish.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(design-system/tokens): add static density values with px and rem.
  projects/design-system/src/lib/themes/03_semantic/dimension/density/static.json
Due: prettier --write

fix(design-system/tokens): move static.json and add segment component_size
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/03_semantic/dimension/component_size/static.json
  projects/design-system/src/lib/themes/03_semantic/dimension/static.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/lg.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/md.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/sm.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/static.json
  projects/design-system/src/lib/themes/04_component/atom/badge.json
  projects/design-system/src/lib/themes/04_component/atom/tooltip.json
  projects/design-system/src/lib/themes/04_component/molecule/infobox/responsive/desktop.json
  projects/design-system/src/lib/themes/04_component/molecule/infobox/responsive/mobile.json
  projects/design-system/src/lib/themes/04_component/molecule/infobox/static.json
  projects/design-system/src/lib/themes/04_component/molecule/pill/pill.json
  projects/design-system/src/lib/themes/04_component/molecule/popover.json
  projects/design-system/src/lib/themes/05_html/button/04_layout.json
  projects/design-system/src/lib/themes/05_html/link.json
Due: prettier --write

fix(design-system/tokens): clean up deprecated density json
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/03_semantic/spacing.json
Due: prettier --write

fix(oblique/service-navigation): fix message last used / favorite applications are empty TPEFD-9925
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
Due: prettier --write

fix(design-system/tokens): fix broken references of ob.s.dynamic.spacing.paragraph.bottom in 3 json files
  projects/design-system/src/lib/themes/03_semantic/typography/single/lg.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/md.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/sm.json
Due: prettier --write

refactor(service-navigation/web-component): activate `prefer-output-emitter-ref` rule
  projects/service-navigation-web-component/eslint.project-config.mjs
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(design-system/tokens): update density references to component_size in size, spinner, pill, popover, tag, and button JSON files
  projects/design-system/src/lib/themes/04_component/atom/icon_slot/size.json
  projects/design-system/src/lib/themes/04_component/atom/spinner.json
  projects/design-system/src/lib/themes/04_component/molecule/pill/pill.json
  projects/design-system/src/lib/themes/04_component/molecule/popover.json
  projects/design-system/src/lib/themes/04_component/molecule/tag/tag.json
  projects/design-system/src/lib/themes/05_html/button/04_layout.json
  projects/design-system/src/lib/themes/05_html/button/05_viewport/desktop.json
  projects/design-system/src/lib/themes/05_html/button/05_viewport/mobile.json
Due: prettier --write

fix(design-system/tokens): update dialog title typography reference in R14 tokens to use new heading style
  projects/design-system/src/lib/themes/NO-DS/OB-LEGACY/typography-styles-R14.json
Due: prettier --write

fix(oblique/accessibility-statement): print meaningful error message in case of empty contact info
  projects/oblique/src/lib/accessibility-statement/accessibility-statement.component.spec.ts
  projects/oblique/src/lib/accessibility-statement/accessibility-statement.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(oblique/accessibility-statement): make `ObContactData` properties mutually exclusive
  projects/oblique/src/lib/utilities.model.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(design-system/tokens): round small component spacing value to fix floating-point precision
  projects/design-system/src/lib/themes/03_semantic/dimension/component_size/sm.json
Due: prettier --write

fix(design-system/tokens): remove 'rem' unit from font size calculations in lg, md, and sm JSON files
  projects/design-system/src/lib/themes/03_semantic/typography/single/lg.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/md.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/sm.json
Due: prettier --write

chore(package.json): add a new script for tracing token references
  projects/design-system/.gitmessage
  projects/design-system/package.json
Due: prettier --write

fix(design-system/tokens): remove roundto since it doesn resolve in tokens studio
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/02_primitive/dimension.json
  projects/design-system/src/lib/themes/03_semantic/dimension/component_size/sm.json
Due: prettier --write

feat(design-system/tokens): add flexible status naming approach comparison and recommendations to documentation
  projects/design-system/documentation/03-design-tokens/03-types/07-color-tokens/flexible-status-naming-approach-comparison.md
Due: prettier --write

build(release): release version 14.1.1
  package-lock.json
  package.json
  projects/cli/package.json
  projects/cli/src/utils/cli-utils.ts
  projects/design-system/package.json
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/src/lib/version.ts
  projects/sandbox-ssr/package.json
  projects/sandbox/package.json
  projects/sds/package.json
  projects/sds/src/obliqueVersion.ts
  projects/service-navigation-web-component/CHANGELOG.md
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/src/app/version.ts
  projects/toolchain/package.json
  projects/toolchain/src/schematics/version.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(oblique/service-navigation): return `undefined` in case of error while getting the login state
  projects/oblique/src/lib/service-navigation/service-navigation.service.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build(dependencies): update Angular
  package-lock.json
  package.json
  projects/oblique/package.json
  projects/sandbox-ssr/package.json
  projects/sandbox-ssr/src/main.server.ts
  projects/sds/package.json
  projects/service-navigation-web-component/package.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build(dependencies): update dependencies and refactor accordingly
  package-lock.json
  package.json
  projects/cli/package.json
  projects/design-system/package.json
  projects/oblique/package.json
  projects/oblique/schematics/index/ng-update/update-v10-to-v11.ts
  projects/sandbox-ssr/package.json
  projects/toolchain/src/linting/eslint-config-oblique.mjs
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(design-system/tokens): roboto fix
  projects/design-system/src/lib/themes/02_primitive/typography.json
Due: prettier --write

fix
  projects/design-system/src/lib/themes/02_primitive/typography.json
Due: prettier --write

feat(documentation): add dimension token consumption rules and unit selection guidelines
  projects/design-system/documentation/03-design-tokens/99-workflows/developers/token-assignment-guidelines.md
Due: prettier --write

fix(design-system/tokens): fix naming inconsistency in infobox json file names.
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/04_component/molecule/infobox/01_color.json
  projects/design-system/src/lib/themes/04_component/molecule/infobox/02_layout.json
  projects/design-system/src/lib/themes/04_component/molecule/infobox/03_viewport/desktop.json
  projects/design-system/src/lib/themes/04_component/molecule/infobox/03_viewport/mobile.json
Due: prettier --write

feat(oblique/service-navigation): remove my-business-partnerships link TPEFD-9873
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/service-navigation/service-navigation.service.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(sds/collapse): add providers needed after upcoming refactor
  projects/sds/src/app/code-examples/code-examples/collapse/collapse-code-examples.component.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(oblique/schematics): add migration Schematics to Oblique 15
  projects/oblique/schematics/index/ng-update/index.ts
  projects/oblique/schematics/index/ng-update/update-v14-to-v15.ts
  projects/oblique/schematics/migration.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(oblique/collapse): use css animations instead of angular animations
  projects/oblique/src/lib/collapse/collapse.component.animations.ts
  projects/oblique/src/lib/collapse/collapse.component.html
  projects/oblique/src/lib/collapse/collapse.component.scss
  projects/oblique/src/lib/collapse/collapse.component.spec.ts
  projects/oblique/src/lib/collapse/collapse.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, stylelint --fix --cache --allow-empty-input, prettier --write

refactor(sandbox): remove `BrowserAnimationsModule`
  projects/sandbox/src/app/app.module.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(oblique/collapse): fix typo
  projects/oblique/src/lib/collapse/collapse.component.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(oblique/collapse): increase coverage to 100%
  projects/oblique/jest.config.js
  projects/oblique/src/lib/collapse/collapse.component.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(sds/cms): remove `BrowserAnimationsModule`
  projects/sds/src/app/component-page/component-pages/newsletter/newsletter.component.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(oblique/spinner): remove `BrowserAnimationsModule`
  projects/oblique/src/lib/spinner/spinner.component.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(oblique/schematics): update schematics remove `BrowserAnimationsModule` if not used
  projects/oblique/schematics/index/ng-update/update-v14-to-v15.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(oblique/schematics): don't add `BrowserAnimationModule` to new projects
  projects/oblique/schematics/index/ng-add/rules/oblique.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(sandbox/collapse): remove `NoopAnimationsModule`
  projects/sandbox/src/app/samples/collapse/collapse-sample.component.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build(design-system/scripts): extend `extract-tokens` script with component tokens for default modes
  projects/design-system/scripts/tokens/style-dictionary-formats-token-store.mjs
  projects/design-system/scripts/tokens/style-dictionary-formats.mjs
  projects/design-system/scripts/tokens/style-dictionary.mjs
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build(design-system/lint): match stylelint rules to what tokens-studio provides
  projects/design-system/.stylelintrc.yml
Due: prettier --write
