Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

.lintstagedrc.yml:

"*.{ts,js,mjs,html}": eslint --fix --cache
"*.{css,scss}": stylelint --fix --cache --allow-empty-input
"*.{ts,js,mjs,html,json,yml,md,css,scss}": prettier --write

chore(toolchain): release version 13.2.2
  package-lock.json
  package.json
  projects/cli/package.json
  projects/cli/sonar-project.properties
  projects/cli/src/new/ob-new.model.ts
  projects/design-system/package.json
  projects/design-system/sonar-project.properties
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/sonar-project.properties
  projects/oblique/src/lib/version.ts
  projects/sandbox-ssr/package.json
  projects/sandbox-ssr/sonar-project.properties
  projects/sandbox/package.json
  projects/sandbox/sonar-project.properties
  projects/sds/CHANGELOG.md
  projects/sds/package.json
  projects/sds/sonar-project.properties
  projects/sds/src/obliqueVersion.ts
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/sonar-project.properties
  projects/service-navigation-web-component/src/app/version.ts
Due: eslint --fix --cache, prettier --write

feat(cli/toolchain): move cli version to utils file
  projects/cli/scripts/pre-build.ts
  projects/cli/src/new/ob-new.model.ts
  projects/cli/src/new/ob-new.ts
  projects/cli/src/utils/cli-utils.ts
Due: eslint --fix --cache, prettier --write

feat(cli/utils): print cli version before each ob command
  projects/cli/src/new/ob-new.spec.ts
  projects/cli/src/utils/cli-utils.ts
Due: eslint --fix --cache, prettier --write

feat(sds/toolchain): remove unused deployment files
  projects/sds/src/nginx/Staticfile
  projects/sds/src/nginx/conf/includes/custom_headers.conf
  projects/sds/src/nginx/conf/includes/security_headers.conf
Due: none

feat(oblique/accessibility-statement): add an optional conformity property
  projects/oblique/src/lib/accessibility-statement/accessibility-statement.component.html
  projects/oblique/src/lib/accessibility-statement/accessibility-statement.component.spec.ts
  projects/oblique/src/lib/accessibility-statement/accessibility-statement.component.ts
  projects/oblique/src/lib/accessibility-statement/available-in/available-in.component.spec.ts
  projects/oblique/src/lib/utilities.model.ts
  projects/oblique/src/lib/utilities.spec.ts
Due: eslint --fix --cache, prettier --write

feat(sds/toolchain): use `script-loader.ts` to improve CSP
  projects/sds/Dockerfile_SDS
  projects/sds/scripts/post-build.ts
Due: eslint --fix --cache, prettier --write

fix(sds/code-examples): empty chips autocomplete after selection
  projects/sds/src/app/code-examples/code-examples/chips/previews/autocomplete/chips-example-autocomplete-preview.component.ts
Due: eslint --fix --cache, prettier --write

feat(toolchain): add `script-loader.ts` script
  scripts/shared/onLoadTemplate.txt
  scripts/shared/script-loader.ts
  scripts/shared/scriptLoaderTemplate.txt
Due: eslint --fix --cache, prettier --write

feat(sandbox): use the conformity property for accessibility statement
  projects/sandbox/src/app/app.module.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/accessibility-statement): avoid duplicating translation keys
  projects/oblique/src/lib/accessibility-statement/accessibility-statement.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/schematics): add the conformity property
  projects/oblique/schematics/index/ng-add/rules/obliqueFeatures.ts
  projects/oblique/schematics/index/ng-update/update-v12-to-v13.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/toolchain): use `script-loader.ts` to add CSP
  projects/sandbox/Dockerfile_Sandbox
  projects/sandbox/package.json
  projects/sandbox/scripts/post-build.ts
  projects/sandbox/src/nginx/includes/custom_headers.conf
  projects/sandbox/src/nginx/includes/security_headers.conf
  projects/sandbox/src/nginx/nginx.conf
Due: eslint --fix --cache, prettier --write

feat(sds/code-examples): remove `ob-icon` class from icons
  projects/sds/src/app/code-examples/code-examples/icons/previews/default/icons-example-default-preview.component.html
  projects/sds/src/app/code-examples/code-examples/icons/previews/font-size/icons-example-font-size-preview.component.html
Due: eslint --fix --cache, prettier --write

feat(sds/code-examples): remove `ob-icon` class from tab
  projects/sds/src/app/code-examples/code-examples/tabs/previews/variations/tabs-example-variations-preview.component.html
Due: eslint --fix --cache, prettier --write

feat(sds/code-examples): remove `ob-icon` class from list-group
  projects/sds/src/app/code-examples/code-examples/list-group/previews/icon-checkbox/list-group-example-icon-checkbox.component.html
Due: eslint --fix --cache, prettier --write

feat(sds/icon): add example for `ob-icon-text`
  projects/sds/src/app/code-examples/code-examples/icons/icons-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/icons/icons-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/icons/previews/text/icons-example-text-preview.component.html
  projects/sds/src/app/code-examples/code-examples/icons/previews/text/icons-example-text-preview.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/side-navigation): remove version 10
  projects/sds/src/app/shared/slug/slug.service.spec.ts
  projects/sds/src/app/shared/slug/slug.service.ts
Due: eslint --fix --cache, prettier --write

fix(design-system/token): fix the heading scale name "compact-default" to "default"
  projects/design-system/src/lib/themes/components/typography-styles.json
  projects/design-system/src/lib/themes/semantics/typography-styles.json
Due: prettier --write

refactor(design-system/token): dedicated badge typography token for remapping
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/components/atoms/badge.json
Due: prettier --write

refactor(design-system/token): dedicated button typography token for remapping
  projects/design-system/src/lib/themes/components/molecules/button.json
Due: prettier --write

fix (design-system/token): reference infobox typography tokens to scale tokens
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/components/molecules/infobox.json
Due: prettier --write

refactor(design-system/token): dedicated popover typography token for remapping
  projects/design-system/src/lib/themes/components/molecules/popover.json
Due: prettier --write

refactor(design-system/token): dedicated popover typography token for remapping
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/components/molecules/popover.json
Due: prettier --write

fix(design-system/token): fix tag typography token group name
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/components/molecules/tag.json
Due: prettier --write

fix(design-system/token): fix tooltip typography token naming
  projects/design-system/src/lib/themes/components/atoms/tooltip.json
Due: prettier --write

fix(design-system/token): remap tag typography token to scale token
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/components/molecules/tag.json
Due: prettier --write

fix(design-system/token): remap pill typography token to scale tokens
  projects/design-system/src/lib/themes/components/molecules/pills.json
Due: prettier --write

fix (design-system/token): fix popover custom button label naming and reference
  projects/design-system/src/lib/themes/components/molecules/popover.json
Due: prettier --write

fix(design-system/token): delete old label tokens (e.g. ob.s.typography.content.label) since they are now no more referenced in the component tokens.
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/semantics/typography-styles.json
Due: prettier --write

fix(design-system/token): fix broken references in spinner status color tokens
  projects/design-system/src/lib/themes/components/atoms/spinner.json
Due: prettier --write

fix(oblique/material): align vertically prefix suffix and text of form inputs
  projects/oblique/src/styles/scss/material/_mat-form-field.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(design-system/token): refector paragraph spacing structure before regenerating documentation
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/primitives/typography.json
  projects/design-system/src/lib/themes/semantics/spacing.json
  projects/design-system/src/lib/themes/semantics/typography-modes/1440-lg.json
  projects/design-system/src/lib/themes/semantics/typography-modes/360-xs.json
  projects/design-system/src/lib/themes/semantics/typography-scale.json
  projects/design-system/src/lib/themes/semantics/typography-styles.json
Due: prettier --write

refactor(design-system/token): refector paragraph spacing structure before regenerating documentation OUI-3814
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/primitives/typography.json
  projects/design-system/src/lib/themes/semantics/typography-modes/1440-lg.json
  projects/design-system/src/lib/themes/semantics/typography-modes/360-xs.json
  projects/design-system/src/lib/themes/semantics/typography-scale.json
  projects/design-system/src/lib/themes/semantics/typography-styles.json
Due: prettier --write

refactor(design-system/token): refector paragraph spacing structure before regenerating documentation
  projects/design-system/src/lib/themes/semantics/typography-modes/1440-lg.json
  projects/design-system/src/lib/themes/semantics/typography-modes/360-xs.json
Due: prettier --write

fix(design-system/token): add missing token description
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/components/atoms/badge.json
  projects/design-system/src/lib/themes/components/molecules/button.json
Due: prettier --write

fix(design-system/token): fix descriptions, delete token names inside.
  projects/design-system/src/lib/themes/components/molecules/button-modes/dark-monochrome.json
  projects/design-system/src/lib/themes/components/molecules/infobox.json
  projects/design-system/src/lib/themes/semantics/typography-modes/1440-lg.json
  projects/design-system/src/lib/themes/semantics/typography-modes/360-xs.json
Due: prettier --write

test
  .github/workflows/publish.yml
Due: prettier --write

test
  package.json
Due: prettier --write
