Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --config eslint.precommit.config.mjs, stylelint --fix --cache --allow-empty-input, prettier --write

feat(toolchain/schematics): add add-oblique schematic
  projects/toolchain/src/schematics/add-oblique/index.spec.ts
  projects/toolchain/src/schematics/add-oblique/index.ts
  projects/toolchain/src/schematics/add-oblique/rules/add-favicon.rule.ts
  projects/toolchain/src/schematics/add-oblique/rules/add-favicon.spec.ts
  projects/toolchain/src/schematics/collection.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(cli/utils): support ng generate execution
  projects/cli/src/utils/cli-utils.spec.ts
  projects/cli/src/utils/cli-utils.ts
  projects/cli/src/utils/ob-cli.model.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(cli/new): run add-oblique schematic during project setup
  projects/cli/src/new/ob-new.spec.ts
  projects/cli/src/new/ob-new.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(sandbox/column-layout): add requirements for full-height mode
  projects/sandbox/src/app/samples/column-layout-full-height/column-layout-full-height-sample.component.html
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(sandbox/column-layout): ensure toggling of layout setting on destroy
  projects/sandbox/src/app/samples/column-layout-full-height/column-layout-full-height-sample.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(sds/column-layout): add Full Height example
  projects/sds/src/app/code-examples/code-examples/column-layout/column-layout-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/column-layout/column-layout-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/column-layout/previews/stackblitz-link-full-height/column-layout-example-stackblitz-link-full-height-preview.component.html
  projects/sds/src/app/code-examples/code-examples/column-layout/previews/stackblitz-link-full-height/column-layout-example-stackblitz-link-full-height-preview.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(sds/schematics): restore schematics build
  projects/sds/schematics/package.json
  projects/sds/schematics/src/host.utils.ts
  projects/sds/schematics/src/nodes.utils.ts
  projects/sds/schematics/tsconfig.schematics.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(oblique): distribute as ESM
  projects/oblique/schematics/package.json
  projects/oblique/scripts/post-build.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(cli): distribute as ESM
  projects/cli/jest.config.js
  projects/cli/package.json
  projects/cli/src/index.ts
  projects/cli/src/new/ob-new.model.ts
  projects/cli/src/new/ob-new.spec.ts
  projects/cli/src/new/ob-new.ts
  projects/cli/src/update/ob-update.model.ts
  projects/cli/src/update/ob-update.spec.ts
  projects/cli/src/update/ob-update.ts
  projects/cli/src/utils/cli-utils.spec.ts
  projects/cli/src/utils/cli-utils.ts
  projects/cli/src/utils/ob-cli.model.ts
  projects/cli/src/utils/ob-configure-command.spec.ts
  projects/cli/src/utils/ob-configure-command.ts
  projects/cli/tsconfig.app.json
  projects/cli/tsconfig.spec.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(toolchain): distribute as ESM
  projects/toolchain/jest.config.js
  projects/toolchain/package.json
  projects/toolchain/scripts/post-build.ts
  projects/toolchain/src/exec/exec-with-logging.ts
  projects/toolchain/src/exec/index.ts
  projects/toolchain/src/exec/types.ts
  projects/toolchain/src/logger/base-logger.ts
  projects/toolchain/src/logger/errors/ob-logger-error-inactive-group.ts
  projects/toolchain/src/logger/errors/ob-logger-error-no-active-step.ts
  projects/toolchain/src/logger/factory.ts
  projects/toolchain/src/logger/group-logger.ts
  projects/toolchain/src/logger/index.ts
  projects/toolchain/src/logger/logger.ts
  projects/toolchain/src/logger/mock/index.ts
  projects/toolchain/src/logger/mock/mock-logger.ts
  projects/toolchain/src/logger/mock/types.ts
  projects/toolchain/src/logger/types.ts
  projects/toolchain/src/schematics/package.json
  projects/toolchain/tsconfig.esm.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build(toolchain/scripts): split scripts between pipeline and action scripts
  projects/toolchain/package.json
  projects/toolchain/scripts/actions/check-lint-rules.ts
  projects/toolchain/scripts/pipelines/lint.ts
  projects/toolchain/scripts/pipelines/post-build.ts
  projects/toolchain/scripts/pipelines/pre-build.ts
  projects/toolchain/scripts/pipelines/publish.ts
  projects/toolchain/scripts/pipelines/release.ts
  projects/toolchain/scripts/publish.ts
  projects/toolchain/scripts/release.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build(toolchain/contributing): document the split between pipeline and action scripts
  projects/toolchain/CONTRIBUTING.md
Due: prettier --write

refactor(sandbox/language): simplify and improve sample
  projects/sandbox/src/app/samples/language/language-sample.component.html
  projects/sandbox/src/app/samples/language/language-sample.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(sandbox/language): add time picker sample
  projects/sandbox/src/app/samples/language/language-sample.component.html
  projects/sandbox/src/app/samples/samples.module.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(oblique/language): create an internal `ObDateAdapter` with custom format and parse methods
  projects/oblique/src/lib/language/date-adapter/date-adapter.spec.ts
  projects/oblique/src/lib/language/date-adapter/date-adapter.ts
  projects/oblique/src/lib/language/date-adapter/date-formats.ts
  projects/oblique/src/lib/language/date-adapter/date-formatters.spec.ts
  projects/oblique/src/lib/language/date-adapter/date-formatters.ts
  projects/oblique/src/lib/language/date-adapter/date-parsers.spec.ts
  projects/oblique/src/lib/language/date-adapter/date-parsers.ts
  projects/oblique/src/lib/language/date-adapter/date.model.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(oblique/language): rewrite tests for date component and date pipe
  projects/oblique/src/lib/language/date.pipe.spec.ts
  projects/oblique/src/lib/language/date/date.component.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(oblique/utilities): provide a custom `DateAdapter` in `provideObliqueConfiguration`
  projects/oblique/src/lib/language/date.provider.spec.ts
  projects/oblique/src/lib/language/date.provider.ts
  projects/oblique/src/lib/utilities.spec.ts
  projects/oblique/src/lib/utilities.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(oblique/language): split date and time formats in `ObDate`
  projects/oblique/src/lib/language/date/date.component.spec.ts
  projects/oblique/src/lib/language/date/date.component.ts
  projects/oblique/src/lib/language/date/date.model.ts
  projects/oblique/src/lib/language/language.module.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(sandbox/language): adapt to code changes
  projects/sandbox/src/app/samples/language/language-sample.component.html
  projects/sandbox/src/app/samples/language/language-sample.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(oblique/language): split date and time formats for `obDate`
  projects/oblique/src/lib/language/date.pipe.spec.ts
  projects/oblique/src/lib/language/date.pipe.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(sandbox/schema-validation): simplify tests
  projects/sandbox/src/app/samples/schema-validation/schema-validation-sample.component.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(sandbox): remove `moment`
  angular.json
  projects/sandbox/src/app/app.module.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(sds): remove `moment`
  angular.json
  projects/sds/src/main.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build(dependencies): remove `moment`
  DEPENDENCIES.md
  package-lock.json
  package.json
Due: prettier --write

ci(jenkins): do not publish to npm via Jenkins
  Jenkinsfile
Due: none

refactor(sds): remove deprecated `ObDatepickerModule`
  projects/sds/src/app/code-examples/code-examples/form/previews/sizes/form-example-sizes-preview.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(oblique): match preversion semver format
  projects/oblique/src/public_api.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

ci(github): publish to npm via Github actions
  .github/workflows/main.yml
  projects/cli/package.json
  projects/oblique/package.json
  projects/service-navigation-web-component/package.json
  projects/toolchain/package.json
Due: prettier --write

build(scripts): use absolute path in build scripts
  projects/sds/scripts/oblique-version.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build(release): release version 16.0.0-alpha.3
  Jenkinsfile
  package-lock.json
  package.json
  projects/cli/CHANGELOG.md
  projects/cli/package.json
  projects/cli/src/utils/cli-utils.ts
  projects/design-system/package.json
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/src/lib/version.ts
  projects/sandbox-ssr/package.json
  projects/sandbox/CHANGELOG.md
  projects/sandbox/package.json
  projects/sds/CHANGELOG.md
  projects/sds/package.json
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/src/app/version.ts
  projects/toolchain/CHANGELOG.md
  projects/toolchain/package.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(design-system/tokens): primitive set for mix/alpha modifiers OUX-243
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/02_primitive/modifier.json
Due: prettier --write

feat(design-system/tokens): button lean modes OUX-243
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/05_html/button/01_color-depr.json
  projects/design-system/src/lib/themes/05_html/button/01_color/light_low_cntx-none.json
Due: prettier --write

feat(design-system/tokens): semantic set for state-layer OUX-243
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/02_primitive/modifier.json
  projects/design-system/src/lib/themes/03_semantic/state-layer.json
  projects/design-system/src/lib/themes/05_html/button/01_color/light_low_cntx-none.json
Due: prettier --write

feat(design-system/tokens): button lean tokenization OUX-243
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/05_html/button/01_color/light_low_cntx-none.json
  projects/design-system/src/lib/themes/05_html/button/03_shadows.json
Due: prettier --write

fix(design-system/tokens): button lean tokenization OUX-243
  projects/design-system/src/lib/themes/05_html/button/01_color-depr.json
Due: prettier --write

fix(design-system/tokens): button lean colot tokens OUX-243
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/05_html/button/01_color-depr.json
  projects/design-system/src/lib/themes/05_html/button/01_color.json
  projects/design-system/src/lib/themes/05_html/button/01_color_lean/light_low_cntx-none.json
Due: prettier --write

fix(design-system/tokens): add lean button to themes OUX-243
  projects/design-system/src/lib/themes/$themes.json
Due: prettier --write

Path conditions:
  eslint --fix --cache --config eslint.precommit.config.mjs: any of: *.{ts,js,mjs,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,mjs,html,json,yml,md,css,scss}
