Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

.lintstagedrc.yml:

"*.{ts,js,mjs,html}": eslint --fix --cache
"*.{css,scss}": stylelint --fix --cache --allow-empty-input
"*.{ts,js,mjs,html,json,yml,md,css,scss}": prettier --write

docs(design-system): fix S3 layer naming in theming documentation
  projects/design-system/documentation/design-tokens/theming.md
Due: prettier --write

refactor(oblique/service-navigation): remove `ob-screen-reader-only` on icon buttons with a tooltip
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.html
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.spec.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.harness.ts
  projects/oblique/src/lib/service-navigation/info/service-navigation-info.component.html
  projects/oblique/src/lib/service-navigation/info/service-navigation-info.component.spec.ts
  projects/oblique/src/lib/service-navigation/info/service-navigation-info.harness.ts
  projects/oblique/src/lib/service-navigation/message/service-navigation-message.component.html
  projects/oblique/src/lib/service-navigation/message/service-navigation-message.component.spec.ts
  projects/oblique/src/lib/service-navigation/message/service-navigation-message.harness.ts
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.component.html
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.component.spec.ts
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.harness.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/file-upload): remove `ob-screen-reader-only` text on icon button with a tooltip
  projects/oblique/src/lib/file-upload/file-info/file-info.component.html
  projects/oblique/src/lib/file-upload/progress/progress.component.html
Due: eslint --fix --cache, prettier --write

refactor(sandbox): add missing tooltips on icon buttons
  projects/sandbox/src/app/app.component.html
  projects/sandbox/src/app/material/button/button.component.html
Due: eslint --fix --cache, prettier --write

feat(oblique/button): use `aria-labelledby` to label icon buttons with tooltip
  projects/oblique/src/lib/button/button.directive.ts
  projects/oblique/src/lib/button/button.module.ts
  projects/oblique/src/lib/button/icon-button.directive.spec.ts
  projects/oblique/src/lib/button/icon-button.directive.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/icon): namespace icon classenames to .ob-icon
  projects/oblique/scripts/update-icons.ts
  projects/oblique/src/styles/scss/oblique-icons.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/styles): prevent grid styling from applying on icons
  projects/oblique/src/styles/scss/core/components/_grid.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sandbox/language): add demo for isoDate validation
  projects/sandbox/src/app/samples/language/language-sample.component.html
Due: eslint --fix --cache, prettier --write

feat(oblique/language): use type instead of an enum for date format
  projects/oblique/src/lib/language/date/date.component.spec.ts
  projects/oblique/src/lib/language/date/date.component.ts
  projects/oblique/src/lib/language/date/date.model.ts
  projects/oblique/src/lib/language/language.module.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, prettier --write

build(dependencies): update dependencies and refactor accordingly
  .gitignore
  package-lock.json
  package.json
  projects/design-system/package.json
  projects/oblique/package.json
  projects/oblique/src/styles/scss/material/_mat-slide-toggle.scss
  projects/sandbox-ssr/package.json
  projects/service-navigation-web-component/package.json
Due: stylelint --fix --cache --allow-empty-input, prettier --write

build(scripts): allow `oblique-components.scss` to be commited with `oblique` package
  scripts/husky/hook.commit-rules.ts
Due: eslint --fix --cache, prettier --write

build(oblique/scripts): make sure `oblique-components.scss` don't import with file extension
  projects/oblique/scripts/pre-build.ts
  projects/stylesBuilder/oblique-components.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

build(oblique/scripts): refactor `pre-build` script
  projects/oblique/scripts/pre-build.ts
Due: eslint --fix --cache, prettier --write

build(oblique/scripts): make sure `pre-build` script support both `styleUrls` and `styleUrl`
  projects/oblique/scripts/pre-build.ts
  projects/stylesBuilder/oblique-components.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/utilities): add `provideObliqueTestingConfiguration`
  projects/oblique/src/lib/utilities.spec.ts
  projects/oblique/src/lib/utilities.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, prettier --write

test(oblique): use `provideObliqueTestingConfiguration` wherever useful
  projects/oblique/jest.config.js
  projects/oblique/src/lib/accessibility-statement/accessibility-statement.component.spec.ts
  projects/oblique/src/lib/alert/alert.component.spec.ts
  projects/oblique/src/lib/autocomplete/autocomplete.component.spec.ts
  projects/oblique/src/lib/autocomplete/option-label-icon/option-label-icon.directive.spec.ts
  projects/oblique/src/lib/column-layout/column-layout.component.spec.ts
  projects/oblique/src/lib/datepicker/ob-datepicker.service.spec.ts
  projects/oblique/src/lib/document-meta/document-meta.service.spec.ts
  projects/oblique/src/lib/file-upload/drop-zone/ob-drop-zone.component.spec.ts
  projects/oblique/src/lib/file-upload/file-info/file-info.component.spec.ts
  projects/oblique/src/lib/file-upload/file-upload.component.spec.ts
  projects/oblique/src/lib/file-upload/progress/progress.component.spec.ts
  projects/oblique/src/lib/global-events/global-events.service.spec.ts
  projects/oblique/src/lib/icon/icon.service.spec.ts
  projects/oblique/src/lib/input-clear/input-clear.directive.spec.ts
  projects/oblique/src/lib/language/date/date.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-footer/master-layout-footer.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.spec.ts
  projects/oblique/src/lib/paginator/ob-paginator.service.spec.ts
  projects/oblique/src/lib/router/ob-localize.pipe.spec.ts
  projects/oblique/src/lib/router/ob-router.service.spec.ts
  projects/oblique/src/lib/scrolling/top-control.component.spec.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.spec.ts
  projects/oblique/src/lib/service-navigation/info/service-navigation-info.component.spec.ts
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.component.spec.ts
  projects/oblique/src/lib/stepper/ob-stepper.service.spec.ts
  projects/oblique/src/lib/unsaved-changes/unsaved-changes.service.spec.ts
Due: eslint --fix --cache, prettier --write

test(sandbox): use `provideObliqueTestingConfiguration` wherever useful
  projects/sandbox/src/app/app.component.spec.ts
  projects/sandbox/src/app/home/home.page.spec.ts
  projects/sandbox/src/app/samples/nav-tree/nav-tree-sample.component.spec.ts
  projects/sandbox/src/app/samples/number-format/number-format-sample.component.spec.ts
Due: eslint --fix --cache, prettier --write

test(sds): use `provideObliqueTestingConfiguration` wherever useful
  projects/sds/src/app/code-examples/code-examples/banner/banner-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/breadcrumb/breadcrumb-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/card/card-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/column-layout/column-layout-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/date/date-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/external-link/external-link-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/file-upload/file-upload-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/form/form-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/icons/icons-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/master-layout/master-layout-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/material-table/material-table-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/nav-tree/nav-tree-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/nested-form/nested-form-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/off-canvas/off-canvas-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/schema-validation/schema-validation-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/translate-params/translate-params-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/translations/translations-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/unknown-route/unknown-route-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/unsaved-changes/unsaved-changes-code-examples.component.spec.ts
  projects/sds/src/app/component-page/component-pages/newsletter/newsletter.component.spec.ts
Due: eslint --fix --cache, prettier --write

test(service-navigation): use `provideObliqueTestingConfiguration` wherever useful
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.spec.ts
Due: eslint --fix --cache, prettier --write

OUI-4001: feat(design-system): add terminology validation
  projects/design-system/documentation/design-tokens/_index.md
  projects/design-system/documentation/design-tokens/architecture.md
  projects/design-system/documentation/design-tokens/colors/colors-backup.md
  projects/design-system/documentation/design-tokens/colors/colors-semantic-brand.md
  projects/design-system/documentation/design-tokens/colors/colors-semantic-neutral.md
  projects/design-system/documentation/design-tokens/colors/colors-semantic-status.md
  projects/design-system/documentation/design-tokens/colors/colors-semantic.md
  projects/design-system/documentation/design-tokens/colors/colors.md
  projects/design-system/documentation/design-tokens/compound-units.md
  projects/design-system/documentation/design-tokens/global-tokens.md
  projects/design-system/documentation/design-tokens/glossary.md
  projects/design-system/documentation/design-tokens/guidelines-for-designers.md
  projects/design-system/documentation/design-tokens/guidelines-token-consumption.md
  projects/design-system/documentation/design-tokens/responsiveness.md
  projects/design-system/documentation/design-tokens/theming.md
  projects/design-system/documentation/design-tokens/underscore-migration-plan.md
  projects/design-system/documentation/reports/EMAIL-TO-DEVELOPER.md
  projects/design-system/documentation/reports/style-dictionary-integration/README.md
  projects/design-system/documentation/reports/token-changes/README.md
  projects/design-system/documentation/workflow/EASY-RECOMMENDATIONS.md
  projects/design-system/documentation/workflow/figma-token-debugging.md
  projects/design-system/documentation/workflow/figma-variable-detachment-ghost-modes.md
  projects/design-system/documentation/workflow/tokens-studio-context.md
  projects/design-system/scripts-custom/validate-terminology-consistency.js
Due: eslint --fix --cache, prettier --write

OUI-3865: feat(design-system): refactor button tokens to use 7-segment inversity architecture
  projects/design-system/SETUP_PROTECTION.md
  projects/design-system/documentation/design-tokens/architecture.md
  projects/design-system/documentation/design-tokens/component-tokens.md
  projects/design-system/documentation/reports/custom-scripts-developer-handoff.md
  projects/design-system/documentation/workflow/protected-files.md
  projects/design-system/documentation/workflow/setup-protection.md
  projects/design-system/plural-references-report.txt
  projects/design-system/scripts-custom/markdown_naming_prevention.md
  projects/design-system/src/lib/themes/html/button/color-static.json
  projects/design-system/src/lib/themes/html/button/color-static.json.backup
Due: prettier --write

docs(colors): improve primitive color documentation structure and accuracy
  projects/design-system/documentation/design-tokens/colors/colors-backup.md
  projects/design-system/documentation/design-tokens/colors/colors-overview.md
  projects/design-system/documentation/design-tokens/colors/colors-primitive.md
  projects/design-system/documentation/design-tokens/colors/colors-semantic-status.md
  projects/design-system/documentation/design-tokens/component-tokens.md
  projects/design-system/documentation/reports/documentation-fact-check-report.md
Due: prettier --write

docs(design-system): enhance documentation structure and accuracy
  projects/design-system/documentation/design-tokens/_index.md
  projects/design-system/documentation/design-tokens/colors/colors-overview.md
Due: prettier --write

OUI-4001: fix(design-system): systematic token reference accuracy issues
  projects/design-system/documentation/design-tokens/_index.md
  projects/design-system/documentation/design-tokens/architecture.md
  projects/design-system/documentation/design-tokens/colors/colors-overview.md
  projects/design-system/documentation/design-tokens/colors/colors-semantic-interaction.md
  projects/design-system/documentation/design-tokens/colors/colors-semantic-neutral.md
  projects/design-system/documentation/design-tokens/colors/colors-semantic-status.md
  projects/design-system/documentation/design-tokens/colors/colors-semantic.md
  projects/design-system/documentation/design-tokens/component-tokens.md
  projects/design-system/documentation/design-tokens/compound-units.md
  projects/design-system/documentation/design-tokens/documentation-token-validation-report.md
  projects/design-system/documentation/design-tokens/glossary.md
  projects/design-system/documentation/design-tokens/guidelines-token-consumption.md
  projects/design-system/documentation/design-tokens/style-dictionary-underscore-setup.md
  projects/design-system/documentation/design-tokens/theming.md
Due: prettier --write

OUI-4001: fix(design-system): remaining separator fix
  projects/design-system/documentation/design-tokens/colors/colors-overview.md
Due: prettier --write

OUI-4001: fix(design-system): remove emojis from public documentation
  projects/design-system/documentation/design-tokens/colors/colors-semantic-status.md
  projects/design-system/documentation/design-tokens/colors/colors-semantic.md
  projects/design-system/documentation/design-tokens/compound-units.md
  projects/design-system/documentation/design-tokens/documentation-token-validation-report.md
  projects/design-system/documentation/design-tokens/global-tokens.md
  projects/design-system/documentation/design-tokens/guidelines-token-consumption.md
  projects/design-system/documentation/design-tokens/underscore-migration-plan.md
  projects/design-system/documentation/reports/custom-scripts-developer-handoff.md
  projects/design-system/documentation/reports/documentation-fact-check-report.md
  projects/design-system/documentation/reports/style-dictionary-integration/README.md
  projects/design-system/documentation/reports/style-dictionary-integration/tracked-tokens-config.json
  projects/design-system/documentation/reports/token-changes/README.md
  projects/design-system/documentation/reports/token-changes/scripts/track-token-changes.py
  projects/design-system/documentation/reports/token-changes/tracked-tokens-config.json
  projects/design-system/documentation/workflow/component-identification.md
  projects/design-system/documentation/workflow/tokens-studio-context.md
Due: prettier --write

feat(oblique/master-layout): deprecate `maxFavoriteApplications` in `ObMasterLayoutHeaderService`
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.service.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.service.ts
  projects/oblique/src/lib/master-layout/master-layout.model.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/service-navigation): fix wrap issue with applications popover
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

ci(rhos): use nginx 12.6
  projects/cli/Dockerfile_CLI
  projects/design-system/Dockerfile_Design_System
  projects/oblique/Dockerfile_Oblique
  projects/sandbox-ssr/Dockerfile_Sandbox_SSR
  projects/sandbox/Dockerfile_Sandbox
  projects/sds/Dockerfile_SDS
  projects/service-navigation-web-component/Dockerfile_Service_Navigation_Web_Component
  projects/toolchain/Dockerfile_Toolchain
Due: none

ci(rhos): deactivate `server_tokens`
  projects/cli/src/nginx/nginx.conf
  projects/design-system/src/nginx/nginx.conf
  projects/oblique/src/nginx/nginx.conf
  projects/sandbox-ssr/src/nginx/nginx.conf
  projects/sandbox/src/nginx/nginx.conf
  projects/sds/src/nginx/conf/nginx.conf
  projects/service-navigation-web-component/src/nginx/nginx.conf
  projects/toolchain/nginx.conf
Due: none

feat(oblique/material): increase icon size in buttons
  projects/oblique/src/styles/scss/material/_mat-button.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/autocomplete): increase icon size
  projects/oblique/src/lib/autocomplete/autocomplete.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/service-navigation): increase icon size and realign them
  projects/oblique/src/lib/service-navigation/languages/service-navigation-languages.component.scss
  projects/oblique/src/lib/service-navigation/service-navigation.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/master-layout): increase icon size and realign icons
  projects/oblique/src/lib/master-layout/master-layout-navigation/go-to-children/master-layout-navigation-go-to-children.component.scss
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
  projects/oblique/src/lib/master-layout/master-layout-navigation/sub-menu-item/master-layout-navigation-sub-menu-item.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(oblique): use CSS.supports()
  projects/oblique/src/ob-features.js
Due: eslint --fix --cache, prettier --write

feat(oblique): add new feature check
  projects/oblique/src/ob-features.js
Due: eslint --fix --cache, prettier --write

feat(oblique/schematics): remove automatic adding of material dependencies
  projects/oblique/schematics/index/ng-add/rules/oblique.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/schematics): do not display undefined file name and line number on error message
  projects/oblique/schematics/index/utils.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/schematics): check required dependencies in ng-add schematics
  projects/oblique/schematics/index/ng-add/index.ts
  projects/oblique/schematics/index/ng-add/ng-add-utils.ts
Due: eslint --fix --cache, prettier --write
