Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --config eslint.precommit.config.mjs, stylelint --fix --cache --allow-empty-input, prettier --write

.lintstagedrc.yml:

"*.{ts,js,mjs,html}": eslint --fix --cache --config eslint.precommit.config.mjs
"*.{css,scss}": stylelint --fix --cache --allow-empty-input
"*.{ts,js,mjs,html,json,yml,md,css,scss}": prettier --write

build(contributing): add tools type to the commit message convention
  CONTRIBUTING.md
  scripts/husky/hook.commit-rules.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(oblique/language): prevent language init from cancelling pending initial navigation
  projects/oblique/src/lib/router/ob-router.service.spec.ts
  projects/oblique/src/lib/router/ob-router.service.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(oblique/language): avoid encoding query params and fragment on language switch
  projects/oblique/src/lib/router/ob-router.service.spec.ts
  projects/oblique/src/lib/router/ob-router.service.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(design-system/figma-doc-builders): accept px after the minus in the viewport range math
  projects/design-system/scripts-custom/figma-doc-builders/viewport/build-viewport.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(design-system/tokens): write the viewport range end as minus 1px so Token Studio calculates it
  projects/design-system/src/lib/themes/01_global/mode_collection/viewport.json
Due: prettier --write

fix(design-system/tokens): use one short generic description for the viewport min and max width
  projects/design-system/src/lib/themes/03_semantic/dimension/viewport/2xl.json
  projects/design-system/src/lib/themes/03_semantic/dimension/viewport/lg.json
  projects/design-system/src/lib/themes/03_semantic/dimension/viewport/md.json
  projects/design-system/src/lib/themes/03_semantic/dimension/viewport/sm.json
  projects/design-system/src/lib/themes/03_semantic/dimension/viewport/xl.json
  projects/design-system/src/lib/themes/03_semantic/dimension/viewport/xs.json
Due: prettier --write

feat(design-system/figma-doc-builders): flatten the applied viewport modes and bind their width to min_width
  projects/design-system/scripts-custom/figma-doc-builders/viewport/_readme.md
  projects/design-system/scripts-custom/figma-doc-builders/viewport/build-viewport.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(design-system/figma-doc-builders): read the viewport tier subtitles from the registry and warn when the section bar has no subtitle layer
  projects/design-system/scripts-custom/figma-doc-builders/viewport/_readme.md
  projects/design-system/scripts-custom/figma-doc-builders/viewport/build-viewport.js
  projects/design-system/scripts-custom/figma-doc-builders/viewport/registry.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(design-system/figma-doc-builders): restore the header variant table and pin the viewport builder to its Figma file
  projects/design-system/scripts-custom/figma-doc-builders/viewport/_readme.md
  projects/design-system/scripts-custom/figma-doc-builders/viewport/build-viewport.js
  projects/design-system/scripts-custom/figma-doc-builders/viewport/registry.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(design-system/figma-doc-builders): let the viewport builder do the fill, wrapper and section bar subtitle steps itself
  projects/design-system/scripts-custom/figma-doc-builders/viewport/_readme.md
  projects/design-system/scripts-custom/figma-doc-builders/viewport/build-viewport.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(oblique/styles): reset font-size of default H4 to H6 to 17px
  projects/oblique/src/styles/scss/core/mixins/_typography.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(design-system/figma-doc-builders): find the applied frame fill variable by its full or trimmed name
  projects/design-system/scripts-custom/figma-doc-builders/viewport/build-viewport.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(design-system/tokens): name the interaction border levels strong, medium and subtle
  projects/design-system/documentation/02-token-tiers/03-semantic.md
  projects/design-system/documentation/02-token-tiers/04-component.md
  projects/design-system/documentation/03-token-categories/colors/04-semantic-neutral.md
  projects/design-system/documentation/03-token-categories/colors/06-semantic-interaction.md
  projects/design-system/src/lib/css/layers/tokens.css
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/03_semantic/color/compiled.json
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/dark.json
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/light.json
  projects/design-system/src/lib/themes/03_semantic/color/s2_emphasis/high.json
  projects/design-system/src/lib/themes/03_semantic/color/s2_emphasis/low.json
Due: stylelint --fix --cache --allow-empty-input, prettier --write

docs(design-system): add a getting started chapter to the color overview
  projects/design-system/documentation/03-token-categories/colors/00-overview.md
Due: prettier --write

docs(toolchain/logger): `clearGroups` doc mention `Vitest` instead of `jest`
  projects/toolchain/src/logger/mock/types.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(sandbox/language): german and italian translations extended
  projects/sandbox/src/assets/i18n/de.json
  projects/sandbox/src/assets/i18n/it.json
Due: prettier --write

feat(sandbox/language): enable german and italian languages
  projects/sandbox/src/app/app.module.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

Revert "docs(design-system): add a getting started chapter to the color overview"
  projects/design-system/documentation/03-token-categories/colors/00-overview.md
Due: prettier --write

fix(design-system/tokens): remove the leftover test token ob.test.300
  projects/design-system/src/lib/themes/02_primitive/dimension.json
Due: prettier --write

fix(design-system/tokens): write the viewport range end with a px unit
  projects/design-system/src/lib/themes/01_global/mode_collection/viewport.json
Due: prettier --write

refactor(design-system/figma-doc-builders): follow the new color names and hide author-only variables OUI-4765
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/build-color-pairings.js
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/registry.json
  projects/design-system/scripts-custom/figma-doc-builders/color-variables/build-color-variables.js
  projects/design-system/scripts-custom/figma-doc-builders/color-variables/registry.json
  projects/design-system/scripts-custom/figma-doc-builders/typography/_setup-building-blocks.js
  projects/design-system/scripts-custom/figma-doc-builders/viewport/build-viewport.js
  projects/design-system/scripts-custom/figma-utils/run-cosmetics.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(design-system/tokens): rename color paths for consumers and add basic colors OUI-4765
  projects/design-system/src/lib/css/layers/tokens.css
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/03_semantic/border.json
  projects/design-system/src/lib/themes/03_semantic/color/compiled.json
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/dark.json
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/light.json
  projects/design-system/src/lib/themes/03_semantic/color/s2_emphasis/high.json
  projects/design-system/src/lib/themes/03_semantic/color/s2_emphasis/low.json
  projects/design-system/src/lib/themes/04_component/atom/badge.json
  projects/design-system/src/lib/themes/04_component/atom/icon/01_color.json
  projects/design-system/src/lib/themes/04_component/atom/spinner.json
  projects/design-system/src/lib/themes/04_component/atom/tooltip.json
  projects/design-system/src/lib/themes/04_component/molecule/infobox/01_color.json
  projects/design-system/src/lib/themes/04_component/molecule/pill/01_layout.json.json
  projects/design-system/src/lib/themes/04_component/molecule/popover.json
  projects/design-system/src/lib/themes/04_component/molecule/tag/01_layout.json.json
  projects/design-system/src/lib/themes/05_html/link/link.json
  projects/design-system/src/lib/themes/05_html/typography/context/interface.json
  projects/design-system/src/lib/themes/05_html/typography/context/prose.json
Due: stylelint --fix --cache --allow-empty-input, prettier --write

docs(design-system): update color token paths for the new names OUI-4765
  projects/design-system/documentation/01-introduction/00-principles.md
  projects/design-system/documentation/01-introduction/01-architecture.md
  projects/design-system/documentation/01-introduction/02-naming.md
  projects/design-system/documentation/02-token-tiers/03-semantic.md
  projects/design-system/documentation/02-token-tiers/04-component.md
  projects/design-system/documentation/03-token-categories/03-border.md
  projects/design-system/documentation/03-token-categories/colors/00-overview.md
  projects/design-system/documentation/03-token-categories/colors/01-primitive.md
  projects/design-system/documentation/03-token-categories/colors/02-primitive-consumption.md
  projects/design-system/documentation/03-token-categories/colors/03-semantic.md
  projects/design-system/documentation/03-token-categories/colors/05-semantic-brand.md
  projects/design-system/documentation/03-token-categories/colors/06-semantic-interaction.md
  projects/design-system/documentation/03-token-categories/colors/07-semantic-status.md
  projects/design-system/documentation/03-token-categories/colors/08-semantic-free.md
  projects/design-system/documentation/04-modes/02-emphasis.md
  projects/design-system/documentation/05-reference/00-glossary.md
  projects/design-system/documentation/05-reference/01-token-usage-guide.md
  projects/design-system/documentation/06-components/badge/02-architecture.md
  projects/design-system/documentation/06-components/infobox/01-overview.md
  projects/design-system/documentation/06-components/infobox/02-architecture.md
  projects/design-system/documentation/06-components/link/01-overview.md
  projects/design-system/documentation/06-components/link/02-architecture.md
  projects/design-system/documentation/06-components/popover/02-architecture.md
  projects/design-system/documentation/06-components/spinner/02-architecture.md
  projects/design-system/documentation/06-components/tag/02-architecture.md
  projects/design-system/documentation/06-components/text-components/02-architecture.md
  projects/design-system/documentation/06-components/tooltip/02-architecture.md
Due: prettier --write

tools(cli-registry): exclude from release step
  tools/cli-registry/package.json
Due: prettier --write

docs(design-system/figma-doc-builders): regenerate the color pairings for the new names OUI-4765
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/accessible-pairings.md
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/contrast-pairings.json
Due: prettier --write

feat(design-system/figma-utils): keep hidden color tiers out of the fill and stroke pickers OUI-4765
  projects/design-system/scripts-custom/figma-utils/run-cosmetics.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build(release): release version 16.0.1
  package-lock.json
  package.json
  projects/cli/package.json
  projects/cli/src/utils/cli-utils.ts
  projects/design-system/package.json
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/src/lib/version.ts
  projects/sandbox-e2e/package.json
  projects/sandbox-ssr/package.json
  projects/sandbox/CHANGELOG.md
  projects/sandbox/package.json
  projects/sds/package.json
  projects/sds/src/obliqueVersion.ts
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/src/app/version.ts
  projects/toolchain/CHANGELOG.md
  projects/toolchain/package.json
  publiccode.yml
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(design-system/tokens): move the rem tokens into a rem folder that mirrors the px files
  projects/design-system/documentation/02-token-tiers/00-overview.md
  projects/design-system/documentation/03-token-categories/00-dimension.md
  projects/design-system/documentation/04-modes/03-ui-scale.md
  projects/design-system/documentation/04-modes/05-density.md
  projects/design-system/documentation/05-reference/01-token-usage-guide.md
  projects/design-system/scripts-custom/figma-doc-builders/dimension/_readme.md
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/03_semantic/dimension/rem.json
  projects/design-system/src/lib/themes/03_semantic/dimension/rem/density/compact.json
  projects/design-system/src/lib/themes/03_semantic/dimension/rem/density/spacious.json
  projects/design-system/src/lib/themes/03_semantic/dimension/rem/density/standard.json
  projects/design-system/src/lib/themes/03_semantic/dimension/rem/density/static.json
  projects/design-system/src/lib/themes/03_semantic/dimension/rem/ui_scale/lg.json
  projects/design-system/src/lib/themes/03_semantic/dimension/rem/ui_scale/md.json
  projects/design-system/src/lib/themes/03_semantic/dimension/rem/ui_scale/sm.json
  projects/design-system/src/lib/themes/03_semantic/dimension/rem/ui_scale/static.json
Due: prettier --write
