Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

.lintstagedrc.yml:

"*.{ts,js,mjs,html}": eslint --fix --cache
"*.{css,scss}": stylelint --fix --cache --allow-empty-input
"*.{ts,js,mjs,html,json,yml,md,css,scss}": prettier --write

refactor(design-system/tokens): delete unused multiplicator tokens ._base. Rename used to .base
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/02_primitive/typography.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/lg.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/md.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/sm.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/static.json
Due: prettier --write

refactor(design-system/tokens): fixed viewport multiplier tokens to share the same key across modes and prepare the stucture for adding breakpoint tokens under the same path
  projects/design-system/src/lib/themes/01_global/multipliers/viewport/desktop.json
  projects/design-system/src/lib/themes/01_global/multipliers/viewport/mobile.json
  projects/design-system/src/lib/themes/03_semantic/spacing.json
Due: prettier --write

refactor(design-system/tokens): added viewport breakpoint tokens
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/01_global/multipliers/viewport/desktop.json
  projects/design-system/src/lib/themes/01_global/multipliers/viewport/mobile.json
Due: prettier --write

feat(tokens/global): add viewport breakpoint tokens for responsive design
  projects/design-system/src/lib/themes/01_global/viewport/breakpoint/max.json
  projects/design-system/src/lib/themes/01_global/viewport/breakpoint/min.json
Due: prettier --write

feat(tokens/global): created better token sets for breakpoints OUI-4125
  projects/design-system/src/lib/themes/$metadata.json
Due: prettier --write

fixed(tokens/global): fixed token keys and json names for breakpoints. added to modes in $themes.
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/01_global/viewport/breakpoint/desktop.json
  projects/design-system/src/lib/themes/01_global/viewport/breakpoint/max.json
  projects/design-system/src/lib/themes/01_global/viewport/breakpoint/min.json
  projects/design-system/src/lib/themes/01_global/viewport/breakpoint/mobile.json
Due: prettier --write

fix(tokens/global): delete unused breakpoints in multipliers files
  projects/design-system/src/lib/themes/01_global/multipliers/viewport/desktop.json
  projects/design-system/src/lib/themes/01_global/multipliers/viewport/mobile.json
Due: prettier --write

refactor (tokens/global): simplified token set file path for breakpoints
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/01_global/viewport/desktop.json
  projects/design-system/src/lib/themes/01_global/viewport/mobile.json
Due: prettier --write

feat(tokens/global): fix min value for mobile to 767
  projects/design-system/src/lib/themes/01_global/viewport/mobile.json
Due: prettier --write

fix(oblique/master-layout): prevent flickering in tab navigation
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/icon): solve broken reference to `ObIconConfig`
  projects/oblique/src/lib/icon/_mocks/mock-icon.service.ts
Due: eslint --fix --cache, prettier --write

fix(sds/tabbed-page): ensure that the figma version number is dynamic
  projects/sds/src/app/ui-ux/ui-ux.component.html
  projects/sds/src/app/ui-ux/ui-ux.component.ts
Due: eslint --fix --cache, prettier --write

feat(service-navigation/web-component): display meaningful errors for invalid attributes
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.spec.ts
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.ts
Due: eslint --fix --cache, prettier --write

refactor(design-system/tokens): comprehensive dimension token architecture restructure
  projects/design-system/src/lib/themes/02_primitive/dimension.json
  projects/design-system/src/lib/themes/03_semantic/dimension/lg.json
  projects/design-system/src/lib/themes/03_semantic/dimension/md.json
  projects/design-system/src/lib/themes/03_semantic/dimension/sm.json
  projects/design-system/src/lib/themes/03_semantic/dimension/static.json
  projects/design-system/src/lib/themes/04_component/atom/badge.json
  projects/design-system/src/lib/themes/04_component/atom/icon_slot/size.json
  projects/design-system/src/lib/themes/04_component/atom/spinner.json
  projects/design-system/src/lib/themes/04_component/atom/tooltip.json
  projects/design-system/src/lib/themes/04_component/molecule/infobox/responsive/desktop.json
  projects/design-system/src/lib/themes/04_component/molecule/infobox/responsive/mobile.json
  projects/design-system/src/lib/themes/04_component/molecule/infobox/static.json
  projects/design-system/src/lib/themes/04_component/molecule/pill/pill.json
  projects/design-system/src/lib/themes/04_component/molecule/popover.json
  projects/design-system/src/lib/themes/04_component/molecule/tag/tag.json
  projects/design-system/src/lib/themes/05_html/button/04_layout.json
  projects/design-system/src/lib/themes/05_html/button/05_viewport/desktop.json
  projects/design-system/src/lib/themes/05_html/button/05_viewport/mobile.json
  projects/design-system/src/lib/themes/05_html/link.json
Due: prettier --write

fix(design-system/tokens): correct semantic token hierarchy and multiplier system
  projects/design-system/src/lib/themes/03_semantic/dimension/lg.json
  projects/design-system/src/lib/themes/03_semantic/dimension/sm.json
Due: prettier --write

fix(design-system/tokens): fix ob.c.infobox.typography.body so it references a ob.s semantic typography token, not a html typography token ob.h
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/04_component/molecule/infobox/static.json
Due: prettier --write

feat(documentation): add dimension token injection workflow
  projects/design-system/documentation/07-workflow/maintainers/dimension-token-injection-workflow.md
Due: prettier --write

fix(sandbox): make sure the search field is properly reset
  projects/sandbox/src/app/app.component.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/autocomplete): let the form control emit events when its value of status change
  projects/oblique/src/lib/autocomplete/autocomplete.component.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/file-upload): return http error if upload failed
  projects/oblique/src/lib/file-upload/file-upload.service.ts
Due: eslint --fix --cache, prettier --write

build(scripts): add method to get tags by pattern
  scripts/shared/git.ts
Due: eslint --fix --cache, prettier --write

ci: delete rhos tags on post-checkout
  package.json
  scripts/delete-tags.ts
Due: eslint --fix --cache, prettier --write

ci(github): delete rhos tags on push
  .github/workflows/cleanup.yml
Due: prettier --write

build(scripts): rework the function to get the latest git tag
  scripts/shared/changelog.ts
  scripts/shared/git.ts
Due: eslint --fix --cache, prettier --write

build(release): get version and issue numbers from parameters instead of branch name
  scripts/release.ts
Due: eslint --fix --cache, prettier --write

build(release): release version 14.0.1
  package-lock.json
  package.json
  projects/cli/package.json
  projects/cli/src/utils/cli-utils.ts
  projects/design-system/package.json
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/src/lib/version.ts
  projects/sandbox-ssr/package.json
  projects/sandbox/CHANGELOG.md
  projects/sandbox/package.json
  projects/sds/CHANGELOG.md
  projects/sds/package.json
  projects/sds/src/obliqueVersion.ts
  projects/service-navigation-web-component/CHANGELOG.md
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/src/app/version.ts
  projects/toolchain/package.json
  projects/toolchain/src/schematics/version.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/master-layout): handle navigation collapsed and expanded state
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat: create ob-tour library
  CONTRIBUTING.md
  angular.json
  eslint.config.mjs
  package-lock.json
  package.json
  tsconfig.json
Due: eslint --fix --cache, prettier --write

fix(oblique/input-clear): show input clear when value is set programmatically
  projects/oblique/src/lib/input-clear/input-clear.directive.ts
Due: eslint --fix --cache, prettier --write

build(release): release version 14.0.2
  package-lock.json
  package.json
  projects/cli/package.json
  projects/cli/src/utils/cli-utils.ts
  projects/design-system/package.json
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/src/lib/version.ts
  projects/sandbox-ssr/package.json
  projects/sandbox/package.json
  projects/sds/package.json
  projects/sds/src/obliqueVersion.ts
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/src/app/version.ts
  projects/toolchain/package.json
  projects/toolchain/src/schematics/version.ts
Due: eslint --fix --cache, prettier --write

feat(toolchain/linting): create ESLint shareable config
  projects/toolchain/CONTRIBUTING.md
  projects/toolchain/scripts/post-build.ts
  projects/toolchain/src/linting/eslint-config-oblique.mjs
Due: eslint --fix --cache, prettier --write

build(lint): move projects specific rules into dedicated eslint configs
  eslint.config.mjs
  projects/oblique/eslint.project-config.mjs
  projects/sandbox/eslint.project-config.mjs
  projects/sds/eslint.project-config.mjs
Due: eslint --fix --cache, prettier --write

build(lint): use shareable ESLint config
  eslint.config.mjs
  projects/cli/eslint.project-config.mjs
  projects/design-system/eslint.project-config.mjs
  projects/oblique/eslint.project-config.mjs
  projects/sandbox-ssr/eslint.project-config.mjs
  projects/sandbox/eslint.project-config.mjs
  projects/sds/eslint.project-config.mjs
  projects/service-navigation-web-component/eslint.project-config.mjs
Due: eslint --fix --cache, prettier --write

feat(sds/icon): make icon gallery responsive
  projects/sds/src/app/code-examples/code-examples/icons/previews/icons-gallery/icons-example-icons-gallery-preview.component.html
  projects/sds/src/app/code-examples/code-examples/icons/previews/icons-gallery/icons-example-icons-gallery-preview.component.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/icon): show info card in a popover on small screens
  projects/sds/jest.config.js
  projects/sds/src/app/code-examples/code-examples/icons/previews/icons-gallery/icon-dialog/icon-dialog.component.html
  projects/sds/src/app/code-examples/code-examples/icons/previews/icons-gallery/icon-dialog/icon-dialog.component.scss
  projects/sds/src/app/code-examples/code-examples/icons/previews/icons-gallery/icon-dialog/icon-dialog.component.ts
  projects/sds/src/app/code-examples/code-examples/icons/previews/icons-gallery/icons-example-icons-gallery-preview.component.html
  projects/sds/src/app/code-examples/code-examples/icons/previews/icons-gallery/icons-example-icons-gallery-preview.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/service-navigation): disable the login button when the config api call fails
  projects/oblique/src/lib/service-navigation/authentication/service-navigation-authentication.component.html
  projects/oblique/src/lib/service-navigation/service-navigation.component.html
Due: eslint --fix --cache, prettier --write

feat(oblique/service-navigation): show a meaningful notification when the `config` api call fails
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/service-navigation/service-navigation.service.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/service-navigation): show a meaningful notification when the `state` api call fails
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/service-navigation/api/service-navigation-polling.service.spec.ts
  projects/oblique/src/lib/service-navigation/api/service-navigation-polling.service.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/utilities): rewrite tests labels
  projects/oblique/src/lib/utilities.spec.ts
Due: eslint --fix --cache, prettier --write

feat(sds/button): demo `disabledInteractive`
  projects/sds/src/app/code-examples/code-examples/button/button-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/button/previews/other-options/button-example-other-options.component.html
Due: eslint --fix --cache, prettier --write
