Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/toolchain): correct style export paths in package.json for windows
  projects/oblique/scripts/post-build.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): release version 13.0.0-rc.1
  Jenkinsfile
  package-lock.json
  package.json
  projects/cli/CHANGELOG.md
  projects/cli/package.json
  projects/cli/sonar-project.properties
  projects/cli/src/new/ob-new.model.ts
  projects/design-system/package.json
  projects/design-system/sonar-project.properties
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/sonar-project.properties
  projects/oblique/src/lib/version.ts
  projects/sandbox-ssr/package.json
  projects/sandbox-ssr/sonar-project.properties
  projects/sandbox/CHANGELOG.md
  projects/sandbox/package.json
  projects/sandbox/sonar-project.properties
  projects/sds/CHANGELOG.md
  projects/sds/package.json
  projects/sds/sonar-project.properties
  projects/service-navigation-web-component/CHANGELOG.md
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/sonar-project.properties
  projects/service-navigation-web-component/src/app/version.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/material): prevent labels to overlap
  projects/oblique/src/styles/scss/material/_mat-form-field.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(sds/material): ensure that the floating label is left-bound on the right-aligned examples
  projects/sds/src/app/code-examples/code-examples/form/previews/input-prefixes-and-suffixes/form-example-input-prefixes-and-suffixes-preview.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(sds/material): prevent overlapping on the edge case
  projects/sds/src/app/code-examples/code-examples/form/previews/input-prefixes-and-suffixes/form-example-input-prefixes-and-suffixes-preview.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/material): add ellipsis to long labels
  projects/oblique/src/styles/scss/material/_mat-form-field.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sandbox/material): add form example with long labels
  projects/sandbox/src/app/material/form/form.component.html
  projects/sandbox/src/app/material/form/form.component.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): remove publish instructions for version 13.0.0-rc.1
  Jenkinsfile
Due: none

fix(oblique/toolchain): ensure `provideObliqueConfiguration` is added to the `providers` array
  projects/oblique/schematics/index/ng-update/update-v12-to-v13.ts
Due: eslint --fix --cache, prettier --write

fix(toolchain): make sure all packages are published on a pre-version release
  scripts/release.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/accessibility-statement): use ordered list for exceptions
  projects/oblique/src/lib/accessibility-statement/accessibility-statement.component.html
  projects/oblique/src/lib/accessibility-statement/accessibility-statement.component.spec.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/master-layout): fix gap in footer links
  projects/oblique/src/lib/master-layout/master-layout-footer/master-layout-footer.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

chore(toolchain): let each library publish itself
  Jenkinsfile
  projects/cli/package.json
  projects/cli/scripts/publish.ts
  projects/oblique/package.json
  projects/oblique/scripts/publish.ts
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/scripts/publish.ts
  scripts/shared/publish.ts
Due: eslint --fix --cache, prettier --write

feat(toolchain): add automatic deprecation of all pre-versions of a release
  scripts/shared/publish.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/utilities): `accessibilityStatement.contact` cannot be empty or contains empty arrays
  projects/oblique/src/lib/utilities.model.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/accessibility-statement): add type precision to contact parameters
  projects/oblique/src/lib/accessibility-statement/accessibility-statement.component.spec.ts
  projects/oblique/src/lib/accessibility-statement/accessibility-statement.component.ts
Due: eslint --fix --cache, prettier --write

test(oblique/utilities): pass actual data to contact information of accessibility configuration
  projects/oblique/src/lib/utilities.spec.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/service-navigation): correct typo in i18n key
  projects/oblique/src/lib/service-navigation/info/contact-to-links.pipe.spec.ts
  projects/oblique/src/lib/service-navigation/info/contact-to-links.pipe.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/service-navigation): add missing i18n key for accessibility text on phone link
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
Due: prettier --write

fix(toolchain): generate the correct Jenkins configuration for pre-release versions
  scripts/release.ts
Due: eslint --fix --cache, prettier --write

fix(toolchain): make sure pre-release versions are correctly updated in `sonar-project.properties`
  scripts/shared/utils.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): release version 13.0.0-rc.2
  Jenkinsfile
  package-lock.json
  package.json
  projects/cli/package.json
  projects/cli/sonar-project.properties
  projects/cli/src/new/ob-new.model.ts
  projects/design-system/package.json
  projects/design-system/sonar-project.properties
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/sonar-project.properties
  projects/oblique/src/lib/version.ts
  projects/sandbox-ssr/package.json
  projects/sandbox-ssr/sonar-project.properties
  projects/sandbox/CHANGELOG.md
  projects/sandbox/package.json
  projects/sandbox/sonar-project.properties
  projects/sds/CHANGELOG.md
  projects/sds/package.json
  projects/sds/sonar-project.properties
  projects/service-navigation-web-component/CHANGELOG.md
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/sonar-project.properties
  projects/service-navigation-web-component/src/app/version.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): remove publish instructions for version 13.0.0-rc.2
  Jenkinsfile
Due: none

fix(toolchain): ensure packages are correctly published
  scripts/shared/publish.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): release version 13.0.0-rc.3
  Jenkinsfile
  package-lock.json
  package.json
  projects/cli/CHANGELOG.md
  projects/cli/package.json
  projects/cli/sonar-project.properties
  projects/cli/src/new/ob-new.model.ts
  projects/design-system/package.json
  projects/design-system/sonar-project.properties
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/sonar-project.properties
  projects/oblique/src/lib/version.ts
  projects/sandbox-ssr/package.json
  projects/sandbox-ssr/sonar-project.properties
  projects/sandbox/package.json
  projects/sandbox/sonar-project.properties
  projects/sds/package.json
  projects/sds/sonar-project.properties
  projects/service-navigation-web-component/CHANGELOG.md
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/sonar-project.properties
  projects/service-navigation-web-component/src/app/version.ts
Due: eslint --fix --cache, prettier --write

feat(toolchain): add `bypassOwnershipCheck` to the `Git` object
  scripts/shared/git.ts
Due: eslint --fix --cache, prettier --write

fix(toolchain): call `bypassOwnershipCheck` in the publish script
  scripts/shared/publish.ts
Due: eslint --fix --cache, prettier --write

test
  Jenkinsfile
  scripts/shared/publish.ts
Due: eslint --fix --cache, prettier --write

test
  scripts/shared/publish.ts
Due: eslint --fix --cache, prettier --write

test
  scripts/shared/git.ts
  scripts/shared/publish.ts
Due: eslint --fix --cache, prettier --write

fix(toolchain): avoid git operations on publish script
  scripts/shared/publish.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): release version 13.0.0-rc.4
  Jenkinsfile
  package-lock.json
  package.json
  projects/cli/CHANGELOG.md
  projects/cli/package.json
  projects/cli/sonar-project.properties
  projects/cli/src/new/ob-new.model.ts
  projects/design-system/package.json
  projects/design-system/sonar-project.properties
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/sonar-project.properties
  projects/oblique/src/lib/version.ts
  projects/sandbox-ssr/package.json
  projects/sandbox-ssr/sonar-project.properties
  projects/sandbox/package.json
  projects/sandbox/sonar-project.properties
  projects/sds/package.json
  projects/sds/sonar-project.properties
  projects/service-navigation-web-component/CHANGELOG.md
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/sonar-project.properties
  projects/service-navigation-web-component/src/app/version.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): remove publish instructions for version 13.0.0-rc.4
  Jenkinsfile
Due: none

fix(toolchain): only deprecate pre-releases when the major is released
  scripts/shared/publish.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): release version 13.0.0-rc.5
  Jenkinsfile
  package-lock.json
  package.json
  projects/cli/CHANGELOG.md
  projects/cli/package.json
  projects/cli/sonar-project.properties
  projects/cli/src/new/ob-new.model.ts
  projects/design-system/package.json
  projects/design-system/sonar-project.properties
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/sonar-project.properties
  projects/oblique/src/lib/version.ts
  projects/sandbox-ssr/package.json
  projects/sandbox-ssr/sonar-project.properties
  projects/sandbox/package.json
  projects/sandbox/sonar-project.properties
  projects/sds/package.json
  projects/sds/sonar-project.properties
  projects/service-navigation-web-component/CHANGELOG.md
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/sonar-project.properties
  projects/service-navigation-web-component/src/app/version.ts
Due: eslint --fix --cache, prettier --write

fix(toolchain): change the current working directory before publishing
  scripts/shared/publish.ts
Due: eslint --fix --cache, prettier --write

fix(cli/new): use the correct version of dependencies
  projects/cli/src/utils/cli-utils.spec.ts
  projects/cli/src/utils/cli-utils.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/schematics): create valid accessibility contact information
  projects/oblique/schematics/index/ng-add/rules/obliqueFeatures.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/master-layout): always show footer links
  projects/oblique/src/lib/master-layout/master-layout-footer/master-layout-footer.component.html
Due: eslint --fix --cache, prettier --write

chore(toolchain): release version 13.0.0-rc.6
  Jenkinsfile
  package-lock.json
  package.json
  projects/cli/CHANGELOG.md
  projects/cli/package.json
  projects/cli/sonar-project.properties
  projects/cli/src/new/ob-new.model.ts
  projects/design-system/package.json
  projects/design-system/sonar-project.properties
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/sonar-project.properties
  projects/oblique/src/lib/version.ts
  projects/sandbox-ssr/package.json
  projects/sandbox-ssr/sonar-project.properties
  projects/sandbox/package.json
  projects/sandbox/sonar-project.properties
  projects/sds/package.json
  projects/sds/sonar-project.properties
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/sonar-project.properties
  projects/service-navigation-web-component/src/app/version.ts
Due: eslint --fix --cache, prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{ts,js,mjs,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,mjs,html,json,yml,md,css,scss}
