Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(design-system/token): reset the theme group name from viewport-new to vieport-
  projects/design-system/src/lib/themes/$themes.json
Due: prettier --write

feat(design-system): token studio experiment PoC - OUI-3865
  projects/design-system/CONTEXT_NOTES.md
  projects/design-system/backup-context-cron.sh
  projects/design-system/backup-context.sh
Due: prettier --write

fix(design-system/token): responsive multiplier is currently broken. i set the value back to 4 so I it does not distract while experimenting with color themes.
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/components/molecules/infobox/lightness/light.json
  projects/design-system/src/lib/themes/global/responsiveness/mobile.json
Due: prettier --write

refactored(design-system/token): move -inverse segments from the middle to the end of token name. OUI-3865
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/components/atoms/badge.json
  projects/design-system/src/lib/themes/semantics/colors/interaction-emphasis/default.json
  projects/design-system/src/lib/themes/semantics/colors/interaction-emphasis/muted.json
  projects/design-system/src/lib/themes/semantics/colors/lightness/dark.json
  projects/design-system/src/lib/themes/semantics/colors/lightness/light.json
Due: prettier --write

refactored(design-system/token): move -inverse segments from the middle to the end of token name in semantic color interaction tokens
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/components/atoms/badge.json
  projects/design-system/src/lib/themes/html/button/inversity/default.json
  projects/design-system/src/lib/themes/html/button/inversity/inverse.json
  projects/design-system/src/lib/themes/semantics/colors/interaction-emphasis/default.json
  projects/design-system/src/lib/themes/semantics/colors/interaction-emphasis/muted.json
Due: prettier --write

refactored(design-system/token): exported variables to figma. hope this is gonna update themes.json because there are still some -inverse in the middle of path
  projects/design-system/src/lib/themes/$themes.json
Due: prettier --write

design-system(toolchain): fix legacy -inverse keys in themes
  projects/design-system/clean-inverse-tokens.js
  projects/design-system/src/lib/themes/$themes.json.bak-cleanup
Due: eslint --fix --cache, prettier --write

chore: add CONTEXT_NOTES.md to gitignore
  .gitignore
Due: none

feat(design-system): add -default suffix to semantic color tokens
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/components/molecules/infobox/lightness/dark.json
  projects/design-system/src/lib/themes/components/molecules/infobox/lightness/light.json
  projects/design-system/src/lib/themes/components/molecules/pill.json
  projects/design-system/src/lib/themes/components/molecules/popover.json
  projects/design-system/src/lib/themes/components/molecules/tag.json
  projects/design-system/src/lib/themes/html/button/inversity/default.json
  projects/design-system/src/lib/themes/html/button/inversity/inverse.json
  projects/design-system/src/lib/themes/html/link.json
  projects/design-system/src/lib/themes/semantics/colors/interaction-emphasis/default.json
  projects/design-system/src/lib/themes/semantics/colors/interaction-emphasis/muted.json
  projects/design-system/src/lib/themes/semantics/colors/lightness/dark.json
  projects/design-system/src/lib/themes/semantics/colors/lightness/light.json
Due: prettier --write

fix(design-system/token): fix some broken references where -default was missing.
  projects/design-system/src/lib/themes/semantics/colors/interaction-emphasis/default.json
Due: prettier --write

fix(design-system/token): fix all broken references where -default was missing. OUI-3865
  projects/design-system/src/lib/themes/semantics/colors/interaction-emphasis/default.json
  projects/design-system/src/lib/themes/semantics/colors/interaction-emphasis/muted.json
  projects/design-system/src/lib/themes/semantics/colors/lightness/light.json
Due: prettier --write

feat(design-system/token): add new semantics/colors/inversity/default and fix inconsistency in semantics/colors/lightness
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/html/button/inversity/default.json
  projects/design-system/src/lib/themes/html/button/inversity/inverse.json
  projects/design-system/src/lib/themes/semantics/colors/interaction-emphasis/default.json
  projects/design-system/src/lib/themes/semantics/colors/interaction-emphasis/muted.json
  projects/design-system/src/lib/themes/semantics/colors/inversity/default.json
  projects/design-system/src/lib/themes/semantics/colors/lightness/dark.json
Due: prettier --write

feat(design-system): refactor semantic color tokens for inversity theme
  projects/design-system/src/lib/themes/semantics/colors/inversity/inverse.json
Due: prettier --write

fix(oblique/schematics): fix skip links by enabling anchor scrolling in app routing module
  projects/oblique/schematics/index/ng-add/rules/obliqueFeatures.ts
Due: eslint --fix --cache, prettier --write

Clean up project files
  projects/design-system/.gitignore
  projects/design-system/documentation/theming.md
  projects/design-system/src/lib/themes/html/button/color.json
  projects/design-system/src/lib/themes/html/button/inversity.json
  projects/design-system/temp-scripts/$themes.json.bak-2025-07-06
  projects/design-system/temp-scripts/$themes.json.bak-cleanup
  projects/design-system/temp-scripts/README.md
  projects/design-system/temp-scripts/add-inversity-themes.js
  projects/design-system/temp-scripts/add_default_suffix.py
  projects/design-system/temp-scripts/analyze-current-state.sh
  projects/design-system/temp-scripts/clean-inverse-tokens.js
  projects/design-system/temp-scripts/cleanup-wrong-inversity.sh
  projects/design-system/temp-scripts/create-button-inversity.js
  projects/design-system/temp-scripts/create-component-inversity.js
  projects/design-system/temp-scripts/final-inversity-cleanup.sh
  projects/design-system/temp-scripts/generate-semantic-pairs.js
  projects/design-system/temp-scripts/implement-universal-inversity.js
  projects/design-system/temp-scripts/implement-universal-inversity.sh
  projects/design-system/temp-scripts/reponsivness.md
  projects/design-system/temp-scripts/setup-universal-inversity-backup.sh
  projects/design-system/temp-scripts/token-transformation-map.json
  projects/design-system/temp-scripts/update_references.py
  projects/design-system/temp-scripts/validate-semantic-inversity.js
Due: eslint --fix --cache, prettier --write

Update gitignore
  projects/design-system/.gitignore
Due: none

refactor(design-system): reorganize global theme structure
  projects/design-system/src/lib/themes/global/scoped-themes/static.json
  projects/design-system/src/lib/themes/global/themes-global/lightness/static.json
  projects/design-system/src/lib/themes/global/themes-global/viewport/desktop.json
  projects/design-system/src/lib/themes/global/themes-global/viewport/mobile.json
  projects/design-system/src/lib/themes/global/themes-global/viewport/static.json
  projects/design-system/src/lib/themes/global/themes-scoped/dark.json
  projects/design-system/src/lib/themes/global/themes-scoped/light.json
  projects/design-system/src/lib/themes/global/themes-scoped/static.json
Due: prettier --write

themes-user folder
  projects/design-system/src/lib/themes/global/themes-user/lightness/static.json
  projects/design-system/src/lib/themes/global/themes-user/viewport/desktop.json
  projects/design-system/src/lib/themes/global/themes-user/viewport/mobile.json
  projects/design-system/src/lib/themes/global/themes-user/viewport/static.json
Due: prettier --write

fix(design-system/token): assigned new folders to themes
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/global/themes-scoped/static.json
  projects/design-system/src/lib/themes/global/themes-user/lightness/static.json
  projects/design-system/src/lib/themes/html/button/color.json
  projects/design-system/src/lib/themes/html/button/inversity.json
  projects/design-system/src/lib/themes/semantics/colors/inversity/inverse.json
Due: prettier --write

rafactor(design-system/token): prepare button tokens to reference inversity tokens stored in semantics. no more inversity folders on component level.
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/components/molecules/infobox/lightness/light.json
  projects/design-system/src/lib/themes/html/button/color-static.json
Due: prettier --write

Add descriptions to global theme tokens
  projects/design-system/src/lib/themes/global/themes-scoped/static.json
  projects/design-system/src/lib/themes/global/themes-user/lightness/static.json
  projects/design-system/src/lib/themes/global/themes-user/viewport/static.json
Due: prettier --write

refactor(design-system): update button tokens to use new inversity structure OUI-3865
  projects/design-system/src/lib/themes/html/button/color-static.json
Due: prettier --write

fix(design-system): fix broken references in semantics/color after refactor
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/components/molecules/popover.json
  projects/design-system/src/lib/themes/html/hr.json
  projects/design-system/src/lib/themes/semantics/colors/inversity/default.json
  projects/design-system/src/lib/themes/semantics/colors/inversity/inverse.json
  projects/design-system/src/lib/themes/semantics/colors/lightness/dark.json
  projects/design-system/src/lib/themes/semantics/colors/lightness/light.json
Due: prettier --write

fix(design-system): fix references in semantics/color
  projects/design-system/src/lib/themes/semantics/colors/inversity/inverse.json
Due: prettier --write

fix(design-system): fix some ob.html to ob.h. Delete empty folder. Clean up themes config
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/html/dl.json
  projects/design-system/src/lib/themes/html/form.json
  projects/design-system/src/lib/themes/html/hr.json
  projects/design-system/src/lib/themes/html/link.json
  projects/design-system/src/lib/themes/html/ol.json
  projects/design-system/src/lib/themes/html/paragraph.json
  projects/design-system/src/lib/themes/html/table.json
  projects/design-system/src/lib/themes/html/ul.json
Due: prettier --write

fix(design-system): fix themes congif. created globals for button.
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/global/themes-scoped/static.json
  projects/design-system/src/lib/themes/html/list.json
Due: prettier --write

fix(design-system): fix symmetry in semantics/color across default and muted to prevent issues when theme switching
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/semantics/colors/lightness/dark.json
  projects/design-system/src/lib/themes/semantics/colors/lightness/light.json
Due: prettier --write

refactor (design-system/token): test button tokens consume diff level OUI-3865
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/html/button/color-static.json
  projects/design-system/src/lib/themes/semantics/colors/lightness/light.json
Due: prettier --write

feat(design-system): refactor global token architecture
  projects/design-system/CONTEXT_NOTES.md
  projects/design-system/bugs.md
  projects/design-system/documentation/theming.md
  projects/design-system/src/lib/themes/global/themes-scoped/static.json
  projects/design-system/src/lib/themes/global/themes-user/lightness/static.json
  projects/design-system/src/lib/themes/global/themes-user/viewport/desktop.json
  projects/design-system/src/lib/themes/global/themes-user/viewport/mobile.json
  projects/design-system/src/lib/themes/global/themes-user/viewport/static.json
Due: prettier --write

feat(sds/icon): use ob-icon-text class in icon font size example
  projects/sds/src/app/code-examples/code-examples/icons/previews/font-size/icons-example-font-size-preview.component.html
Due: eslint --fix --cache, prettier --write

feat(sds/icon): move icon text example in the second place
  projects/sds/src/app/code-examples/code-examples/icons/icons-code-examples.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/icon): expand icon text example to include a link with an icon within it
  projects/sds/src/app/code-examples/code-examples/icons/icons-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/icons/previews/text/icons-example-text-preview.component.html
Due: eslint --fix --cache, prettier --write

fix(cli/new): add `@angular/animations` and `@angular/cdk` dependencies
  projects/cli/src/new/ob-new.spec.ts
  projects/cli/src/new/ob-new.ts
  projects/cli/src/utils/cli-utils.ts
Due: eslint --fix --cache, prettier --write

refactor(design-system/token): rename folder interaction-emphasis to emphasis since there is no other emphasis type in designsystem.
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/semantics/colors/emphasis/default.json
  projects/design-system/src/lib/themes/semantics/colors/emphasis/muted.json
Due: prettier --write

feat(design-system): Updated token naming from interaction-emphasis to emphasis across all files.
  projects/design-system/.gitignore
  projects/design-system/CONTEXT_NOTES.md
  projects/design-system/backup-context-cron.sh
  projects/design-system/backup-context.sh
  projects/design-system/documentation/status-tokens.md
  projects/design-system/documentation/theming.md
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/global/themes-scoped/static.json
  projects/design-system/temp-scripts/$themes.json.bak-2025-07-06
  projects/design-system/temp-scripts/$themes.json.bak-cleanup
  projects/design-system/temp-scripts/README.md
  projects/design-system/temp-scripts/add-inversity-themes.js
  projects/design-system/temp-scripts/add_default_suffix.py
  projects/design-system/temp-scripts/analyze-current-state.sh
  projects/design-system/temp-scripts/clean-inverse-tokens.js
  projects/design-system/temp-scripts/cleanup-wrong-inversity.sh
  projects/design-system/temp-scripts/create-button-inversity.js
  projects/design-system/temp-scripts/create-component-inversity.js
  projects/design-system/temp-scripts/final-inversity-cleanup.sh
  projects/design-system/temp-scripts/generate-semantic-pairs.js
  projects/design-system/temp-scripts/implement-universal-inversity.js
  projects/design-system/temp-scripts/implement-universal-inversity.sh
  projects/design-system/temp-scripts/reponsivness.md
  projects/design-system/temp-scripts/setup-universal-inversity-backup.sh
  projects/design-system/temp-scripts/token-transformation-map.json
  projects/design-system/temp-scripts/update_references.py
  projects/design-system/temp-scripts/validate-semantic-inversity.js
Due: eslint --fix --cache, prettier --write

docs: expand color token documentation with neutral and interaction colors
  projects/design-system/documentation/color-tokens.md
Due: prettier --write

feat(design-system): rename emphasis token values
  projects/design-system/documentation/color-tokens.md
  projects/design-system/documentation/responsiveness.md
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/components/atoms/badge.json
  projects/design-system/src/lib/themes/documentation/status-tokens.md
  projects/design-system/src/lib/themes/html/button/color-static.json
  projects/design-system/src/lib/themes/html/button/inversity/default.json
  projects/design-system/src/lib/themes/html/button/inversity/inverse.json
  projects/design-system/src/lib/themes/html/link.json
  projects/design-system/src/lib/themes/semantics/colors/emphasis/low.json
  projects/design-system/src/lib/themes/semantics/colors/emphasis/medium.json
  projects/design-system/src/lib/themes/semantics/colors/inversity/default.json
  projects/design-system/src/lib/themes/semantics/colors/inversity/inverse.json
  projects/design-system/src/lib/themes/semantics/colors/lightness/dark.json
  projects/design-system/src/lib/themes/semantics/colors/lightness/light.json
  projects/design-system/src/lib/themes/semantics/typography/static.json
  projects/design-system/src/lib/themes/semantics/typography/styles.json
  projects/design-system/temp-scripts/README.md
Due: prettier --write

feat(design-system): reorder emphasis themes in Tokens Studio
  projects/design-system/documentation/design-token-naming.md
  projects/design-system/documentation/status-tokens.md
  projects/design-system/src/lib/themes/$themes.json
Due: prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{ts,js,mjs,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,mjs,html,json,yml,md,css,scss}
