Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

refactor(oblique/column-layout): use the configurable collapse breakpoint
  projects/oblique/src/lib/column-layout/column-layout.component.scss
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.scss
  projects/oblique/src/lib/master-layout/master-layout/master-layout-offcanvas.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(oblique/master-layout): solve `no-duplicate-selectors` in the stylesheets
  projects/oblique/src/lib/master-layout/master-layout-footer/master-layout-footer.component.scss
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(sandbox/master-layout): use the configurable layout collapse breakpoint
  projects/sandbox/src/app/app.component.html
  projects/sandbox/src/app/app.component.ts
  projects/sandbox/src/app/samples/master-layout/dynamic-navigation.service.ts
  projects/sandbox/src/app/samples/master-layout/master-layout-sample.component.html
  projects/sandbox/src/app/samples/master-layout/master-layout-sample.component.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/scrolling): use the configurable collapse breakpoint for `top-control`
  projects/oblique/src/lib/scrolling/top-control.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(oblique/master-layout): remove unused code
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/master-layout): add input to configure collapse breakpoint
  projects/oblique/jest.config.js
  projects/oblique/src/lib/master-layout/master-layout-footer/master-layout-footer.component.scss
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header-controls.component.scss
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.scss
  projects/oblique/src/lib/master-layout/master-layout-navigation/go-to-children/master-layout-navigation-go-to-children.component.scss
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation-scrollable.component.scss
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
  projects/oblique/src/lib/master-layout/master-layout.model.ts
  projects/oblique/src/lib/master-layout/master-layout.module.ts
  projects/oblique/src/lib/master-layout/master-layout/master-layout-cover.component.scss
  projects/oblique/src/lib/master-layout/master-layout/master-layout-offcanvas.component.scss
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.scss
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(service-navigation): enable all widgets per default
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): update to @ngx-translate/core 16 and refactor accordingly
  package-lock.json
  package.json
  projects/design-system/package.json
  projects/oblique/package.json
  projects/oblique/schematics/index/ng-add/ng-add-utils.ts
  projects/sandbox-ssr/src/app/app.config.ts
  projects/sds/src/main.ts
  projects/service-navigation-web-component/src/main.ts
Due: eslint --fix --cache, prettier --write

feat(sds/component-page): sanitize newsletter emails
  projects/sds/src/app/component-page/component-pages/newsletter/newsletter.component.ts
Due: eslint --fix --cache, prettier --write

refactor(sandbox/nav-tree): improve the page
  projects/sandbox/src/app/samples/nav-tree/nav-tree-detail-sample.component.html
  projects/sandbox/src/app/samples/nav-tree/nav-tree-detail-sample.component.ts
  projects/sandbox/src/app/samples/nav-tree/nav-tree-sample.component.html
  projects/sandbox/src/app/samples/nav-tree/nav-tree-sample.component.scss
  projects/sandbox/src/app/samples/nav-tree/nav-tree-sample.component.ts
  projects/sandbox/src/assets/sample-data.json
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

refactor(oblique/material): remove `active` and `margin-top` mixins
  projects/oblique/src/styles/scss/material/_mat-autocomplete.scss
  projects/oblique/src/styles/scss/material/_mat-select.scss
  projects/oblique/src/styles/scss/material/mixins/_mat-panel.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(oblique/material): remove unused SCSS code
  projects/oblique/src/styles/scss/material/_mat-form-field.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(oblique/service-navigation): use `:has` instead of classes set by `ObFormFieldModule`
  projects/oblique/src/lib/service-navigation/languages/service-navigation-languages.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(oblique/material): use `:has` instead of classes set by `ObFormFieldModule`
  projects/oblique/src/styles/scss/material/_mat-form-field.scss
  projects/oblique/src/styles/scss/material/mixins/_mat-form-field.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(sandbox): remove uses of `ObFormFieldModule`
  projects/sandbox/src/app/material/material.module.ts
  projects/sandbox/src/app/samples/focus-invalid/focus-invalid-sample.component.html
  projects/sandbox/src/app/samples/samples.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique): remove directives to work around unsupported `:has` pseudo-selector
  projects/oblique/schematics/index/ng-update/update-v12-to-v13.ts
  projects/oblique/src/lib/form-field/form-field.directive.spec.ts
  projects/oblique/src/lib/form-field/form-field.directive.ts
  projects/oblique/src/lib/form-field/form-field.module.ts
  projects/oblique/src/lib/form-field/select-panel-class-helper.spec.ts
  projects/oblique/src/lib/form-field/select-panel-class-helper.ts
  projects/oblique/src/lib/form-field/select.directive.spec.ts
  projects/oblique/src/lib/form-field/select.directive.ts
  projects/oblique/src/lib/oblique.module.ts
  projects/oblique/src/lib/paginator/ob-paginator.module.ts
  projects/oblique/src/lib/paginator/paginator.directive.spec.ts
  projects/oblique/src/lib/paginator/paginator.directive.ts
  projects/oblique/src/lib/service-navigation/service-navigation.module.ts
  projects/oblique/src/lib/utilities.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, prettier --write

refactor(sds): remove uses of `ObFormFieldModule`
  projects/sds/src/app/code-examples/code-examples/expansion-panel/previews/basic/expansion-panel-example-basic-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/focus-invalid/previews/default/focus-invalid-example-default-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/focus-with-outline/previews/default/focus-with-outline-example-default-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/form/previews/horizontal/form-example-horizontal-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/form/previews/input-clear/form-example-input-clear-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/form/previews/input-prefixes-and-suffixes/form-example-input-prefixes-and-suffixes-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/form/previews/other-options/datepicker-example-other-options-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/form/previews/sizes/form-example-sizes-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/form/previews/states/form-example-states-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/schema-validation/previews/template-driven-form/schema-validation-example-template-driven-form-preview.component.ts
  projects/sds/src/app/component-page/component-pages/newsletter/newsletter.component.ts
  projects/sds/src/app/feedback/feedback-form/feedback-form.component.html
  projects/sds/src/app/side-navigation/version/version.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/tabbed-page): ensure that the deprecation chip is vertically aligned with the title
  projects/sds/src/app/tabbed-page/tabbed-page.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/schematics): add missing `standalone: false` to home component
  projects/oblique/schematics/index/ng-add/templates/home.component.ts.config
Due: none

test(cli): fix tests failing on windows due to filepaths
  projects/cli/src/index.spec.ts
  projects/cli/src/new/ob-new.spec.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/master-layout): remove deprecated `hasLogoOnScroll`
  projects/sandbox/src/app/samples/master-layout/master-layout-sample.component.html
  projects/sandbox/src/app/samples/master-layout/master-layout-sample.component.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/toolchain): move `removeProperty` & `getServiceName` methods to utils
  projects/oblique/schematics/index/ng-update/ng-update-utils.ts
  projects/oblique/schematics/index/ng-update/update-v7-to-v8.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/master-layout): remove deprecated `reduceOnScroll`
  projects/sandbox/src/app/samples/master-layout/master-layout-sample.component.html
  projects/sandbox/src/app/samples/master-layout/master-layout-sample.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/master-layout): remove deprecated `hasLogoOnScroll`
  projects/oblique/schematics/index/ng-update/update-v12-to-v13.ts
  projects/oblique/src/lib/master-layout/_mocks/mock-master-layout-footer.component.ts
  projects/oblique/src/lib/master-layout/_mocks/mock-master-layout-footer.service.ts
  projects/oblique/src/lib/master-layout/_mocks/mock-master-layout.config.ts
  projects/oblique/src/lib/master-layout/master-layout-footer/master-layout-footer.component.html
  projects/oblique/src/lib/master-layout/master-layout-footer/master-layout-footer.component.scss
  projects/oblique/src/lib/master-layout/master-layout-footer/master-layout-footer.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-footer/master-layout-footer.component.ts
  projects/oblique/src/lib/master-layout/master-layout-footer/master-layout-footer.service.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-footer/master-layout-footer.service.ts
  projects/oblique/src/lib/master-layout/master-layout.config.ts
  projects/oblique/src/lib/master-layout/master-layout.model.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/scrolling): deprecate `ObScrollingEvents`
  projects/oblique/src/lib/scrolling/scrolling-events.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/master-layout): remove deprecated `reduceOnScroll`
  projects/oblique/jest.config.js
  projects/oblique/schematics/index/ng-update/update-v12-to-v13.ts
  projects/oblique/src/lib/master-layout/_mocks/mock-master-layout-header.service.ts
  projects/oblique/src/lib/master-layout/_mocks/mock-master-layout.config.ts
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.ts
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.service.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.service.ts
  projects/oblique/src/lib/master-layout/master-layout.config.ts
  projects/oblique/src/lib/master-layout/master-layout.model.ts
  projects/oblique/src/lib/master-layout/master-layout.utility.ts
Due: eslint --fix --cache, prettier --write

feat(sds/side-navigation): add exception for the v13 master-layout API page
  projects/sds/src/app/code-examples/code-examples.mapper.ts
  projects/sds/src/app/side-navigation/side-navigation.component.ts
Due: eslint --fix --cache, prettier --write

refactor(cli/new): improve info message to the workspace creation message
  projects/cli/src/new/ob-new.model.ts
  projects/cli/src/new/ob-new.spec.ts
Due: eslint --fix --cache, prettier --write

test(cli/new): improve test of command description
  projects/cli/src/new/ob-new.spec.ts
Due: eslint --fix --cache, prettier --write

feat(cli/new): add interactive mode
  projects/cli/src/new/ob-new.model.ts
  projects/cli/src/new/ob-new.spec.ts
  projects/cli/src/new/ob-new.ts
  projects/cli/src/new/schema.json
Due: eslint --fix --cache, prettier --write

refactor(oblique/toolchain): remove unnecessary dependencies
  projects/oblique/ng-package.json
  projects/oblique/package.json
Due: prettier --write

fix(cli/new): fix failing linting & tests
  projects/cli/src/new/ob-new.spec.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/master-layout): let off-canvas in layout expanded mode behave correctly
  projects/oblique/src/lib/master-layout/master-layout/master-layout-offcanvas.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/material): remove `ObCheckbox` feature
  projects/oblique/jest.config.js
  projects/oblique/schematics/index/ng-update/update-v12-to-v13.ts
  projects/oblique/src/lib/alert/alert.module.ts
  projects/oblique/src/lib/autocomplete/autocomplete.module.ts
  projects/oblique/src/lib/breadcrumb/breadcrumb.module.ts
  projects/oblique/src/lib/button/button.module.ts
  projects/oblique/src/lib/checkbox/checkbox.directive.spec.ts
  projects/oblique/src/lib/checkbox/checkbox.directive.ts
  projects/oblique/src/lib/checkbox/checkbox.module.ts
  projects/oblique/src/lib/collapse/collapse.module.ts
  projects/oblique/src/lib/column-layout/column-layout.module.ts
  projects/oblique/src/lib/document-meta/document-meta.module.ts
  projects/oblique/src/lib/error-messages/error-messages.module.ts
  projects/oblique/src/lib/external-link/external-link.module.ts
  projects/oblique/src/lib/file-upload/file-upload.module.ts
  projects/oblique/src/lib/focus-invalid/focus-invalid.module.ts
  projects/oblique/src/lib/icon/icon.module.ts
  projects/oblique/src/lib/input-clear/input-clear.module.ts
  projects/oblique/src/lib/master-layout/master-layout.module.ts
  projects/oblique/src/lib/nav-tree/nav-tree.module.ts
  projects/oblique/src/lib/nested-form/nested-form.module.ts
  projects/oblique/src/lib/notification/notification.module.ts
  projects/oblique/src/lib/number-format/number-format.module.ts
  projects/oblique/src/lib/oblique.module.ts
  projects/oblique/src/lib/off-canvas/off-canvas.module.ts
  projects/oblique/src/lib/paginator/ob-paginator.module.ts
  projects/oblique/src/lib/popover/popover.module.ts
  projects/oblique/src/lib/schema-validation/schema-validation.module.ts
  projects/oblique/src/lib/scrolling/scrolling.module.ts
  projects/oblique/src/lib/selectable/selectable.module.ts
  projects/oblique/src/lib/service-navigation/service-navigation.module.ts
  projects/oblique/src/lib/utilities.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, prettier --write

refactor(sandbox): remove uses of `ObCheckBoxModule`
  projects/sandbox/src/app/material/material.module.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/schematics): remove unreachable code
  projects/oblique/schematics/index/ng-update/update-v12-to-v13.ts
Due: eslint --fix --cache, prettier --write

feat(sds/side-navigation): move focus to search input field on ctrl k
  projects/sds/src/app/side-navigation/side-navigation.component.html
  projects/sds/src/app/side-navigation/side-navigation.component.scss
  projects/sds/src/app/side-navigation/side-navigation.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

refactor(service-navigation): use `provideObliqueConfiguration` instead of directly providing tokens
  projects/service-navigation-web-component/src/main.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/http-interceptor): deprecate `ObHttpApiInterceptorModule`
  projects/oblique/src/lib/http-api-interceptor/http-api-interceptor.module.ts
Due: eslint --fix --cache, prettier --write

test(sds): provide `WINDOW`
  projects/sds/src/app/code-examples/code-examples/banner/banner-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/breadcrumb/breadcrumb-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/card/card-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/column-layout/column-layout-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/date/date-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/external-link/external-link-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/form/form-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/master-layout/master-layout-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/material-table/material-table-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/nested-form/nested-form-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/notification/notification-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/off-canvas/off-canvas-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/schema-validation/schema-validation-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/selectable/selectable-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/sticky/sticky-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/translate-params/translate-params-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/translations/translations-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/unknown-route/unknown-route-code-examples.component.spec.ts
  projects/sds/src/app/component-page/component-pages/newsletter/newsletter.component.spec.ts
Due: eslint --fix --cache, prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{ts,js,mjs,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,mjs,html,json,yml,md,css,scss}
