Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

test
  .github/workflows/publish.yml
Due: prettier --write

test
  .github/workflows/publish.yml
  package.json
  scripts/shared/publish.ts
Due: eslint --fix --cache, prettier --write

test
  .github/workflows/publish.yml
  scripts/shared/utils.ts
Due: eslint --fix --cache, prettier --write

Add files via upload
  projects/design-system/src/lib/themes/primitives/borders.json
  projects/design-system/src/lib/themes/semantics/typography-modes/360-xs.json
Due: prettier --write

build(contributing): update contributing guidelines and refactor accordingly
  CONTRIBUTING.md
  projects/cli/CONTRIBUTING.md
  projects/oblique/CONTRIBUTING.md
  projects/sandbox-ssr/CONTRIBUTING.md
  projects/sandbox/CONTRIBUTING.md
  projects/sds/CONTRIBUTING.md
  projects/service-navigation-web-component/CONTRIBUTING.md
  scripts/dependencies-update.ts
  scripts/husky/hook.commit-rules.ts
  scripts/release.ts
  scripts/shared/changelog.ts
  scripts/troubleshoot.ts
  scripts/update-angular.ts
Due: eslint --fix --cache, prettier --write

refactor(design-system/token): minor changes, renaming.
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/primitives/sizing.json
  projects/design-system/src/lib/themes/semantics/colors/modes/dark.json
  projects/design-system/src/lib/themes/semantics/colors/modes/light.json
  projects/design-system/src/lib/themes/semantics/colors/static.json
Due: prettier --write

build(release): release version 13.2.3
  package-lock.json
  package.json
  projects/cli/package.json
  projects/cli/sonar-project.properties
  projects/cli/src/new/ob-new.model.ts
  projects/design-system/package.json
  projects/design-system/sonar-project.properties
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/sonar-project.properties
  projects/oblique/src/lib/version.ts
  projects/sandbox-ssr/package.json
  projects/sandbox-ssr/sonar-project.properties
  projects/sandbox/package.json
  projects/sandbox/sonar-project.properties
  projects/sds/package.json
  projects/sds/sonar-project.properties
  projects/sds/src/obliqueVersion.ts
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/sonar-project.properties
  projects/service-navigation-web-component/src/app/version.ts
Due: eslint --fix --cache, prettier --write

refactor(design-system/token): mark R13 typography tokens. minor update on pill.
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/components/typography-styles.json
  projects/design-system/src/lib/themes/semantics/colors/modes/dark.json
Due: prettier --write

fix(design-system/token): update pill disabled before presenting.
  projects/design-system/src/lib/themes/components/atoms/badge.json
Due: prettier --write

refactor(cli): move cli version to utils file
  projects/cli/scripts/pre-build.ts
  projects/cli/src/new/ob-new.model.ts
  projects/cli/src/new/ob-new.ts
  projects/cli/src/utils/cli-utils.ts
Due: eslint --fix --cache, prettier --write

feat(toolchain): create new toolchain project
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  package-lock.json
  package.json
  projects/toolchain/CHANGELOG.md
  projects/toolchain/CONTRIBUTING.md
  projects/toolchain/Dockerfile_Toolchain
  projects/toolchain/README.md
  projects/toolchain/eslint.project-config.mjs
  projects/toolchain/jest.config.ci.js
  projects/toolchain/jest.config.js
  projects/toolchain/nginx.conf
  projects/toolchain/package.json
  projects/toolchain/scripts/lint.ts
  projects/toolchain/scripts/post-build.ts
  projects/toolchain/scripts/pre-build.ts
  projects/toolchain/scripts/publish.ts
  projects/toolchain/scripts/release.ts
  projects/toolchain/sonar-project.properties
  projects/toolchain/src/schematics/collection.json
  projects/toolchain/src/schematics/hello-world/index.spec.ts
  projects/toolchain/src/schematics/hello-world/index.ts
  projects/toolchain/src/schematics/hello-world/schema.json
  projects/toolchain/tsconfig.lib.json
  projects/toolchain/tsconfig.spec.json
Due: eslint --fix --cache, prettier --write

feat(oblique/schematics): add the conformity property
  projects/oblique/schematics/index/ng-add/rules/obliqueFeatures.ts
  projects/oblique/schematics/index/ng-update/update-v12-to-v13.ts
Due: eslint --fix --cache, prettier --write

fix(sds/code-examples): empty chips autocomplete after selection
  projects/sds/src/app/code-examples/code-examples/chips/previews/autocomplete/chips-example-autocomplete-preview.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/icon): add example for `ob-icon-text`
  projects/sds/src/app/code-examples/code-examples/icons/icons-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/icons/icons-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/icons/previews/text/icons-example-text-preview.component.html
  projects/sds/src/app/code-examples/code-examples/icons/previews/text/icons-example-text-preview.component.ts
Due: eslint --fix --cache, prettier --write

ci(jenkins): remove `Jenkinsfile.deploy`
  Jenkinsfile.deploy
Due: none

build(sandbox/scripts): use `script-loader.ts` to add CSP
  projects/sandbox/Dockerfile_Sandbox
  projects/sandbox/package.json
  projects/sandbox/scripts/post-build.ts
  projects/sandbox/src/nginx/includes/custom_headers.conf
  projects/sandbox/src/nginx/includes/security_headers.conf
  projects/sandbox/src/nginx/nginx.conf
Due: eslint --fix --cache, prettier --write

build(scripts): add `script-loader.ts` script
  scripts/shared/onLoadTemplate.txt
  scripts/shared/script-loader.ts
  scripts/shared/scriptLoaderTemplate.txt
Due: eslint --fix --cache, prettier --write

feat(sds/code-examples): remove `ob-icon` class from icons
  projects/sds/src/app/code-examples/code-examples/icons/previews/default/icons-example-default-preview.component.html
  projects/sds/src/app/code-examples/code-examples/icons/previews/font-size/icons-example-font-size-preview.component.html
Due: eslint --fix --cache, prettier --write

ci(sds/jenkins): remove unused deployment files
  projects/sds/src/nginx/Staticfile
  projects/sds/src/nginx/conf/includes/custom_headers.conf
  projects/sds/src/nginx/conf/includes/security_headers.conf
Due: none

feat(oblique/accessibility-statement): add an optional conformity property
  projects/oblique/src/lib/accessibility-statement/accessibility-statement.component.html
  projects/oblique/src/lib/accessibility-statement/accessibility-statement.component.spec.ts
  projects/oblique/src/lib/accessibility-statement/accessibility-statement.component.ts
  projects/oblique/src/lib/accessibility-statement/available-in/available-in.component.spec.ts
  projects/oblique/src/lib/utilities.model.ts
  projects/oblique/src/lib/utilities.spec.ts
Due: eslint --fix --cache, prettier --write

feat(sds/code-examples): remove `ob-icon` class from list-group
  projects/sds/src/app/code-examples/code-examples/list-group/previews/icon-checkbox/list-group-example-icon-checkbox.component.html
Due: eslint --fix --cache, prettier --write

ci(jenkins): remove files related to Cloud Foundry
  angular.json
  projects/oblique/schematics/index/ng-add/templates/default-manifest-dev.yml.config
  projects/sandbox-ssr/src/Staticfile
  projects/sandbox/manifest-demo.yml
  projects/sandbox/manifest-dev.yml
  projects/sandbox/manifest-patch.yml
  projects/sandbox/src/Staticfile
  projects/sds/manifest-demo.yml
  projects/sds/manifest-dev.yml
  projects/sds/manifest-prod.yml
Due: prettier --write

feat(sds/side-navigation): remove version 10
  projects/sds/src/app/shared/slug/slug.service.spec.ts
  projects/sds/src/app/shared/slug/slug.service.ts
Due: eslint --fix --cache, prettier --write

build(sds/scripts): use `script-loader.ts` to improve CSP
  projects/sds/Dockerfile_SDS
  projects/sds/scripts/post-build.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox): use the conformity property for accessibility statement
  projects/sandbox/src/app/app.module.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/accessibility-statement): avoid duplicating translation keys
  projects/oblique/src/lib/accessibility-statement/accessibility-statement.component.ts
Due: eslint --fix --cache, prettier --write

feat(cli/utils): print cli version before each ob command
  projects/cli/src/new/ob-new.spec.ts
  projects/cli/src/utils/cli-utils.ts
Due: eslint --fix --cache, prettier --write

feat(sds/code-examples): remove `ob-icon` class from tab
  projects/sds/src/app/code-examples/code-examples/tabs/previews/variations/tabs-example-variations-preview.component.html
Due: eslint --fix --cache, prettier --write

build(dependencies): update dependencies and refactor accordingly
  package-lock.json
  package.json
  projects/design-system/package.json
  projects/oblique/package.json
  projects/sandbox-ssr/package.json
  projects/service-navigation-web-component/package.json
Due: prettier --write

build(dependencies): remove `@angular-eslint/schematics` dependency
  angular.json
  scripts/update-angular.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/schematics): sort versions constant alphabetically
  projects/oblique/schematics/index/ng-add/ng-add-utils.ts
Due: eslint --fix --cache, prettier --write

feat(cli/utils): remove `@angular-eslint/schematics` dependency
  projects/cli/src/utils/cli-utils.ts
Due: eslint --fix --cache, prettier --write

build(contributing): precise what `ci` means
  CONTRIBUTING.md
Due: prettier --write

build(scripts): ignore `CONTRIBUTING` and `README` when validating package on commit hook
  scripts/husky/hook.commit-rules.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/master-layout): remove `padding-left` & `border-left` from close buttons
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/master-layout): remove `margin-top` for external link icons in the main navigation
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

build(contributing): ensure `header` is properly linked
  CONTRIBUTING.md
Due: prettier --write

feat(oblique/schematics): remove `@angular-eslint/schematics` dependency
  projects/oblique/ng-package.json
  projects/oblique/package.json
  projects/oblique/schematics/index/ng-add/ng-add-utils.ts
  projects/oblique/schematics/index/ng-add/rules/toolchain.ts
Due: eslint --fix --cache, prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{ts,js,mjs,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,mjs,html,json,yml,md,css,scss}
