Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --config eslint.precommit.config.mjs, stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/schematics): improve migration schematics performance by non-greedy property search
  projects/oblique/schematics/index/ng-update/update-v14-to-v15.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(oblique/schematics): adding property assignment and object property regex to utils
  projects/oblique/schematics/index/ng-update/update-v14-to-v15.ts
  projects/oblique/schematics/index/utils.spec.ts
  projects/oblique/schematics/index/utils.ts
  projects/oblique/schematics/tsconfig.schematics.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(design-system/tokens): fix token hierarchy tier-skipping violations
  projects/design-system/src/lib/themes/03_semantic/color/s1-lightness/dark.json
  projects/design-system/src/lib/themes/03_semantic/color/s1-lightness/light.json
  projects/design-system/src/lib/themes/03_semantic/color/s2-emphasis/high.json
  projects/design-system/src/lib/themes/03_semantic/color/s2-emphasis/low.json
  projects/design-system/src/lib/themes/03_semantic/color/s3-semantic/semantic.json
Due: prettier --write

doc(design-system/tokens): update semantic color tokens and documentation
  projects/design-system/documentation/03-design-tokens/03-types/07-color-tokens/03-colors-semantic.md
  projects/design-system/documentation/03-design-tokens/03-types/07-color-tokens/05-colors-semantic-brand.md
  projects/design-system/documentation/03-design-tokens/03-types/07-color-tokens/06-colors-semantic-interaction.md
  projects/design-system/documentation/03-design-tokens/03-types/07-color-tokens/07-colors-semantic-status.md
  projects/design-system/documentation/03-design-tokens/99-workflows/automated-token-documentation.md
Due: prettier --write

feat(design-system/tokens): add token resolver script for token values quick-resolving for designer's figma docs without style dictionary.
  projects/design-system/scripts-custom/resolve-tokens.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(design-system/tokens): clean up semantic.json by removing unnecessary whitespace and comments
  projects/design-system/src/lib/themes/03_semantic/color/s3-semantic/semantic.json
Due: prettier --write

refactor(sandbox/master-layout): add type of button
  projects/sandbox/src/app/samples/master-layout/master-layout-sample.component.html
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(sandbox/master-layout): test public methods
  projects/sandbox/src/app/samples/master-layout/dynamic-navigation.service.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(sandbox/master-layout): move controls into separate components
  projects/sandbox/src/app/samples/master-layout/_master-layout-sample.scss
  projects/sandbox/src/app/samples/master-layout/master-layout-footer-sample/master-layout-footer-sample.component.html
  projects/sandbox/src/app/samples/master-layout/master-layout-footer-sample/master-layout-footer-sample.component.scss
  projects/sandbox/src/app/samples/master-layout/master-layout-footer-sample/master-layout-footer-sample.component.ts
  projects/sandbox/src/app/samples/master-layout/master-layout-header-sample/master-layout-header-sample.component.html
  projects/sandbox/src/app/samples/master-layout/master-layout-header-sample/master-layout-header-sample.component.scss
  projects/sandbox/src/app/samples/master-layout/master-layout-header-sample/master-layout-header-sample.component.ts
  projects/sandbox/src/app/samples/master-layout/master-layout-layout-sample/master-layout-layout-sample.component.html
  projects/sandbox/src/app/samples/master-layout/master-layout-layout-sample/master-layout-layout-sample.component.scss
  projects/sandbox/src/app/samples/master-layout/master-layout-layout-sample/master-layout-layout-sample.component.ts
  projects/sandbox/src/app/samples/master-layout/master-layout-navigation-sample/master-layout-navigation-sample.component.html
  projects/sandbox/src/app/samples/master-layout/master-layout-navigation-sample/master-layout-navigation-sample.component.scss
  projects/sandbox/src/app/samples/master-layout/master-layout-navigation-sample/master-layout-navigation-sample.component.ts
  projects/sandbox/src/app/samples/master-layout/master-layout-sample.component.html
  projects/sandbox/src/app/samples/master-layout/master-layout-sample.component.scss
  projects/sandbox/src/app/samples/master-layout/master-layout-sample.component.ts
  projects/sandbox/src/app/samples/samples.module.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, stylelint --fix --cache --allow-empty-input, prettier --write

test(oblique/translation): add tests with 100% coverage
  projects/oblique/jest.config.js
  projects/oblique/src/lib/multi-translate-loader/multi-translate-loader.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(design-system/tokens): create script for automated token documentation in figma
  projects/design-system/scripts-custom/figma-builders/README.md
  projects/design-system/scripts-custom/figma-builders/color-tokens/README.md
  projects/design-system/scripts-custom/figma-builders/color-tokens/extracted-json/_compact-s1-interaction.json
  projects/design-system/scripts-custom/figma-builders/color-tokens/extracted-json/_compact-s1-neutral.json
  projects/design-system/scripts-custom/figma-builders/color-tokens/extracted-json/_compact-s1-status-left.json
  projects/design-system/scripts-custom/figma-builders/color-tokens/extracted-json/_compact-s1-status-right.json
  projects/design-system/scripts-custom/figma-builders/color-tokens/extracted-json/_compact-s2-interaction.json
  projects/design-system/scripts-custom/figma-builders/color-tokens/extracted-json/_compact-s3-interaction.json
  projects/design-system/scripts-custom/figma-builders/color-tokens/extracted-json/_compact-s3-neutral.json
  projects/design-system/scripts-custom/figma-builders/color-tokens/extracted-json/_compact-s3-status-left.json
  projects/design-system/scripts-custom/figma-builders/color-tokens/extracted-json/_compact-s3-status-right.json
  projects/design-system/scripts-custom/figma-builders/color-tokens/generate-table-data.js
  projects/design-system/scripts-custom/figma-builders/color-tokens/inspect-components.js
  projects/design-system/scripts-custom/figma-builders/color-tokens/mcp-executor.js
  projects/design-system/scripts-custom/figma-builders/color-tokens/per-table-scripts/split-data-p-set1-left.js
  projects/design-system/scripts-custom/figma-builders/color-tokens/per-table-scripts/split-data-p-set1-right.js
  projects/design-system/scripts-custom/figma-builders/color-tokens/per-table-scripts/split-data-p-set2-left.js
  projects/design-system/scripts-custom/figma-builders/color-tokens/per-table-scripts/split-data-p-set2-right.js
  projects/design-system/scripts-custom/figma-builders/color-tokens/per-table-scripts/split-data-s1-interaction.js
  projects/design-system/scripts-custom/figma-builders/color-tokens/per-table-scripts/split-data-s1-neutral.js
  projects/design-system/scripts-custom/figma-builders/color-tokens/per-table-scripts/split-data-s1-status-left.js
  projects/design-system/scripts-custom/figma-builders/color-tokens/per-table-scripts/split-data-s1-status-right.js
  projects/design-system/scripts-custom/figma-builders/color-tokens/per-table-scripts/split-data-s2-interaction.js
  projects/design-system/scripts-custom/figma-builders/color-tokens/per-table-scripts/split-data-s3-brand.js
  projects/design-system/scripts-custom/figma-builders/color-tokens/per-table-scripts/split-data-s3-interaction.js
  projects/design-system/scripts-custom/figma-builders/color-tokens/per-table-scripts/split-data-s3-neutral.js
  projects/design-system/scripts-custom/figma-builders/color-tokens/per-table-scripts/split-data-s3-status-left.js
  projects/design-system/scripts-custom/figma-builders/color-tokens/per-table-scripts/split-data-s3-status-right.js
  projects/design-system/scripts-custom/figma-builders/color-tokens/split-setup.js
  projects/design-system/src/lib/themes/02_primitive/color.json
  projects/design-system/src/lib/themes/03_semantic/color/s1-lightness/dark.json
  projects/design-system/src/lib/themes/03_semantic/color/s1-lightness/light.json
  projects/design-system/src/lib/themes/03_semantic/color/s2-emphasis/high.json
  projects/design-system/src/lib/themes/03_semantic/color/s2-emphasis/low.json
  projects/design-system/src/lib/themes/03_semantic/color/s3-semantic/semantic.json
  projects/design-system/typescript
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build(oblique/changelog): add missing entry for version 15.1.0
  projects/oblique/CHANGELOG.md
Due: prettier --write

build(sds/changelog): add missing entry for version 15.1.0
  projects/sds/CHANGELOG.md
Due: prettier --write

fix(oblique/schematics): `ng-update` disable zoneless in tests if async testing is used
  projects/oblique/schematics/index/ng-update/update-v14-to-v15.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(oblique/schematics): allow `setOption` to set `0`, `false` and `''`
  projects/oblique/schematics/index/utils.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(oblique/schematics): use exported const for file patterns
  projects/oblique/schematics/index/ng-update/update-v10-to-v11.ts
  projects/oblique/schematics/index/ng-update/update-v11-to-v12.ts
  projects/oblique/schematics/index/ng-update/update-v12-to-v13.ts
  projects/oblique/schematics/index/ng-update/update-v13-to-v14.ts
  projects/oblique/schematics/index/ng-update/update-v14-to-v15.ts
  projects/oblique/schematics/index/ng-update/update-v5-to-v6.ts
  projects/oblique/schematics/index/ng-update/update-v6-to-v7.ts
  projects/oblique/schematics/index/ng-update/update-v7-to-v8.ts
  projects/oblique/schematics/index/ng-update/update-v8-to-v9.ts
  projects/oblique/schematics/index/ng-update/update-v9-to-v10.ts
  projects/oblique/schematics/index/service-navigation/index.ts
  projects/oblique/schematics/index/utils.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build(changelog): use `String.raw` to avoid escaped backslashes
  scripts/shared/changelog.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build(contributing): allow Jira and GitHub issues in the message footer
  CONTRIBUTING.md
Due: prettier --write

build(changelog): show issue numbers in the changelog
  scripts/shared/changelog.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build(release): release version 15.1.2
  package-lock.json
  package.json
  projects/cli/CHANGELOG.md
  projects/cli/package.json
  projects/cli/src/utils/cli-utils.ts
  projects/design-system/package.json
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/src/lib/version.ts
  projects/sandbox-ssr/package.json
  projects/sandbox/package.json
  projects/sds/CHANGELOG.md
  projects/sds/package.json
  projects/sds/src/obliqueVersion.ts
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/src/app/version.ts
  projects/toolchain/package.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(oblique/global-events): resolve 'WINDOW' initialization error
  projects/oblique/src/lib/global-events/global-events.service.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(oblique/column-layout): resolve 'WINDOW' initialization error
  projects/oblique/src/lib/column-layout/column-layout.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(oblique/http-interceptor): resolve 'WINDOW' initialization error
  projects/oblique/src/lib/http-api-interceptor/http-api-interceptor.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(oblique/notification): resolve 'WINDOW' initialization error
  projects/oblique/src/lib/notification/notification.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(oblique/off-canvas): resolve 'WINDOW' initialization error
  projects/oblique/src/lib/off-canvas/off-canvas-toggle.directive.spec.ts
  projects/oblique/src/lib/off-canvas/off-canvas-toggle.directive.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(oblique/schema-validation): resolve 'WINDOW' initialization error
  projects/oblique/src/lib/schema-validation/schema-validator.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(sds/code-examples): do not load code examples from node_modules folder
  projects/sds/src/app/code-examples/code-examples.model.ts
  projects/sds/src/app/code-examples/code-examples/translations/translations-code-examples.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build(release): release version 15.1.3
  package-lock.json
  package.json
  projects/cli/package.json
  projects/cli/src/utils/cli-utils.ts
  projects/design-system/package.json
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/src/lib/version.ts
  projects/sandbox-ssr/package.json
  projects/sandbox/package.json
  projects/sds/CHANGELOG.md
  projects/sds/package.json
  projects/sds/src/obliqueVersion.ts
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/src/app/version.ts
  projects/toolchain/package.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(oblique/schematics): add angular html parser to `.prettierrc` config
  projects/oblique/schematics/index/ng-add/templates/default-prettierrc.config
  projects/oblique/schematics/index/ng-update/update-v14-to-v15.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feature(oblique/styles): use oblique banner colors in master-layout banner
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.scss
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/autocomplete): improve accessibility by labeling icons or marking them decorative
  projects/oblique/src/lib/autocomplete/autocomplete.component.html
  projects/oblique/src/lib/autocomplete/autocomplete.model.ts
  projects/oblique/src/lib/autocomplete/option-label-icon/option-label-icon.directive.spec.ts
  projects/oblique/src/lib/autocomplete/option-label-icon/option-label-icon.directive.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feature(oblique/styles): set oblique banner colors
  projects/oblique/src/lib/style/colors.model.ts
  projects/oblique/src/styles/scss/core/_palette.scss
  projects/oblique/src/styles/scss/core/_variables.scss
Due: eslint --fix --cache --config eslint.precommit.config.mjs, stylelint --fix --cache --allow-empty-input, prettier --write

refactor(toolchain/logger): add support for raw output
  projects/toolchain/src/logger/group-logger.spec.ts
  projects/toolchain/src/logger/group-logger.ts
  projects/toolchain/src/logger/logger.types.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build(toolchain/contributing): add `logger` scope
  projects/toolchain/CONTRIBUTING.md
Due: prettier --write

refactor(toolchain/logger): add error management
  projects/toolchain/src/logger/errors/ob-logger-error-inactive-group.spec.ts
  projects/toolchain/src/logger/errors/ob-logger-error-inactive-group.ts
  projects/toolchain/src/logger/errors/ob-logger-error-no-active-step.spec.ts
  projects/toolchain/src/logger/errors/ob-logger-error-no-active-step.ts
  projects/toolchain/src/logger/errors/ob-logger-error.ts
  projects/toolchain/src/logger/group-logger.spec.ts
  projects/toolchain/src/logger/group-logger.ts
  projects/toolchain/src/logger/index.ts
  projects/toolchain/src/logger/logger.types.ts
  projects/toolchain/src/logger/types.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(sandbox/autocomplete): add sandbox example for aria-label
  projects/sandbox/src/app/samples/autocomplete/autocomplete.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(toolchain/logger): add option to silence loggers
  projects/toolchain/src/logger/factory.spec.ts
  projects/toolchain/src/logger/factory.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor: use prettier angular parser for html files
  .prettierrc.yml
Due: prettier --write

refactor(toolchain/logger): add support for nested logs
  projects/toolchain/src/logger/base-logger.ts
  projects/toolchain/src/logger/factory.ts
  projects/toolchain/src/logger/group-logger.spec.ts
  projects/toolchain/src/logger/group-logger.ts
  projects/toolchain/src/logger/index.ts
  projects/toolchain/src/logger/logger.spec.ts
  projects/toolchain/src/logger/logger.ts
  projects/toolchain/src/logger/logger.types.ts
  projects/toolchain/src/logger/types.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(sds/autocomplete): add example with aria-label
  projects/sds/src/app/code-examples/code-examples/autocomplete/autocomplete-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/autocomplete/autocomplete-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/autocomplete/previews/aria-label/autocomplete-example-aria-label.component.html
  projects/sds/src/app/code-examples/code-examples/autocomplete/previews/aria-label/autocomplete-example-aria-label.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

Path conditions:
  eslint --fix --cache --config eslint.precommit.config.mjs: any of: *.{ts,js,mjs,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,mjs,html,json,yml,md,css,scss}
