Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --config eslint.precommit.config.mjs, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sandbox-ssr/app): add modes demonstration
  projects/sandbox-ssr/src/app/app.component.html
  projects/sandbox-ssr/src/app/app.component.ts
  projects/sandbox-ssr/src/app/mode-selectors/mode-selectors.component.html
  projects/sandbox-ssr/src/app/mode-selectors/mode-selectors.component.scss
  projects/sandbox-ssr/src/app/mode-selectors/mode-selectors.component.spec.ts
  projects/sandbox-ssr/src/app/mode-selectors/mode-selectors.component.ts
  projects/sandbox-ssr/src/assets/i18n/en.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, stylelint --fix --cache --allow-empty-input, prettier --write

build(release): release version 15.3.0
  package-lock.json
  package.json
  projects/cli/package.json
  projects/cli/src/utils/cli-utils.ts
  projects/design-system/package.json
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/src/lib/version.ts
  projects/sandbox-ssr/CHANGELOG.md
  projects/sandbox-ssr/package.json
  projects/sandbox/CHANGELOG.md
  projects/sandbox/package.json
  projects/sds/CHANGELOG.md
  projects/sds/package.json
  projects/sds/src/obliqueVersion.ts
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/src/app/version.ts
  projects/toolchain/package.json
  publiccode.yml
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

ci(jenkins): add push to github config
  Jenkinsfile
Due: none

refactor(design-system/tokens): change token path on s1 level to match s3 level for free colors
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/03_semantic/color/compiled.json
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/dark.json
Due: prettier --write

light mode dito
  projects/design-system/src/lib/themes/03_semantic/color/compiled.json
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/light.json
Due: prettier --write

fix
  projects/design-system/src/lib/themes/03_semantic/color/compiled.json
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/dark.json
Due: prettier --write

refactor(design-system/tokens): convert token_family_docs to _docs/token_family_info Text tokens
  projects/design-system/src/lib/themes/02_primitive/color.json
  projects/design-system/src/lib/themes/03_semantic/color/compiled.json
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/dark.json
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/light.json
  projects/design-system/src/lib/themes/03_semantic/color/s2_emphasis/high.json
  projects/design-system/src/lib/themes/03_semantic/color/s2_emphasis/low.json
Due: prettier --write

refactor(design-system): update $themes so primitive colors get exported as figma variable too for new cli based regen script
  projects/design-system/src/lib/themes/$themes.json
Due: prettier --write

chore(documentation): add initial test.md file
  projects/design-system/documentation/01-introduction/test.md
Due: prettier --write

refactor: update token type from "string" to "text" in color documentation across multiple theme files
  projects/design-system/scripts-custom/cli/color-tokens/build_sli_v2.js
  projects/design-system/scripts-custom/cli/color-tokens/registry.json
  projects/design-system/scripts-custom/figma-builders/contrast-pairings/extracted-json/interaction.json
  projects/design-system/scripts-custom/figma-builders/contrast-pairings/extracted-json/navigation.json
  projects/design-system/scripts-custom/figma-builders/contrast-pairings/extracted-json/neutral.json
  projects/design-system/scripts-custom/figma-builders/contrast-pairings/extracted-json/status.json
  projects/design-system/src/lib/themes/02_primitive/color.json
  projects/design-system/src/lib/themes/03_semantic/color/compiled.json
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/dark.json
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/light.json
  projects/design-system/src/lib/themes/03_semantic/color/s2_emphasis/high.json
  projects/design-system/src/lib/themes/03_semantic/color/s2_emphasis/low.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build(scripts): add method to find the absolute path of the root package
  scripts/shared/root.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build(scripts): use absolute paths in projects scripts
  projects/cli/scripts/pre-build.ts
  projects/cli/scripts/release.ts
  projects/design-system/scripts/post-build.ts
  projects/design-system/scripts/release.ts
  projects/oblique/scripts/post-build.ts
  projects/oblique/scripts/pre-build.ts
  projects/oblique/scripts/release.ts
  projects/oblique/scripts/tarball.ts
  projects/oblique/scripts/update-icons.ts
  projects/sandbox-ssr/scripts/release.ts
  projects/sandbox/scripts/post-build.ts
  projects/sandbox/scripts/release.ts
  projects/sds/scripts/oblique-version.ts
  projects/sds/scripts/post-build.ts
  projects/sds/scripts/release.ts
  projects/service-navigation-web-component/scripts/post-build.ts
  projects/service-navigation-web-component/scripts/release.ts
  projects/toolchain/scripts/post-build.ts
  projects/toolchain/scripts/pre-build.ts
  projects/toolchain/scripts/release.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build(scripts): use absolute paths in scripts
  scripts/dependencies-update.ts
  scripts/generate-projects-scripts.ts
  scripts/husky/hook.commit-rules.ts
  scripts/lint.ts
  scripts/release.ts
  scripts/sanitize-package-lock.ts
  scripts/shared/banner.ts
  scripts/shared/changelog.ts
  scripts/shared/copy-files.ts
  scripts/shared/files.ts
  scripts/shared/minifyCss.ts
  scripts/shared/package-json.ts
  scripts/shared/script-loader.ts
  scripts/shared/utils.ts
  scripts/update-angular.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build(scripts): use absolute paths in linting scripts
  projects/cli/scripts/lint.ts
  projects/design-system/scripts/lint.ts
  projects/design-system/scripts/post-build.ts
  projects/oblique/scripts/lint.ts
  projects/oblique/scripts/post-build.ts
  projects/oblique/scripts/pre-build.ts
  projects/sandbox-ssr/scripts/lint.ts
  projects/sandbox/scripts/lint.ts
  projects/sds/scripts/lint.ts
  projects/service-navigation-web-component/scripts/lint.ts
  projects/toolchain/scripts/lint.ts
  scripts/lint.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build(dependencies): use `tsx` instead of `ts-node`
  projects/package.json
Due: prettier --write

docs(design-system/token): update color doc structure
  projects/design-system/documentation/02-foundation/03-design-tokens/00-index.md
  projects/design-system/documentation/02-foundation/03-design-tokens/01-types/05-semantic-elevation-tokens.md
  projects/design-system/documentation/02-foundation/03-design-tokens/01-types/06-typography-foundation.md
  projects/design-system/documentation/02-foundation/03-design-tokens/01-types/07-component-tokens.md
  projects/design-system/documentation/02-foundation/03-design-tokens/01-types/08-color-tokens/00-colors-overview.md
  projects/design-system/documentation/02-foundation/03-design-tokens/01-types/08-color-tokens/01-colors-primitive.md
  projects/design-system/documentation/02-foundation/03-design-tokens/01-types/08-color-tokens/02-colors-primitive-consumption.md
  projects/design-system/documentation/02-foundation/03-design-tokens/01-types/08-color-tokens/03-colors-semantic.md
  projects/design-system/documentation/02-foundation/03-design-tokens/01-types/08-color-tokens/04-colors-semantic-neutral.md
  projects/design-system/documentation/02-foundation/03-design-tokens/01-types/08-color-tokens/05-colors-semantic-brand.md
  projects/design-system/documentation/02-foundation/03-design-tokens/01-types/08-color-tokens/06-colors-semantic-interaction.md
  projects/design-system/documentation/02-foundation/03-design-tokens/01-types/08-color-tokens/07-colors-semantic-status.md
  projects/design-system/documentation/02-foundation/03-design-tokens/01-types/08-color-tokens/08-colors-semantic-free.md
  projects/design-system/documentation/02-foundation/03-design-tokens/05-token-usage-guide.md
  projects/design-system/scripts-custom/figma-builders/contrast-pairings/extracted-json/interaction.json
  projects/design-system/scripts-custom/figma-builders/contrast-pairings/extracted-json/navigation.json
  projects/design-system/scripts-custom/figma-builders/contrast-pairings/extracted-json/neutral.json
  projects/design-system/scripts-custom/figma-builders/contrast-pairings/extracted-json/status.json
Due: prettier --write

refactor(.gitignore): allow tracking of scripts-custom directory and its contents
  .gitignore
Due: none

refactor(.gitignore): clean up ignored files and directories for clarity
  projects/design-system/.gitignore
Due: none

refactor(design-system/tokens)refactor scripts for building figma docs
  projects/design-system/documentation/02-foundation/03-design-tokens/01-types/08-color-tokens/03-colors-semantic.md
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/_readme.md
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/color-pairings.js
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/registry.json
  projects/design-system/scripts-custom/figma-doc-builders/color-variables/_readme.md
  projects/design-system/scripts-custom/figma-doc-builders/color-variables/color-variables.js
  projects/design-system/scripts-custom/figma-doc-builders/color-variables/registry.json
  projects/design-system/scripts-custom/figma-doc-builders/dimension/_readme.md
  projects/design-system/scripts-custom/figma-doc-builders/dimension/dimension.js
  projects/design-system/scripts-custom/figma-doc-builders/dimension/registry.json
  projects/design-system/scripts-custom/figma-doc-builders/dimension/wrap-roundTo.js
  projects/design-system/src/lib/accessible-pairings.md
  projects/design-system/src/lib/contrast-pairings.json
  projects/design-system/src/lib/themes/03_semantic/dimension/density/compact.json
  projects/design-system/src/lib/themes/03_semantic/dimension/density/spacious.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(design-system/tokens): Refactor dimension calculations in UI scale JSON files to include rounding
  projects/design-system/src/lib/themes/03_semantic/dimension/density/standard.json
  projects/design-system/src/lib/themes/03_semantic/dimension/ui_scale/lg.json
  projects/design-system/src/lib/themes/03_semantic/dimension/ui_scale/md.json
  projects/design-system/src/lib/themes/03_semantic/dimension/ui_scale/sm.json
Due: prettier --write

refactor(design-system): refactor figma building scripts
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/accessible-pairings.md
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/color-pairings.js
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/contrast-pairings.json
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/registry.json
  projects/design-system/scripts-custom/figma-doc-builders/color-variables/color-variables.js
  projects/design-system/scripts-custom/figma-doc-builders/color-variables/registry.json
  projects/design-system/scripts-custom/figma-doc-builders/dimension/dimension.js
  projects/design-system/scripts-custom/figma-doc-builders/dimension/registry.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(dimension): add documentation for dimension tokens and update related files OUX-221
  projects/design-system/documentation/02-foundation/03-design-tokens/01-types/09-dimension-tokens.md
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/accessible-pairings.md
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/contrast-pairings.json
  projects/design-system/scripts-custom/figma-doc-builders/dimension/dimension.js
  projects/design-system/scripts-custom/figma-doc-builders/dimension/registry.json
  projects/design-system/src/lib/themes/03_semantic/dimension/density/static.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(design-system/tokens): figma build scripts: update generation timestamps and add foundation bar component
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/accessible-pairings.md
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/color-pairings.js
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/contrast-pairings.json
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/registry.json
  projects/design-system/scripts-custom/figma-doc-builders/color-variables/color-variables.js
  projects/design-system/scripts-custom/figma-doc-builders/color-variables/registry.json
  projects/design-system/scripts-custom/figma-doc-builders/dimension/dimension.js
  projects/design-system/scripts-custom/figma-doc-builders/dimension/registry.json
  projects/design-system/src/lib/themes/03_semantic/color/compiled.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(design-system/typography): add figma-doc builder for text styles
  projects/design-system/scripts-custom/figma-doc-builders/typography/_readme.md
  projects/design-system/scripts-custom/figma-doc-builders/typography/registry.json
  projects/design-system/scripts-custom/figma-doc-builders/typography/typography.js
  projects/design-system/src/lib/themes/03_semantic/typography/single/lg.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/md.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/sm.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/static.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(design-system/typography): widen specimen + bind text fills to fg vars
  projects/design-system/scripts-custom/figma-doc-builders/typography/_setup-building-blocks.js
  projects/design-system/scripts-custom/figma-doc-builders/typography/typography.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(design-system): make dimension primitives unitless for Token Studio math
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/accessible-pairings.md
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/contrast-pairings.json
  projects/design-system/scripts-custom/figma-doc-builders/typography/_readme.md
  projects/design-system/scripts-custom/figma-doc-builders/typography/registry.json
  projects/design-system/scripts-custom/figma-doc-builders/typography/typography.js
  projects/design-system/src/lib/themes/02_primitive/dimension.json
  projects/design-system/src/lib/themes/03_semantic/dimension/density/compact.json
  projects/design-system/src/lib/themes/03_semantic/dimension/density/spacious.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(design-system): drop obsolete rem/16 conversion in dimension doc-builder
  projects/design-system/scripts-custom/figma-doc-builders/dimension/dimension.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(design-system): correct None ordering, value wrap, preview bar cap in dimension doc-builder
  projects/design-system/scripts-custom/figma-doc-builders/dimension/dimension.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(design-system): align mode-row preview bars in dimension doc-builder
  projects/design-system/scripts-custom/figma-doc-builders/dimension/dimension.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(design-system): stop value text wrapping in dimension doc-builder mode rows
  projects/design-system/scripts-custom/figma-doc-builders/dimension/dimension.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

Update typography and color variable documentation and scripts
  projects/design-system/scripts-custom/figma-doc-builders/color-variables/_readme.md
  projects/design-system/scripts-custom/figma-doc-builders/color-variables/color-variables.js
  projects/design-system/scripts-custom/figma-doc-builders/typography/_readme.md
  projects/design-system/scripts-custom/figma-doc-builders/typography/_setup-building-blocks.js
  projects/design-system/scripts-custom/figma-doc-builders/typography/registry.json
  projects/design-system/scripts-custom/figma-doc-builders/typography/typography.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(design-system/tokens): remove unused color status definitions for pending, confirmed, progress, and scheduled states
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/_readme.md
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/accessible-pairings.md
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/build-color-pairings.js
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/contrast-pairings.json
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/registry.json
  projects/design-system/scripts-custom/figma-doc-builders/color-variables/_readme.md
  projects/design-system/scripts-custom/figma-doc-builders/color-variables/build-color-variables.js
  projects/design-system/scripts-custom/figma-doc-builders/dimension/_readme.md
  projects/design-system/scripts-custom/figma-doc-builders/dimension/build-dimension.js
  projects/design-system/scripts-custom/figma-doc-builders/dimension/registry.json
  projects/design-system/scripts-custom/figma-doc-builders/typography/_readme.md
  projects/design-system/scripts-custom/figma-doc-builders/typography/build-typography.js
  projects/design-system/scripts-custom/figma-doc-builders/typography/registry.json
  projects/design-system/scripts-custom/figma-utils/_readme.md
  projects/design-system/scripts-custom/figma-utils/unbind-variables.js
  projects/design-system/src/lib/themes/$themes.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(design-system/tokens): recreate granular viewport tokens
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/01_global/modes.json
  projects/design-system/src/lib/themes/01_global/viewport.json
Due: prettier --write

docs(design-system): restructure states into matrix and per-button docs
  projects/design-system/documentation/02-foundation/04-states.md
  projects/design-system/documentation/02-foundation/04-states/All states matrix.md
  projects/design-system/documentation/02-foundation/04-states/Resolution order.md
  projects/design-system/documentation/02-foundation/04-states/button_icon.md
  projects/design-system/documentation/02-foundation/04-states/button_icon_label.md
  projects/design-system/documentation/02-foundation/04-states/button_navigation.md
  projects/design-system/documentation/02-foundation/04-states/button_segmented.md
  projects/design-system/documentation/02-foundation/04-states/button_split.md
  projects/design-system/documentation/02-foundation/04-states/button_teenage.md
  projects/design-system/documentation/02-foundation/04-states/button_toggle.md
Due: prettier --write

feat(design-system): add button_vd1 variable-driven PoC, interaction collection
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/05_html/button_vd1/interaction/active.json
  projects/design-system/src/lib/themes/05_html/button_vd1/interaction/default.json
  projects/design-system/src/lib/themes/05_html/button_vd1/interaction/hover.json
Due: prettier --write

feat(design-system): chain button_vd1 interaction onto intent collection
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/05_html/button_vd1/intent/primary.json
  projects/design-system/src/lib/themes/05_html/button_vd1/intent/secondary.json
  projects/design-system/src/lib/themes/05_html/button_vd1/intent/tertiary.json
  projects/design-system/src/lib/themes/05_html/button_vd1/interaction/active.json
  projects/design-system/src/lib/themes/05_html/button_vd1/interaction/default.json
  projects/design-system/src/lib/themes/05_html/button_vd1/interaction/hover.json
Due: prettier --write

feat(design-system): scaffold full 8-collection chain for button_vd1
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/05_html/button_vd1/display/disabled.json
  projects/design-system/src/lib/themes/05_html/button_vd1/display/enabled.json
  projects/design-system/src/lib/themes/05_html/button_vd1/emphasis/high.json
  projects/design-system/src/lib/themes/05_html/button_vd1/emphasis/low.json
  projects/design-system/src/lib/themes/05_html/button_vd1/focus/focused.json
  projects/design-system/src/lib/themes/05_html/button_vd1/focus/unfocused.json
  projects/design-system/src/lib/themes/05_html/button_vd1/intent/primary.json
  projects/design-system/src/lib/themes/05_html/button_vd1/intent/secondary.json
  projects/design-system/src/lib/themes/05_html/button_vd1/intent/tertiary.json
  projects/design-system/src/lib/themes/05_html/button_vd1/interaction/active.json
  projects/design-system/src/lib/themes/05_html/button_vd1/interaction/default.json
  projects/design-system/src/lib/themes/05_html/button_vd1/interaction/hover.json
  projects/design-system/src/lib/themes/05_html/button_vd1/lightness/dark.json
  projects/design-system/src/lib/themes/05_html/button_vd1/lightness/light.json
  projects/design-system/src/lib/themes/05_html/button_vd1/surface/canvas.json
  projects/design-system/src/lib/themes/05_html/button_vd1/surface/sunken_1.json
  projects/design-system/src/lib/themes/05_html/button_vd1/surface/sunken_2.json
  projects/design-system/src/lib/themes/05_html/button_vd1/system/empty.json
  projects/design-system/src/lib/themes/05_html/button_vd1/system/loaded.json
  projects/design-system/src/lib/themes/05_html/button_vd1/system/loading.json
  projects/design-system/src/lib/themes/05_html/button_vd1/system/processing.json
  projects/design-system/src/lib/themes/05_html/button_vd1/system/saving.json
  projects/design-system/src/lib/themes/05_html/button_vd1/system/submitting.json
Due: prettier --write

feat(design-system): add meaningful per-layer behaviour to button_vd1 chain
  projects/design-system/src/lib/themes/05_html/button_vd1/emphasis/high.json
  projects/design-system/src/lib/themes/05_html/button_vd1/emphasis/low.json
  projects/design-system/src/lib/themes/05_html/button_vd1/focus/focused.json
  projects/design-system/src/lib/themes/05_html/button_vd1/focus/unfocused.json
  projects/design-system/src/lib/themes/05_html/button_vd1/interaction/active.json
  projects/design-system/src/lib/themes/05_html/button_vd1/interaction/default.json
  projects/design-system/src/lib/themes/05_html/button_vd1/interaction/hover.json
  projects/design-system/src/lib/themes/05_html/button_vd1/lightness/dark.json
  projects/design-system/src/lib/themes/05_html/button_vd1/lightness/light.json
  projects/design-system/src/lib/themes/05_html/button_vd1/system/empty.json
  projects/design-system/src/lib/themes/05_html/button_vd1/system/loaded.json
  projects/design-system/src/lib/themes/05_html/button_vd1/system/loading.json
  projects/design-system/src/lib/themes/05_html/button_vd1/system/processing.json
  projects/design-system/src/lib/themes/05_html/button_vd1/system/saving.json
  projects/design-system/src/lib/themes/05_html/button_vd1/system/submitting.json
Due: prettier --write

feat(design-system): add vd1_language collection and system label strings
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/05_html/button_vd1/language/de.json
  projects/design-system/src/lib/themes/05_html/button_vd1/language/en.json
  projects/design-system/src/lib/themes/05_html/button_vd1/language/fr.json
  projects/design-system/src/lib/themes/05_html/button_vd1/language/it.json
  projects/design-system/src/lib/themes/05_html/button_vd1/language/rm.json
  projects/design-system/src/lib/themes/05_html/button_vd1/system/empty.json
  projects/design-system/src/lib/themes/05_html/button_vd1/system/loaded.json
  projects/design-system/src/lib/themes/05_html/button_vd1/system/loading.json
  projects/design-system/src/lib/themes/05_html/button_vd1/system/processing.json
  projects/design-system/src/lib/themes/05_html/button_vd1/system/saving.json
  projects/design-system/src/lib/themes/05_html/button_vd1/system/submitting.json
Due: prettier --write

fix(design-system): button_vd1 opacity tokens use 0-100 percent units
  projects/design-system/src/lib/themes/05_html/button_vd1/system/empty.json
  projects/design-system/src/lib/themes/05_html/button_vd1/system/loaded.json
  projects/design-system/src/lib/themes/05_html/button_vd1/system/loading.json
  projects/design-system/src/lib/themes/05_html/button_vd1/system/processing.json
  projects/design-system/src/lib/themes/05_html/button_vd1/system/saving.json
  projects/design-system/src/lib/themes/05_html/button_vd1/system/submitting.json
Due: prettier --write

Path conditions:
  eslint --fix --cache --config eslint.precommit.config.mjs: any of: *.{ts,js,mjs,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,mjs,html,json,yml,md,css,scss}
