Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

.lintstagedrc.yml:

"*.{ts,js,mjs,html}": eslint --fix --cache
"*.{css,scss}": stylelint --fix --cache --allow-empty-input
"*.{ts,js,mjs,html,json,yml,md,css,scss}": prettier --write

chore(toolchain): activate `useUnknownInCatchVariables` TS compiler option and refactor accordingly
  eslint-migration.rules.mjs
  projects/sandbox-ssr/server.ts
  projects/sandbox-ssr/src/main.ts
  projects/sds/src/main.ts
  projects/service-navigation-web-component/src/main.ts
  tsconfig.json
Due: eslint --fix --cache, prettier --write

chore(toolchain): activate `no-unnecessary-type-parameters` and refactor accordingly
  eslint-migration.rules.mjs
  eslint.config.mjs
  projects/cli/scripts/pre-build.ts
  projects/oblique/src/lib/selectable/_mocks/mock-selectable.directive.ts
  scripts/dependencies-update.ts
  scripts/generate-projects-scripts.ts
  scripts/shared/files.ts
  scripts/shared/package-json.ts
  scripts/shared/utils.ts
  scripts/update-angular.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): activate `@typescript-eslint/no-wrapper-object-types` and refactor accordingly
  eslint-migration.rules.mjs
  projects/oblique/src/lib/_mocks/mock-translate.service.ts
Due: eslint --fix --cache, prettier --write

fix(sds/material): add missing `MatTooltip` for editable tables
  projects/sds/src/app/code-examples/code-examples/material-table/previews/editable/material-table-example-editable-preview.component.ts
Due: eslint --fix --cache, prettier --write

fix(sandbox/button): fix external link examples
  projects/sandbox/src/app/samples/button/button.component.html
Due: eslint --fix --cache, prettier --write

fix(sds): make tables accessible
  projects/sds/src/app/code-examples/code-examples/file-upload/previews/upload-event/file-upload-upload-event-preview.component.html
  projects/sds/src/app/code-examples/code-examples/html-table/previews/collapse/html-table-example-collapse-preview.component.html
  projects/sds/src/app/code-examples/code-examples/html-table/previews/default/html-table-example-collapse-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/html-table/previews/default/html-table-example-default-preview.component.html
  projects/sds/src/app/code-examples/code-examples/html-table/previews/default/html-table-example-default-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/html-table/previews/sizes/html-table-example-sizes-preview.component.html
  projects/sds/src/app/code-examples/code-examples/html-table/previews/sizes/html-table-example-sizes-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/html-table/previews/styles/html-table-example-sizes-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/html-table/previews/styles/html-table-example-styles-preview.component.html
  projects/sds/src/app/code-examples/code-examples/html-table/previews/styles/html-table-example-styles-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/material-table/previews/default/material-table-example-default-preview.component.html
  projects/sds/src/app/code-examples/code-examples/material-table/previews/editable/material-table-example-editable-preview.component.html
  projects/sds/src/app/code-examples/code-examples/material-table/previews/selectable/material-table-example-selectable-preview.component.html
  projects/sds/src/app/code-examples/code-examples/material-table/previews/sizes/material-table-example-sizes-preview.component.html
  projects/sds/src/app/code-examples/code-examples/material-table/previews/styles/material-table-example-styles-preview.component.html
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(sandbox/material): properly size the action column for flex table
  projects/sandbox/src/app/material/table/table.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(sandbox/material): applies Oblique's styles to flex table
  projects/sandbox/src/app/material/table/table.component.html
Due: eslint --fix --cache, prettier --write

fix(sandbox/material): add tooltip to starterkit pages
  projects/sandbox/src/app/starterkit/starterkit.module.ts
Due: eslint --fix --cache, prettier --write

fix(sandbox/button): apply Oblique style to the table
  projects/sandbox/src/app/samples/button/button.component.html
Due: eslint --fix --cache, prettier --write

fix(sandbox): make tables accessible
  projects/sandbox/src/app/material/button/button.component.html
  projects/sandbox/src/app/material/table/table.component.html
  projects/sandbox/src/app/samples/button/button.component.html
  projects/sandbox/src/app/samples/button/button.component.scss
  projects/sandbox/src/app/samples/button/button.component.ts
  projects/sandbox/src/app/samples/external-link/external-link.component.html
  projects/sandbox/src/app/samples/form/form.component.html
  projects/sandbox/src/app/starterkit/table-page/table-page.component.html
  projects/sandbox/src/app/styles/grid/grid.component.html
  projects/sandbox/src/app/styles/table/table.component.html
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/code-examples): update breadcrumb example link
  projects/sds/src/app/code-examples/code-examples/breadcrumb/previews/default/breadcrumb-example-default-preview.component.html
Due: eslint --fix --cache, prettier --write

feat(sds/code-examples): update banner example link
  projects/sds/src/app/code-examples/code-examples/banner/previews/default/banner-example-default-preview.component.html
Due: eslint --fix --cache, prettier --write

feat(sds/code-examples): update column-layout example link
  projects/sds/src/app/code-examples/code-examples/column-layout/previews/stackblitz-link/column-layout-example-stackblitz-link-preview.component.html
Due: eslint --fix --cache, prettier --write

feat(sds/code-examples): update date example link
  projects/sds/src/app/code-examples/code-examples/date/previews/default/date-example-default-preview.component.html
Due: eslint --fix --cache, prettier --write

feat(sds/code-examples): update external link example link
  projects/sds/src/app/code-examples/code-examples/external-link/previews/stackblitz-link/external-link-example-stackblitz-link-preview.component.html
Due: eslint --fix --cache, prettier --write

feat(sds/code-examples): update language example link
  projects/sds/src/app/code-examples/code-examples/language/previews/default/language-example-default-preview.component.html
Due: eslint --fix --cache, prettier --write

feat(sds/code-examples): update off-canvas example link
  projects/sds/src/app/code-examples/code-examples/off-canvas/previews/stackblitz-link/off-canvas-example-stackblitz-link-preview.component.html
Due: eslint --fix --cache, prettier --write

feat(sds/code-examples): update master-layout example link
  projects/sds/src/app/code-examples/code-examples/master-layout/previews/stackblitz-link/master-layout-example-stackblitz-link-preview.component.html
Due: eslint --fix --cache, prettier --write

feat(sds/code-examples): update translations example link
  projects/sds/src/app/code-examples/code-examples/translations/previews/stackblitz-link/translations-example-stackblitz-link-preview.component.html
Due: eslint --fix --cache, prettier --write

feat(sds/code-examples): update unknown route example link
  projects/sds/src/app/code-examples/code-examples/unknown-route/previews/stackblitz-link/unknown-route-example-stackblitz-link-preview.component.html
Due: eslint --fix --cache, prettier --write

feat(sds/code-examples): update unsaved changes example link
  projects/sds/src/app/code-examples/code-examples/unsaved-changes/previews/stackblitz-link/unsaved-changes-example-stackblitz-link-preview.component.html
Due: eslint --fix --cache, prettier --write

refactor(oblique): migrate deprecated scss features
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component-cover.scss
  projects/oblique/src/styles/scss/core/mixins/_layout.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(sds): migrate deprecated scss features
  projects/sds/src/styles/scss/core/mixins/_layout.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(sandbox): use `@use` instead of `@import`
  projects/sandbox/src/app/home/home.page.scss
  projects/sandbox/src/app/material/card/card.component.scss
  projects/sandbox/src/app/samples/file-upload-sample/file-upload-sample.component.scss
  projects/sandbox/src/app/samples/focus/focus-sample.component.scss
  projects/sandbox/src/app/samples/master-layout/master-layout-sample.component.scss
  projects/sandbox/src/app/samples/selectable-form/selectable-form-sample.component.scss
  projects/sandbox/src/app/samples/selectable/selectable-sample.component.scss
  projects/sandbox/src/app/styles/grid/grid.component.scss
  projects/sandbox/src/app/styles/palette/palette.component.scss
  projects/sandbox/src/app/styles/typography/typography.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(oblique): use `@use` instead of `@import`
  projects/oblique/scripts/pre-build.ts
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header-controls.component.scss
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/go-to-children/master-layout-navigation-go-to-children.component.scss
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation-scrollable.component.scss
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.ts
  projects/oblique/src/lib/master-layout/master-layout/master-layout-accessibility.component.scss
  projects/oblique/src/lib/master-layout/master-layout/master-layout-cover.component.scss
  projects/oblique/src/lib/master-layout/master-layout/master-layout-offcanvas.component.scss
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.ts
  projects/oblique/src/styles/scss/core/_variables.scss
  projects/oblique/src/styles/scss/material/_mat-form.scss
  projects/oblique/src/styles/scss/oblique-material.scss
  projects/stylesBuilder/oblique-components.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

refactor(oblique/nav-tree): remove unused directives
  projects/oblique/src/lib/nav-tree/nav-tree.component.ts
Due: eslint --fix --cache, prettier --write

refactor(sds): remove unused directives
  projects/sds/src/app/code-examples/code-examples/form/previews/other-options/datepicker-example-other-options-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/schema-validation/previews/reactive-form/schema-validation-example-reactive-form-preview.component.ts
  projects/sds/src/app/feedback/feedback-form/feedback-form.component.ts
Due: eslint --fix --cache, prettier --write

feat(cli/update): call `npm dedupe` and `npm prune` after update
  projects/cli/src/update/ob-update.ts
  projects/cli/src/utils/cli-utils.ts
  projects/cli/src/utils/ob-cli.model.ts
Due: eslint --fix --cache, prettier --write

feat(cli/new): call `npm dedupe` and `npm prune` after install
  projects/cli/src/new/ob-new.spec.ts
  projects/cli/src/new/ob-new.ts
Due: eslint --fix --cache, prettier --write

feat(sds/toolchain): create the SDS dockerfile
  projects/sds/Dockerfile_SDS
  projects/sds/src/nginx/conf/includes/custom_headers.conf
  projects/sds/src/nginx/conf/includes/security_headers.conf
  projects/sds/src/nginx/conf/nginx.conf
Due: none

feat(toolchain): set no registry
  .npmrc
Due: none

feat(sandbox/toolchain): create the Sandbox dockerfile
  projects/sandbox/Dockerfile_Sandbox
  projects/sandbox/src/nginx/nginx.conf
Due: none

feat(oblique/toolchain): remove Jenkins & CF from ng add schematics
  projects/oblique/README.md
  projects/oblique/schematics/index/ng-add/ng-add.model.ts
  projects/oblique/schematics/index/ng-add/rules/jenkins.ts
  projects/oblique/schematics/index/ng-add/rules/toolchain.ts
  projects/oblique/schematics/index/ng-add/schema.json
  projects/oblique/schematics/index/ng-add/templates/default-Jenkinsfile.config
  projects/oblique/schematics/index/ng-add/templates/default-Staticfile.config
Due: eslint --fix --cache, prettier --write

feat(cli/toolchain): remove Jenkins & CF from ob new
  projects/cli/src/new/ob-new.model.ts
  projects/cli/src/new/ob-new.spec.ts
  projects/cli/src/new/schema.json
Due: eslint --fix --cache, prettier --write

feat(oblique/authentication): update angular-oauth-oidc dependency to version 19
  package-lock.json
  projects/oblique/package.json
Due: prettier --write

feat(oblique/authentication): deprecate getIdentityClaims and getAllResourceAccessRoles methods
  projects/oblique/src/lib/authentication/authentication.service.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/schematics): update angular-oauth-oidc dependency to version 19
  projects/oblique/schematics/index/ng-add/ng-add-utils.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/schematics): set oblique compatible builder for new projects
  projects/oblique/schematics/index/ng-add/rules/toolchain.ts
Due: eslint --fix --cache, prettier --write
