Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --config eslint.precommit.config.mjs, stylelint --fix --cache --allow-empty-input, prettier --write

.lintstagedrc.yml:

"*.{ts,js,mjs,html}": eslint --fix --cache --config eslint.precommit.config.mjs
"*.{css,scss}": stylelint --fix --cache --allow-empty-input
"*.{ts,js,mjs,html,json,yml,md,css,scss}": prettier --write

docs(mcp/server): add client installation guide
  projects/mcp/INSTALLATION.md
  projects/mcp/README.md
Due: prettier --write

feat(design-system/tokens): add ob.s.modifier ratio tier, adopt ob.p.modifier from the pilot (OUX-243)
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/02_primitive/modifier.json
  projects/design-system/src/lib/themes/03_semantic/modifier.json
Due: prettier --write

feat(design-system/tokens): add interaction emphasis_none and visited branches (OUX-243)
  projects/design-system/src/lib/themes/03_semantic/color/compiled.json
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/dark.json
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/light.json
Due: prettier --write

refactor(design-system/tokens): compose button and link states at component tier, drop standard_states (OUX-243)
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/03_semantic/color/compiled.json
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/dark.json
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/light.json
  projects/design-system/src/lib/themes/03_semantic/color/s2_emphasis/high.json
  projects/design-system/src/lib/themes/03_semantic/color/s2_emphasis/low.json
  projects/design-system/src/lib/themes/05_html/button/01_color.json
  projects/design-system/src/lib/themes/05_html/link/link.json
Due: prettier --write

feat(sds/side-navigation): improve section label spacing and typography
  projects/sds/src/app/side-navigation/accordion-links/accordion-links.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(mcp): package authoritative runtime data
  package-lock.json
  projects/mcp/INSTALLATION.md
  projects/mcp/README.md
  projects/mcp/jest.config.cjs
  projects/mcp/package.json
  projects/mcp/scripts/prepare-runtime-data.mjs
  projects/mcp/src/runtime-data.spec.ts
  projects/mcp/src/runtime-data.ts
  projects/mcp/src/server.ts
  projects/mcp/src/sources/design-system/design-token.reader.ts
  projects/mcp/src/tools/check-oblique-code.ts
  projects/mcp/src/tools/check-oblique-styles.ts
  projects/mcp/src/tools/get-oblique-template-api.ts
  projects/mcp/src/tools/search-oblique-design-tokens.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(design-system/styles): install Oblique core styles automatically
  projects/design-system/scripts/post-build.ts
  projects/design-system/src/assets/index.js
  projects/design-system/src/assets/install-core-styles.js
  projects/design-system/tsconfig.lib.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(sandbox-ssr/demo): update test page for demo component
  projects/sandbox-ssr/src/app/design-system/demo/demo.spec.ts
  projects/sandbox-ssr/src/app/design-system/demo/demo.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(design-system/demo): apply styles to demo component
  projects/design-system/src/lib/demo/ob-demo.css
  projects/design-system/src/lib/demo/ob-demo.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, stylelint --fix --cache --allow-empty-input, prettier --write

feat(design-system/demo): export demo component automatically
  projects/design-system/package.json
  projects/design-system/src/assets/index.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build: add method to add main entry to package.json
  scripts/shared/package-json.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test: add global jest mocks for `CSSStyleSheet` and `AdoptedStyleSheets`
  tests/setupJest.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(sandbox-ssr/app): import Oblique core styles programmatically
  angular.json
  projects/sandbox-ssr/jest.config.js
  projects/sandbox-ssr/src/main.ts
  projects/sandbox-ssr/src/styles.scss
  projects/sandbox-ssr/tsconfig.app.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, stylelint --fix --cache --allow-empty-input, prettier --write

feat(design-system/styles): add method to apply styles to shadow DOM
  projects/design-system/src/lib/css/layers/reset.css
  projects/design-system/src/lib/css/layers/shadow-reset.css
  projects/design-system/src/utils/get-styles.ts
  projects/design-system/tsconfig.lib.json
  projects/design-system/vite-env.d.ts
  projects/design-system/vite.config.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, stylelint --fix --cache --allow-empty-input, prettier --write

feat(mcp/server): add safe Oblique project planning
  projects/mcp/INSTALLATION.md
  projects/mcp/README.md
  projects/mcp/src/runtime-data.spec.ts
  projects/mcp/src/server.ts
  projects/mcp/src/tools/prepare-oblique-project.contracts.ts
  projects/mcp/src/tools/prepare-oblique-project.filesystem.ts
  projects/mcp/src/tools/prepare-oblique-project.spec.ts
  projects/mcp/src/tools/prepare-oblique-project.ts
  projects/mcp/src/tools/prepare-oblique-project.version.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(cli): pass locales to toolchain's add-oblique schematic instead of oblique ng-add
  projects/cli/src/new/ob-new.model.ts
  projects/cli/src/new/ob-new.spec.ts
  projects/cli/src/new/ob-new.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(toolchain/schematics): pass silent option to i18n schematic
  projects/toolchain/src/schematics/add-oblique/index.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(oblique/schematics): remove locale handling from ng-add schematic
  projects/oblique/schematics/index/ng-add/ng-add.model.ts
  projects/oblique/schematics/index/ng-add/rules/locales.ts
  projects/oblique/schematics/index/ng-add/rules/oblique.ts
  projects/oblique/schematics/index/ng-add/schema.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(toolchain/schematics): add locales option to add-oblique schematic and call i18n schematic
  projects/toolchain/src/schematics/add-oblique/index.spec.ts
  projects/toolchain/src/schematics/add-oblique/index.ts
  projects/toolchain/src/schematics/add-oblique/schema.json
  projects/toolchain/src/schematics/add-oblique/types.ts
  projects/toolchain/src/schematics/collection.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(toolchain/schematics): add i18n schematic to configure locales
  projects/toolchain/__mocks__/magic-string.js
  projects/toolchain/package.json
  projects/toolchain/scripts/pipelines/post-build.ts
  projects/toolchain/src/schematics/collection.json
  projects/toolchain/src/schematics/i18n/index.spec.ts
  projects/toolchain/src/schematics/i18n/index.ts
  projects/toolchain/src/schematics/i18n/rules/add-i18n.spec.ts
  projects/toolchain/src/schematics/i18n/rules/add-i18n.ts
  projects/toolchain/src/schematics/i18n/rules/test-utils.ts
  projects/toolchain/src/schematics/i18n/schema.json
  projects/toolchain/src/schematics/i18n/types.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(oblique/nav-tree): migrate to signals and OnPush change detection
  projects/oblique/src/lib/nav-tree/_mocks/mock-nav-tree.component.ts
  projects/oblique/src/lib/nav-tree/nav-tree.component.html
  projects/oblique/src/lib/nav-tree/nav-tree.component.spec.ts
  projects/oblique/src/lib/nav-tree/nav-tree.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(sandbox/nav-tree): adapt sample to OnPush change detection
  projects/sandbox/src/app/samples/nav-tree/nav-tree-sample.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(oblique/nav-tree): make filterPattern optional in defaultLabelFormatterFactory
  projects/oblique/src/lib/nav-tree/nav-tree.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(mcp/server): add controlled Oblique project creation
  package-lock.json
  projects/mcp/INSTALLATION.md
  projects/mcp/README.md
  projects/mcp/package.json
  projects/mcp/src/runtime-data.spec.ts
  projects/mcp/src/server.ts
  projects/mcp/src/tools/create-oblique-project.contracts.ts
  projects/mcp/src/tools/create-oblique-project.result.ts
  projects/mcp/src/tools/create-oblique-project.spec.ts
  projects/mcp/src/tools/create-oblique-project.support.ts
  projects/mcp/src/tools/create-oblique-project.ts
  projects/mcp/src/tools/oblique-project-plan.store.spec.ts
  projects/mcp/src/tools/oblique-project-plan.store.ts
  projects/mcp/src/tools/oblique-project.executor.spec.ts
  projects/mcp/src/tools/oblique-project.executor.ts
  projects/mcp/src/tools/oblique-project.output.ts
  projects/mcp/src/tools/oblique-project.revalidation.spec.ts
  projects/mcp/src/tools/oblique-project.revalidation.ts
  projects/mcp/src/tools/oblique-project.validator.spec.ts
  projects/mcp/src/tools/oblique-project.validator.ts
  projects/mcp/src/tools/prepare-oblique-project.contracts.ts
  projects/mcp/src/tools/prepare-oblique-project.result.ts
  projects/mcp/src/tools/prepare-oblique-project.spec.ts
  projects/mcp/src/tools/prepare-oblique-project.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(cli/mcp): make project creation reliable over stdio
  projects/cli/src/new/ob-new.model.ts
  projects/cli/src/new/ob-new.spec.ts
  projects/cli/src/new/ob-new.ts
  projects/cli/src/new/schema.json
  projects/cli/src/packaging.spec.ts
  projects/cli/src/utils/cli-utils.spec.ts
  projects/cli/src/utils/cli-utils.ts
  projects/mcp/INSTALLATION.md
  projects/mcp/README.md
  projects/mcp/src/runtime-data.spec.ts
  projects/mcp/src/server.ts
  projects/mcp/src/tools/create-oblique-project.spec.ts
  projects/mcp/src/tools/oblique-project-plan.store.spec.ts
  projects/mcp/src/tools/oblique-project-plan.store.ts
  projects/mcp/src/tools/oblique-project.executor.spec.ts
  projects/mcp/src/tools/oblique-project.revalidation.spec.ts
  projects/mcp/src/tools/oblique-project.revalidation.ts
  projects/mcp/src/tools/oblique-project.validator.spec.ts
  projects/mcp/src/tools/prepare-oblique-project.contracts.ts
  projects/mcp/src/tools/prepare-oblique-project.result.ts
  projects/mcp/src/tools/prepare-oblique-project.spec.ts
  projects/mcp/src/tools/prepare-oblique-project.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(toolchain/exec): add spawn command utility
  projects/toolchain/src/exec/errors/ob-exec-error.ts
  projects/toolchain/src/exec/errors/ob-spawn-error.spec.ts
  projects/toolchain/src/exec/errors/ob-spawn-error.ts
  projects/toolchain/src/exec/errors/ob-spawn-exit-error.spec.ts
  projects/toolchain/src/exec/errors/ob-spawn-exit-error.ts
  projects/toolchain/src/exec/errors/ob-spawn-signal-error.spec.ts
  projects/toolchain/src/exec/errors/ob-spawn-signal-error.ts
  projects/toolchain/src/exec/index.ts
  projects/toolchain/src/exec/spawn-command.spec.ts
  projects/toolchain/src/exec/spawn-command.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(toolchain/exec): switch to spawnSync in order to avoid command execution vulnerability
  projects/toolchain/src/exec/exec-with-logging.spec.ts
  projects/toolchain/src/exec/exec-with-logging.ts
  projects/toolchain/src/exec/types.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(toolchain/schematics): remove unnecessary eslint exceptions
  projects/toolchain/src/schematics/ng-add/rules/add-proxy.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(oblique/master-layout): keep main element scrollbar on the right edge
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.html
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.scss
Due: eslint --fix --cache --config eslint.precommit.config.mjs, stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/master-layout): ignore `has-max-width` with cover layout
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(oblique/master-layout): reduce code duplication
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.html
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(cli/utils): change recommended node version to 24
  projects/cli/src/utils/cli-utils.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(design-system/tokens): remove icon, button, header and footer sets from release 16
  projects/design-system/src/lib/css/layers/tokens.css
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/01_global/component/footer/lightness/dynamic/dark.json
  projects/design-system/src/lib/themes/01_global/component/footer/lightness/dynamic/light.json
  projects/design-system/src/lib/themes/01_global/component/footer/lightness/static.json
  projects/design-system/src/lib/themes/04_component/atom/icon/01_color.json
  projects/design-system/src/lib/themes/04_component/atom/icon/02_layout.json
  projects/design-system/src/lib/themes/04_component/molecule/header/2xl.json
  projects/design-system/src/lib/themes/04_component/molecule/header/lg.json
  projects/design-system/src/lib/themes/04_component/molecule/header/md.json
  projects/design-system/src/lib/themes/04_component/molecule/header/sm.json
  projects/design-system/src/lib/themes/04_component/molecule/header/xl.json
  projects/design-system/src/lib/themes/04_component/molecule/header/xs.json
  projects/design-system/src/lib/themes/05_html/button/01_color.json
  projects/design-system/src/lib/themes/05_html/button/02_typography.json
  projects/design-system/src/lib/themes/05_html/button/03_shadows.json
  projects/design-system/src/lib/themes/05_html/button/04_layout.json
  projects/design-system/src/lib/themes/05_html/button/06_motion.json
  projects/design-system/src/lib/themes/05_html/button/07_reference_only.json
Due: stylelint --fix --cache --allow-empty-input, prettier --write

docs(design-system/tokens): rewrite the shadow descriptions, drop the PLACEHOLDER note
  projects/design-system/src/lib/themes/03_semantic/shadow.json
Due: prettier --write

refactor(oblique/error-messages): handle subscription cleanup with `destroyRef`
  projects/oblique/src/lib/error-messages/error-messages.directive.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(oblique/error-messages): use signal instead of subject for internal error tracking
  projects/oblique/src/lib/error-messages/error-messages.directive.spec.ts
  projects/oblique/src/lib/error-messages/error-messages.directive.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(oblique/error-messages): migrate to signals
  projects/oblique/src/lib/error-messages/error-messages.directive.spec.ts
  projects/oblique/src/lib/error-messages/error-messages.directive.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(toolchain): remove `mockCreateFromTemplate`
  projects/toolchain/src/schematics/linting/rules/adapt-linting-configuration.spec.ts
  projects/toolchain/src/schematics/ng-add/rules/add-browserslistrc.spec.ts
  projects/toolchain/src/schematics/ng-add/rules/add-npmrc.spec.ts
  projects/toolchain/src/schematics/test-utils.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(toolchain): use vitest to test exec functions
  AGENTS.md
  package-lock.json
  projects/toolchain/jest.config.js
  projects/toolchain/package.json
  projects/toolchain/src/exec/exec-with-logging.spec.ts
  projects/toolchain/src/exec/spawn-command.spec.ts
  projects/toolchain/vitest.config.ci.ts
  projects/toolchain/vitest.config.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

docs: improve AGENTS.md commands and tests sections
  AGENTS.md
Due: prettier --write
