Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --config eslint.precommit.config.mjs, stylelint --fix --cache --allow-empty-input, prettier --write

.lintstagedrc.yml:

"*.{ts,js,mjs,html}": eslint --fix --cache --config eslint.precommit.config.mjs
"*.{css,scss}": stylelint --fix --cache --allow-empty-input
"*.{ts,js,mjs,html,json,yml,md,css,scss}": prettier --write

feat(oblique/language): turn `hasLanguageInUrl` property into `language` object
  projects/oblique/schematics/index/ng-add/rules/obliqueFeatures.ts
  projects/oblique/schematics/index/ng-update/update-v15-to-v16.ts
  projects/oblique/src/lib/language/language.model.ts
  projects/oblique/src/lib/language/language.provider.spec.ts
  projects/oblique/src/lib/language/language.provider.ts
  projects/oblique/src/lib/router/ob-router.service.spec.ts
  projects/oblique/src/lib/utilities.model.ts
  projects/oblique/src/lib/utilities.spec.ts
  projects/oblique/src/lib/utilities.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(sandbox): replace `hasLanguageInUrl` property with `language`
  projects/sandbox/src/app/app.module.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(opencode-plugin): ensure runtime compatibility
  package-lock.json
  projects/opencode-plugin/README.md
  projects/opencode-plugin/package.json
  projects/opencode-plugin/src/agent.ts
  projects/opencode-plugin/src/index.ts
  projects/opencode-plugin/src/mcp-config.ts
  projects/opencode-plugin/src/project-detector.ts
  projects/opencode-plugin/src/review.ts
  projects/opencode-plugin/src/status-command.ts
  projects/opencode-plugin/src/status.ts
  projects/opencode-plugin/tests/agent.spec.ts
  projects/opencode-plugin/tests/mcp-config.spec.ts
  projects/opencode-plugin/tests/plugin.spec.ts
  projects/opencode-plugin/tests/project-detector.spec.ts
  projects/opencode-plugin/tests/review.spec.ts
  projects/opencode-plugin/tests/status.spec.ts
  projects/opencode-plugin/tsconfig.typecheck.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(oblique/schematics): changes to `AppModule` are applied to `main.ts` as well
  projects/oblique/schematics/index/utils.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(design-system/tokens): append units to px/rem dimension token math
  projects/design-system/src/lib/css/layers/tokens.css
  projects/design-system/src/lib/themes/03_semantic/dimension/density/compact.json
  projects/design-system/src/lib/themes/03_semantic/dimension/density/spacious.json
  projects/design-system/src/lib/themes/03_semantic/dimension/density/standard.json
  projects/design-system/src/lib/themes/03_semantic/dimension/density/static.json
  projects/design-system/src/lib/themes/03_semantic/dimension/ui_scale/lg.json
  projects/design-system/src/lib/themes/03_semantic/dimension/ui_scale/md.json
  projects/design-system/src/lib/themes/03_semantic/dimension/ui_scale/sm.json
  projects/design-system/src/lib/themes/03_semantic/dimension/ui_scale/static.json
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(design-system/tokens): update interaction section to reflect contrast-level pairings for states
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/registry.json
Due: prettier --write

refactor(design-system/tokens): split rem dimension tokens into a separate Token Set
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/03_semantic/dimension/density/compact.json
  projects/design-system/src/lib/themes/03_semantic/dimension/density/spacious.json
  projects/design-system/src/lib/themes/03_semantic/dimension/density/standard.json
  projects/design-system/src/lib/themes/03_semantic/dimension/density/static.json
  projects/design-system/src/lib/themes/03_semantic/dimension/rem.json
  projects/design-system/src/lib/themes/03_semantic/dimension/ui_scale/lg.json
  projects/design-system/src/lib/themes/03_semantic/dimension/ui_scale/md.json
  projects/design-system/src/lib/themes/03_semantic/dimension/ui_scale/sm.json
  projects/design-system/src/lib/themes/03_semantic/dimension/ui_scale/static.json
Due: prettier --write

refactor(design-system/tokens): remove unused primitive rem dimension scale
  projects/design-system/src/lib/themes/02_primitive/dimension.json
Due: prettier --write

build(release): check for pre-version only once
  scripts/release.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build(changelog): fix commit parsing
  scripts/shared/changelog.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build(changelog): allow both `*` and `-` for bullet points in the changelog
  scripts/shared/changelog.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build(release): add publish instruction for GitHub
  scripts/release.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build(changelog): add error handling for uncovered commits
  scripts/shared/changelog.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build(changelog): split the big commit parsing regexp into more readable parts
  scripts/shared/changelog.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build(changelog): ignore comments in commit messages
  scripts/shared/changelog.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(design-system/figma-doc-builders): align builders with published token names
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/accessible-pairings.md
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/build-color-pairings.js
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/contrast-pairings.json
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/registry.json
  projects/design-system/scripts-custom/figma-doc-builders/color-variables/build-color-variables.js
  projects/design-system/scripts-custom/figma-doc-builders/color-variables/registry.json
  projects/design-system/scripts-custom/figma-doc-builders/typography/registry.json
  projects/design-system/scripts-custom/figma-doc-builders/viewport/registry.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build(release): release version 16.0.0-rc.1
  .github/workflows/main.yml
  Jenkinsfile
  package-lock.json
  package.json
  projects/cli/CHANGELOG.md
  projects/cli/package.json
  projects/cli/src/utils/cli-utils.ts
  projects/design-system/CHANGELOG.md
  projects/design-system/package.json
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/src/lib/version.ts
  projects/sandbox-ssr/CHANGELOG.md
  projects/sandbox-ssr/package.json
  projects/sandbox/CHANGELOG.md
  projects/sandbox/package.json
  projects/sds/CHANGELOG.md
  projects/sds/package.json
  projects/service-navigation-web-component/CHANGELOG.md
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/src/app/version.ts
  projects/toolchain/CHANGELOG.md
  projects/toolchain/package.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

build(release): remove publish instructions for version 16.0.0-rc.1
  .github/workflows/main.yml
  Jenkinsfile
Due: prettier --write

fix(design-system/tokens): rename reserved $description key on family-doc tokens
  projects/design-system/scripts-custom/figma-doc-builders/color-variables/build-color-variables.js
  projects/design-system/scripts-custom/figma-doc-builders/dimension/build-dimension.js
  projects/design-system/scripts-custom/figma-doc-builders/typography/build-typography.js
  projects/design-system/src/lib/css/layers/tokens.css
  projects/design-system/src/lib/themes/03_semantic/color/compiled.json
  projects/design-system/src/lib/themes/03_semantic/dimension/density/static.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/static.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, stylelint --fix --cache --allow-empty-input, prettier --write

fix(design-system/tokens): rename reserved $description key everywhere
  projects/design-system/src/lib/css/layers/tokens.css
  projects/design-system/src/lib/themes/02_primitive/dimension.json
  projects/design-system/src/lib/themes/02_primitive/motion.json
  projects/design-system/src/lib/themes/02_primitive/number.json
  projects/design-system/src/lib/themes/02_primitive/typography.json
  projects/design-system/src/lib/themes/03_semantic/border.json
  projects/design-system/src/lib/themes/03_semantic/dimension/density/compact.json
  projects/design-system/src/lib/themes/03_semantic/dimension/density/spacious.json
  projects/design-system/src/lib/themes/03_semantic/dimension/density/standard.json
  projects/design-system/src/lib/themes/03_semantic/dimension/density/static.json
  projects/design-system/src/lib/themes/03_semantic/dimension/typography_context/interface.json
  projects/design-system/src/lib/themes/03_semantic/dimension/typography_context/prose.json
  projects/design-system/src/lib/themes/03_semantic/dimension/typography_context/static.json
  projects/design-system/src/lib/themes/03_semantic/dimension/ui_scale/lg.json
  projects/design-system/src/lib/themes/03_semantic/dimension/ui_scale/md.json
  projects/design-system/src/lib/themes/03_semantic/dimension/ui_scale/sm.json
  projects/design-system/src/lib/themes/03_semantic/dimension/ui_scale/static.json
  projects/design-system/src/lib/themes/03_semantic/dimension/viewport/2xl.json
  projects/design-system/src/lib/themes/03_semantic/dimension/viewport/lg.json
  projects/design-system/src/lib/themes/03_semantic/dimension/viewport/md.json
  projects/design-system/src/lib/themes/03_semantic/dimension/viewport/sm.json
  projects/design-system/src/lib/themes/03_semantic/dimension/viewport/xl.json
  projects/design-system/src/lib/themes/03_semantic/dimension/viewport/xs.json
  projects/design-system/src/lib/themes/03_semantic/motion/mode/disabled.json
  projects/design-system/src/lib/themes/03_semantic/motion/mode/enabled.json
  projects/design-system/src/lib/themes/03_semantic/motion/static.json
  projects/design-system/src/lib/themes/03_semantic/typography/grouped/lg.json
  projects/design-system/src/lib/themes/03_semantic/typography/grouped/md.json
  projects/design-system/src/lib/themes/03_semantic/typography/grouped/sm.json
  projects/design-system/src/lib/themes/03_semantic/typography/grouped/static.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/lg.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/md.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/sm.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/static.json
  projects/design-system/src/lib/themes/05_html/link/interface.json
  projects/design-system/src/lib/themes/05_html/link/link.json
  projects/design-system/src/lib/themes/05_html/link/prose.json
  projects/design-system/src/lib/themes/05_html/typography/context/interface.json
  projects/design-system/src/lib/themes/05_html/typography/context/prose.json
  projects/design-system/src/lib/themes/05_html/typography/style.json
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(design-system/figma-doc-builders): resolve missing contrast pairings
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/accessible-pairings.md
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/contrast-pairings.json
Due: prettier --write

fix(design-system): show full ob.s.color token path in Figma color docs
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/build-color-pairings.js
  projects/design-system/scripts-custom/figma-doc-builders/color-variables/build-color-variables.js
  projects/design-system/src/lib/css/layers/tokens.css
  projects/design-system/src/lib/themes/03_semantic/color/compiled.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, stylelint --fix --cache --allow-empty-input, prettier --write

fix(design-system): fix downstream token-name comparisons after ob.s. display fix
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/build-color-pairings.js
  projects/design-system/scripts-custom/figma-doc-builders/color-variables/build-color-variables.js
  projects/design-system/src/lib/css/layers/tokens.css
  projects/design-system/src/lib/themes/03_semantic/color/compiled.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, stylelint --fix --cache --allow-empty-input, prettier --write

feat(design-system/figma-doc-builders): auto-deprecate old scratch pages on rebuild
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/build-color-pairings.js
  projects/design-system/scripts-custom/figma-doc-builders/color-variables/build-color-variables.js
  projects/design-system/scripts-custom/figma-doc-builders/dimension/build-dimension.js
  projects/design-system/scripts-custom/figma-doc-builders/typography/build-typography.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(toolchain/schematics): `add-i18n` don't add `disabled` property to locale configuration
  projects/toolchain/src/schematics/i18n/rules/add-i18n.spec.ts
  projects/toolchain/src/schematics/i18n/rules/add-i18n.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(oblique/utilities): make all properties of locale configuration optional
  projects/oblique/src/lib/translation/translation.model.ts
  projects/oblique/src/lib/utilities.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(sds): remove optional locale configuration
  projects/sds/src/main.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(sandbox): remove optional locale configuration
  projects/sandbox/src/app/app.module.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(design-system/figma-doc-builders): fix S3 table grouping after ob.s. display fix
  projects/design-system/scripts-custom/figma-doc-builders/color-variables/build-color-variables.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(design-system/figma-doc-builders): add dark-mode section to Contrast Pairing
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/build-color-pairings.js
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/registry.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(design-system/figma-doc-builders): split Contrast Pairing into separate Light/Dark pages
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/build-color-pairings.js
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/registry.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(design-system/figma-utils): add scope-variables script
  projects/design-system/scripts-custom/figma-utils/_readme.md
  projects/design-system/scripts-custom/figma-utils/scope-variables.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(design-system/figma-utils): make scope-variables runnable via figma-ds-cli
  projects/design-system/scripts-custom/figma-utils/scope-variables.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(design-system/tokens): unify typography scale/composite roots under ob.s.typography
  projects/design-system/src/lib/css/layers/tokens.css
  projects/design-system/src/lib/themes/03_semantic/typography/grouped/lg.json
  projects/design-system/src/lib/themes/03_semantic/typography/grouped/md.json
  projects/design-system/src/lib/themes/03_semantic/typography/grouped/sm.json
  projects/design-system/src/lib/themes/03_semantic/typography/grouped/static.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/lg.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/md.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/sm.json
  projects/design-system/src/lib/themes/03_semantic/typography/single/static.json
  projects/design-system/src/lib/themes/05_html/link/interface.json
  projects/design-system/src/lib/themes/05_html/link/link.json
  projects/design-system/src/lib/themes/05_html/link/prose.json
  projects/design-system/src/lib/themes/05_html/typography/context/interface.json
  projects/design-system/src/lib/themes/05_html/typography/context/prose.json
  projects/design-system/src/lib/themes/05_html/typography/style.json
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(design-system/figma-doc-builders): point typography sectionBar at its own component, not shared
  projects/design-system/scripts-custom/figma-doc-builders/typography/registry.json
Due: prettier --write

feat(design-system/figma-utils): add rename-text-styles script
  projects/design-system/scripts-custom/figma-utils/_readme.md
  projects/design-system/scripts-custom/figma-utils/rename-text-styles.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(design-system/figma-utils): add relink-text-style-usage script
  projects/design-system/scripts-custom/figma-utils/relink-text-style-usage.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(design-system/figma-utils): flush bulk style mutations before eval process exits
  projects/design-system/scripts-custom/figma-utils/_readme.md
  projects/design-system/scripts-custom/figma-utils/relink-text-style-usage.js
  projects/design-system/scripts-custom/figma-utils/rename-text-styles.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(design-system/tokens): shorten grouped composite path to ob.s.authoring
  projects/design-system/src/lib/css/layers/tokens.css
  projects/design-system/src/lib/themes/03_semantic/typography/grouped/lg.json
  projects/design-system/src/lib/themes/03_semantic/typography/grouped/md.json
  projects/design-system/src/lib/themes/03_semantic/typography/grouped/sm.json
  projects/design-system/src/lib/themes/03_semantic/typography/grouped/static.json
Due: stylelint --fix --cache --allow-empty-input, prettier --write

docs(design-system/figma-utils): drop obsolete authoring rule from rename-text-styles
  projects/design-system/scripts-custom/figma-utils/rename-text-styles.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write
