Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

refactor(service-navigation/toolchain): activate `require-unicode-regexp` and refactor accordingly
  projects/service-navigation-web-component/eslint.project-config.mjs
  projects/service-navigation-web-component/scripts/post-build.ts
  projects/service-navigation-web-component/src/app/translations-service.ts
Due: eslint --fix --cache, prettier --write

refactor(toolchain): disable global `no-call-expression` rule
  eslint.config.mjs
Due: eslint --fix --cache, prettier --write

refactor(sandbox/toolchain): activate `promise-function-async` rule and refactor accordingly
  projects/sandbox/eslint.project-config.mjs
  projects/sandbox/src/app/app-routing.module.ts
Due: eslint --fix --cache, prettier --write

refactor(sandbox/toolchain): activate `prefer-control-flow` rule and refactor accordingly
  projects/sandbox/eslint.project-config.mjs
  projects/sandbox/src/app/material/badge/badge.component.html
  projects/sandbox/src/app/material/card/card.component.html
  projects/sandbox/src/app/material/chips/chips.component.html
  projects/sandbox/src/app/material/dialog/dialog.component.html
  projects/sandbox/src/app/material/expansion-panel/expansion-panel.component.html
  projects/sandbox/src/app/material/icon/icon.sample.component.html
  projects/sandbox/src/app/material/list/list.component.html
  projects/sandbox/src/app/material/progress-bar/progress-bar.component.html
  projects/sandbox/src/app/material/slide-toggle/slide-toggle.component.html
  projects/sandbox/src/app/material/slider/slider.component.html
  projects/sandbox/src/app/material/table/table.component.html
  projects/sandbox/src/app/material/tooltip/tooltip.component.html
  projects/sandbox/src/app/samples/autocomplete/autocomplete.component.html
  projects/sandbox/src/app/samples/collapse/collapse-sample.component.html
  projects/sandbox/src/app/samples/column-layout-full-height/column-layout-full-height-sample.component.html
  projects/sandbox/src/app/samples/column-layout/column-layout-sample.component.html
  projects/sandbox/src/app/samples/external-link/external-link.component.html
  projects/sandbox/src/app/samples/file-upload-sample/file-upload-sample.component.html
  projects/sandbox/src/app/samples/global-events/global-events-sample.component.html
  projects/sandbox/src/app/samples/http-interceptor/http-interceptor-sample.component.html
  projects/sandbox/src/app/samples/nav-tree/nav-tree-sample.component.html
  projects/sandbox/src/app/samples/notification/notification-sample.component.html
  projects/sandbox/src/app/samples/popover/popover.component.html
  projects/sandbox/src/app/samples/schema-validation/schema-validation-sample.component.html
  projects/sandbox/src/app/samples/selectable/selectable-sample.component.html
  projects/sandbox/src/app/samples/service-navigation/service-navigation-sample.component.html
  projects/sandbox/src/app/samples/sticky/sticky-sample.component.html
  projects/sandbox/src/app/samples/unsaved-changes/unsaved-changes-sample.component.html
  projects/sandbox/src/app/styles/icon/icon.component.html
  projects/sandbox/src/app/styles/palette/palette.component.html
Due: eslint --fix --cache, prettier --write

refactor(sandbox/toolchain): activate `prefer-signals` rule and refactor accordingly
  projects/sandbox/eslint.project-config.mjs
  projects/sandbox/src/app/material/card/card.component.ts
  projects/sandbox/src/app/material/chips/chips.component.ts
  projects/sandbox/src/app/material/table/table.component.ts
  projects/sandbox/src/app/samples/focus/focus-sample.component.ts
  projects/sandbox/src/app/samples/global-events/global-events-sample.component.ts
  projects/sandbox/src/app/samples/master-layout/dynamic-navigation.service.ts
  projects/sandbox/src/app/samples/nav-tree/nav-tree-detail-sample.component.ts
  projects/sandbox/src/app/samples/nav-tree/nav-tree-sample.component.ts
  projects/sandbox/src/app/samples/nested-form/nested-form-child-td-sample.component.html
  projects/sandbox/src/app/samples/nested-form/nested-form-child-td-sample.component.ts
  projects/sandbox/src/app/samples/nested-form/nested-form-grandchild-td-sample.component.ts
  projects/sandbox/src/app/samples/nested-form/nested-form-sample.component.html
  projects/sandbox/src/app/samples/nested-form/nested-form-sample.component.ts
  projects/sandbox/src/app/samples/service-navigation/service-navigation-sample.component.ts
  projects/sandbox/src/app/samples/unsaved-changes/unsaved-changes-sample.component.ts
Due: eslint --fix --cache, prettier --write

refactor(sandbox/toolchain): activate `no-duplicates-in-metadata-arrays` and refactor accordingly
  projects/sandbox/eslint.project-config.mjs
  projects/sandbox/src/app/samples/samples.module.ts
Due: eslint --fix --cache, prettier --write

refactor(sandbox/toolchain): activate `no-implicit-coercion` rule and refactor accordingly
  projects/sandbox/eslint.project-config.mjs
  projects/sandbox/src/app/app.component.ts
  projects/sandbox/src/app/samples/http-interceptor/http-mock-error.interceptor.ts
Due: eslint --fix --cache, prettier --write

refactor(sandbox/toolchain): activate `consistent-component-styles` rule and refactor accordingly
  projects/sandbox/eslint.project-config.mjs
  projects/sandbox/src/app/app.component.ts
  projects/sandbox/src/app/home/home.page.ts
  projects/sandbox/src/app/material/card/card.component.ts
  projects/sandbox/src/app/material/chips/chips.component.ts
  projects/sandbox/src/app/material/icon/icon.sample.component.ts
  projects/sandbox/src/app/material/list/list.component.ts
  projects/sandbox/src/app/material/mandatory/mandatory.sample.component.ts
  projects/sandbox/src/app/material/progress-bar/progress-bar.component.ts
  projects/sandbox/src/app/material/slider/slider.component.ts
  projects/sandbox/src/app/material/stepper-horizontal/stepper-horizontal.component.ts
  projects/sandbox/src/app/material/stepper-vertical/stepper-vertical.component.ts
  projects/sandbox/src/app/material/table/table.component.ts
  projects/sandbox/src/app/material/tooltip/tooltip.component.ts
  projects/sandbox/src/app/samples/alert/alert.component.ts
  projects/sandbox/src/app/samples/autocomplete/autocomplete.component.ts
  projects/sandbox/src/app/samples/error-messages-sample/error-messages-sample.component.ts
  projects/sandbox/src/app/samples/external-link/external-link.component.ts
  projects/sandbox/src/app/samples/file-upload-sample/file-upload-sample.component.ts
  projects/sandbox/src/app/samples/focus-invalid/focus-invalid-sample.component.ts
  projects/sandbox/src/app/samples/focus/focus-sample.component.ts
  projects/sandbox/src/app/samples/form/form.component.ts
  projects/sandbox/src/app/samples/master-layout/master-layout-sample.component.ts
  projects/sandbox/src/app/samples/nested-form/nested-form-child-sample.component.ts
  projects/sandbox/src/app/samples/nested-form/nested-form-child-td-sample.component.ts
  projects/sandbox/src/app/samples/nested-form/nested-form-grandchild-sample.component.ts
  projects/sandbox/src/app/samples/nested-form/nested-form-grandchild-td-sample.component.ts
  projects/sandbox/src/app/samples/nested-form/nested-form-sample.component.ts
  projects/sandbox/src/app/samples/popover/popover.component.ts
  projects/sandbox/src/app/samples/schema-validation/schema-validation-sample.component.ts
  projects/sandbox/src/app/samples/selectable-form/selectable-form-sample.component.ts
  projects/sandbox/src/app/samples/selectable/selectable-sample.component.ts
  projects/sandbox/src/app/samples/service-navigation/service-navigation-sample.component.ts
  projects/sandbox/src/app/samples/spinner-sample/spinner-sample.component.ts
  projects/sandbox/src/app/samples/unsaved-changes/unsaved-changes-sample.component.ts
  projects/sandbox/src/app/starterkit/table-page/table-page.component.ts
  projects/sandbox/src/app/styles/grid/grid.component.ts
  projects/sandbox/src/app/styles/palette/palette.component.ts
  projects/sandbox/src/app/styles/screen-reader-only/screen-reader-only.component.ts
  projects/sandbox/src/app/styles/typography/typography.component.ts
Due: eslint --fix --cache, prettier --write

refactor(sandbox/toolchain): activate `parameter-properties` rule and refactor accordingly
  projects/sandbox/eslint.project-config.mjs
  projects/sandbox/src/app/app.component.ts
  projects/sandbox/src/app/app.module.ts
  projects/sandbox/src/app/material/dialog/dialog.component.ts
  projects/sandbox/src/app/material/dialog/example-dialog/example-dialog.component.ts
  projects/sandbox/src/app/material/mandatory/mandatory.sample.component.ts
  projects/sandbox/src/app/material/stepper-horizontal/stepper-horizontal.component.ts
  projects/sandbox/src/app/material/stepper-vertical/stepper-vertical.component.ts
  projects/sandbox/src/app/material/table/table-edit.component.ts
  projects/sandbox/src/app/material/table/table.component.ts
  projects/sandbox/src/app/resolvers/sample-data.resolver.ts
  projects/sandbox/src/app/samples/column-layout-full-height/column-layout-full-height-sample.component.ts
  projects/sandbox/src/app/samples/global-events/global-events-sample.component.ts
  projects/sandbox/src/app/samples/http-interceptor/http-interceptor-sample.component.ts
  projects/sandbox/src/app/samples/master-layout/master-layout-sample.component.ts
  projects/sandbox/src/app/samples/nav-tree/nav-tree-detail-sample.component.ts
  projects/sandbox/src/app/samples/nav-tree/nav-tree-sample.component.ts
  projects/sandbox/src/app/samples/nested-form/nested-form-child-sample.component.ts
  projects/sandbox/src/app/samples/nested-form/nested-form-grandchild-sample.component.ts
  projects/sandbox/src/app/samples/nested-form/nested-form-sample.component.ts
  projects/sandbox/src/app/samples/notification/notification-sample.component.ts
  projects/sandbox/src/app/samples/number-format/number-format-sample.component.ts
  projects/sandbox/src/app/samples/schema-validation/schema-validation-sample.component.ts
  projects/sandbox/src/app/samples/service-navigation/service-navigation-sample.component.ts
  projects/sandbox/src/app/samples/spinner-sample/spinner-sample.component.ts
  projects/sandbox/src/app/samples/unsaved-changes/unsaved-changes-sample.component.ts
  projects/sandbox/src/app/styles/screen-reader-only/screen-reader-only.component.ts
Due: eslint --fix --cache, prettier --write

refactor(sandbox/toolchain): activate `use-component-view-encapsulation` and refactor accordingly
  projects/sandbox/eslint.project-config.mjs
  projects/sandbox/src/app/samples/unsaved-changes/unsaved-changes-sample.component.scss
  projects/sandbox/src/app/samples/unsaved-changes/unsaved-changes-sample.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

refactor(sandbox/toolchain): activate `curly` rule and refactor accordingly
  projects/sandbox/eslint.project-config.mjs
  projects/sandbox/src/app/samples/autocomplete/autocomplete.component.ts
Due: eslint --fix --cache, prettier --write

refactor(sandbox/toolchain): activate `prefer-enum-initializers` rule and refactor accordingly
  projects/sandbox/eslint.project-config.mjs
  projects/sandbox/src/app/material/table/table-manager.ts
Due: eslint --fix --cache, prettier --write

refactor(sandbox/toolchain): activate `use-injectable-provided-in` rule
  projects/sandbox/eslint.project-config.mjs
Due: eslint --fix --cache, prettier --write

refactor(sandbox/toolchain): add justification for remaining EsLint exceptions
  projects/sandbox/eslint.project-config.mjs
Due: eslint --fix --cache, prettier --write

refactor(sandbox/toolchain): activate `no-explicit-any` rule and refactor accordingly
  projects/sandbox/eslint.project-config.mjs
  projects/sandbox/src/app/resolvers/sample-data.resolver.ts
  projects/sandbox/src/app/samples/http-interceptor/http-interceptor-sample.component.ts
  projects/sandbox/src/app/samples/http-interceptor/http-mock-error.interceptor.ts
  projects/sandbox/src/app/starterkit/table-page/table-page.component.ts
Due: eslint --fix --cache, prettier --write

refactor(sandbox/toolchain): activate `explicit-module-boundary-types` rule and refactor accordingly
  projects/sandbox/eslint.project-config.mjs
  projects/sandbox/src/app/material/tooltip/tooltip.component.ts
Due: eslint --fix --cache, prettier --write

fix(sandbox/toolchain): enable direct navigation on RHOS deployments
  projects/sandbox/src/nginx/nginx.conf
Due: none

fix(sds/toolchain): enable direct navigation on RHOS deployments
  projects/sds/src/nginx/conf/nginx.conf
Due: none

fix(sds/code-examples): remove snippets for stackblitz examples
  projects/sds/src/app/code-examples/code-examples/external-link/external-link-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/unknown-route/unknown-route-code-examples.component.ts
Due: eslint --fix --cache, prettier --write

fix(sds/code-examples): use scss variables from oblique
  projects/sds/src/app/code-examples/code-example-flex-layout.scss
  projects/sds/src/app/code-examples/code-examples/file-upload/previews/cancel-upload/file-upload-cancel-upload-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/material-table/previews/editable/material-table-example-editable-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/paginator/previews/paginator-example-preview.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(sds/code-examples): ensure each example has its own stylesheet
  projects/sds/src/app/code-examples/code-examples/grid-system/grid-system-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/grid-system/previews/flex/grid-system-example-flex-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/grid-system/previews/flex/grid-system-example-flex-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/grid-system/previews/grid-system.scss
  projects/sds/src/app/code-examples/code-examples/grid-system/previews/grid/grid-system-example-grid-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/grid-system/previews/grid/grid-system-example-grid-preview.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(sds/code-examples): ensure all examples show all relevant files
  projects/sds/src/app/code-examples/code-examples/html-table/html-table-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/html-table/previews/default/html-table-example-default-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/html-table/previews/default/html-table-example-default-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/html-table/previews/styles/html-table-example-styles-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/html-table/previews/styles/html-table-example-styles-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/popover-12/popover12-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/popover/popover-code-examples.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(sds/code-examples): ensure SCSS files appear to be in the same directory as the component
  projects/sds/src/app/code-examples/code-examples.model.ts
Due: eslint --fix --cache, prettier --write

fix(sds/code-examples): ensure SCSS files are listed logically
  projects/sds/src/app/code-examples/code-examples/form/previews/input-clear/form-example-input-clear-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/form/previews/input-prefixes-and-suffixes/form-example-input-prefixes-and-suffixes-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/global-events/previews/ob-outside-filter/global-events-example-ob-outside-filter-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/global-events/previews/properties/global-events-example-properties-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/notification/previews/other-options/notification-example-other-options-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/shadow/previews/shadow/shadow-example-shadow-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/spacing/previews/spacing/spacing-example-spacing-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/typography/previews/mixins/typography-example-mixins-preview.component.ts
Due: eslint --fix --cache, prettier --write

refactor(sds/code-examples): make override of SCSS paths more explicit
  projects/sds/src/app/code-examples/code-examples.model.ts
Due: eslint --fix --cache, prettier --write

fix(sds/styles): remove unused imports
  projects/sds/src/app/code-examples/code-examples/breakpoints/previews/breakpoints/breakpoints-example.component.scss
  projects/sds/src/app/code-examples/code-examples/grid-system/previews/grid-system.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

chore(toolchain): release version 13.2.1
  package-lock.json
  package.json
  projects/cli/package.json
  projects/cli/sonar-project.properties
  projects/cli/src/new/ob-new.model.ts
  projects/design-system/package.json
  projects/design-system/sonar-project.properties
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/sonar-project.properties
  projects/oblique/src/lib/version.ts
  projects/sandbox-ssr/package.json
  projects/sandbox-ssr/sonar-project.properties
  projects/sandbox/package.json
  projects/sandbox/sonar-project.properties
  projects/sds/CHANGELOG.md
  projects/sds/package.json
  projects/sds/sonar-project.properties
  projects/sds/src/obliqueVersion.ts
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/sonar-project.properties
  projects/service-navigation-web-component/src/app/version.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/toolchain): do not remove the xml namespace from the icons svg
  projects/oblique/scripts/update-icons.ts
  projects/oblique/src/assets/oblique-icons.ts
  projects/oblique/src/assets/obliqueIcons.svg
  projects/oblique/src/lib/autocomplete/option-label-icon/option-label-icon.directive.spec.ts
  projects/oblique/src/styles/scss/oblique-icons.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

chore(oblique): properly format deprecation notices
  projects/oblique/src/lib/utilities.ts
Due: eslint --fix --cache, prettier --write

fix(design-system/token): fix missing empty spaces at math expressions in primitives
  projects/design-system/src/lib/themes/primitives/sizing.json
  projects/design-system/src/lib/themes/primitives/typography.json
Due: prettier --write

fix(design-system/token): find & fix math expression in ob.s.paragraphSpacing.paragraph
  projects/design-system/src/lib/themes/semantics/typography-modes/1440-lg.json
Due: prettier --write

fix(oblique/file-upload): explicitely define the MatPaginator parameter in the MatTable constructor
  projects/oblique/src/lib/file-upload/_mocks/mock-file-info.component.ts
  projects/oblique/src/lib/file-upload/file-info/file-info.component.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/master-layout): exclude accessibility-statement from `hasMaxWidth`
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(sds/side-navigation): remove the hover effect on the search field
  projects/sds/src/app/side-navigation/side-navigation.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/accessibility-statement): remove duplicated available languages from English links
  projects/oblique/src/assets/i18n/oblique-en.json
Due: prettier --write

refactor(oblique/accessibility-statement): use `date` pipe instead of `obDate` for ISO dates
  projects/oblique/src/lib/accessibility-statement/accessibility-statement.component.html
  projects/oblique/src/lib/accessibility-statement/accessibility-statement.component.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/accessibility-statement): separate available languages from English links
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/accessibility-statement/available-in/available-in.component.html
  projects/oblique/src/lib/accessibility-statement/available-in/available-in.component.spec.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): release version 13.2.2
  package-lock.json
  package.json
  projects/cli/package.json
  projects/cli/sonar-project.properties
  projects/design-system/package.json
  projects/design-system/sonar-project.properties
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/sonar-project.properties
  projects/oblique/src/lib/version.ts
  projects/sandbox-ssr/package.json
  projects/sandbox-ssr/sonar-project.properties
  projects/sandbox/package.json
  projects/sandbox/sonar-project.properties
  projects/sds/CHANGELOG.md
  projects/sds/package.json
  projects/sds/sonar-project.properties
  projects/sds/src/obliqueVersion.ts
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/sonar-project.properties
  projects/service-navigation-web-component/src/app/version.ts
Due: eslint --fix --cache, prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{ts,js,mjs,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,mjs,html,json,yml,md,css,scss}
