Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --config eslint.precommit.config.mjs, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/service-navigation): migrate main component to signals and `OnPush`
  projects/oblique/src/lib/service-navigation/service-navigation.component.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(oblique/service-navigation): migrate profile widget to signals and `OnPush`
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.component.html
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.component.spec.ts
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(sandbox/service-navigation): make the info links toggle work
  projects/sandbox/src/app/samples/service-navigation/service-navigation-sample.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

docs(oblique/service-navigation): document public API with JSDoc
  projects/oblique/src/lib/service-navigation/service-navigation.service.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(oblique/service-navigation): migrate authentication widget to signals and `OnPush`
  projects/oblique/src/lib/service-navigation/authentication/service-navigation-authentication.component.html
  projects/oblique/src/lib/service-navigation/authentication/service-navigation-authentication.component.spec.ts
  projects/oblique/src/lib/service-navigation/authentication/service-navigation-authentication.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(oblique/service-navigation): migrate service and component to signal-based API
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.html
  projects/oblique/src/lib/service-navigation/service-navigation.component.html
  projects/oblique/src/lib/service-navigation/service-navigation.component.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(service-navigation/web-component): update to use `loginStateChange` output
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.html
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(oblique/service-navigation): migrate disable-link directive to signals
  projects/oblique/src/lib/service-navigation/shared/disable-link/disable-link.directive.spec.ts
  projects/oblique/src/lib/service-navigation/shared/disable-link/disable-link.directive.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(sandbox/service-navigation): update sample to signal API
  projects/sandbox/src/app/samples/service-navigation/service-navigation-sample.component.html
  projects/sandbox/src/app/samples/service-navigation/service-navigation-sample.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(oblique/service-navigation): migrate message widget to signals and `OnPush`
  projects/oblique/src/lib/service-navigation/message/service-navigation-message.component.html
  projects/oblique/src/lib/service-navigation/message/service-navigation-message.component.spec.ts
  projects/oblique/src/lib/service-navigation/message/service-navigation-message.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(oblique/service-navigation): migrate popover-section widget to signals and `OnPush`
  projects/oblique/src/lib/service-navigation/shared/popover-section/service-navigation-popover-section.component.html
  projects/oblique/src/lib/service-navigation/shared/popover-section/service-navigation-popover-section.component.spec.ts
  projects/oblique/src/lib/service-navigation/shared/popover-section/service-navigation-popover-section.component.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(design-system/figma-utils): add rewire-cover-colors.js for detached cover artwork
  projects/design-system/scripts-custom/FIGMA-WORKFLOW.md
  projects/design-system/scripts-custom/figma-utils/_readme.md
  projects/design-system/scripts-custom/figma-utils/rewire-cover-colors.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(design-system/figma-doc-builders): resolve prose column labels per mode
  projects/design-system/scripts-custom/figma-doc-builders/typography/build-typography.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(design-system/tokens): add missing 4xl step to typography_context interface/prose
  projects/design-system/src/lib/css/layers/tokens.css
  projects/design-system/src/lib/themes/03_semantic/dimension/typography_context/interface.json
  projects/design-system/src/lib/themes/03_semantic/dimension/typography_context/prose.json
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(design-system/figma-doc-builders): fix section_bar instantiation and hide badges/color-bar
  projects/design-system/scripts-custom/figma-doc-builders/dimension/build-dimension.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(design-system/figma-doc-builders): fix section_bar tier selection and stale ob/s/ path assumption
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/accessible-pairings.md
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/build-color-pairings.js
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/contrast-pairings.json
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/registry.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(design-system/figma-doc-builders): fix section_bar tier selection and description write
  projects/design-system/scripts-custom/figma-doc-builders/viewport/build-viewport.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(design-system/figma-doc-builders): automate the dark-mode page background
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/accessible-pairings.md
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/build-color-pairings.js
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/contrast-pairings.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(design-system/figma-doc-builders): stop --validate from creating a phantom scratch page
  projects/design-system/scripts-custom/figma-doc-builders/dimension/build-dimension.js
  projects/design-system/scripts-custom/figma-doc-builders/typography/build-typography.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(design-system/figma-doc-builders): add validate-all.js, a cross-page health check
  projects/design-system/scripts-custom/FIGMA-WORKFLOW.md
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/_readme.md
  projects/design-system/scripts-custom/figma-doc-builders/dimension/_readme.md
  projects/design-system/scripts-custom/figma-doc-builders/typography/_readme.md
  projects/design-system/scripts-custom/figma-doc-builders/validate-all.js
  projects/design-system/scripts-custom/figma-doc-builders/viewport/_readme.md
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

docs(design-system/figma-utils): document relink-variable-aliases.js
  projects/design-system/scripts-custom/figma-utils/_readme.md
Due: prettier --write

feat(design-system/figma-utils): keep deprecated pages grouped below the separator
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/build-color-pairings.js
  projects/design-system/scripts-custom/figma-doc-builders/color-variables/build-color-variables.js
  projects/design-system/scripts-custom/figma-doc-builders/dimension/build-dimension.js
  projects/design-system/scripts-custom/figma-doc-builders/typography/build-typography.js
  projects/design-system/scripts-custom/figma-utils/_readme.md
  projects/design-system/scripts-custom/figma-utils/sort-deprecated-pages.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(oblique/master-layout): replace home icon with accessible back label in mobile submenu
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.html
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
Due: eslint --fix --cache --config eslint.precommit.config.mjs, stylelint --fix --cache --allow-empty-input, prettier --write

fix(design-system/tokens): remove double alpha on disabled-fg tokens (minor color value change, no structure change)
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/dark.json
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/light.json
Due: prettier --write

fix(design-system/figma-doc-builders): show reference text for modify-extension tokens
  projects/design-system/scripts-custom/figma-doc-builders/color-variables/build-color-variables.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(design-system/figma-doc-builders): stop reading duplicate variables from dead legacy collections
  projects/design-system/scripts-custom/figma-doc-builders/color-variables/build-color-variables.js
  projects/design-system/scripts-custom/figma-doc-builders/dimension/build-dimension.js
  projects/design-system/scripts-custom/figma-doc-builders/typography/_setup-building-blocks.js
  projects/design-system/scripts-custom/figma-doc-builders/typography/build-typography.js
  projects/design-system/scripts-custom/figma-doc-builders/viewport/build-viewport.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(design-system/tokens): use official name in primitive-color family description
  projects/design-system/src/lib/themes/02_primitive/color.json
Due: prettier --write

fix(design-system/tokens): correct primitive color role descriptions (minor description changes, no structure change)
  projects/design-system/src/lib/themes/02_primitive/color.json
Due: prettier --write

fix(design-system/figma-doc-builders): align pairings section purposes with token vocabulary
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/registry.json
Due: prettier --write

docs(design-system): use the two defined personas, maintainer and consumer, in the token usage guide
  projects/design-system/documentation/02-foundation/03-design-tokens/05-token-usage-guide.md
Due: prettier --write

fix(design-system/tokens): navigation background uses cobalt instead of red
  projects/design-system/src/lib/css/layers/tokens.css
  projects/design-system/src/lib/themes/02_primitive/color.json
  projects/design-system/src/lib/themes/03_semantic/color/compiled.json
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/dark.json
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/light.json
Due: stylelint --fix --cache --allow-empty-input, prettier --write

docs(design-system): tighten intro scope statement, fix swatch fill reset on variant swap
  projects/design-system/documentation/01-introduction/00-index.md
  projects/design-system/scripts-custom/figma-doc-builders/color-variables/build-color-variables.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(design-system/figma-doc-builders): fix WCAG section, transparent-bg ratio, and duplicate group header in color pairings
  projects/design-system/scripts-custom/figma-doc-builders/color-pairings/build-color-pairings.js
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

docs(design-system): soften consistency claim, add exceptions, drop out-of-scope component content (OUI-4661)
  projects/design-system/documentation/02-foundation/01-principles.md
  projects/design-system/documentation/02-foundation/02-design-tokens/02-architecture.md
Due: prettier --write

docs(design-system): remove remaining redundant sections, trim component scope in intro (OUI-4661)
  projects/design-system/documentation/02-foundation/01-principles.md
  projects/design-system/documentation/02-foundation/02-design-tokens/02-architecture.md
Due: prettier --write

docs(design-system): move token-types reference into 01-types/ as its overview
  projects/design-system/documentation/02-foundation/02-design-tokens/00-index.md
  projects/design-system/documentation/02-foundation/02-design-tokens/01-types/00-types-overview.md
  projects/design-system/documentation/02-foundation/02-design-tokens/01-types/02-categories/02-dimension-tokens.md
  projects/design-system/documentation/02-foundation/02-design-tokens/01-types/02-categories/03-typography-tokens.md
  projects/design-system/documentation/02-foundation/02-design-tokens/01-types/02-categories/04-motion-tokens.md
  projects/design-system/documentation/02-foundation/02-design-tokens/01-types/02-categories/05-border-tokens.md
  projects/design-system/documentation/02-foundation/02-design-tokens/01-types/02-categories/06-shadow-tokens.md
  projects/design-system/documentation/02-foundation/02-design-tokens/02-architecture.md
  projects/design-system/documentation/02-foundation/02-design-tokens/02-modes/07-motion.md
  projects/design-system/documentation/02-foundation/02-design-tokens/03-naming.md
  projects/design-system/documentation/02-foundation/02-design-tokens/05-token-usage-guide.md
Due: prettier --write

docs(design-system): add Background and Benefits sections to index (OUI-4661)
  projects/design-system/documentation/index.md
Due: prettier --write

Path conditions:
  eslint --fix --cache --config eslint.precommit.config.mjs: any of: *.{ts,js,mjs,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,mjs,html,json,yml,md,css,scss}
