Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --config eslint.precommit.config.mjs, stylelint --fix --cache --allow-empty-input, prettier --write

.lintstagedrc.yml:

"*.{ts,js,mjs,html}": eslint --fix --cache --config eslint.precommit.config.mjs
"*.{css,scss}": stylelint --fix --cache --allow-empty-input
"*.{ts,js,mjs,html,json,yml,md,css,scss}": prettier --write

feat(design-system/figma-doc-builders): add viewport builder for the Responsiveness page
  projects/design-system/scripts-custom/figma-doc-builders/viewport/_readme.md
  projects/design-system/scripts-custom/figma-doc-builders/viewport/build-viewport.js
  projects/design-system/scripts-custom/figma-doc-builders/viewport/registry.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(design-system/figma-doc-builders): rename viewport tables — Viewport Ranges, Viewport – CSS-Selectors
  projects/design-system/scripts-custom/figma-doc-builders/viewport/registry.json
Due: prettier --write

feat(design-system/figma-doc-builders): prefix all viewport tables with Viewport for consistency
  projects/design-system/scripts-custom/figma-doc-builders/viewport/registry.json
Due: prettier --write

fix(sds/icon): prevent overflow of alerts outside of gallery container
  projects/sds/src/app/code-examples/code-examples/icons/previews/icons-gallery/icons-example-icons-gallery-preview.component.html
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(oblique/global-events): apply naming convention to `outside-filter`
  projects/oblique/src/lib/global-events/outside-filter.spec.ts
  projects/oblique/src/lib/global-events/outside-filter.ts
  projects/oblique/src/lib/master-layout/aria-menu-button.directive.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation-item.directive.ts
  projects/oblique/src/lib/popover/popover.directive.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(oblique/master-layout): apply naming convention to `navigation-sub-menu-filter`
  projects/oblique/src/lib/master-layout/aria-menu-button.directive.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation-item.directive.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation-sub-menu-filter.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation-sub-menu-filter.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(oblique/column-layout): restore independent panel scrolling in fixed layout
  projects/oblique/src/lib/column-layout/column-layout.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

docs(design-system/tokens): sync viewport mode doc with viewport tokens
  projects/design-system/documentation/01-introduction/glossary.md
  projects/design-system/documentation/02-foundation/03-design-tokens/02-modes/06-responsiveness.md
  projects/design-system/documentation/02-foundation/03-design-tokens/02-modes/06-responsiveness.md.backup
  projects/design-system/documentation/02-foundation/03-design-tokens/02-modes/06-viewport.md
Due: prettier --write

feat(design-system/tokens): add viewport min_supported_width, repoint xs min_width
  projects/design-system/src/lib/themes/01_global/mode_collection/viewport.json
  projects/design-system/src/lib/themes/03_semantic/dimension/viewport/xs.json
Due: prettier --write

feat(design-system/figma-doc-builders): tier-grouped viewport layout, xs-first order
  projects/design-system/scripts-custom/figma-doc-builders/viewport/_readme.md
  projects/design-system/scripts-custom/figma-doc-builders/viewport/build-viewport.js
  projects/design-system/scripts-custom/figma-doc-builders/viewport/registry.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(design-system/tokens): drop orphaned button viewport sets, dedupe button family doc
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/05_html/button/04_layout.json
  projects/design-system/src/lib/themes/05_html/button/05_viewport/desktop.json
  projects/design-system/src/lib/themes/05_html/button/05_viewport/mobile.json
  projects/design-system/src/lib/themes/05_html/button/07_reference_only.json
Due: prettier --write

refactor(design-system/tokens): remove experimental contrast_low_alpha tokens
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/dark.json
  projects/design-system/src/lib/themes/03_semantic/color/s1_lightness/light.json
Due: prettier --write

docs(design-system/tokens): rewrite token classification, drop $extensions marking convention
  projects/design-system/documentation/02-foundation/03-design-tokens/02-architecture.md
Due: prettier --write

docs(design-system/tokens): rewrite token-description-guidelines, drop unimplemented metadata schema
  projects/design-system/documentation/02-foundation/03-design-tokens/99-workflows/token-description-guidelines.md
Due: prettier --write

feat(design-system/tokens): add channel and canton mode collections (multi-brand PoC)
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/01_global/modes.json
  projects/design-system/src/lib/themes/02_primitive/canton/confederation.json
  projects/design-system/src/lib/themes/02_primitive/canton/zurich.json
  projects/design-system/src/lib/themes/03_semantic/color/channel/app.json
  projects/design-system/src/lib/themes/03_semantic/color/channel/marketing.json
  projects/design-system/src/lib/themes/05_html/button/01_color.json
  projects/design-system/src/lib/themes/05_html/link/link.json
Due: prettier --write

refactor(design-system/tokens): enhance viewport builder to manage full page structure with foundation bar and applied viewport modes
  projects/design-system/scripts-custom/figma-doc-builders/viewport/_readme.md
  projects/design-system/scripts-custom/figma-doc-builders/viewport/build-viewport.js
  projects/design-system/scripts-custom/figma-doc-builders/viewport/registry.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

chore(design-system/tokens): add style dictionary tooling under scripts-custom
  .gitignore
  projects/design-system/scripts-custom/style-dictionary/README.md
  projects/design-system/scripts-custom/style-dictionary/WORKFLOW.md
  projects/design-system/scripts-custom/style-dictionary/build.js
  projects/design-system/scripts-custom/style-dictionary/oblique-resolver/README.md
  projects/design-system/scripts-custom/style-dictionary/oblique-resolver/extract-tokens.adapted.mjs
  projects/design-system/scripts-custom/style-dictionary/oblique-resolver/style-dictionary-formats-token-store.mjs
  projects/design-system/scripts-custom/style-dictionary/oblique-resolver/style-dictionary-formats.mjs
  projects/design-system/scripts-custom/style-dictionary/oblique-resolver/style-dictionary-preprocessors-typography.mjs
  projects/design-system/scripts-custom/style-dictionary/oblique-resolver/style-dictionary-preprocessors.mjs
  projects/design-system/scripts-custom/style-dictionary/oblique-resolver/style-dictionary-transforms.mjs
  projects/design-system/scripts-custom/style-dictionary/oblique-resolver/style-dictionary.mjs
  projects/design-system/scripts-custom/style-dictionary/oblique-resolver/themes.mjs
  projects/design-system/scripts-custom/style-dictionary/package-lock.json
  projects/design-system/scripts-custom/style-dictionary/package.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

docs(design-system/tokens): reframe style dictionary workflow to role-based language
  projects/design-system/scripts-custom/style-dictionary/WORKFLOW.md
Due: prettier --write

refactor(design-system/tokens): slim oblique-resolver to an overlay, run official build in a worktree (OUI-4505)
  .gitignore
  projects/design-system/scripts-custom/style-dictionary/README.md
  projects/design-system/scripts-custom/style-dictionary/WORKFLOW.md
  projects/design-system/scripts-custom/style-dictionary/oblique-resolver/README.md
  projects/design-system/scripts-custom/style-dictionary/oblique-resolver/extract-tokens.adapted.mjs
  projects/design-system/scripts-custom/style-dictionary/oblique-resolver/resolve.mjs
  projects/design-system/scripts-custom/style-dictionary/oblique-resolver/style-dictionary-formats-token-store.mjs
  projects/design-system/scripts-custom/style-dictionary/oblique-resolver/style-dictionary-formats.mjs
  projects/design-system/scripts-custom/style-dictionary/oblique-resolver/style-dictionary-preprocessors-typography.mjs
  projects/design-system/scripts-custom/style-dictionary/oblique-resolver/style-dictionary-preprocessors.mjs
  projects/design-system/scripts-custom/style-dictionary/oblique-resolver/style-dictionary-transforms.mjs
  projects/design-system/scripts-custom/style-dictionary/package-lock.json
  projects/design-system/scripts-custom/style-dictionary/package.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

chore(design-system/tokens): track resolved tokens.css output (OUI-4505)
  projects/design-system/src/lib/css/layers/tokens.css
Due: stylelint --fix --cache --allow-empty-input, prettier --write

chore(design-system/tokens): add npm run resolve shortcut (OUI-4505)
  projects/design-system/scripts-custom/style-dictionary/README.md
  projects/design-system/scripts-custom/style-dictionary/WORKFLOW.md
  projects/design-system/scripts-custom/style-dictionary/oblique-resolver/README.md
  projects/design-system/scripts-custom/style-dictionary/package.json
Due: prettier --write

docs(design-system/tokens): document the build pipeline for developers, refine resolver output (OUI-4505)
  projects/design-system/scripts-custom/style-dictionary/WORKFLOW.md
  projects/design-system/scripts-custom/style-dictionary/oblique-resolver/resolve.mjs
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

docs(design-system/tokens): document configuration and documentation tokens, reframe the "other" type (OUI-4505)
  projects/design-system/documentation/02-foundation/03-design-tokens/02-architecture.md
  projects/design-system/documentation/02-foundation/03-design-tokens/04-token-types.md
Due: prettier --write

chore(design-system/tokens): drop style-dictionary.mjs overlay, ob.s.shadow refs now defined
  projects/design-system/scripts-custom/style-dictionary/README.md
  projects/design-system/scripts-custom/style-dictionary/WORKFLOW.md
  projects/design-system/scripts-custom/style-dictionary/oblique-resolver/README.md
  projects/design-system/scripts-custom/style-dictionary/oblique-resolver/resolve.mjs
  projects/design-system/scripts-custom/style-dictionary/oblique-resolver/style-dictionary.mjs
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(design-system/tokens): rename vd1_interaction mode default to rest (OUI-4436)
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/$themes.json
  projects/design-system/src/lib/themes/05_html/button_vd1/intent/primary.json
  projects/design-system/src/lib/themes/05_html/button_vd1/intent/secondary.json
  projects/design-system/src/lib/themes/05_html/button_vd1/intent/tertiary.json
  projects/design-system/src/lib/themes/05_html/button_vd1/interaction/default.json
  projects/design-system/src/lib/themes/05_html/button_vd1/interaction/rest.json
  projects/design-system/src/lib/themes/05_html/button_vd1/surface/canvas.json
  projects/design-system/src/lib/themes/05_html/button_vd1/surface/sunken_1.json
  projects/design-system/src/lib/themes/05_html/button_vd1/surface/sunken_2.json
  projects/design-system/src/lib/themes/05_html/button_vd1/system/idle.json
  projects/design-system/src/lib/themes/05_html/button_vd1/system/loaded.json
  projects/design-system/src/lib/themes/05_html/button_vd1/system/loading.json
  projects/design-system/src/lib/themes/05_html/button_vd1/system/processing.json
  projects/design-system/src/lib/themes/05_html/button_vd1/system/saving.json
  projects/design-system/src/lib/themes/05_html/button_vd1/system/submitting.json
Due: prettier --write

refactor(design-system/tokens): unify base-theme detection via mode_collection/static + semantic
  projects/design-system/documentation/02-foundation/03-design-tokens/02-architecture.md
  projects/design-system/scripts-custom/style-dictionary/oblique-resolver/README.md
  projects/design-system/scripts-custom/style-dictionary/oblique-resolver/themes.mjs
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/01_global/mode_collection/semantic.json
  projects/design-system/src/lib/themes/01_global/mode_collection/static.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

feat(design-system/tokens): add themes.dev-proposal.mjs, drop-in replacement for the dev's scripts/tokens/themes.mjs
  projects/design-system/scripts-custom/style-dictionary/oblique-resolver/README.md
  projects/design-system/scripts-custom/style-dictionary/oblique-resolver/themes.dev-proposal.mjs
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(design-system/tokens): themes.mjs reads per-axis mode_collection, uniform default rule
  projects/design-system/scripts/tokens/themes.mjs
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

chore(design-system/tokens): drop themes.dev-proposal.mjs, point at tokens-pr-themes-mjs branch instead
  projects/design-system/scripts-custom/style-dictionary/oblique-resolver/README.md
  projects/design-system/scripts-custom/style-dictionary/oblique-resolver/themes.dev-proposal.mjs
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(sandbox/breadcrumb): add ´ObLocalizePipe´
  projects/sandbox/src/app/samples/breadcrumb/breadcrumb.component.html
  projects/sandbox/src/app/samples/breadcrumb/breadcrumb.component.spec.ts
  projects/sandbox/src/app/samples/samples.module.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

fix(oblique/schematics): use line number instead of filename in error messages
  projects/oblique/schematics/index/utils.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

revert(design-system/tokens): drop mode_collection/static + semantic, restore set-difference for base themes
  projects/design-system/documentation/02-foundation/03-design-tokens/02-architecture.md
  projects/design-system/scripts-custom/style-dictionary/oblique-resolver/README.md
  projects/design-system/scripts-custom/style-dictionary/oblique-resolver/themes.mjs
  projects/design-system/src/lib/themes/$metadata.json
  projects/design-system/src/lib/themes/01_global/mode_collection/semantic.json
  projects/design-system/src/lib/themes/01_global/mode_collection/static.json
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

refactor(design-system/tokens): drop mode_collection/static + semantic, set-difference identifies base themes
  projects/design-system/scripts/tokens/themes.mjs
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

chore(design-system/tokens): update proposal pointer to feature/OUI-4507 branch (OUI-4507)
  projects/design-system/scripts-custom/style-dictionary/oblique-resolver/README.md
Due: prettier --write

chore(design-system/tokens): rename proposal branch to feature/OUI-4507-fix-resolver-for-per-axis-mode-collection
  projects/design-system/scripts-custom/style-dictionary/oblique-resolver/README.md
Due: prettier --write

build(release): release version 15.3.1
  package-lock.json
  package.json
  projects/cli/package.json
  projects/cli/src/utils/cli-utils.ts
  projects/design-system/package.json
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/src/lib/version.ts
  projects/sandbox-ssr/package.json
  projects/sandbox/CHANGELOG.md
  projects/sandbox/package.json
  projects/sds/CHANGELOG.md
  projects/sds/package.json
  projects/sds/src/obliqueVersion.ts
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/src/app/version.ts
  projects/toolchain/package.json
  publiccode.yml
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(oblique/autocomplete): adapt autocomplete specs to zoneless
  projects/oblique/src/lib/autocomplete/_harness/autocomplete.harness.ts
  projects/oblique/src/lib/autocomplete/autocomplete.component.spec.ts
  projects/oblique/src/lib/autocomplete/option-label-icon/option-label-icon.directive.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(oblique/collapse): adapt collapse specs to zoneless
  projects/oblique/src/lib/collapse/collapse.component.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write

test(oblique/breadcrumb): adapt breadcrumb specs to zoneless
  projects/oblique/src/lib/breadcrumb/breadcrumb.component.spec.ts
  projects/oblique/src/lib/breadcrumb/ellipsis-tooltip.directive.spec.ts
Due: eslint --fix --cache --config eslint.precommit.config.mjs, prettier --write
